@model IEnumerable<KyoS.Web.Data.Entities.SafetyPlanEntity>
@{
    ViewData["Title"] = "Safety Plans in edition";
}
<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Dashboard", "Index", "Desktop")
        </li>
        <li class="active">Safety Plan in edition</li>
    </ul><!--.breadcrumb-->
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Safety Plan in edition</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-3">
                                Client
                            </th>
                            <th class="col-md-1" style="text-align:center">
                                Admission
                            </th>
                            <th class="col-md-2" style="text-align:center">
                                Doc.
                            </th>
                            <th class="col-md-3" style="text-align:center">
                                Admissioned for
                            </th>
                           
                            <th class="col-md-1" style="text-align:center;">
                                Status
                            </th>
                            <th class="col-md-2">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @if (item.Client.Gender == KyoS.Common.Enums.GenderType.Female)
                                    {
                                        <i class="glyphicon glyphicon-user btn-danger"></i>
                                    }
                                    @if (item.Client.Gender == KyoS.Common.Enums.GenderType.Male)
                                    {
                                        <i class="glyphicon glyphicon-user btn-primary"></i>
                                    }
                                    &nbsp;
                                    @Html.DisplayFor(modelItem => item.Client.Name)
                                    |
                                    @Html.DisplayFor(modelItem => item.Client.Code)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.Client.AdmisionDate)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.DateDocument)
                                </td>
                                <td align="center">
                                    @if (item.Facilitator != null)
                                    {
                                        @Html.DisplayFor(modelItem => item.Facilitator.Name)
                                    }
                                    else
                                    { 
                                        <p>-</p>
                                    }
                                </td>                               
                                <td align="center">
                                    @if (item.Status == KyoS.Common.Enums.SafetyPlanStatus.Edition)
                                    {
                                        <span class="label label-warning">
                                            Edition
                                        </span>
                                    }
                                    else
                                    {
                                        if (item.Status == KyoS.Common.Enums.SafetyPlanStatus.Pending)
                                        {
                                            <span class="label label-info">
                                                Pending
                                            </span>
                                        }
                                        else
                                        {
                                            if (item.Status == KyoS.Common.Enums.SafetyPlanStatus.Approved)
                                            {
                                                <span class="label label-success">
                                                    Approved
                                                </span>
                                            }
                                        }
                                    }
                                </td>
                                <td align="right">
                                    @if (User.Identity.Name == item.CreatedBy)
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning" title="Edit Safety Plan"><i class="glyphicon glyphicon-pencil"></i></a>
                                        <a asp-action="FinishEditingSafetyPlan" asp-route-id="@item.Id" class="btn btn-success" title="Finish edition Safety Plan"><i class="glyphicon glyphicon-ok"></i></a>
                                    }
                                    else
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning disabled" title="Edit Safety Plan"><i class="glyphicon glyphicon-pencil"></i></a>
                                        <a asp-action="FinishEditingFars" asp-route-id="@item.Id" class="btn btn-success disabled" title="Finish edition Safety Plan"><i class="glyphicon glyphicon-ok"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/datetime-moment.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $.fn.dataTable.moment('MM/DD/YYYY');

            $('#MyTable').DataTable({
                                "order": [[3, "asc"]],
                                "pageLength": 100
                            });

            // Delete item
            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                var url = "@Url.Action("Delete", "Fars")";
                window.location.href = url + '/' + item_to_delete;
            });
        });
        $(function () {

            //Assign Click event to Plus Image.
            $("body").on("click", "a[class*='icon-plus-sign-alt']", function () {
                $(this).closest("tr").after("<tr><td></td><td colspan = '999'>" + $(this).next().html() + "</td></tr>");
                $(this).attr("class", "icon-minus-sign-alt");
            });
            //Assign Click event to Minus Image.
            $("body").on("click", "a[class*='icon-minus-sign-alt']", function () {
                $(this).attr("class", "icon-plus-sign-alt");
                $(this).closest("tr").next().remove();
            });
        });
    </script>
}


