@model KyoS.Web.Models.TCMFarsFormViewModel
@{
    ViewData["Title"] = "Edit TCM Fars Form";
}


<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @if (@ViewData["origi"].ToString() == "0")
            {
                @Html.ActionLink("Pending TCM Fars Forms", "TCMFarsApproved", "TCMFarsForms", new { status = @KyoS.Common.Enums.FarsStatus.Pending })
            }
            @if (ViewData["origi"].ToString() == "1")
            {
                @Html.ActionLink("TCM FARS Notifications", "Notifications", "TCMMessages")
            }
            @if (ViewData["origi"].ToString() == "2")
            {
                @Html.ActionLink("TCM Case History", "TCMCaseHistory", "TCMClients", new { id = Model.TCMClient.Id })
            }
        </li>
        <li class="active">Approve TCM Fars Form</li>
    </ul><!--.breadcrumb-->
</div>

<h4>Approve TCM Fars Form</h4>
<hr />
<div class="row">
    <form asp-action="ApproveFars" asp-route-id="@Model.Id" asp-route-origi="@ViewData["origi"]" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IdTCMClient" />
        <input type="hidden" asp-for="AdmissionedFor" />
        <input type="hidden" asp-for="Status" />
        <input type="hidden" asp-for="CreatedBy" />
        <input type="hidden" asp-for="CreatedOn" />
        <input type="hidden" asp-for="LastModifiedBy" />
        <input type="hidden" asp-for="LastModifiedOn" />
        <input type="hidden" asp-for="TCMClient.CaseNumber" />
        <input type="hidden" asp-for="Origin" />
        <partial name="_TCMFarsFormsReadOnly" />
        <div class="form-group col-md-12">

            @if (User.IsInRole("TCMSupervisor"))
            {
                <input type="submit" value="Approve" class="btn btn-primary" title="Save it and back" />
                <a class="btn btn-warning" onclick="showInPopup('@Url.Action("AddMessageEntity","TCMFarsForms",new {id = Model.Id, origi = 1},Context.Request.Scheme)','Add message to casemanager')" title="Not approved tcm Fars due to problems">Review</a>
            }
            else
            {
                <input type="submit" value="Approve" class="btn btn-primary disabled" title="Save it and back" />
                <a asp-action="AddMessageEntity" class="btn btn-warning disabled" title="Review TCM FARS">Review</a>
            }
            @if (@ViewData["origi"].ToString() == "0")
            {
                <a asp-action="TCMFarsApproved" asp-route-status="@KyoS.Common.Enums.FarsStatus.Pending" class="btn btn-success" title="Approve FARS">Back</a>
            }
            @if (@ViewData["origi"].ToString() == "1")
            {
                <a asp-action="Notifications" asp-controller="TCMMessages" class="btn btn-success" title="Approve FARS">Back</a>
            }
            @if (ViewData["origi"].ToString() == "2")
            {
                <a asp-action="TCMCaseHistory" asp-controller="TCMClients" asp-route-id="@Model.TCMClient.Id " class="btn btn-success">Back</a>
            }
        </div>
    </form>
</div>

<partial name="_ModalPopup" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}





