@model KyoS.Web.Models.TCMFarsFormViewModel
@{
    ViewData["Title"] = "Edit TCM Fars Form";
}


<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @if (Model.Origin == 2)
            {
                @Html.ActionLink("Messages TCM Fars Forms", "MessagesOfFars", "TCMMessages")
            }
            else
            {
                @Html.ActionLink("TCM Fars Forms", "Index", "TCMFarsForms", new { idTCMClient = Model.TCMClient.Id, origin = 1 })
            }

        </li>
        <li class="active">Edit Fars Form</li>
    </ul><!--.breadcrumb-->
</div>

<h4>Edit Fars Form</h4>
<hr />
<div class="row">
    <form asp-action="Edit" asp-route-id="@Model.Id" asp-route-origi="2" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IdTCMClient" />
        <input type="hidden" asp-for="AdmissionedFor" />
        <input type="hidden" asp-for="Status" />
        <input type="hidden" asp-for="CreatedBy" />
        <input type="hidden" asp-for="CreatedOn" />
        <input type="hidden" asp-for="LastModifiedBy" />
        <input type="hidden" asp-for="LastModifiedOn" />
        <input type="hidden" asp-for="TCMClient.CaseNumber" />
        <input type="hidden" asp-for="Origin" />
        <partial name="_TCMFarsForms" />
        <div class="form-group col-md-12">
            <input type="submit" value="Save All" class="btn btn-primary" title="Save it and back" />
            @if (User.IsInRole("TCMSupervisor"))
            {
                <a class="btn btn-warning" onclick="showInPopup('@Url.Action("AddMessageEntity","TCMFarsForms",new {id = Model.Id, origin = Model.Origin},Context.Request.Scheme)','Add message to document creator')" title="Not approved note due to problems">Review</a>
                <a asp-action="ApproveFars" asp-route-id="@Model.Id" class="btn btn-default" title="Approve FARS">Approve</a>
            }
            @if (Model.Origin == 0)
            {
                <a asp-action="Index" asp-route-idTCMClient="@Model.IdTCMClient" , asp-route-origin="1" class="btn btn-success">Back</a>
            }
            @if (Model.Origin == 1)
            {
                <a asp-action="Index" asp-route-idTCMClient="@Model.IdTCMClient" , asp-route-origin="1" class="btn btn-success">Back</a>
            }
            @if (Model.Origin == 2)
            {
                <a asp-action="MessagesOfFars" asp-controller="TCMMessages" class="btn btn-success">Back</a>
            }
        </div>
    </form>
</div>

<partial name="_ModalPopup" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



