@model IEnumerable<KyoS.Web.Data.Entities.TCMFarsFormEntity>
@{
    ViewData["Title"] = "Pending TCM FARS";
}
<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Dashboard", "Index", "Desktop")
        </li>
        <li class="active">Pending TCM FARS</li>
    </ul><!--.breadcrumb-->
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Pending TCM FARS</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-3">
                                FARS
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                @Html.DisplayNameFor(model => model.TCMClient.Client.Code)
                            </th>
                            <th class="col-md-2" style="text-align:center">
                                Date of admission
                            </th>
                            <th class="col-md-2" style="text-align:center">
                                Evaluation Date
                            </th>
                            <th class="col-md-2">
                                Admissioned for
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Status
                            </th>
                            <th class="col-md-1">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @if (item.TCMClient.Client.Gender == KyoS.Common.Enums.GenderType.Female)
                                    {
                                        <i class="glyphicon glyphicon-user btn-danger"></i>
                                    }
                                    @if (item.TCMClient.Client.Gender == KyoS.Common.Enums.GenderType.Male)
                                    {
                                        <i class="glyphicon glyphicon-user btn-primary"></i>
                                    }
                                    &nbsp;
                                    @Html.DisplayFor(modelItem => item.TCMClient.Client.Name)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.TCMClient.Client.Code)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.TCMClient.Client.AdmisionDate)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.EvaluationDate)
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(modelItem => item.AdmissionedFor)
                                </td>
                                <td align="center">
                                    @if (item.Status == KyoS.Common.Enums.FarsStatus.Edition)
                                    {
                                        <span class="label label-default">
                                            Edition
                                        </span>
                                    }
                                    else
                                    {
                                        if (item.Status == KyoS.Common.Enums.FarsStatus.Pending)
                                        {
                                            <span class="label label-info">
                                                Pending
                                            </span>
                                        }
                                        else
                                        {
                                            if (item.Status == KyoS.Common.Enums.FarsStatus.Approved)
                                            {
                                                <span class="label label-success">
                                                    Approved
                                                </span>
                                            }
                                        }
                                    }
                                </td>
                                <td align="center">
                                    <a asp-action="Edit" asp-route-id="@item.Id" asp-route-origin="1" class="btn btn-warning" title="Edit TCM FARS"><i class="glyphicon glyphicon-pencil"></i></a>
                                    <a asp-action="ApproveFars" asp-route-id="@item.Id" asp-route-origi="1" class="btn btn-success" title="Approve TCM FARS"><i class="glyphicon glyphicon-ok"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                                "order": [[0, "asc"]],
                                "pageLength": 100
                            });

            // Delete item
            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                var url = "@Url.Action("Delete", "Fars")";
                window.location.href = url + '/' + item_to_delete;
            });
        });

    </script>
}

