@model IEnumerable<KyoS.Web.Data.Entities.ReferredTempEntity>

@if (Model != null)
{
    <div class="col-md-12">
        <div class="form-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Referreds</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-responsive table-striped" id="MyTableDiag">
                        <thead>
                            <tr>
                                <th class="col-md-1">
                                    @Html.DisplayNameFor(model => model.Service)
                                </th>
                                <th class="col-md-2">
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th class="col-md-2">
                                    @Html.DisplayNameFor(model => model.Agency)
                                </th>
                                <th class="col-md-1" style="text-align:center;">
                                    Type
                                </th>
                                <th class="col-md-2" style="text-align:center;">
                                    Telephone
                                </th>
                                <th class="col-md-3" style="text-align:center;">
                                    Referred Note
                                </th>
                                <th class="col-md-1" style="text-align:center;">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Service)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Agency)
                                    </td>
                                    <td align="center">
                                        @if (item.type == KyoS.Common.Enums.ReferredType.In)
                                        {
                                            <span class="label label-success">
                                                In
                                            </span>
                                         }
                                         @if (item.type == KyoS.Common.Enums.ReferredType.Out)
                                         {
                                            <span class="label label-default">
                                                Out
                                            </span>
                                         }
                                    </td>
                                     <td align="center">
                                        @Html.DisplayFor(modelItem => item.Telephone)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.ReferredNote)
                                    </td>
                                    <td align="right">
                                        @if (User.IsInRole("Manager") || User.IsInRole("Supervisor") || User.IsInRole("Documents_Assistant"))
                                        {
                                            <button type="button" onclick="DeleteReferredTemp(@item.Id)" class="btn btn-danger deleteItem" title="Delete referred"><i class="glyphicon glyphicon-trash"></i></button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>    
}
