@model IEnumerable<KyoS.Web.Data.Entities.HealthInsuranceTempEntity>

@if (Model != null)
{
    <div class="col-md-12">
        <div class="form-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Health Insurances (Authorization)</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-responsive table-striped" id="MyTableDiag">
                        <thead>
                            <tr>
                                <th class="col-md-3">
                                    Name
                                </th>
                                <th class="col-md-1" style="text-align:center;">
                                    Service
                                </th>
                                <th class="col-md-1">
                                    Member ID
                                </th>
                                <th class="col-md-1" style="text-align:center;">
                                    Approved
                                </th>
                                <th class="col-md-1" style="text-align:center;">
                                    Expired
                                </th>
                                <th class="col-md-1" style="text-align:center;">
                                    Auth Number
                                </th>
                                <th class="col-md-1" style="text-align:center;">
                                    Active
                                </th>
                                <th class="col-md-1" style="text-align:center;">
                                    Units
                                </th>
                                <th class="col-md-2" style="text-align:center;">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Agency)
                                    </td>
                                     <td>
                                        @Html.DisplayFor(modelItem => item.MemberId)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.ApprovedDate)
                                    </td>
                                    <td align="center">
                                        <span class="label label-danger">
                                            @item.ApprovedDate.Date.AddMonths(Convert.ToInt32(item.DurationTime)).ToShortDateString()
                                        </span>
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.AuthorizationNumber)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Active)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Units)
                                    </td>
                                    <td align="right">
                                        @if (User.IsInRole("Manager"))
                                        {
                                            <a onclick="showInPopup('@Url.Action("EditHealthInsuranceClient", "Clients", new { id = item.Id }, Context.Request.Scheme)','Edit Health Insurance')" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></a>
                                            <a onclick="showInPopup('@Url.Action("DeleteHealthInsuranceTempModal", "Clients", new { id = item.Id }, Context.Request.Scheme)','Delete Health Insurance')" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
                                            @*<button type="button" onclick="DeleteHealthInsuranceTemp(@item.Id)" class="btn btn-danger deleteItem" title="Delete Health Insurance"><i class="glyphicon glyphicon-trash"></i></button>*@
                                        }
                                        else
                                        {
                                            <a onclick="showInPopup('@Url.Action("EditHealthInsuranceClient","Clients",new { id = item.Id},Context.Request.Scheme)','Edit Health Insurance')" class="btn btn-warning disabled"><i class="glyphicon glyphicon-pencil disabled"></i></a>
                                            <a onclick="showInPopup('@Url.Action("DeleteHealthInsuranceTempModal","Clients",new { id = item.Id},Context.Request.Scheme)','Delete Health Insurance')" class="btn btn-danger disabled"><i class="glyphicon glyphicon-trash disabled"></i></a>
                                            @*<button type="button" onclick="DeleteHealthInsuranceTemp(@item.Id)" class="btn btn-danger deleteItem" title="Delete Health Insurance"><i class="glyphicon glyphicon-trash"></i></button>*@
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>    
}
