@model IEnumerable<KyoS.Web.Models.ClientActivedViewModel>
@{
    ViewData["Title"] = "Active Clients";
}

<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Dashboard", "Index", "Desktop")
        </li>
        <li class="active">Active clients</li>
    </ul><!--.breadcrumb-->
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Active clients </h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-3">
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th class="col-md-2" style="text-align:left;">
                                Health Insurance
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Admission
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Therapy
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Doc.
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                PSR/Group
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Doc.
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Ind
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Goals
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderBy(n => n.Days))
                        {
                            @if (item.Status == KyoS.Common.Enums.StatusType.Open)
                            {
                                <tr>
                                    <td>
                                        @if (item.Gender == KyoS.Common.Enums.GenderType.Female)
                                        {
                                            <i class="glyphicon glyphicon-user btn-danger"></i>
                                        }
                                        @if (item.Gender == KyoS.Common.Enums.GenderType.Male)
                                        {
                                            <i class="glyphicon glyphicon-user btn-primary"></i>
                                        }
                                        &nbsp;
                                        @Html.DisplayFor(modelItem => item.Name)
                                        |
                                        @Html.DisplayFor(modelItem => item.Code)
                                    </td>
                                    <td align="left">
                                        @if (item.Clients_HealthInsurances.Count() > 0)
                                        {
                                            @if (item.Clients_HealthInsurances.Where(n => n.Active == true).Count() > 0)
                                            {
                                                @Html.DisplayFor(modelItem => item.Clients_HealthInsurances.FirstOrDefault(n => n.Active == true).HealthInsurance.Name)
                                            }
                                        }
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.AdmisionDate)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Service)
                                    </td>
                                    <td align="center">
                                        @if (item.DocumentType == "N_Doc")
                                        {
                                            <span class="label label-danger">
                                                @Html.DisplayFor(modelItem => item.DocumentType)
                                            </span>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.DocumentType)
                                        }
                                    </td>
                                    <td align="center">
                                        @if (item.Days <= 10 && item.Days > 0)
                                        {
                                            <span class="label label-warning">
                                                @Html.DisplayFor(modelItem => item.Days)
                                            </span>
                                        }
                                        else
                                        {
                                            @if (item.Days > 10)
                                            {
                                                <span class="label label-success">
                                                    @Html.DisplayFor(modelItem => item.Days)
                                                </span>
                                            }
                                            else
                                            {
                                                @if (item.Days <= 0)
                                                {
                                                    @if (item.Days == -1000)
                                                    {
                                                        <span class="label label-danger">
                                                            N_Obj
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="label label-danger">
                                                            @Html.DisplayFor(modelItem => item.Days)
                                                        </span>
                                                    }

                                                }
                                            }
                                        }
                                    </td>
                                    <td align="center">
                                        @if (item.DocumentTypeInd == "N_Doc")
                                        {
                                            <span class="label label-danger">
                                                @Html.DisplayFor(modelItem => item.DocumentTypeInd)
                                            </span>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.DocumentTypeInd)
                                        }
                                    </td>
                                    <td align="center">
                                       @if (item.DaysInd <= 10 && item.DaysInd > 0)
                                        {
                                            <span class="label label-warning">
                                                @Html.DisplayFor(modelItem => item.DaysInd)
                                            </span>
                                        }
                                        else
                                        {
                                            @if (item.DaysInd > 10)
                                            {
                                                <span class="label label-success">
                                                    @Html.DisplayFor(modelItem => item.DaysInd)
                                                </span>
                                            }
                                            else
                                            {
                                                @if (item.DaysInd <= 0)
                                                {
                                                    @if (item.DaysInd == -1000)
                                                    {
                                                        <span class="label label-danger">
                                                            N_Ind
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="label label-danger">
                                                            @Html.DisplayFor(modelItem => item.DaysInd)
                                                        </span>
                                                    }

                                                }
                                            }
                                        }
                                    </td>
                                    <td align="center">
                                        <a asp-action="ViewAllGoals" asp-controller="Notes" asp-route-idMtp="@item.MtpId" target="_blank" class="btn btn-info" title="All goals"><i class="glyphicon glyphicon-list-alt"></i></a>
                                    </td>
                                    
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_ModalPopupLg" />
<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                "order": [[0, "asc"]],
                "pageLength": 100
            });            
        });

        function ConfirmDelete(e) {
            Swal.fire({
                title: 'Do you want to delete?',
                text: "Note: All data related to this element will be deleted.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    var url = "@Url.Action("Delete", "Clients")";
                    window.location.href = url + '/' + e;
                }
            });
        }
    </script>
}



