@model IEnumerable<KyoS.Web.Models.BirthDayViewModel>
@{
    ViewData["Title"] = "Clients' Birthday";
}

<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Dashboard", "Index", "Desktop")
        </li>
        <li class="active">Clients' Birthday</li>
    </ul><!--.breadcrumb-->
</div>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-1">
            &nbsp;
        </div>
        <div class="btn-group col-md-10 container-fluid" role="group">
            @if (ViewData["month"].ToString() == "January")
            {
                <a asp-action="BirthDayClients" asp-route-month="1" type="button" class="btn btn-warning">&nbsp;&nbsp;January&nbsp;&nbsp;</a>
            }
            else
            {
                <a asp-action="BirthDayClients" asp-route-month="1" type="button" class="btn btn-default">&nbsp;&nbsp;January&nbsp;&nbsp;</a>
            }
            @if (ViewData["month"].ToString() == "February")
            {
                <a asp-action="BirthDayClients" asp-route-month="2" type="button" class="btn btn-warning">&nbsp;&nbsp;February&nbsp;&nbsp;</a>
            }
            else
            {
                <a asp-action="BirthDayClients" asp-route-month="2" type="button" class="btn btn-default">&nbsp;&nbsp;February&nbsp;&nbsp;</a>
            }
            @if (ViewData["month"].ToString() == "March")
            {
                <a asp-action="BirthDayClients" asp-route-month="3" type="button" class="btn btn-warning">&nbsp;&nbsp;March&nbsp;&nbsp;</a>
            }
            else
            {
                <a asp-action="BirthDayClients" asp-route-month="3" type="button" class="btn btn-default">&nbsp;&nbsp;March&nbsp;&nbsp;</a>
            }
            @if (ViewData["month"].ToString() == "April")
            {
                <a asp-action="BirthDayClients" asp-route-month="4" type="button" class="btn btn-warning">&nbsp;&nbsp;April&nbsp;&nbsp;</a>
            }
            else
            {
                <a asp-action="BirthDayClients" asp-route-month="4" type="button" class="btn btn-default">&nbsp;&nbsp;April&nbsp;&nbsp;</a>
            }
            @if (ViewData["month"].ToString() == "May")
            {
                <a asp-action="BirthDayClients" asp-route-month="5" type="button" class="btn btn-warning">&nbsp;&nbsp;May&nbsp;&nbsp;</a>
            }
            else
            {
                <a asp-action="BirthDayClients" asp-route-month="5" type="button" class="btn btn-default">&nbsp;&nbsp;May&nbsp;&nbsp;</a>
            }
            @if (ViewData["month"].ToString() == "June")
            {
                <a asp-action="BirthDayClients" asp-route-month="6" type="button" class="btn btn-warning">&nbsp;&nbsp;June&nbsp;&nbsp;</a>
            }
            else
            {
                <a asp-action="BirthDayClients" asp-route-month="6" type="button" class="btn btn-default">&nbsp;&nbsp;June&nbsp;&nbsp;</a>
            }
            @if (ViewData["month"].ToString() == "July")
            {
                <a asp-action="BirthDayClients" asp-route-month="7" type="button" class="btn btn-warning">&nbsp;&nbsp;July&nbsp;&nbsp;</a>
            }
            else
            {
                <a asp-action="BirthDayClients" asp-route-month="7" type="button" class="btn btn-default">&nbsp;&nbsp;July&nbsp;&nbsp;</a>
            }
            @if (ViewData["month"].ToString() == "August")
            {
                <a asp-action="BirthDayClients" asp-route-month="8" type="button" class="btn btn-warning">&nbsp;&nbsp;August&nbsp;&nbsp;</a>
            }
            else
            {
                <a asp-action="BirthDayClients" asp-route-month="8" type="button" class="btn btn-default">&nbsp;&nbsp;August&nbsp;&nbsp;</a>
            }
            @if (ViewData["month"].ToString() == "September")
            {
                <a asp-action="BirthDayClients" asp-route-month="9" type="button" class="btn btn-warning">&nbsp;&nbsp;September&nbsp;&nbsp;</a>
            }
            else
            {
                <a asp-action="BirthDayClients" asp-route-month="9" type="button" class="btn btn-default">&nbsp;&nbsp;September&nbsp;&nbsp;</a>
            }
            @if (ViewData["month"].ToString() == "October")
            {
                <a asp-action="BirthDayClients" asp-route-month="10" type="button" class="btn btn-warning">&nbsp;&nbsp;October&nbsp;&nbsp;</a>
            }
            else
            {
                <a asp-action="BirthDayClients" asp-route-month="10" type="button" class="btn btn-default">&nbsp;&nbsp;Octuber&nbsp;&nbsp;</a>
            }
            @if (ViewData["month"].ToString() == "November")
            {
                <a asp-action="BirthDayClients" asp-route-month="11" type="button" class="btn btn-warning">&nbsp;&nbsp;November&nbsp;&nbsp;</a>
            }
            else
            {
                <a asp-action="BirthDayClients" asp-route-month="11" type="button" class="btn btn-default">&nbsp;&nbsp;November&nbsp;&nbsp;</a>
            }
            @if (ViewData["month"].ToString() == "December")
            {
                <a asp-action="BirthDayClients" asp-route-month="12" type="button" class="btn btn-warning">&nbsp;&nbsp;December&nbsp;&nbsp;</a>
            }
            else
            {
                <a asp-action="BirthDayClients" asp-route-month="12" type="button" class="btn btn-default">&nbsp;&nbsp;December&nbsp;&nbsp;</a>
            }
        </div>
        <div class="col-md-1">
            &nbsp;
        </div>
    </div>
    <div class="col-md-12">
        <hr />
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Birthdays</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-3">
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th class="col-md-2" style="text-align:center;">
                                Role
                            </th>
                            <th class="col-md-2 bg-warning" style="text-align:center;">
                                Birth Date
                            </th>
                            <th class="col-md-2" style="text-align:center;">
                                Arrived
                            </th>
                            <th class="col-md-2" style="text-align:center;">
                                Days
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Program
                            </th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @if (item.Gender == KyoS.Common.Enums.GenderType.Female)
                                    {
                                        <i class="glyphicon glyphicon-user btn-danger"></i>
                                    }
                                    @if (item.Gender == KyoS.Common.Enums.GenderType.Male)
                                    {
                                        <i class="glyphicon glyphicon-user btn-primary"></i>
                                    }
                                    &nbsp;
                                    @Html.DisplayFor(modelItem => item.Name)
                                    <a>|</a>
                                    @Html.DisplayFor(modelItem => item.Code)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.Person)
                                </td>
                                <td align="center" class="bg-warning">
                                    @if (DateTime.Today.Day == item.BirthDay.Day && DateTime.Today.Month == item.BirthDay.Month)
                                    {
                                        <b>@Html.DisplayFor(modelItem => item.BirthDay)</b> <i class="icon-bell"></i>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.BirthDay)
                                    }
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.Arriving)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => (DateTime.Today - item.Arriving).Days)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.Program)
                                </td>
                               
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_ModalPopupLg" />
<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/datetime-moment.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $.fn.dataTable.moment('MM/DD/YYYY');

            $('#MyTable').DataTable({
                "order": [[1, "asc"]],
                "pageLength": 100
            });
        });
    </script>
}



