@model KyoS.Web.Data.Entities.ClientEntity
@{
    ViewData["Title"] = "Client History";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/datepicker.min.css">

    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                @Html.ActionLink("Client", "Index", "Clients")
            </li>
            <li class="active">Client History</li>
        </ul><!--.breadcrumb-->
    </div>

    <div class="row">        
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <partial name="_ClientAllDate" />
        <div class="col-md-12">
            <hr />
        </div>
        <div class="col-md-push-12">               
            <div class="col-md-12 form-group">
                @if (Model.Clinic.Setting.MHProblems == true)
                {
                    <a onclick="showInPopupLg('@Url.Action("ClientProblemList", "Clients", new { idClient = @Model.Id }, Context.Request.Scheme)','Audit Documents')" class="btn btn-danger" title="Audit the documentation"><i class="glyphicon glyphicon-alert"></i>&nbsp;&nbsp;Audit Documents</a>
                }
                else
                {
                    <a onclick="showInPopupLg('@Url.Action("ClientProblemList", "Clients", new { idClient = @Model.Id }, Context.Request.Scheme)','Audit Documents')" class="btn btn-danger disabled" title="Audit the documentation"><i class="glyphicon glyphicon-alert"></i>&nbsp;&nbsp;Audit Documents</a>
                }
            </div>                
        </div>
        <div class="col-md-12">
            <hr />
        </div>
        <div class="col-md-push-12">
            <div class="">
                <div id="view-farsForClient">
                    @if (Model.Bio != null)
                    {
                        @await Html.PartialAsync("_ViewBIOForClient", Model.Bio)
                    }
                    @if (Model.Brief != null)
                    {
                        @await Html.PartialAsync("_ViewBriefForClient", Model.Brief)
                    }
                </div>
            </div>
        </div>
        <div class="col-md-push-12">                
            <div id="view-farsForClient">
                @if (Model.MTPs.Count() > 0)
                {
                    @await Html.PartialAsync("_ViewMtpListForClient", Model.MTPs.ToList())
                }
            </div>                
        </div>
        <div class="col-md-12">
            <hr />
        </div>
        <div class="col-md-push-12">
            <div class="">
                <div id="view-farsForClient">
                    @if (Model.FarsFormList.Count() > 0)
                    {
                        @await Html.PartialAsync("_ViewFarsListForClient", Model.FarsFormList.ToList())
                    }
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <hr />
        </div>
        <div class="col-md-push-12">
            <div class="">
                <div id="view-farsForClient">
                    @if (Model.DischargeList.Count() > 0)
                    {
                        @await Html.PartialAsync("_ViewDischargeListForClient", Model.DischargeList.ToList())
                    }

                </div>
            </div>
        </div>
        <div class="col-md-12">
            <hr />
        </div>
        <div class="col-md-push-12">
            <div class="">
                <div id="view-notesForClient">
                    @if (Model.Workdays_Clients.Count() > 0)
                    {
                        @await Html.PartialAsync("_ViewNotesForClient", Model.Workdays_Clients.ToList())
                    }
                </div>
            </div>
        </div>        
    </div>
</body>
</html>

<partial name="_ModalPopupLg" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/datetime-moment.js"></script>
    <script src="~/js/datepicker.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/js/datepicker.en.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            $.fn.dataTable.moment('MM/DD/YYYY');

            $('#MyTable').DataTable({
                "order": [[0, "asc"]],
                "lengthMenu": [[100, 200, -1], [100, 200, "All"]],
                "pageLength": 200
            });

            //$('#datepicker').datepicker({
            //    autoClose: true
            //})
        });

        $(function () {

            //Assign Click event to Plus Image.
            $("body").on("click", "a[class*='icon-plus-sign-alt']", function () {
                $(this).closest("tr").after("<tr><td></td><td colspan='999'>" + $(this).next().html() + "</td></tr>");
                $(this).attr("class", "icon-minus-sign-alt");
            });
            //Assign Click event to Minus Image.
            $("body").on("click", "a[class*='icon-minus-sign-alt']", function () {
                $(this).attr("class", "icon-plus-sign-alt");
                $(this).closest("tr").next().remove();
            });
        });

        function ConfirmDeleteFars(e) {
            Swal.fire({
                title: 'Do you want delete this FARS?',
                text: "Note: All data related to this element will be deleted.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    var url = "@Url.Action("Delete", "FarsForms")";
                    window.location.href = url + '/' + e;
                }
            });
        }

        function ConfirmDeleteDischarge(e) {
            Swal.fire({
                title: 'Do you want delete this discharge?',
                text: "Note: All data related to this element will be deleted.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    var url = "@Url.Action("Delete", "Discharge")";
                    window.location.href = url + '/' + e;
                }
            });
        }

        function ConfirmDeleteNote(e) {
            Swal.fire({
                title: 'Do you want delete this note?',
                text: "Note: All data related to this element will be deleted.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    var url = "@Url.Action("DeleteNote", "Notes")";
                    window.location.href = url + '/' + e;
                }
            });
        }

    </script>
   

}



