@model IEnumerable<KyoS.Web.Data.Entities.ClientEntity>
@{
    ViewData["Title"] = "Update Signatures";
}

<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Clients", "Index", "Clients")
        </li>
        <li class="active">Update Signatures</li>
    </ul><!--.breadcrumb-->
</div>

<div class="row">    
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Clients</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-1">
                               
                            </th>
                            <th class="col-md-3">
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th class="col-md-2" style="text-align:center;">
                                Health Insurance
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Therapy
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Admission
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Status
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Sign
                            </th>
                            <th class="col-md-2">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            @if (item.Status == KyoS.Common.Enums.StatusType.Close)
                            {
                                <tr style="color: darkgrey;">
                                    @if (item.LegalGuardian != null)
                                    {
                                        <td align="center">
                                            @if (item.LegalGuardian != null)
                                            {
                                                <a class="icon-plus-sign-alt"></a>
                                            }
                                            else
                                            {

                                            }
                                            <div style="display:none">
                                                <table class="table table-striped table-bordered">
                                                    <tr>
                                                        <th class="col-md-3" style="text-align:center">Name</th>
                                                        <th class="col-md-2" style="text-align:center">RelationShip</th>
                                                        <th class="col-md-2" style="text-align:center">Phone</th>
                                                        <th class="col-md-3" style="text-align:center">Address</th>
                                                        <th class="col-md-1" style="text-align:center">Sign</th>
                                                        <th class="col-md-1"></th>
                                                    </tr>

                                                    <tr>
                                                        <td align="center">@item.LegalGuardian.Name</td>
                                                        <td align="center">@item.RelationShipOfLegalGuardian</td>
                                                        <td align="center">@item.LegalGuardian.Telephone</td>
                                                        <td align="center">@item.LegalGuardian.Address</td>
                                                        <td align="center">
                                                            @if (item.LegalGuardian.SignPath == string.Empty || item.LegalGuardian.SignPath == null)
                                                            {
                                                                <span class="label label-danger">
                                                                    No
                                                                </span>
                                                            }
                                                            else
                                                            {
                                                                <span class="label label-success">
                                                                    Yes
                                                                </span>
                                                            }
                                                        </td>
                                                        <td align="center">
                                                            <a asp-action="EditSignatureLegalGuardian" asp-route-id="@item.LegalGuardian.Id" class="btn btn-warning" title="Edit Legal Guradian's signature"><i class="glyphicon glyphicon-cloud-upload"></i></a>
                                                        </td>
                                                    </tr>

                                                </table>
                                            </div>
                                        </td>
                                    }
                                    else
                                    { 
                                        <td></td>
                                    }
                                    <td>
                                        @if (item.Gender == KyoS.Common.Enums.GenderType.Female)
                                        {
                                            <i class="glyphicon glyphicon-user btn-danger"></i>
                                        }
                                        @if (item.Gender == KyoS.Common.Enums.GenderType.Male)
                                        {
                                            <i class="glyphicon glyphicon-user btn-primary"></i>
                                        }
                                        &nbsp;
                                        @Html.DisplayFor(modelItem => item.Name)
                                        |
                                        @Html.DisplayFor(modelItem => item.Code)
                                    </td>
                                    <td align="center">
                                        @if (item.Clients_HealthInsurances.Count() > 0)
                                        {
                                            @if (item.Clients_HealthInsurances.Where(n => n.Active == true).Count() > 0)
                                            {
                                                @Html.DisplayFor(modelItem => item.Clients_HealthInsurances.FirstOrDefault(n => n.Active == true).HealthInsurance.Name)
                                            }
                                        }
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Service)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.AdmisionDate)
                                    </td>
                                    <td align="center">
                                        @if (item.Status == KyoS.Common.Enums.StatusType.Open)
                                        {
                                            <span class="label label-success">
                                                Open
                                            </span>
                                        }
                                        @if (item.Status == KyoS.Common.Enums.StatusType.Close)
                                        {
                                            <span class="label label-default">
                                                Close
                                            </span>
                                        }
                                    </td>   
                                     <td align="center">
                                        @if (item.SignPath == string.Empty || item.SignPath == null)
                                        {
                                            <span class="label label-danger">
                                                No
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="label label-success">
                                                Yes
                                            </span>
                                        }
                                    </td>
                                    <td align="right">
                                        <a asp-action="EditSignature" asp-route-id="@item.Id" class="btn btn-warning" title="Edit client's signature"><i class="glyphicon glyphicon-cloud-upload"></i></a>                                        
                                    </td>                                    
                                </tr>
                            }
                            @if (item.Status == KyoS.Common.Enums.StatusType.Open)
                            {
                                <tr>
                                   @if (item.LegalGuardian != null)
                                    {
                                        <td align="center">
                                            @if (item.LegalGuardian != null)
                                            {
                                                <a class="icon-plus-sign-alt"></a>
                                            }
                                            else
                                            {

                                            }
                                            <div style="display:none">
                                                <table class="table table-striped table-bordered">
                                                    <tr>
                                                        <th class="col-md-3" style="text-align:center">Name</th>
                                                        <th class="col-md-2" style="text-align:center">RelationShip</th>
                                                        <th class="col-md-2" style="text-align:center">Phone</th>
                                                        <th class="col-md-3" style="text-align:center">Address</th>
                                                        <th class="col-md-1" style="text-align:center">Sign</th>
                                                        <th class="col-md-1"></th>
                                                    </tr>

                                                    <tr>
                                                        <td align="center">@item.LegalGuardian.Name</td>
                                                        <td align="center">@item.RelationShipOfLegalGuardian</td>
                                                        <td align="center">@item.LegalGuardian.Telephone</td>
                                                        <td align="center">@item.LegalGuardian.Address</td>
                                                        <td align="center">
                                                            @if (item.LegalGuardian.SignPath == string.Empty || item.LegalGuardian.SignPath == null)
                                                            {
                                                                <span class="label label-danger">
                                                                    No
                                                                </span>
                                                            }
                                                            else
                                                            {
                                                                <span class="label label-success">
                                                                    Yes
                                                                </span>
                                                            }
                                                        </td>
                                                        <td align="center">
                                                            <a asp-action="EditSignatureLegalGuardian" asp-route-id="@item.LegalGuardian.Id" class="btn btn-warning" title="Edit Legal Guradian's signature"><i class="glyphicon glyphicon-cloud-upload"></i></a>
                                                        </td>
                                                    </tr>

                                                </table>
                                            </div>
                                        </td>
                                    }
                                    else
                                    { 
                                        <td></td>
                                    }
                                    <td>
                                        @if (item.Gender == KyoS.Common.Enums.GenderType.Female)
                                        {
                                            <i class="glyphicon glyphicon-user btn-danger"></i>
                                        }
                                        @if (item.Gender == KyoS.Common.Enums.GenderType.Male)
                                        {
                                            <i class="glyphicon glyphicon-user btn-primary"></i>
                                        }
                                        &nbsp;
                                        @Html.DisplayFor(modelItem => item.Name)
                                        |
                                        @Html.DisplayFor(modelItem => item.Code)
                                    </td>
                                    <td align="center">
                                        @if (item.Clients_HealthInsurances.Count() > 0)
                                        {
                                            @if (item.Clients_HealthInsurances.Where(n => n.Active == true).Count() > 0)
                                            {
                                                @Html.DisplayFor(modelItem => item.Clients_HealthInsurances.FirstOrDefault(n => n.Active == true).HealthInsurance.Name)
                                            }
                                        }
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Service)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.AdmisionDate)
                                    </td>
                                    <td align="center">
                                        @if (item.Status == KyoS.Common.Enums.StatusType.Open)
                                        {
                                            <span class="label label-success">
                                                Open
                                            </span>
                                        }
                                        @if (item.Status == KyoS.Common.Enums.StatusType.Close)
                                        {
                                            <span class="label label-default">
                                                Close
                                            </span>
                                        }
                                    </td>
                                    <td align="center">
                                        @if (item.SignPath == string.Empty || item.SignPath == null)
                                        {
                                            <span class="label label-danger">
                                                No
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="label label-success">
                                                Yes
                                            </span>
                                        }
                                    </td>
                                    <td align="right">
                                        <a asp-action="EditSignature" asp-route-id="@item.Id" class="btn btn-warning" title="Edit client's signature"><i class="glyphicon glyphicon-cloud-upload"></i></a>                                        
                                    </td>  
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_ModalPopupLg" />
<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
         $(document).ready(function () {
                            $('#MyTable').DataTable({
                                "order": [[0, "asc"]],
                                "pageLength": 100
                            });

                            // Delete item
                            var item_to_delete;

                            $('.deleteItem').click((e) => {
                                item_to_delete = e.currentTarget.dataset.id;
                            });

                            $("#btnYesDelete").click(function () {
                                var url = "@Url.Action("Delete", "Clients")";
                                window.location.href = url + '/' + item_to_delete;
                            });
                        });
        $(function () {

            //Assign Click event to Plus Image.
            $("body").on("click", "a[class*='icon-plus-sign-alt']", function () {
                $(this).closest("tr").after("<tr><td></td><td colspan = '999'>" + $(this).next().html() + "</td></tr>");
                $(this).attr("class", "icon-minus-sign-alt");
            });
            //Assign Click event to Minus Image.
            $("body").on("click", "a[class*='icon-minus-sign-alt']", function () {
                $(this).attr("class", "icon-plus-sign-alt");
                $(this).closest("tr").next().remove();
            });
        });
    </script>
}



