@model KyoS.Web.Models.IntakeAdvancedDirectiveViewModel
@{
    ViewData["Title"] = "Advanced Directive";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>

    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                @Html.ActionLink("Intakes", "Index", "Intakes")
            </li>
            <li class="active">Mental Health Advance Directive Acknowledgement</li>
        </ul><!--.breadcrumb-->
    </div>

    <h4>Mental Health Advance Directive Acknowledgement</h4>
    <hr />
    <div class="row">
        <form asp-action="CreateIntakeAdvenceDirective" asp-route-id="@Model.Id" asp-route-origi="@ViewData["origi"]" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdClient" />
            <input type="hidden" asp-for="Client_FK" />
            <input type="hidden" asp-for="CreatedOn" />
            <input type="hidden" asp-for="CreatedBy" />
            <input type="hidden" asp-for="AdmissionedFor" />
            <partial name="_IntakesAdvancedDirective" />
            <div class="form-group col-md-12">
                @if (User.IsInRole("Manager") || User.IsInRole("Frontdesk") || User.IsInRole("Documents_Assistant"))
                {
                    @if (Model.Id == 0)
                    {
                        <input type="submit" value="Sign and Save" class="btn btn-primary" />
                    }
                    else
                    {
                        <input type="submit" value="Save" class="btn btn-primary" />
                    }
                    <a asp-action="IntakeDashboard" asp-route-id="@Model.Client.Id" class="btn btn-success">Back</a>
                }
                else
                {
                    <input type="submit" value="Save" class="btn btn-primary" disabled />
                    <a asp-action="IntakeDashboard" asp-route-id="@Model.Client.Id" class="btn btn-success">Back</a>
                }
            </div>
        </form>
    </div>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">

    </script>
}


