@model KyoS.Web.Data.Entities.ClientEntity

@{
    ViewData["Title"] = "Intake Dashboard";
}

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Intakes", "Index", "Intakes")
        </li>
        <li class="active">Intake of @Model.Name</li>
    </ul><!--.breadcrumb-->
</div>
<div>
    <div class="row">
        <div class="container-fluid">
            <h4 style="font-weight:bold; text-align: center;"> <span class="label label-default"> Intake - @Model.Name </span></h4>
        </div>
        <div class="col-md-12">
            <hr />
        </div>
        <div class="col-sm-3 col-md-2">
            @if (Model.IntakeScreening == null)
            {
                <a style="text-decoration: none;" asp-action="Edit" asp-route-id="@Model.Id" role="button">
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Intake <br>&nbsp;&nbsp;&nbsp;&nbsp;Screening</h4>
                    </div>
                </a>
            }
            else
            {
                <a style="text-decoration: none;" asp-action="Edit" asp-route-id="@Model.Id" role="button">
                    <div class="thumbnail list-group-item list-group-item-success">
                        <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Intake <br>&nbsp;&nbsp;&nbsp;&nbsp;Screening</h4>
                    </div>
                </a>
            }
        </div>
        <div class="col-sm-3 col-md-2">
            @if (Model.IntakeConsentForTreatment == null)
            {
                <a style="text-decoration: none;" asp-action="CreateConsentForTreatment" asp-route-id="@Model.Id" role="button">
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Consent for<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Treatment</h4>
                    </div>
                </a>
            }
            else
            {
                <a style="text-decoration: none;" asp-action="CreateConsentForTreatment" asp-route-id="@Model.Id" role="button">
                    <div class="thumbnail list-group-item list-group-item-success">
                        <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Consent for<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Treatment</h4>
                    </div>
                </a>
            }
        </div>
        <div class="col-sm-3 col-md-2">
            @if (Model.IntakeConsentForRelease == null)
            {
                <a style="text-decoration: none;" asp-action="CreateConsentForRelease" asp-route-id="@Model.Id" role="button">
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Consent for<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Release</h4>
                    </div>
                </a>
            }
            else
            {
                <a style="text-decoration: none;" asp-action="CreateConsentForRelease" asp-route-id="@Model.Id" role="button">
                    <div class="thumbnail list-group-item list-group-item-success">
                        <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Consent for<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Release</h4>
                    </div>
                </a>
            }
        </div>
        <div class="col-sm-3 col-md-2">
            @if (Model.IntakeConsumerRights == null)
            {
                <a style="text-decoration: none;" asp-action="CreateConsumerRights" asp-route-id="@Model.Id" role="button">
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Consumer<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rights</h4>
                    </div>
                </a>
            }
            else
            {
                <a style="text-decoration: none;" asp-action="CreateConsumerRights" asp-route-id="@Model.Id" role="button">
                    <div class="thumbnail list-group-item list-group-item-success">
                        <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Consumer<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rights</h4>
                    </div>
                </a>
            }
        </div>
        <div class="col-sm-3 col-md-2">
            @if (Model.IntakeAcknowledgementHipa == null)
            {
                <a style="text-decoration: none;" asp-action="CreateAcknowledgementHippa" asp-route-id="@Model.Id" role="button">
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Acknowled.<br>&nbsp;&nbsp;&nbsp;&nbsp;Hippa</h4>
                    </div>
                </a>
            }
            else
            {
                <a style="text-decoration: none;" asp-action="CreateAcknowledgementHippa" asp-route-id="@Model.Id" role="button">
                    <div class="thumbnail list-group-item list-group-item-success">
                        <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Acknowled.<br>&nbsp;&nbsp;&nbsp;&nbsp;Hippa</h4>
                    </div>
                </a>
            }
        </div>
        <div class="col-sm-3 col-md-2">
            @if (Model.IntakeAccessToServices == null)
            {
                <a style="text-decoration: none;" asp-action="CreateAccessToServices" asp-route-id="@Model.Id" role="button">
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Access<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To Services</h4>
                    </div>
                </a>
            }
            else
            {
                <a style="text-decoration: none;" asp-action="CreateAccessToServices" asp-route-id="@Model.Id" role="button">
                    <div class="thumbnail list-group-item list-group-item-success">
                        <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Access<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To Services</h4>
                    </div>
                </a>
            }
        </div>
        <div class="col-md-12">
            &nbsp;
        </div>
        <div class="col-sm-3 col-md-1">
            &nbsp;
        </div>
        <div class="col-sm-3 col-md-2">
            @if (Model.IntakeOrientationChecklist == null)
            {
                <a style="text-decoration: none;" asp-action="CreateOrientationCheckList" asp-route-id="@Model.Id" role="button">
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Orientation<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Checklist</h4>
                    </div>
                </a>
            }
            else
            {
                <a style="text-decoration: none;" asp-action="CreateOrientationCheckList" asp-route-id="@Model.Id" role="button">
                    <div class="thumbnail list-group-item list-group-item-success">
                        <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Orientation<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Checklist</h4>
                    </div>
                </a>
            }
        </div>
        <div class="col-sm-3 col-md-2">
            @if (Model.IntakeTransportation == null)
            {
                <a style="text-decoration: none;" asp-action="CreateTransportation" asp-route-id="@Model.Id" role="button">
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Transportation &<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Food</h4>
                    </div>
                </a>
            }
            else
            {
                <a style="text-decoration: none;" asp-action="CreateTransportation" asp-route-id="@Model.Id" role="button">
                    <div class="thumbnail list-group-item list-group-item-success">
                        <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Transportation &<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Food</h4>
                    </div>
                </a>
            }
        </div>
        <div class="col-sm-3 col-md-2">
            @if (Model.IntakeConsentPhotograph == null)
            {
                <a style="text-decoration: none;" asp-action="CreateConsentPhotograph" asp-route-id="@Model.Id" role="button">
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Consent for<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Photograph</h4>
                    </div>
                </a>
            }
            else
            {
                <a style="text-decoration: none;" asp-action="CreateConsentPhotograph" asp-route-id="@Model.Id" role="button">
                    <div class="thumbnail list-group-item list-group-item-success">
                        <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Consent for<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Photograph</h4>
                    </div>
                </a>
            }
        </div>
        <div class="col-sm-3 col-md-2">
            @if (Model.IntakeFeeAgreement == null)
            {
                <a style="text-decoration: none;" asp-action="CreateFeeAgreement" asp-route-id="@Model.Id" role="button">
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Fee<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Agreement</h4>
                    </div>
                </a>
            }
            else
            {
                <a style="text-decoration: none;" asp-action="CreateFeeAgreement" asp-route-id="@Model.Id" role="button">
                    <div class="thumbnail list-group-item list-group-item-success">
                        <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Fee<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Agreement</h4>
                    </div>
                </a>
            }
        </div>
        <div class="col-sm-3 col-md-2">
            @if (Model.IntakeTuberculosis == null)
            {
                <a style="text-decoration: none;" asp-action="CreateTuberculosis" asp-route-id="@Model.Id" role="button">
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Tuberculosis (TB)<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Screening Tool</h4>
                    </div>
                </a>
            }
            else
            {
                <a style="text-decoration: none;" asp-action="CreateTuberculosis" asp-route-id="@Model.Id" role="button">
                    <div class="thumbnail list-group-item list-group-item-success">
                        <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Tuberculosis (TB)<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Screening Tool</h4>
                    </div>
                </a>
            }
        </div>
        <div class="col-sm-3 col-md-1">
            &nbsp;
        </div>
        <div class="col-md-12">
            &nbsp;
        </div>
        <div class="col-sm-3 col-md-2">
            @if (Model.IntakeClientIdDocumentVerification == null)
            {
                <a style="text-decoration: none;" asp-action="CreateIntakeClientIdDocumentVerification" asp-route-id="@Model.Id" role="button">
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>ID Documents <br>&nbsp;&nbsp;&nbsp;&nbsp;Verification Form</h4>
                    </div>
                </a>
            }
            else
            {                
                <div class="thumbnail list-group-item list-group-item-success">
                    <a style="text-decoration: none;" asp-action="CreateIntakeClientIdDocumentVerification" asp-route-id="@Model.Id" role="button">
                        <h4 style="align-content: end; color: #3c763d"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>ID Documents <br>&nbsp;&nbsp;&nbsp;&nbsp;Verification Form</h4>
                    </a>  
                    <a style="text-decoration: none;" asp-route-id="@Model.Id" asp-action="PrintIDDocumentsVerificationForm" role="button" title="Print ID Documents Verification Form" target="_blank">
                        <i class="glyphicon glyphicon-print" style="position: absolute; right: 12px; top: 12px; color: #3c763d;"></i>
                    </a>
                </div>             
            }
        </div>
        <div class="col-sm-3 col-md-2">
            @if (Model.IntakeForeignLanguage == null)
            {
                <a style="text-decoration: none;" asp-action="CreateForeignLanguage" asp-route-id="@Model.Id" role="button">
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Foreign Lang. <br>&nbsp;&nbsp;&nbsp;&nbsp;Acknowledgement</h4>
                    </div>
                </a>
            }
            else
            {                
                <div class="thumbnail list-group-item list-group-item-success">
                    <a style="text-decoration: none;" asp-action="CreateForeignLanguage" asp-route-id="@Model.Id" role="button">
                        <h4 style="align-content: end; color: #3c763d"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Foreign Lang.  <br>&nbsp;&nbsp;&nbsp;&nbsp;Acknowledgement</h4>
                    </a>
                    <a style="text-decoration: none;" asp-route-id="@Model.Id" asp-action="PrintForeignLangAcknowledgement" role="button" title="Print Foreign Lang. Acknowledgement" target="_blank">
                        <i class="glyphicon glyphicon-print" style="position: absolute; right: 12px; top: 12px; color: #3c763d;"></i>
                    </a>
                </div>
            }
        </div>
        <div class="col-sm-3 col-md-2">
            @if (Model.IntakeConsentForTelehealth == null)
            {
                <a style="text-decoration: none;" asp-action="CreateConsentForTelehealth" asp-route-id="@Model.Id" role="button">
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Telehealth <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Consent</h4>
                    </div>
                </a>
            }
            else
            {
                <div class="thumbnail list-group-item list-group-item-success">
                    <a style="text-decoration: none;" asp-action="CreateConsentForTelehealth" asp-route-id="@Model.Id" role="button">
                        <h4 style="align-content: end; color: #3c763d"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Telehealth <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Consent</h4>
                    </a>
                    <a style="text-decoration: none;" asp-route-id="@Model.Id" asp-action="PrintTelehealthConsent" role="button" title="Print Telehealth Consent" target="_blank">
                        <i class="glyphicon glyphicon-print" style="position: absolute; right: 12px; top: 12px; color: #3c763d;"></i>
                    </a>
                </div>
            }
        </div>
        <div class="col-sm-3 col-md-2">
            @if (Model.IntakeNoDuplicateService == null)
            {
                <a style="text-decoration: none;" asp-action="CreateNoDuplicateService" asp-route-id="@Model.Id" role="button">
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>No Duplicate <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Service</h4>
                    </div>
                </a>
            }
            else
            {
                <div class="thumbnail list-group-item list-group-item-success">
                    <a style="text-decoration: none;" asp-action="CreateNoDuplicateService" asp-route-id="@Model.Id" role="button">
                        <h4 style="align-content: end; color: #3c763d"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>No Duplicate <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Service</h4>
                    </a>
                    <a style="text-decoration: none;" asp-route-id="@Model.Id" asp-action="PrintNoDuplicateService" role="button" title="Print No Duplicate Service" target="_blank">
                        <i class="glyphicon glyphicon-print" style="position: absolute; right: 12px; top: 12px; color: #3c763d;"></i>
                    </a>
                </div>
            }
        </div>
        <div class="col-sm-3 col-md-2">
            @if (Model.IntakeAdvancedDirective == null)
            {
                <a style="text-decoration: none;" asp-action="CreateIntakeAdvenceDirective" asp-route-id="@Model.Id" role="button">
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Advanced <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Directive</h4>
                    </div>
                </a>
            }
            else
            {
                <div class="thumbnail list-group-item list-group-item-success">
                    <a style="text-decoration: none;" asp-action="CreateIntakeAdvenceDirective" asp-route-id="@Model.Id" role="button">
                        <h4 style="align-content: end; color: #3c763d"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Advanced <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Directive</h4>
                    </a>
                    <a style="text-decoration: none;" asp-route-id="@Model.Id" asp-action="PrintAdvancedDirective" role="button" title="Print Advanced Directive" target="_blank">
                        <i class="glyphicon glyphicon-print" style="position: absolute; right: 12px; top: 12px; color: #3c763d;"></i>
                    </a>
                </div>
            }
        </div>
        <div class="col-sm-3 col-md-2">
            @if (Model.IntakeNoHarm == null)
            {
                <a style="text-decoration: none;" asp-action="CreateIntakeNoHarm" asp-route-id="@Model.Id" role="button">
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>No Harm<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contract</h4>
                    </div>
                </a>
            }
            else
            {
                <div class="thumbnail list-group-item list-group-item-success">
                    <a style="text-decoration: none;" asp-action="CreateIntakeNoHarm" asp-route-id="@Model.Id" role="button">
                        <h4 style="align-content: end; color: #3c763d"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>No Harm<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contract</h4>
                    </a>
                    <a style="text-decoration: none;" asp-route-id="@Model.Id" asp-action="PrintNoHarm" role="button" title="Print Advanced Directive" target="_blank">
                        <i class="glyphicon glyphicon-print" style="position: absolute; right: 12px; top: 12px; color: #3c763d;"></i>
                    </a>
                </div>
            }
        </div>
    </div>
</div>