@using Microsoft.AspNetCore.Identity
@using KyoS.Web.Data.Entities
@inject UserManager<UserEntity> UserManager
@{
    UserEntity user = await UserManager.GetUserAsync(User);
    var name = string.Empty;
    if (user != null)
    {
        name = user.FullName;
    }    
 }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KyoS Notes</title>
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/font-awesome-ie7.css" rel="stylesheet">
    <link href="~/css/font-awesome-ie7.min.css" rel="stylesheet">   
    
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />        
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />        
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Desktop" asp-action="Index" class="navbar-brand">KyoS Notes</a>
            </div>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin")))
                    {
                        <li class="class=" dropdown open"">
                            <a asp-area="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
                                Data Operation <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a asp-area="" asp-controller="Clinics" asp-action="Index">Clinics</a></li>
                                <li><a asp-area="" asp-controller="Supervisors" asp-action="Index">Supervisors</a></li>
                                <li>@Html.ActionLink("Facilitators", "Index", "Facilitators")</li>
                                <li>@Html.ActionLink("Clients", "Index", "Clients")</li>
                                <li>@Html.ActionLink("MTPs", "Index", "MTPs")</li>
                                @*<li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Groups", "Index", "Groups")</li>
                                <li>@Html.ActionLink("Workdays", "Index", "Workdays")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Topics", "Index", "Themes")</li>
                                <li>@Html.ActionLink("Activities", "Index", "Activities")</li>*@
                                @*<li role="separator" class="divider"></li>*@
                                @*<li><a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></li>*@
                            </ul>
                        </li>

                        @*<li class="class=" dropdown open"">
                <a asp-area="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
                    Prototypes <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>@Html.ActionLink("Notes", "Index", "NotesPrototypes")</li>
                    <li>@Html.ActionLink("Plans", "Index", "Plans")</li>
                </ul>
            </li>*@
                        <li><a asp-area="" asp-controller="Account" asp-action="Index">Users</a></li>
                    }
                    else
                      if (User.Identity.IsAuthenticated && (User.IsInRole("Mannager")))
                    {
                        <li class="class=" dropdown open"">
                            <a asp-area="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
                                Data Operation <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a asp-area="" asp-controller="Supervisors" asp-action="Index">Supervisors</a></li>
                                <li>@Html.ActionLink("Facilitators", "Index", "Facilitators")</li>
                                <li>@Html.ActionLink("Groups", "Index", "Groups")</li>
                                <li>@Html.ActionLink("Clients", "Index", "Clients")</li>
                                <li>@Html.ActionLink("MTPs", "Index", "MTPs")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Workdays", "Index", "Workdays")</li>
                                <li>@Html.ActionLink("Topics", "Index", "Themes")</li>
                                @*<li role="separator" class="divider"></li>
                    <li><a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></li>*@
                            </ul>
                        </li>
                        <li><a asp-area="" asp-controller="Account" asp-action="Index">Users</a></li>
                    }
                    else
                          if (User.Identity.IsAuthenticated && (User.IsInRole("Supervisor")))
                    {
                        <li class="class=" dropdown open"">
                            <a asp-area="" class="dropdown-toggle" asp-controller="Clients" asp-action="Index" data-toggle="dropdown" role="button" aria-expanded="true">
                                Clients <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Clients", "Index", "Clients")</li>
                                <li>@Html.ActionLink("MTPs", "Index", "MTPs")</li>
                            </ul>
                        </li>
                        <li class="class=" dropdown open"">
                            <a asp-area="" class="dropdown-toggle" asp-controller="Themes" asp-action="Index" data-toggle="dropdown" role="button" aria-expanded="true">
                                Topics / Activities <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Topics", "Index", "Themes")</li>
                                <li>@Html.ActionLink("Activities", "ActivitiesSupervision", "Activities")</li>
                            </ul>
                        </li>
                        <li class="class=" dropdown open"">
                            <a asp-area="" class="dropdown-toggle" asp-controller="Notes" data-toggle="dropdown" role="button" aria-expanded="true">
                                Notes <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Approve notes", "NotesSupervision", "Notes")</li>
                            </ul>
                        </li>
                        <li><a asp-area="" asp-controller="Account" asp-action="Index">Users</a></li>
                    }
                    else
                              if (User.Identity.IsAuthenticated && (User.IsInRole("Facilitator")))
                                {
                                    <li class="class=" dropdown open"">
                                        <a asp-area="" class="dropdown-toggle" asp-controller="Themes" asp-action="Index" data-toggle="dropdown" role="button" aria-expanded="true">
                                            Activities <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>@Html.ActionLink("Activities", "Index", "Activities")</li>
                                            <li>@Html.ActionLink("Activities per week", "ActivitiesPerWeek", "Activities")</li>
                                        </ul>
                                    </li>
                                    <li class="class=" dropdown open"">
                                        <a asp-area="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
                                            Notes <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>@Html.ActionLink("Notes", "Index", "Notes")</li>
                                        </ul>
                                    </li>
                                    <li class="class=" dropdown open"">
                                        <a asp-area="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
                                            Reports <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>@Html.ActionLink("Daily assistance", "DailyAssistance", "Reports")</li>
                                        </ul>
                                    </li>
                                    <li><a asp-area="" asp-controller="Account" asp-action="Index">Users</a></li>
                                }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a class="">
                                @if (User.IsInRole("Facilitator"))
                                {
                                    <span class="label label-default">
                                        Facilitator
                                    </span>
                                }
                                @if (User.IsInRole("Supervisor"))
                                {
                                    <span class="label label-default">
                                        Supervisor
                                    </span>
                                }
                                @if (User.IsInRole("Mannager"))
                                {
                                    <span class="label label-default">
                                        Manager
                                    </span>
                                }
                                @if (User.IsInRole("Admin"))
                                {
                                    <span class="label label-default">
                                        Administrator
                                    </span>
                                }
                            </a>
                        </li>
                        <li class="class=" dropdown open"">
                            <a asp-area="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
                                @*<img class="profile-img img-fluid" src="assets/images/user.jpg" alt="">*@
                                @*<div class="user-info">*@                               
                                <span class="name pdd-right-5">@name</span>
                                @*<i class="ti-angle-down font-size-10"></i>*@
                                <span class="caret"></span>
                                @*</div>*@
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                @*<li>
                                    <a href="#">
                                        <i class="ti-settings pdd-right-10"></i>
                                        <span>Setting</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-user pdd-right-10"></i>
                                        <span>Profile</span>
                                    </a>
                                </li>*@
                                <li>
                                    <a href="#">
                                        <i class="ti-email pdd-right-10"></i>
                                        <span>Inbox</span>
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>                            
                                    <a asp-area="" asp-controller="Account" asp-action="Logout">
                                        <i class="ti-power-off pdd-right-10"></i>
                                        <span>Logout</span>
                                    </a>
                                </li>
                            </ul>
                            @*<a asp-area="" asp-controller="Account" asp-action="Index">@User.Identity.Name</a>*@
                        </li>
                        @*<li><a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></li>*@
                    }                    
                </ul>                
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2021 - KyoS Notes</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
