@using Microsoft.AspNetCore.Identity
@using KyoS.Web.Data.Entities
@using KyoS.Web.Data
@inject UserManager<UserEntity> UserManager
@inject DataContext DataContext
@{
    UserEntity user = await UserManager.GetUserAsync(User);

    var name = string.Empty;
    if (user != null)
    {
        name = user.FullName;
    }

    SettingEntity setting = null;
    if(user.Clinic != null)
        setting = DataContext.Settings.FirstOrDefault(s => s.Clinic.Id == user.Clinic.Id);

    int counts_of_message = DataContext.Messages.Count(m => (m.To == user.UserName && m.Status == KyoS.Common.Enums.MessageStatus.NotRead && m.Notification == false));
    int counts_of_notification = DataContext.Messages.Count(m => (m.To == user.UserName && m.Status == KyoS.Common.Enums.MessageStatus.NotRead && m.Notification == true));
    IEnumerable<MessageEntity> last3_notifications = DataContext.Messages
                                                                .Where(m => (m.To == user.UserName && m.Notification == true))
                                                                .OrderByDescending(m => m.Id)
                                                                .Take(3)
                                                                .ToList();
 }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DMS System</title>

    <link href="~/css/font-awesome.css" rel="stylesheet">
    <link href="~/css/font-awesome-ie7.css" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />    
</head>
<body>

    <div class="spinner">
        <div class="center-div">
            <div class="inner-div">
                <div class="loader"></div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #1e2833;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">
                    <label style="font-family:Tahoma; color:goldenrod;">
                        DMS
                    </label>
                    <label style="font-family:Tahoma; color:white;">
                        System
                    </label>
                </span>
            </div>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin")))
                    {
                        <li class="class=" dropdown open"">
                            <a asp-area="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true" style="background-color: #1e2833;">
                                Data Operation <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a asp-area="" asp-controller="Clinics" asp-action="Index">Clinics</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a asp-area="" asp-controller="Supervisors" asp-action="Index">Supervisors</a></li>
                                <li>@Html.ActionLink("Facilitators", "Index", "Facilitators")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Case Managers", "Index", "CaseMannager")</li>
                                <li>@Html.ActionLink("TCM Supervisors", "Index", "TCMSupervisors")</li>
                            </ul>
                        </li>
                        <li><a asp-area="" asp-controller="Incidents" asp-action="Index">Incidents</a></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="Index">Users</a></li>
                        <li><a asp-area="" asp-controller="Settings" asp-action="Index">Settings</a></li>
                    }
                    else
                 if (User.Identity.IsAuthenticated && (User.IsInRole("Manager")))
                    {
                        <li class="class=" dropdown open"">
                            <a asp-area="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true" style="background-color: #1e2833;">
                                General <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Health Insurances", "Index", "HealthInsurances")</li>
                                <li role="separator" class="divider"></li>
                                @if (setting != null && (setting.MentalHealthClinic || setting.TCMClinic))
                                {
                                    <li>@Html.ActionLink("Clients", "Index", "Clients")</li>
                                }
                                else
                                {
                                    <li class="disabled"><a class="test" href="#">Clients</a></li>
                                }

                                @if (setting != null && setting.MentalHealthClinic)
                                {
                                    <li>@Html.ActionLink("Diagnostics", "Index", "Diagnostics")</li>
                                }
                                else
                                {
                                    <li class="disabled"><a class="test" href="#">Diagnostics</a></li>
                                }

                                @if (setting != null && (setting.MentalHealthClinic || setting.TCMClinic))
                                {
                                    <li>@Html.ActionLink("Units per Insurances / Clients", "UnitsAvailability", "HealthInsurances")</li>
                                }
                                else
                                {
                                    <li class="disabled"><a class="test" href="#">Units per Insurances / Clients</a></li>
                                }
                                <li role="separator" class="divider"></li>
                                @if (setting != null && (setting.MentalHealthClinic || setting.TCMClinic))
                                {
                                    <li>@Html.ActionLink("Doctors", "Index", "Doctors")</li>
                                }
                                else
                                {
                                    <li class="disabled"><a class="test" href="#">Doctors</a></li>
                                }
                                @if (setting != null && (setting.MentalHealthClinic || setting.TCMClinic))
                                {
                                    <li>@Html.ActionLink("Psychiatrists", "Index", "Psychiatrists")</li>
                                }
                                else
                                {
                                    <li class="disabled"><a class="test" href="#">Psychiatrists</a></li>
                                }
                                @if (setting != null && (setting.MentalHealthClinic || setting.TCMClinic))
                                {
                                    <li>@Html.ActionLink("Legal Guardians", "Index", "LegalGuardians")</li>
                                }
                                else
                                {
                                    <li class="disabled"><a class="test" href="#">Legal Guardians</a></li>
                                }
                                @if (setting != null && (setting.MentalHealthClinic || setting.TCMClinic))
                                {
                                    <li>@Html.ActionLink("Emergency Contacts", "Index", "EmergencyContacts")</li>
                                }
                                else
                                {
                                    <li class="disabled"><a class="test" href="#">Emergency Contacts</a></li>
                                }
                                @if (setting != null && (setting.MentalHealthClinic || setting.TCMClinic))
                                {
                                    <li>@Html.ActionLink("Referreds", "Index", "Referreds")</li>
                                }
                                else
                                {
                                    <li class="disabled"><a class="test" href="#">Referreds</a></li>
                                }
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Templates DOC.", "Index", "TemplatesDOC")</li>
                            </ul>
                        </li>

                        @if (setting != null && setting.MentalHealthClinic)
                        {
                            <li class="class=" dropdown open"">
                                <a asp-area="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true" style="background-color: #1e2833;">
                                    CMH <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a asp-area="" asp-controller="Supervisors" asp-action="Index">Supervisors</a></li>
                                    <li><a asp-area="" asp-controller="Facilitators" asp-action="Index">Facilitators</a></li>
                                    <li><a asp-area="" asp-controller="DocumentsAssistants" asp-action="Index">Documents Assistants</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li>@Html.ActionLink("Topics / Themes", "Index", "Themes")</li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-submenu">
                                        <a class="test" tabindex="-1" href="#">Groups</a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("PSR", "Index", "Groups")</li>
                                            <li>@Html.ActionLink("Group", "Group", "Groups")</li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="test" tabindex="-1" href="#">Workdays</a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("PSR", "Index", "Workdays")</li>
                                            <li>@Html.ActionLink("Individual", "IndividualWorkdays", "Workdays")</li>
                                            <li>@Html.ActionLink("Group", "GroupWorkdays", "Workdays")</li>
                                        </ul>
                                    </li>
                                    <li>@Html.ActionLink("Session Changes", "ChangeNotes", "Notes")</li>
                                    <li role="separator" class="divider"></li>
                                    <li>@Html.ActionLink("Intakes", "Index", "Intakes")</li>
                                    <li class="dropdown-submenu">
                                        <a class="test" tabindex="-1" href="#">Fars Forms</a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Clients without FARS", "ClientswithoutFARS", "FarsForms")</li>
                                            <li>@Html.ActionLink("FARS Forms", "Index", "FarsForms")</li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="test" tabindex="-1" href="#">MTPs</a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-submenu">
                                                <a class="test" tabindex="-1" href="#">MTPs / Reviews</a>
                                                <ul class="dropdown-menu">
                                                    <li>@Html.ActionLink("Clients without MTP", "ClientsWithoutMTP", "Clients")</li>
                                                    <li>@Html.ActionLink("Pending MTP Reviews", "PendingMtpReview", "MTPs")</li>
                                                    <li>@Html.ActionLink("All MTPs", "Index", "MTPs")</li>
                                                </ul>
                                            </li>
                                            <li class="dropdown-submenu">
                                                <a class="test" tabindex="-1" href="#">Addendums</a>
                                                <ul class="dropdown-menu">
                                                    <li>@Html.ActionLink("Pending Addendums", "PendingAdendum", "MTPs")</li>
                                                    <li>@Html.ActionLink("All Addendums", "IndexAdendum", "MTPs")</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="test" tabindex="-1" href="#">BIOs</a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Clients without BIO", "ClientswithoutBIO", "Bios")</li>
                                            <li>@Html.ActionLink("Behavioral Health History", "IndexBehavioralHealthHistory", "Bios")</li>
                                            <li>@Html.ActionLink("Medications", "Index", "Medications")</li>
                                            <li>@Html.ActionLink("All BIOs", "Index", "Bios")</li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="test" tabindex="-1" href="#">Discharges</a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Clients without Discharge", "ClientswithoutDischarge", "Discharge")</li>
                                            <li>@Html.ActionLink("Pending Discharges", "PendingDischarge", "Discharge")</li>
                                            <li>@Html.ActionLink("All Discharges", "Index", "Discharge")</li>
                                        </ul>
                                    </li>
                                    <li>@Html.ActionLink("All Documents", "Alldocuments", "Clients")</li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="disabled">
                                <a class="test" tabindex="-1" href="#">CMH</a>
                            </li>
                        }
                        @if (setting != null && setting.TCMClinic)
                        {
                            <li class="class=" dropdown open"">
                                <a asp-area="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true" style="background-color: #1e2833;">
                                    TCM <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Case Managers", "Index", "CaseMannager")</li>
                                    <li>@Html.ActionLink("TCM Supervisors", "Index", "TCMSupervisors")</li>
                                    <li role="separator" class="divider"></li>
                                    <li>@Html.ActionLink("Services / Stages", "Index", "TCMServices")</li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-submenu">
                                        <a class="test" tabindex="-1" href="#">TCM Cases</a>
                                        <ul class="dropdown-menu">
                                            <li><a asp-area="" asp-controller="TCMClients" asp-action="Index">TCM Cases</a></li>
                                            <li><a asp-area="" asp-controller="TCMClients" asp-action="GetCaseNotServicePlan">Not Started Cases</a></li>
                                            <li><a asp-area="" asp-controller="TCMClients" asp-action="GetCaseClose">Close Cases</a></li>
                                        </ul>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>@Html.ActionLink("TCM All Documents", "AllDocuments", "TCMClients")</li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-submenu">
                                        <a class="test" tabindex="-1" href="#">Services Plans / Clients</a>
                                        <ul class="dropdown-menu">
                                            @*<li><a asp-area="" asp-controller="TCMServicePlans" asp-action="Index">Open</a></li>*@
                                            @*<li><a asp-area="" asp-controller="TCMServicePlans" asp-action="AproveServicePlan">Pending Approval</a></li>*@
                                            @*<li><a asp-area="" asp-controller="TCMServicePlans" asp-action="ClosedServicePlan">Closed</a></li>*@
                                            <li>@Html.ActionLink("Started", "ServicePlanStarted", "TCMServiceplans", new { approved = 1 })</li>
                                            <li>@Html.ActionLink("Pending Approval", "ServicePlanStarted", "TCMServicePlans", new { approved = 1 })</li>
                                            <li>@Html.ActionLink("Approved", "ApprovedServicePlan", "TCMServiceplans")</li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="test" tabindex="-1" href="#">Addendums</a>
                                        <ul class="dropdown-menu">
                                            @*<li><a asp-area="" asp-controller="TCMAdendums" asp-action="Index">All Addendums</a></li>*@
                                            @*<li><a asp-area="" asp-controller="TCMAdendums" asp-action="AproveAdendum">Pending approval</a></li>*@
                                            <li>@Html.ActionLink("Pending", "AdendumApproved", "TCMServicePlans", new { approved = 1 })</li>
                                            <li>@Html.ActionLink("All Addendums", "Adendum", "TCMServicePlans", new { aview = 1 })</li>
                                        </ul>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-submenu">
                                        <a class="test" tabindex="-1" href="#">Activities</a>
                                        <ul class="dropdown-menu">
                                            <li><a asp-area="" asp-controller="TCMServices" asp-action="ServiceActivity">All Activities</a></li>
                                            <li><a asp-area="" asp-controller="TCMServices" asp-action="PendingActivity">Pending approval</a></li>
                                        </ul>
                                    </li>
                                    <li>@Html.ActionLink("Billing", "BillingForWeek", "TCMBilling")</li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="disabled">
                                <a class="test" tabindex="-1" href="#">TCM</a>
                            </li>
                        }
                        <li><a asp-area="" asp-controller="Incidents" asp-action="Index">Incidents</a></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="Index">Users</a></li>
                    }
                    else
                      if (User.Identity.IsAuthenticated && (User.IsInRole("Supervisor")))
                    {
                        <li class="class=" dropdown open"">
                            <a asp-area="" class="dropdown-toggle" asp-controller="Clients" asp-action="Index" data-toggle="dropdown" role="button" aria-expanded="true" style="background-color: #1e2833;">
                                Clients <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Clients", "Index", "Clients")</li>
                                <li>@Html.ActionLink("MTPs", "Index", "MTPs")</li>
                            </ul>
                        </li>
                        <li class="class=" dropdown open"">
                            <a asp-area="" class="dropdown-toggle" asp-controller="Themes" asp-action="Index" data-toggle="dropdown" role="button" aria-expanded="true" style="background-color: #1e2833;">
                                Topics / Activities <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Topics / Themes", "Index", "Themes")</li>
                                <li>@Html.ActionLink("Activities / Facilitator's Interventions", "ActivitiesSupervision", "Activities")</li>
                            </ul>
                        </li>
                        <li class="class=" dropdown open"">
                            <a asp-area="" class="dropdown-toggle" asp-controller="Clients" asp-action="Index" data-toggle="dropdown" role="button" aria-expanded="true" style="background-color: #1e2833;">
                                Documentation <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Intakes", "Index", "Intakes")</li>
                                <li>@Html.ActionLink("FARS Forms", "Index", "FarsForms")</li>
                                <li>@Html.ActionLink("Medical History", "MedicalHistory", "Intakes")</li>
                                <li class="dropdown-submenu">
                                    <a class="test" tabindex="-1" href="#">MTPs</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-submenu">
                                            <a class="test" tabindex="-1" href="#">MTPs / Reviews</a>
                                            <ul class="dropdown-menu">
                                                <li>@Html.ActionLink("Clients without MTP", "ClientsWithoutMTP", "Clients")</li>
                                                <li>@Html.ActionLink("Pending MTP Reviews", "PendingMtpReview", "MTPs")</li>
                                                <li>@Html.ActionLink("All MTPs", "Index", "MTPs")</li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a class="test" tabindex="-1" href="#">Addendums</a>
                                            <ul class="dropdown-menu">
                                                <li>@Html.ActionLink("Pending Addendums", "PendingAdendum", "MTPs")</li>
                                                <li>@Html.ActionLink("All Addendums", "IndexAdendum", "MTPs")</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a class="test" tabindex="-1" href="#">BIOs</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Clients without BIO", "ClientswithoutBIO", "Bios")</li>
                                        <li>@Html.ActionLink("Behavioral Health History", "IndexBehavioralHealthHistory", "Bios")</li>
                                        <li>@Html.ActionLink("Medications", "Index", "Medications")</li>
                                        <li>@Html.ActionLink("BIOs", "Index", "Bios")</li>
                                    </ul>
                                </li>
                                <li>@Html.ActionLink("Discharges", "Index", "Discharge")</li>
                                <li>@Html.ActionLink("All Documents", "Alldocuments", "Clients")</li>
                            </ul>
                        </li>
                        <li class="class=" dropdown open"">
                            <a asp-area="" class="dropdown-toggle" asp-controller="Notes" data-toggle="dropdown" role="button" aria-expanded="true" style="background-color: #1e2833;">
                                Notes <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Approve PSR notes", "NotesSupervision", "Notes")</li>
                                <li>@Html.ActionLink("Approve Individual notes", "IndNotesSupervision", "Notes")</li>
                                <li>@Html.ActionLink("Approve Group notes", "GroupNotesSupervision", "Notes")</li>
                            </ul>
                        </li>
                        <li><a asp-area="" asp-controller="Incidents" asp-action="Index">Incidents</a></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="Index">Users</a></li>
                    }
                    else
                                         if (User.Identity.IsAuthenticated && (User.IsInRole("Facilitator")))
                    {
                        <li class="class=" dropdown open"">
                            <a asp-area="" class="dropdown-toggle" asp-controller="Themes" asp-action="Index" data-toggle="dropdown" role="button" aria-expanded="true" style="background-color: #1e2833;">
                                General <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Clients", "Index", "Clients")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("PSR Groups", "Index", "Groups")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Activities / Facilitator's Interventions", "Index", "Activities")</li>
                                <li>@Html.ActionLink("Activities / Facilitator's Interventions per PSR week", "ActivitiesPerWeek", "Activities")</li>
                                <li>@Html.ActionLink("Activities / Facilitator's Interventions per Group week", "ActivitiesPerGroupWeek", "Activities")</li>
                            </ul>
                        </li>
                        <li class="class=" dropdown open"">
                            <a asp-area="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true" style="background-color: #1e2833;">
                                Notes <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("PSR Therapy", "Index", "Notes")</li>
                                <li>@Html.ActionLink("Individual Therapy", "IndividualNotes", "Notes")</li>
                                <li>@Html.ActionLink("Group Therapy", "GroupNotes", "Notes")</li>
                            </ul>
                        </li>
                        <li class="class=" dropdown open"">
                            <a asp-area="" class="dropdown-toggle" asp-controller="Clients" asp-action="Index" data-toggle="dropdown" role="button" aria-expanded="true" style="background-color: #1e2833;">
                                Documentation <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Intakes", "Index", "Intakes")</li>
                                <li class="dropdown-submenu">
                                    <a class="test" tabindex="-1" href="#">Fars Forms</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Clients without FARS", "ClientswithoutFARS", "FarsForms")</li>
                                        <li>@Html.ActionLink("All FARS Forms", "Index", "FarsForms")</li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a class="test" tabindex="-1" href="#">MTPs</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-submenu">
                                            <a class="test" tabindex="-1" href="#">MTPs / Reviews</a>
                                            <ul class="dropdown-menu">
                                                <li>@Html.ActionLink("Clients without MTP", "ClientsWithoutMTP", "Clients")</li>
                                                <li>@Html.ActionLink("Pending MTP Reviews", "PendingMtpReview", "MTPs")</li>
                                                <li>@Html.ActionLink("All MTPs", "Index", "MTPs")</li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a class="test" tabindex="-1" href="#">Addendums</a>
                                            <ul class="dropdown-menu">
                                                <li>@Html.ActionLink("Pending Addendums", "PendingAdendum", "MTPs")</li>
                                                <li>@Html.ActionLink("All Addendums", "IndexAdendum", "MTPs")</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a class="test" tabindex="-1" href="#">BIOs</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Clients without BIO", "ClientswithoutBIO", "Bios")</li>
                                        <li>@Html.ActionLink("Behavioral Health History", "IndexBehavioralHealthHistory", "Bios")</li>
                                        <li>@Html.ActionLink("Medications", "Index", "Medications")</li>
                                        <li>@Html.ActionLink("All BIOs", "Index", "Bios")</li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a class="test" tabindex="-1" href="#">Discharges</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Clients without Discharge", "ClientswithoutDischarge", "Discharge")</li>
                                        <li>@Html.ActionLink("Pending Discharges", "PendingDischarge", "Discharge")</li>
                                        <li>@Html.ActionLink("Discharges for services", "DischargeOfService", "Discharge")</li>
                                        <li>@Html.ActionLink("All Discharges", "Index", "Discharge")</li>
                                    </ul>
                                </li>
                                <li>@Html.ActionLink("All Documents", "Alldocuments", "Clients")</li>
                            </ul>
                        </li>
                        <li class="class=" dropdown open"">
                            <a asp-area="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true" style="background-color: #1e2833;">
                                Reports <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("PSR Daily assistance", "DailyAssistance", "Reports")</li>
                                <li>@Html.ActionLink("PSR Individual sign in sheet", "IndividualSignInSheet", "Notes")</li>
                            </ul>
                        </li>
                        <li><a asp-area="" asp-controller="Incidents" asp-action="Index">Incidents</a></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="Index">Users</a></li>
                    }
                    else
                                             if (User.Identity.IsAuthenticated && (User.IsInRole("TCMSupervisor")))
                    {
                        <li class="class=" dropdown open"">
                            <a asp-area="" class="dropdown-toggle" asp-controller="TCMClients" asp-action="Index" data-toggle="dropdown" role="button" aria-expanded="true" style="background-color: #1e2833;">
                                Cases <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="dropdown-submenu">
                                    <a class="test" tabindex="-1" href="#">Cases</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Open", "GetCaseOpen", "TCMClients")</li>
                                        <li>@Html.ActionLink("Close", "GetCaseClose", "TCMClients")</li>
                                        <li>@Html.ActionLink("All Cases/Open case", "Index", "TCMClients")</li>
                                    </ul>
                                </li>
                                <li>@Html.ActionLink("Not started case", "GetCaseNotServicePlan", "TCMClients")</li>

                            </ul>
                        </li>
                        <li class="class=" dropdown open"">
                            <a asp-area="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true" style="background-color: #1e2833;">
                                Documents <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="dropdown-submenu">
                                    <a class="test" tabindex="-1" href="#">Service Plan</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Started", "ServicePlanStarted", "TCMServiceplans", new { approved = 1 })</li>
                                        <li>@Html.ActionLink("Pending Approval", "ServicePlanStarted", "TCMServicePlans", new { approved = 1 })</li>
                                        <li>@Html.ActionLink("Approved", "ApprovedServicePlan", "TCMServiceplans")</li>
                                    </ul>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-submenu">
                                    <a class="test" tabindex="-1" href="#">Addendum</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Pending", "AdendumApproved", "TCMServicePlans", new { approved = 1 })</li>
                                        <li>@Html.ActionLink("All Addendums", "Adendum", "TCMServicePlans", new { aview = 1 })</li>
                                    </ul>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-submenu">
                                    <a class="test" tabindex="-1" href="#">Service Plan Review</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Started", "ServicePlanReviewApproved", "TCMServicePlanReviews", new { approved = 0 })</li>
                                        <li>@Html.ActionLink("Pending Approval", "ServicePlanReviewApproved", "TCMServicePlanReviews", new { approved = 1 })</li>
                                        <li>@Html.ActionLink("Approved", "ServicePlanReviewApproved", "TCMServicePlanReviews", new { approved = 2 })</li>
                                    </ul>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-submenu">
                                    <a class="test" tabindex="-1" href="#">Assessments</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Pending Approval", "TCMAssessmentApproved", "TCMAssessments", new { approved = 1 })</li>
                                        <li>@Html.ActionLink("Approved", "TCMAssessmentApproved", "TCMAssessments", new { approved = 2 })</li>
                                    </ul>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-submenu">
                                    <a class="test" tabindex="-1" href="#">FARS Forms</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Pending Approval", "TCMFarsApproved", "TCMFarsForms", new { status = KyoS.Common.Enums.FarsStatus.Pending })</li>
                                        <li>@Html.ActionLink("Approved", "TCMFarsApproved", "TCMFarsForms", new { status = KyoS.Common.Enums.FarsStatus.Approved })</li>
                                    </ul>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-submenu">
                                    <a class="test" tabindex="-1" href="#">Appendix J</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Pending Approval", "ApendiceJStatus", "TCMIntakes", new { approved = 1 })</li>
                                        <li>@Html.ActionLink("Approved", "ApendiceJStatus", "TCMIntakes", new { approved = 2 })</li>
                                    </ul>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-submenu">
                                    <a class="test" tabindex="-1" href="#">Discharge</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Pending", "TCMDischargeApproved", "TCMDischarges", new { approved = 1 })</li>
                                        <li>@Html.ActionLink("Discharge all", "Index", "TCMDischarges")</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="class=" dropdown open"">
                            <a asp-area="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true" style="background-color: #1e2833;">
                                Notes <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="dropdown-submenu">
                                    <a class="test" tabindex="-1" href="#">Notes</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Started", "NotesStatus", "TCMNotes", new { status = @KyoS.Common.Enums.NoteStatus.Edition })</li>
                                        <li>@Html.ActionLink("Pending Approval", "NotesStatus", "TCMNotes", new { status = @KyoS.Common.Enums.NoteStatus.Pending })</li>
                                        <li>@Html.ActionLink("Approved", "NotesStatus", "TCMNotes", new { status = @KyoS.Common.Enums.NoteStatus.Approved })</li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a class="test" tabindex="-1" href="#">Activity</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Pending Activity", "PendingActivity", "TCMServices")</li>
                                        <li>@Html.ActionLink("Activity for service", "ServiceActivity", "TCMServices")</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a asp-area="" asp-controller="Incidents" asp-action="Index">Incidents</a></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="Index">Users</a></li>
                    }
                    else
                                                 if (User.Identity.IsAuthenticated && (User.IsInRole("CaseManager")))
                    {
                        <li class="class=" dropdown open"">
                            <a asp-area="" class="dropdown-toggle" asp-controller="Themes" asp-action="Index" data-toggle="dropdown" role="button" aria-expanded="true" style="background-color: #1e2833;">
                                Cases <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="dropdown-submenu">
                                    <a class="test" tabindex="-1" href="#">Cases</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Open", "GetCaseOpen", "TCMClients")</li>
                                        <li>@Html.ActionLink("Close", "GetCaseClose", "TCMClients")</li>
                                        <li>@Html.ActionLink("All Cases", "Index", "TCMClients")</li>
                                    </ul>
                                </li>
                                <li>@Html.ActionLink("Not started case", "GetCaseNotServicePlan", "TCMClients")</li>
                                <li>@Html.ActionLink("Open Binder", "Index", "TCMIntakes")</li>
                            </ul>
                        </li>
                        <li class="class=" dropdown open"">
                            <a asp-area="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true" style="background-color: #1e2833;">
                                Documents <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="dropdown-submenu">
                                    <a class="test" tabindex="-1" href="#">Service Plan</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Started", "ServicePlanStarted", "TCMServiceplans", new { approved = 1 })</li>
                                        <li>@Html.ActionLink("Pending Approval", "ServicePlanStarted", "TCMServicePlans", new { approved = 1 })</li>
                                        <li>@Html.ActionLink("Approved", "ApprovedServicePlan", "TCMServiceplans")</li>
                                    </ul>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-submenu">
                                    <a class="test" tabindex="-1" href="#">Addendum</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Pending", "AdendumApproved", "TCMServicePlans", new { approved = 1 })</li>
                                        <li>@Html.ActionLink("All Addendums", "Adendum", "TCMServicePlans", new { aview = 1 })</li>
                                    </ul>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-submenu">
                                    <a class="test" tabindex="-1" href="#">Service Plan Review</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Started", "ServicePlanReviewApproved", "TCMServicePlanReviews", new { approved = 0 })</li>
                                        <li>@Html.ActionLink("Pending Approval", "ServicePlanReviewApproved", "TCMServicePlanReviews", new { approved = 1 })</li>
                                        <li>@Html.ActionLink("Approved", "ServicePlanReviewApproved", "TCMServicePlanReviews", new { approved = 2 })</li>
                                    </ul>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-submenu">
                                    <a class="test" tabindex="-1" href="#">Assessments</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Pending Approval", "TCMAssessmentApproved", "TCMAssessments", new { approved = 1 })</li>
                                        <li>@Html.ActionLink("Approved", "TCMAssessmentApproved", "TCMAssessments", new { approved = 2 })</li>
                                    </ul>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-submenu">
                                    <a class="test" tabindex="-1" href="#">FARS Forms</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Pending Approval", "TCMFarsApproved", "TCMFarsForms", new { status = KyoS.Common.Enums.FarsStatus.Pending })</li>
                                        <li>@Html.ActionLink("Approved", "TCMFarsApproved", "TCMFarsForms", new { status = KyoS.Common.Enums.FarsStatus.Approved })</li>
                                    </ul>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-submenu">
                                    <a class="test" tabindex="-1" href="#">Appendix J</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Pending Approval", "ApendiceJStatus", "TCMIntakes", new { approved = 1 })</li>
                                        <li>@Html.ActionLink("Approved", "ApendiceJStatus", "TCMIntakes", new { approved = 2 })</li>
                                    </ul>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-submenu">
                                    <a class="test" tabindex="-1" href="#">Discharge</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Pending", "TCMDischargeApproved", "TCMDischarges", new { approved = 1 })</li>
                                        <li>@Html.ActionLink("All Discharge", "Index", "TCMDischarges")</li>
                                    </ul>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Domain/Objetives", "Domains", "TCMServicePlans")</li>
                                <li>@Html.ActionLink("Objetives", "Objectives", "TCMServicePlans")</li>
                            </ul>
                        </li>
                        <li class="class=" dropdown open"">
                            <a asp-area="" class="dropdown-toggle" asp-controller="TCMServices" asp-action="Index" data-toggle="dropdown" role="button" aria-expanded="true" style="background-color: #1e2833;">
                                Activities <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Activities for services", "ServiceActivity", "TCMServices")</li>
                            </ul>
                        </li>
                        <li><a asp-area="" asp-controller="Incidents" asp-action="Index">Incidents</a></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="Index">Users</a></li>
                    }
                    else
                 if (User.Identity.IsAuthenticated && (User.IsInRole("Documents_Assistant")))
                    {
                        <li class="class=" dropdown open"">
                            <a asp-area="" class="dropdown-toggle" asp-controller="Clients" asp-action="Index" data-toggle="dropdown" role="button" aria-expanded="true" style="background-color: #1e2833;">
                                Clients <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Clients", "Index", "Clients")</li>

                            </ul>
                        </li>
                        <li class="class=" dropdown open"">
                            <a asp-area="" class="dropdown-toggle" asp-controller="Clients" asp-action="Index" data-toggle="dropdown" role="button" aria-expanded="true" style="background-color: #1e2833;">
                                Documentation <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Intakes", "Index", "Intakes")</li>
                                <li>@Html.ActionLink("FARS Forms", "Index", "FarsForms")</li>
                                <li>@Html.ActionLink("Medical History", "MedicalHistory", "Intakes")</li>
                                <li>@Html.ActionLink("MTPs", "Index", "MTPs")</li>
                                <li>@Html.ActionLink("BIOs", "Index", "Bios")</li>
                                <li>@Html.ActionLink("All Documents", "Alldocuments", "Clients")</li>
                            </ul>
                        </li>

                        <li><a asp-area="" asp-controller="Incidents" asp-action="Index">Incidents</a></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="Index">Users</a></li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="class=" dropdown open"">
                            @if (counts_of_notification == 0)
                            {
                                <span class="notifications-counter-cero">@counts_of_notification</span>
                            }
                            else
                            {
                                <span class="notifications-counter">@counts_of_notification</span>
                            }

                            <a asp-area="" class="dropdown-toggle" data-toggle="dropdown" style="background-color: transparent;">
                                <i class="icon-bell">&nbsp;</i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="notice-header">
                                    <i class="icon-bell pdd-right-10"></i>
                                    <b><span class="text-gray">Last 3 notifications</span></b>
                                </li>
                                @foreach (var item in last3_notifications)
                                {
                                    <li>
                                        <a asp-controller="Messages" asp-action="Notifications">
                                            <div class="info">
                                                <span class="title">
                                                    @if (item.Status == KyoS.Common.Enums.MessageStatus.NotRead)
                                                    {
                                                        <span style="color:#0072c6;">@item.Title</span>
                                                    }
                                                    else
                                                    {
                                                        <span>@item.Title</span>
                                                    }
                                                </span>
                                                @{
                                                    TimeSpan sustract = DateTime.Now.Subtract(item.DateCreated);
                                                }
                                                @if (sustract.Days > 0)
                                                {
                                                    <span class="sub-title">
                                                        @sustract.Days days ago
                                                    </span>
                                                }
                                                else
                                                {
                                                    if (sustract.Hours > 0)
                                                    {
                                                        <span class="sub-title">
                                                            @sustract.Hours hours ago
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="sub-title">
                                                            @sustract.Minutes minutes ago
                                                        </span>
                                                    }
                                                }
                                            </div>
                                        </a>
                                    </li>
                                }
                                @if (last3_notifications.Count() == 0)
                                {
                                    <li>
                                        <a asp-controller="Messages" asp-action="Notifications">
                                            <div class="info">
                                                <span style="color:#0072c6;">No notifications for you &nbsp;&nbsp;&nbsp;&nbsp;</span>
                                            </div>
                                        </a>
                                    </li>
                                }
                                <li class="notice-footer">
                                    <span>
                                        <a asp-controller="Messages" asp-action="Notifications" class="text-gray">View all notifications &nbsp;<i class="icon-chevron-right pdd-left-5 font-size-10"></i></a>
                                    </span>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="">
                                @if (User.IsInRole("Facilitator"))
                                {
                                    <span class="label label-default">
                                        Facilitator
                                    </span>
                                }
                                @if (User.IsInRole("CaseManager"))
                                {
                                    <span class="label label-default">
                                        Case Manager
                                    </span>
                                }
                                @if (User.IsInRole("Supervisor"))
                                {
                                    <span class="label label-default">
                                        Supervisor
                                    </span>
                                }
                                @if (User.IsInRole("SupervisorTCM"))
                                {
                                    <span class="label label-default">
                                        TCM Supervisor
                                    </span>
                                }
                                @if (User.IsInRole("Manager"))
                                {
                                    <span class="label label-default">
                                        Manager
                                    </span>
                                }
                                @if (User.IsInRole("Admin"))
                                {
                                    <span class="label label-default">
                                        Administrator
                                    </span>
                                }
                                @if (User.IsInRole("Documents_Assistant"))
                                {
                                    <span class="label label-default">
                                        Documents Assistant
                                    </span>
                                }
                            </a>
                        </li>
                        <li class="class=" dropdown open"">
                            <a asp-area="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true" style="background-color: #1e2833;">
                                @*<img class="profile-img img-fluid" src="assets/images/user.jpg" alt="">*@
                                @*<div class="user-info">*@
                                <span class="name pdd-right-5">@name</span>
                                @*<i class="ti-angle-down font-size-10"></i>*@
                                <span class="caret"></span>
                                @*</div>*@
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a asp-area="" asp-controller="Messages" asp-action="Index">
                                        <i class="icon-envelope-alt" style="padding-right: 10px !important;"></i>
                                        Inbox
                                        @if (counts_of_message == 0)
                                        {
                                            <span class="message-counter-cero">@counts_of_message</span>
                                        }
                                        else
                                        {
                                            <span class="message-counter">@counts_of_message</span>
                                        }
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a asp-area="" asp-controller="Account" asp-action="Logout">
                                        <i class="icon-off" style="padding-right: 10px !important;"></i>
                                        <span>Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    
    <partial name="_CookieConsentPartial" />

    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2022 - DMS System</p>
        </footer>
    </div>    

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>            
    </environment>

    <script>
        $(document).ready(function () {
            $('.dropdown-submenu a.test').on("click", function (e) {
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });            
        });
        $(window).on('load', function () {
                $('.spinner').css('display', 'none');
            });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>

