@model KyoS.Web.Models.TCMDischargeViewModel

<div class="container-fluid">
    <div class="form-group col-md-4">
        <label asp-for="TcmServicePlan.TcmClient.Client.Name" class="control-label">Name of Recipient</label>&nbsp;*
        <input asp-for="TcmServicePlan.TcmClient.Client.Name" class="form-control" readonly>
        <span asp-validation-for="TcmServicePlan.TcmClient.Client.Name" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="TcmServicePlan.TcmClient.CaseNumber" class="control-label">Case No.</label>&nbsp;*
        <input asp-for="TcmServicePlan.TcmClient.CaseNumber" class="form-control" readonly>
        <span asp-validation-for="TcmServicePlan.TcmClient.CaseNumber" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="TcmServicePlan.TcmClient.DataOpen" class="control-label">Date of Admission</label>&nbsp;*
        <input asp-for="TcmServicePlan.TcmClient.DataOpen" class="form-control" readonly>
        <span asp-validation-for="TcmServicePlan.TcmClient.DataOpen" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="StaffingDate" class="control-label">Staffing Date</label>&nbsp;*
        <input asp-for="StaffingDate" class="form-control" readonly>
        <span asp-validation-for="StaffingDate" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="DischargeDate" class="control-label">Date of Discharge</label>&nbsp;*
        <input asp-for="DischargeDate" class="form-control">
        <span asp-validation-for="DischargeDate" class="text-danger"></span>
    </div>
</div>
<div class="container-fluid ">
    <div class="form-group col-md-6">
        <br />
        <label asp-for="PresentProblems" class="control-label">Present Problems (According to the “Presenting Problems” section of the Assessment that was completed upon admission)</label><br />
        <textarea asp-for="PresentProblems" class="form-control" rows="4"></textarea>
        <span asp-validation-for="PresentProblems" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="ProgressToward" class="control-label">Progress Toward (This is based on a review of functioning at admission, the identified needs and goals, the level of goal achievement, and the level of functioning at discharge as compared to the level of functioning at admission)</label>
        <textarea asp-for="ProgressToward" class="form-control" rows="4"></textarea>
        <span asp-validation-for="ProgressToward" class="text-danger"></span>
    </div>
</div>


@*
    <div class="container-fluid col-md-12">
        <h4>&nbsp; Services Provided (Check all that apply according to the services listed in the Service Plan)</h4>
       @for (int i = 0; i < Model.TcmDischargeServiceStatus.Count(); i++)
        {
               <div class="form-group col-md-6">
                   <div class="form-group col-md-1">
                       &nbsp;
                   </div>
                   <div class="form-group col-md-1">
                       <input type="checkbox" asp-for="@Model.TcmDischargeServiceStatus[i].Status" readonly/>
                   </div>
                   <div class="form-group col-md-1">
                       <input asp-for="@Model.TcmDischargeServiceStatus[i].CodeService" readonly/>
                   </div>
                   <div class="form-group col-md-3">
                       <input asp-for="@Model.TcmDischargeServiceStatus[i].NameService" style="width:150%" readonly/>
                   </div>

               </div>

        }

    </div>
*@
<div class="container-fluid">
    <div class="form-group col-md-12">
        <pre>
        <strong><u>Reason for Discharge </u></strong>(check only one):
        <input type="checkbox" asp-for="AllServiceInPlace"> All services in place/coordinated                           <input type="checkbox" asp-for="AllServiceInPlace"> Non-compliance with agency rules  
        <input type="checkbox" asp-for="Referred"> Referred/Transferred to other provider                      <input type="checkbox" asp-for="ClientMovedOutArea"> Client moved out of area
        <input type="checkbox" asp-for="ClientLeftVoluntarily"> Client left voluntarily/refused services                    <input type="checkbox" asp-for="LackOfProgress">  Lack of progress
        <input type="checkbox" asp-for="Other"> Other:                     <input asp-for="Other_Explain" style="width:80%">
        <input type="checkbox" asp-for="AdministrativeDischarge"> <strong>Administrative Discharge:</strong> 
        <textarea asp-for="AdministrativeDischarge_Explain" style="width:90%"></textarea>
        </pre>
    </div>
</div>

@*

    <div class="container-fluid">
        <table class="table table-hover table-responsive table-striped" id="MyTable">
            <thead>
                <tr>
                    <th class="col-md-3" align="center">
                        Provider/Agency
                    </th>
                    <th class="col-md-2" align="center">
                        Type of Service
                    </th>
                    <th class="col-md-3" align="center">
                        Address/Location
                    </th>
                    <th class="col-md-2" align="center">
                        Phone Number
                    </th>
                    <th class="col-md-2" align="center">
                        Next Appt.

                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.TcmDischargeFollowUp.Count(); i++)
                {
                    <tr>
                        <td>
                            <input asp-for="@Model.TcmDischargeFollowUp[i].Id" />
                            <input asp-for="@Model.TcmDischargeFollowUp[i].ProviderAgency" class="form-control" />
                        </td>
                        <td>
                            <input asp-for="@Model.TcmDischargeFollowUp[i].TypeService" class="form-control" />
                        </td>
                        <td>
                            <input asp-for="@Model.TcmDischargeFollowUp[i].Address_Location" class="form-control" />
                        </td>
                        <td>
                            <input asp-for="@Model.TcmDischargeFollowUp[i].PhoneNumber" class="form-control" />
                        </td>
                        <td>
                            <input asp-for="@Model.TcmDischargeFollowUp[i].NextAppt" class="form-control" />

                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
    <br />
*@