@model IEnumerable<KyoS.Web.Data.Entities.TCMDischargeEntity>

@if (Model != null)
{
    <div class="col-md-12">
        @if (ViewBag.Delete == "N")
        {
            <div class="alert alert-block alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>
                <strong class="red">
                    Error. It is not posible delete the TCM case
                </strong>
            </div>
        }
    </div>

     <div class="col-md-12">
         <div class="panel panel-default">
             <div class="panel-heading">
                <h3 class="panel-title">TCM Discharge</h3>
             </div>
             <div class="panel-body">
                 <table class="table table-hover table-responsive table-striped" id="MyTable">
                     <thead>
                         <tr>
                             <th class="col-md-2">
                                 Case Number
                             </th>
                             <th class="col-md-2">
                                 Client Name
                             </th>
                             <th class="col-md-2" style="text-align: center;">
                                 Open/Close
                             </th>
                             <th class="col-md-2" style="text-align: center;">
                                 Discharge Date
                             </th>
                             <th class="col-md-2" style="text-align: center;">
                                 Approved
                             </th>
                             <th class="col-md-2" style="text-align: center;">
                             </th>
                         </tr>
                     </thead>
                     <tbody>
                        @foreach (var item in Model)
                         {
                         <tr>
                             <td>
                                 @Html.DisplayFor(modelItem => item.TcmServicePlan.TcmClient.CaseNumber)
                             </td>
                             <td>
                                 @if (item.TcmServicePlan.TcmClient.Client.Gender == KyoS.Common.Enums.GenderType.Female)
                                 {
                                     <i class="glyphicon glyphicon-user btn-danger"></i>
                                 }
                                 @if (item.TcmServicePlan.TcmClient.Client.Gender == KyoS.Common.Enums.GenderType.Male)
                                 {
                                     <i class="glyphicon glyphicon-user btn-primary"></i>
                                 }
                                 &nbsp;
                                 @Html.DisplayFor(modelItem => item.TcmServicePlan.TcmClient.Client.Name)
                             <td align="center">
                                 @Html.DisplayFor(modelItem => item.TcmServicePlan.TcmClient.DataOpen)--@Html.DisplayFor(modelItem => item.TcmServicePlan.TcmClient.DataClose)
                             </td>
                             <td align="center">
                                 @Html.DisplayFor(modelItem => item.DischargeDate)
                             </td>
                             <td align="center">
                                 @if (item.Approved == 0)
                                 {
                                     <span class="label label-warning">
                                         Edition
                                     </span>
                                 }
                                 @if (item.Approved == 1)
                                 {
                                     <span class="label label-info">
                                         Pending
                                     </span>
                                 }
                                 @if (item.Approved == 2)
                                 {
                                     <span class="label label-info">
                                         Approved
                                     </span>
                                 }
                             </td>
                             <td align="right">
                                 @if (User.IsInRole("CaseManager"))
                                 {
                                     @if (@item.Approved == 0)
                                     {
                                         <a asp-action="Edit" asp-route-id="@item.Id" asp-route-origin="1" class="btn btn-warning" title="Edit TCM Discharge"><i class="glyphicon glyphicon-pencil"></i></a>
                                         <a asp-action="FinishEditing" asp-route-id="@item.Id" asp-route-origin="1" class="btn btn-success" title="Finish Editing TCM Discharge"><i class="glyphicon glyphicon-ok"></i></a>
                                         <i title="Approved" class="btn btn-success disabled glyphicon glyphicon-print"></i>
                                     }
                                     @if (item.Approved == 1)
                                     {
                                         <a asp-action="Edit" asp-route-id="@item.Id" asp-route-origin="2" class="btn btn-warning" title="Edit TCM Discharge"><i class="glyphicon glyphicon-pencil"></i></a>
                                         <i title="Approved" class="btn btn-success disabled glyphicon glyphicon-ok"></i>
                                         <i title="Approved" class="btn btn-success disabled glyphicon glyphicon-print"></i>
                                     }
                                     @if (item.Approved == 2)
                                     {
                                         <i title="Approved" class="btn btn-warning disabled glyphicon glyphicon-pencil"></i>
                                         <i title="Approved" class="btn btn-success disabled glyphicon glyphicon-ok"></i>
                                         <a asp-action="Print" asp-route-id="@item.Id" class="btn btn-success" title="Edit TCM Discharge"><i class="glyphicon glyphicon-print"></i></a>
                                     }
                                 }
                                 @if (User.IsInRole("TCMSupervisor"))
                                 {
                                     @if (@item.Approved == 0)
                                     {
                                         <i title="Approved" class="btn btn-warning disabled glyphicon glyphicon-pencil"></i>
                                         <i title="Approved" class="btn btn-success disabled glyphicon glyphicon-ok"></i>
                                         <i title="Approved" class="btn btn-success disabled glyphicon glyphicon-print"></i>
                                     }

                                     @if (item.Approved == 1)
                                     {
                                         <i title="Approved" class="btn btn-warning disabled glyphicon glyphicon-pencil"></i>
                                         <a asp-action="EditReadOnly" asp-route-id="@item.Id"  class="btn btn-success" title="Pending Approval"><i class="glyphicon glyphicon-ok"></i></a>
                                         <i title="Approved" class="btn btn-success disabled glyphicon glyphicon-print"></i>
                                     }
                                     @if (item.Approved == 2)
                                     {
                                         <i title="Approved" class="btn btn-warning disabled glyphicon glyphicon-pencil"></i>
                                         <i title="Approved" class="btn btn-success disabled glyphicon glyphicon-ok"></i>
                                         <a asp-action="Print" asp-route-id="@item.Id" class="btn btn-success" title="Edit TCM Discharge"><i class="glyphicon glyphicon-print"></i></a>
                                     }
                                 }
                                 @if (User.IsInRole("Manager"))
                                 {
                                     @if (@item.Approved < 1)
                                     {
                                         <i title="Approved" class="btn btn-warning disabled glyphicon glyphicon-pencil"></i>
                                         <i title="Approved" class="btn btn-success disabled glyphicon glyphicon-ok"></i>
                                         <i title="Approved" class="btn btn-success disabled glyphicon glyphicon-print"></i>
                                     }
                                     @if (item.Approved == 2)
                                     {
                                         <i title="Approved" class="btn btn-warning disabled glyphicon glyphicon-pencil"></i>
                                         <i title="Approved" class="btn btn-success disabled glyphicon glyphicon-ok"></i>
                                         <a asp-action="Print" asp-route-id="@item.Id" class="btn btn-success" title="Edit TCM Discharge"><i class="glyphicon glyphicon-print"></i></a>
                                     }
                                 }
                             </td>
                         </tr>
                         }
                     </tbody>
                 </table>
             </div>
         </div>
     </div>
}

