@model KyoS.Web.Models.TCMDischargeViewModel
@{
    ViewData["Title"] = "Create Discharge";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                @if (ViewData["origin"].ToString() == "0")
                {
                    @Html.ActionLink("All TCM Discharge", "TCMIntakeSectionDashboard", "TCMIntakes", new { id = @Model.TcmServicePlan.TcmClient.Id, section = 4 })
                }
                @if (ViewData["origin"].ToString() == "1")
                {
                    @Html.ActionLink("TCM Discharge","Index", "TCMDischarges", new { idTCMClient = @Model.TcmServicePlan.TcmClient.Id })
                }
                @if (ViewData["origin"].ToString() == "2")
                {
                    @Html.ActionLink("Case without Discharge", "TCMClientWithoutDischarge", "TCMDischarges")
                }
            </li>
            <li class="active">Create</li>
        </ul><!--.breadcrumb-->
    </div>

    <h4>Create Discharge</h4>
    <hr />
    <div class="row">

        <div>
            <form asp-action="Create" asp-route-id="@Model.Id" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdServicePlan" />
                <input type="hidden" asp-for="CreatedOn" />
                <input type="hidden" asp-for="CreatedBy" />
                <partial name="_TCMDischarges" />
                <div class="form-group col-md-12">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    @if (ViewData["origin"].ToString() == "0")
                    {
                        <a asp-action="TCMIntakeSectionDashboard" asp-controller="TCMIntakes" asp-route-id="@Model.TcmServicePlan.TcmClient.Id" asp-route-section="4" class="btn btn-success">Back</a>
                    }
                    @if (ViewData["origin"].ToString() == "1")
                    {
                        <a asp-action="Index" asp-controller="TCMDischarges" asp-route-idTCMClient="@Model.TcmServicePlan.TcmClient.Id" class="btn btn-success">Back</a>
                    }
                    @if (ViewData["origin"].ToString() == "2")
                    {
                        <a asp-action="TCMClientWithoutDischarge" asp-controller="TCMDischarges" class="btn btn-success">Back</a>
                    }
                </div>
            </form>
        </div>
    </div>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">

    </script>
}

