@model KyoS.Web.Models.TCMDischargeViewModel
@{
    ViewData["Title"] = "Edit Discharge";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                @if (@ViewData["origi"].ToString() == "0")
                {
                    @Html.ActionLink("TCM Intake Section 4", "TCMIntakeSectionDashboard", "TCMIntakes", new { id = @Model.TcmServicePlan.TcmClient.Id, section = 4 })
                }
                @if (@ViewData["origi"].ToString() == "1")
                {
                    @Html.ActionLink("TCM Discharge", "TCMDischargeApproved", "TCMDischarges", new { approved = 0 })
                }
                @if (@ViewData["origi"].ToString() == "2")
                {
                    @Html.ActionLink("TCM Discharge", "TCMDischargeApproved", "TCMDischarges", new { approved = 1 })
                }
                @if (@ViewData["origi"].ToString() == "4")
                {
                    @Html.ActionLink("Inbox", "MessagesOfDischarges", "TCMMessages")
                }
                @if (@ViewData["origi"].ToString() == "5")
                {
                    @Html.ActionLink("Updates of Discharges", "UpdateTCMDischarge", "TCMDischarges")
                }
            </li>
            <li class="active">Edit</li>
        </ul><!--.breadcrumb-->
    </div>

    <h4>Edit Discharge</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">

        </div>
        <div>
            <form asp-action="Edit" asp-route-id="@Model.Id" asp-route-origi="@ViewData["origi"]" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdServicePlan" />
                <input type="hidden" asp-for="Approved" />
                <input type="hidden" asp-for="CreatedBy" />
                <input type="hidden" asp-for="CreatedOn" />
                <input type="hidden" asp-for="TcmServicePlan.TcmClient.Client.FirstName" />
                <input type="hidden" asp-for="TcmServicePlan.TcmClient.Client.LastName" />
                <partial name="_TCMDischarges" />
                <div class="col-md-push-12">
                    <div class="col-md-12 form-group">
                        <a onclick="showInPopup('@Url.Action("CreateTCMDischargeFolowUp", "TCMDischarges", new { idDischarge = @Model.Id}, Context.Request.Scheme)','Create Follow-up of Discharge')" class="btn btn-success" title="Create Follow-up of this Discharge"><i class="glyphicon glyphicon-plus"></i> Add Follow-up</a>
                    </div>
                    <div class="col-md-12">
                        <div id="view-tcmServicePlanReview">
                            @await Html.PartialAsync("_ViewDischargeFollowUp", Model.TcmServicePlan.TCMDischarge.TcmDischargeFollowUp.ToList())
                        </div>
                    </div>
                </div>
                <br />
                <div class="col-md-push-12">
                    <div class="col-md-12">
                        <div id="view-tcmServicePlanReview">
                            @await Html.PartialAsync("_ViewDomain", Model.TcmServicePlan.TCMDomain.ToList())
                        </div>
                    </div>
                </div>
                <br />
                <partial name="_TCMDischargeSign" />
                <br />
                <div class="form-group col-md-12">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    @if (Model.Approved == 0)
                    {
                        <a asp-action="FinishEditing" asp-route-id="@Model.Id" asp-controller="TCMDischarges" class="btn btn-warning">Finish Edition</a>
                    }
                    else
                    {
                        <a asp-action="FinishEditing" asp-route-id="@Model.Id" asp-controller="TCMDischarges" class="btn btn-warning disabled">Finish Edition</a>
                    }
                    @if (@ViewData["origi"].ToString() == "0")
                    {
                        <a asp-action="TCMIntakeSectionDashboard" asp-route-id="@Model.TcmServicePlan.TcmClient.Id" asp-route-section="4" asp-controller="TCMIntakes" class="btn btn-success">Back</a>
                    }
                    @if (@ViewData["origi"].ToString() == "1")
                    {

                        <a asp-action="TCMDischargeApproved" asp-route-approved="0" class="btn btn-success">Back</a>
                    }
                    @if (@ViewData["origi"].ToString() == "2")
                    {

                        <a asp-action="TCMDischargeApproved" asp-route-approved="1" class="btn btn-success">Back</a>
                    }
                    @if (@ViewData["origi"].ToString() == "4")
                    {
                        <a asp-action="MessagesOfDischarges" asp-controller="TCMMessages" class="btn btn-success">Back</a>
                    }
                    @if (@ViewData["origi"].ToString() == "5")
                    {
                        <a asp-action="UpdateTCMDischarge" asp-controller="TCMDischarges" class="btn btn-success">Back</a>
                    }
                </div>
            </form>
        </div>
    </div>
</body>
</html>

<partial name="_ModalPopup" />
<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                                "order": [[1, "asc"]],
                                "pageLength": 100
                            });

            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                var url = "@Url.Action("DeleteDomain", "TCMServicePlanReviews")";
                window.location.href = url + '/' + item_to_delete;
            });
        });
        $(function () {
            //Assign Click event to Plus Image.
            $("body").on("click", "a[class*='icon-plus-sign-alt']", function () {
                $(this).closest("tr").after("<tr><td></td><td colspan = '999'>" + $(this).next().html() + "</td></tr>");
                $(this).attr("class", "icon-minus-sign-alt");
            });
            //Assign Click event to Minus Image.
            $("body").on("click", "a[class*='icon-minus-sign-alt']", function () {
                $(this).attr("class", "icon-plus-sign-alt");
                $(this).closest("tr").next().remove();
            });
        });
    </script>
}
