@model KyoS.Web.Models.TCMDischargeViewModel
@{
    ViewData["Title"] = "Approve Discharge";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Approve</title>
</head>
<body>

    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                @if (ViewData["origi"].ToString() == "0")
                {
                    @Html.ActionLink("Pending TCM Discharge", "TCMDischargeApproved", "TCMDischarges", new { approved = 1 })
                }
                @if (ViewData["origi"].ToString() == "1")
                {
                    @Html.ActionLink("TCM Discharge with review", "TCMDischargeWithReview", "TCMDischarges")
                }
                @if (ViewData["origi"].ToString() == "2")
                {
                    @Html.ActionLink("TCM Discharge Notifications", "Notifications", "TCMMessages")
                }
                @if (ViewData["origi"].ToString() == "3")
                {
                    @Html.ActionLink("TCM Case History", "TCMCaseHistory", "TCMClients", new { id = Model.TcmServicePlan.TcmClient_FK })
                }
            </li>
            <li class="active">Edit read only</li>
        </ul><!--.breadcrumb-->
    </div>

    <h4>Edit Discharge</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">

        </div>
        <div>
            <form asp-action="ApproveDischarge" asp-route-id="@Model.Id" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdServicePlan" />
                <input type="hidden" asp-for="Approved" />
                <input type="hidden" asp-for="CreatedBy" />
                <input type="hidden" asp-for="CreatedOn" />
                <partial name="_TCMDischargesReadOnly" />
                <div class="col-md-push-12">
                    <div class="col-md-12" id="view-tcmServicePlanReview">
                        @await Html.PartialAsync("_ViewDischargeFollowUp", Model.TcmServicePlan.TCMDischarge.TcmDischargeFollowUp.ToList())
                    </div>
                </div>
                <br />
                <div class="col-md-push-12">
                    <div class="col-md-12">
                        <div id="view-tcmServicePlanReview">
                            @await Html.PartialAsync("_ViewDomain", Model.TcmServicePlan.TCMDomain.ToList())
                        </div>
                    </div>
                </div>
                <br />
                <partial name="_TCMDischargeSignReadOnly" />
                <br />
                <div class="form-group col-md-12">

                    @if (User.IsInRole("TCMSupervisor") && Model.Approved == 1)
                    {
                        <input type="submit" value="Approve" class="btn btn-primary" />
                        <a class="btn btn-warning" onclick="showInPopup('@Url.Action("AddMessageEntity","TCMDischarges",new {id = Model.Id, origi = @ViewData["origi"]},Context.Request.Scheme)','Add message to casemanager')" title="Not approved tcm service plan due to problems">Review</a>
                    }

                    @if (ViewData["origi"].ToString() == "0")
                    {
                        <a asp-action="TCMDischargeApproved" asp-route-approved="1" class="btn btn-success">Back</a>
                    }
                    @if (ViewData["origi"].ToString() == "1")
                    {
                        <a asp-action="TCMDischargeWithReview" class="btn btn-success">Back</a>
                    }
                    @if (ViewData["origi"].ToString() == "2")
                    {
                        <a asp-action="Notifications" asp-controller="TCMMessages" class="btn btn-success">Back</a>
                    }
                    @if (ViewData["origi"].ToString() == "3")
                    {
                        <a asp-action="TCMCaseHistory" asp-controller="TCMClients" asp-route-id="@Model.TcmServicePlan.TcmClient_FK " class="btn btn-success">Back</a>
                    }
                </div>
            </form>
        </div>
    </div>
</body>
</html>

<partial name="_ModalPopup" />
<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                                "order": [[1, "asc"]],
                                "pageLength": 100
                            });

            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                var url = "@Url.Action("DeleteDomain", "TCMServicePlanReviews")";
                window.location.href = url + '/' + item_to_delete;
            });
        });
        $(function () {
            //Assign Click event to Plus Image.
            $("body").on("click", "a[class*='icon-plus-sign-alt']", function () {
                $(this).closest("tr").after("<tr><td></td><td colspan = '999'>" + $(this).next().html() + "</td></tr>");
                $(this).attr("class", "icon-minus-sign-alt");
            });
            //Assign Click event to Minus Image.
            $("body").on("click", "a[class*='icon-minus-sign-alt']", function () {
                $(this).attr("class", "icon-plus-sign-alt");
                $(this).closest("tr").next().remove();
            });
        });
    </script>
}


