@model KyoS.Web.Data.Entities.MTPEntity
@{
    ViewData["Title"] = "MTP Details";
}

<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("MTPs", "Index", "MTPs")
        </li>
        <li class="active">Details</li>
    </ul><!--.breadcrumb-->
</div>

<h4>Master Treatment Plan</h4>

<div>
    @*<h4>Details</h4>*@
    <hr />
    <div class="row">
        <div class="col-md-12">            
                @if (!string.IsNullOrEmpty(Model.Client.Clinic.LogoPath))
                {
                    <div class="col-md-2">
                        <div class="thumbnail">
                            <img class="img-responsive" src="@Url.Content(Model.Client.Clinic.LogoPath)" alt="Image" style="width:130px;height:130px;max-width: 100%; height: auto;" />
                        </div>                        
                    </div>
                    <div class="col-md-10">
                        <h4>@Model.Client.Clinic.Name</h4>
                    </div>
                    <div class="col-md-12">
                        <hr />
                    </div>
                }            
        </div>
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    Cliente
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Client.Name)
                </dd>
                <dt>
                    Clinic
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Client.Clinic.Name)
                </dd>                
                <dt>
                    MTP developed date
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MTPDevelopedDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.StartTime)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.StartTime)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.EndTime)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EndTime)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Setting)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Setting)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.LevelCare)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.LevelCare)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.InitialDischargeCriteria)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.InitialDischargeCriteria)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Active)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Active)
                </dd>
            </dl>
        </div>
        <div class="col-md-12">   
            @if(User.IsInRole("Admin") || User.IsInRole("Mannager") || User.IsInRole("Supervisor"))
            { 
                <p>
                    <a asp-action="PrintMTP" asp-route-id="@Model.Id" class="btn btn-success" target="_blank"><i class="glyphicon glyphicon-print"></i> Print MTP</a> |
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i> Update MTP</a> |
                    <a asp-action="UpdateGoals" asp-route-id="@Model.Id" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i> Update goals - objetives</a>
                </p>
            }
        </div>

    </div>
</div>
<div class="row">    
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 style="font-weight:bold;">Goals of MTP</h5>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-1">

                            </th>
                            <th class="col-md-1">
                                Goal
                            </th>
                            <th class="col-md-5">
                                Name
                            </th>
                            <th class="col-md-5">
                                Focus
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Goals)
                        {
                        <tr>
                            <td align="center">
                                @if (item.Objetives.Count() != 0)
                                {
                                    <a class="icon-plus-sign-alt"></a>
                                }
                                else
                                {

                                }
                                <div style="display:none">
                                    <table class="table table-striped table-bordered">
                                        <tr>
                                            <th class="col-md-1">Objetive</th>
                                            <th class="col-md-6">Description</th>
                                            <th class="col-md-5">Intervention</th>
                                        </tr>
                                        @foreach (var product in item.Objetives)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => product.Objetive)</td>
                                                <td>@Html.DisplayFor(modelItem => product.Description)</td>
                                                <td>@Html.DisplayFor(modelItem => product.Intervention)</td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Number)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AreaOfFocus)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
<script type="text/javascript">
    $(function () {
        
        //Assign Click event to Plus Image.
        $("body").on("click", "a[class*='icon-plus-sign-alt']", function () {
            $(this).closest("tr").after("<tr><td></td><td colspan = '999'>" + $(this).next().html() + "</td></tr>");
            $(this).attr("class", "icon-minus-sign-alt");
        });
        //Assign Click event to Minus Image.
        $("body").on("click", "a[class*='icon-minus-sign-alt']", function () {
            $(this).attr("class", "icon-plus-sign-alt");
            $(this).closest("tr").next().remove();
        });
    });

</script>
}

