@model KyoS.Web.Data.Entities.MTPEntity
@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

<div class="breadcrumbs" id="breadcrumbs">
   <ul class="breadcrumb">
      <li>
         <i class="icon-home"></i>
         @Html.ActionLink("MTPs", "Index", "MTPs")
      </li>
      <li class="active">Details</li>
   </ul><!--.breadcrumb-->
</div>

<h4>Master Treatment Plan</h4>

<div>
    @*<h4>Details</h4>*@
    <hr />
    <div class="row">
                <div class="col-md-12">
                    @if (!string.IsNullOrEmpty(Model.Client.Facilitator.Clinic.LogoPath))
                    {
                    <div class="col-md-4">
                        <img src="@Url.Content(Model.Client.Facilitator.Clinic.LogoPath)" alt="Image" style="width:130px;height:130px;max-width: 100%; height: auto;" />
                    </div>
                    <div class="col-md-8">
                        <h4>@Model.Client.Facilitator.Clinic.Name</h4>
                    </div>
                    <div class="col-md-12">
                        <hr />
                    </div>
                    }                    
                </div>
                <div class="col-md-12">
                    <dl class="dl-horizontal">
                        <dt>
                            Cliente
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Client.Name)
                        </dd>
                        <dt>
                            Facilitator
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Client.Facilitator.Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.AdmisionDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.AdmisionDate)
                        </dd>
                        <dt>
                            MTP developed date
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.MTPDevelopedDate)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.StartTime)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.StartTime)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.EndTime)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.EndTime)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.LevelCare)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.LevelCare)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.InitialDischargeCriteria)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.InitialDischargeCriteria)
                        </dd>
                    </dl>
                </div>                
            </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 style="font-weight:bold;">Diagnosis of MTP</h5>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-3">
                                Code
                            </th>
                            <th class="col-md-6">
                                Diagnosis
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Diagnosis)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Code)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 style="font-weight:bold;">Goals of MTP</h5>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-3">
                                Name
                            </th>
                            <th class="col-md-6">
                                Focus
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Goals)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AreaOfFocus)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@*<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="AddGroup" asp-route-id="@Model.Id" class="btn btn-primary">Add Group</a>
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Groups</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-3">
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th class="col-md-3">
                                # Teams
                            </th>
                            <th class="col-md-3">
                                # Matches
                            </th>
                            <th class="col-md-3"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Groups.OrderBy(g => g.Name))
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GroupDetails.Count)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Matches.Count)
                                </td>
                                <td align="right">
                                    <a asp-action="EditGroup" asp-route-id="@item.Id" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></a>
                                    <a asp-action="DetailsGroup" asp-route-id="@item.Id" class="btn btn-info"><i class="glyphicon glyphicon glyphicon-align-justify"></i></a>
                                    <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>*@

@*<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();

            // Delete item
            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                window.location.href = '/Tournaments/DeleteGroup/' + item_to_delete;
            });
        });
    </script>
}*@