@model KyoS.Web.Models.MTPReviewViewModel

@{
    ViewData["Title"] = "Edit MTP Review";
}


<!DOCTYPE html>

<html>
<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>

    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                @Html.ActionLink("MTP Review", "Index", "MTPs")
            </li>
            <li class="active">Edit MTP Review</li>
        </ul><!--.breadcrumb-->
    </div>

    <h4>Edit MTP Review</h4>
    <hr />
    <div class="row">
        <form asp-action="EditMTPReview" asp-route-id="@Model.Id" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IdMTP" />
            <input type="hidden" asp-for="MTP_FK" />
            <input type="hidden" asp-for="Therapist" />
            <input type="hidden" asp-for="CreatedBy" />
            <input type="hidden" asp-for="CreatedOn" />
            <input type="hidden" asp-for="Status" />
            <input type="hidden" asp-for="LastModifiedBy" />
            <input type="hidden" asp-for="LastModifiedOn" />
            <partial name="_MTPReviews" />
            <div class="col-md-push-12">
                <div class="col-md-12 form-group">
                    <a onclick="showInPopup('@Url.Action("CreateGoalMTPReviewModal", "MTPs", new {id =  @Model.IdMTP, idReview = @Model.Id}, Context.Request.Scheme)','Create goal of MTP Review')" class="btn btn-success" title="Create Goal of this MTP Review"><i class="glyphicon glyphicon-plus"></i> Add Goal</a>
                </div>
                <div class="col-md-12">
                    <div id="view-goals">
                        @await Html.PartialAsync("_ViewGoalsMTPReview", Model.Mtp.Goals.ToList())
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group col-md-12">
                <input type="submit" value="Save All" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Back</a>
            </div>
        </form>
    </div>
</body>
</html>

<partial name="_ModalPopup" />
<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                                "order": [[0, "asc"]],
                                "pageLength": 100
                            });

            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                var url = "@Url.Action("DeleteGoalOfMTPreview", "MTPs")";
                window.location.href = url + '/' + item_to_delete;
            });
        });
        $(function () {
            //Assign Click event to Plus Image.
            $("body").on("click", "a[class*='icon-plus-sign-alt']", function () {
                $(this).closest("tr").after("<tr><td></td><td colspan = '999'>" + $(this).next().html() + "</td></tr>");
                $(this).attr("class", "icon-minus-sign-alt");
            });
            //Assign Click event to Minus Image.
            $("body").on("click", "a[class*='icon-minus-sign-alt']", function () {
                $(this).attr("class", "icon-plus-sign-alt");
                $(this).closest("tr").next().remove();
            });
        });
    </script>
}