@model KyoS.Web.Models.MTPViewModel

@{
    ViewData["Title"] = "Edit MTP";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
</head>
<body>

    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                @if (ViewData["origi"].ToString() == "0")
                {
                    @Html.ActionLink("MTPs", "Index", "MTPs")
                }
                @if (ViewData["origi"].ToString() == "1")
                {
                    @Html.ActionLink("Messages MTPs", "MessagesOfMTP", "Messages")
                }
                @if (ViewData["origi"].ToString() == "2")
                {
                    @Html.ActionLink("MTPs with review", "MtpWithReview", "MTPs")
                }
                @if (ViewData["origi"].ToString() == "3")
                {
                    @Html.ActionLink("Documents Assistant CMH Calendar", "IndexDocumentsAssistant", "Calendar")
                }
            </li>
            <li class="active">Edit MTP</li>
        </ul><!--.breadcrumb-->
    </div>

    <h4>Edit Master Treatment Plan</h4>
    <hr />
    <div class="row">
        <form asp-action="Edit" asp-route-origi="@ViewData["origi"]" enctype="multipart/form-data" onsubmit="return false;" id="formEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Active" />
            <input type="hidden" asp-for="Client.Name" />
            <input type="hidden" asp-for="AdmissionedFor" />
            <input type="hidden" asp-for="CreatedBy" />
            <input type="hidden" asp-for="CreatedOn" />
            <input type="hidden" asp-for="Status" />
            <input type="hidden" asp-for="IdDocumentAssistant" />
            <input type="hidden" asp-for="Client.FirstName" />
            <input type="hidden" asp-for="Client.LastName" />
            <partial name="_MTPs" />
            <div class="col-md-push-12">
                <div class="col-md-12 form-group">
                    <a onclick="showInPopup('@Url.Action("CreateGoalModal", "MTPs", new {id =  @Model.Id, idAdendum = 0}, Context.Request.Scheme)','Create goal of MTP')" class="btn btn-success" title="Create Goal of this MTP"><i class="glyphicon glyphicon-plus"></i> Add Goal</a>
                </div>
                <div class="col-md-12">
                    <div id="view-goals">
                        @await Html.PartialAsync("_ViewGoals", Model.Goals.ToList())
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <input onclick="GenderVerification()" type="submit" value="Save MTP" class="btn btn-primary" />
                @if (ViewData["origi"].ToString() == "0")
                {
                    <a asp-action="Index" class="btn btn-success">Back</a>
                }
                @if (ViewData["origi"].ToString() == "1")
                {
                    <a asp-action="MessagesOfMTP" asp-controller="Messages" class="btn btn-success">Back</a>
                }
                @if (ViewData["origi"].ToString() == "2")
                {
                    <a asp-action="MtpWithReview" asp-controller="MTPs" class="btn btn-success">Back</a>
                }
                @if (ViewData["origi"].ToString() == "3")
                {
                    <a asp-action="IndexDocumentsAssistant" asp-controller="Calendar" class="btn btn-success">Back</a>
                }
                @*<a asp-action="UpdateGoals" asp-route-id="@Model.Id" class="btn btn-info">Update goals - objetives</a>*@
            </div>
        </form>
    </div>
</body>
</html>
<partial name="_ModalPopup" />
<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                                "order": [[0, "asc"]],
                                "pageLength": 100
                            });

            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                var url = "@Url.Action("DeleteGoalOfAddendum", "MTPs")";
                window.location.href = url + '/' + item_to_delete;
            });

            $("#EnglishClientStrengths").click(function () {
                var url = "@Url.Action("Translate", "MTPs")";
                $.get(url, { text: $("#clientStrengths").val() }, function (data) {
                    $("#clientStrengths").val(data);
                });
            })
            $("#EnglishClientLimitation").click(function () {
                var url = "@Url.Action("Translate", "MTPs")";
                $.get(url, { text: $("#clientLimitation").val() }, function (data) {
                    $("#clientLimitation").val(data);
                });
            })
            $("#EnglishRationaleForUpdate").click(function () {
                var url = "@Url.Action("Translate", "MTPs")";
                $.get(url, { text: $("#rationaleForUpdate").val() }, function (data) {
                    $("#rationaleForUpdate").val(data);
                });
            })
            $("#EnglishAdditionalRecommended").click(function () {
                var url = "@Url.Action("Translate", "MTPs")";
                $.get(url, { text: $("#additionalRecommended").val() }, function (data) {
                    $("#additionalRecommended").val(data);
                });
            })
            $("#EnglishInitialDischargeCriteria").click(function () {
                var url = "@Url.Action("Translate", "MTPs")";
                $.get(url, { text: $("#initialDischargeCriteria").val() }, function (data) {
                    $("#initialDischargeCriteria").val(data);
                });
            })
        });
        $(function () {
            //Assign Click event to Plus Image.
            $("body").on("click", "a[class*='icon-plus-sign-alt']", function () {
                $(this).closest("tr").after("<tr><td></td><td colspan = '999'>" + $(this).next().html() + "</td></tr>");
                $(this).attr("class", "icon-minus-sign-alt");
            });
            //Assign Click event to Minus Image.
            $("body").on("click", "a[class*='icon-minus-sign-alt']", function () {
                $(this).attr("class", "icon-plus-sign-alt");
                $(this).closest("tr").next().remove();
            });
        });

        function GenderVerification() {

                var url = "@Url.Action("GetGenderByClient", "MTPs")";

                $.get(url, { idClient: $("#cbClient").val() }, function (data) {

                    let clientStrengths = $("#clientStrengths").val();
                    let clientLimitation = $("#clientLimitation").val();
                    let rationaleForUpdate = $("#rationaleForUpdate").val();
                    let additionalRecommended = $("#additionalRecommended").val();
                    let initialDC = $("#initialDischargeCriteria").val();
                    let text = "";

                    if (data == 'F') //Female
                    {
                        if (MaleVerification(clientStrengths) == true) {
                            text = ", Client’s Strengths";
                        }
                        if (MaleVerification(clientLimitation) == true) {
                            text = text + ", Client’s Limitations";
                        }
                        if (MaleVerification(rationaleForUpdate) == true) {
                            text = text + ", Rationale for Update";
                        }
                        if (MaleVerification(additionalRecommended) == true) {
                            text = text + ", Additional recommended services";
                        }
                        if (MaleVerification(initialDC) == true) {
                            text = text + ", Initial discharge criteria";
                        }

                        if (text != "") {
                            Swal.fire({
                                title: 'Do you want to continue?',
                                text: "There are gender issues in" + text,
                                icon: 'warning',
                                showCancelButton: true,
                                confirmButtonColor: '#ec971f',
                                cancelButtonColor: '#3085d6',
                                confirmButtonText: 'Yes, continue!'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    formEdit.submit();
                                }
                            });
                        }
                        else {
                            formEdit.submit();
                        }
                    }
                    else
                    {
                        if (data == 'M') //Male
                        {
                            if (FemaleVerification(clientStrengths) == true) {
                                text = ", Client’s Strengths";
                            }
                            if (FemaleVerification(clientLimitation) == true) {
                                text = text + ", Client’s Limitations";
                            }
                            if (FemaleVerification(rationaleForUpdate) == true) {
                                text = text + ", Rationale for Update";
                            }
                            if (FemaleVerification(additionalRecommended) == true) {
                                text = text + ", Additional recommended services";
                            }
                            if (FemaleVerification(initialDC) == true) {
                                text = text + ", Initial discharge criteria";
                            }

                            if (text != "") {
                                Swal.fire({
                                    title: 'Do you want to continue?',
                                    text: "There are gender issues in" + text,
                                    icon: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#ec971f',
                                    cancelButtonColor: '#3085d6',
                                    confirmButtonText: 'Yes, continue!'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        formEdit.submit();
                                    }
                                });
                            }
                            else {
                                formEdit.submit();
                            }
                        }
                    }
                });
            }

        function MaleVerification(text) {
            if (text.includes(" he ") || text.includes(" He ") || text.includes(" his ") || text.includes(" His ") ||
                text.includes(" him ") || text.includes(" him.") || text.includes("himself") || text.includes("Himself") ||
                text.includes(" oldman") || text.includes(" wife")) {
                return true;
            }
            else {
                return false;
            }
        }

        function FemaleVerification(text) {
            if (text.includes(" she ") || text.includes(" She ") || text.includes(" her.") || text.includes(" her ") ||
                text.includes(" Her ") || text.includes("herself") || text.includes("Herself") || text.includes(" oldwoman") ||
                text.includes(" husband")) {
                return true;
            }
            else {
                return false;
            }
        }

    </script>
}


