@model IEnumerable<KyoS.Web.Models.MTPExpiredViewModel>
@{
    ViewData["Title"] = "Expired MTPs";
}

<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Dashboard", "Index", "Desktop")
        </li>
        <li class="active">Expired MTPs</li>
    </ul><!--.breadcrumb-->
</div>

<div class="row">    
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Expired MTPs</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-3">
                                Client
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Admission
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Therapy
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Status
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Days
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Date MTP
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Document
                            </th>
                            <th class="col-md-2">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                       @foreach (var item in Model)
                        {                          
                        <tr>
                            <td>
                                @if (item.Client.Gender == KyoS.Common.Enums.GenderType.Female)
                                {
                                    <i class="glyphicon glyphicon-user btn-danger"></i>
                                }
                                @if (item.Client.Gender == KyoS.Common.Enums.GenderType.Male)
                                {
                                    <i class="glyphicon glyphicon-user btn-primary"></i>
                                }
                                &nbsp;
                                @Html.DisplayFor(modelItem => item.Client.Name)
                                |
                                @Html.DisplayFor(modelItem => item.Client.Code)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.Client.AdmisionDate)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.Client.Service)
                            </td>
                            <td align="center">
                                @if (item.Client.Status == KyoS.Common.Enums.StatusType.Open)
                                {
                                    <span class="label label-success">
                                        Open
                                    </span>
                                }
                                @if (item.Client.Status == KyoS.Common.Enums.StatusType.Close)
                                {
                                    <span class="label label-default">
                                        Close
                                    </span>
                                }
                            </td>
                            <td align="center">
                                @if (item.ExpiredDays == 0)
                                {
                                    <span class="label label-default">
                                        N_Obj
                                    </span>
                                }
                                else
                                {
                                    <span class="label label-danger">
                                        @Html.DisplayFor(modelItem => item.ExpiredDays)
                                    </span>
                                }
                            </td>
                            <td align="center">
                                @item.DateExpired.ToShortDateString()
                            <td align="center">
                                @if (item.TypeDocument == 0)
                                {
                                    <span class="label label-info">
                                        MTP
                                    </span>
                                }
                                @if (item.TypeDocument == 1)
                                {
                                    <span class="label label-info">
                                        MTPR
                                    </span>
                                }
                                @if (item.TypeDocument == 2)
                                {
                                    <span class="label label-info">
                                        Addendum
                                    </span>
                                }
                            </td>
                            <td align="right">
                                @*@if (User.IsInRole("Facilitator"))
                                {
                                    <a class="btn btn-warning disabled" title="Edit MTP"><i class="glyphicon glyphicon-pencil"></i></a>
                                    <a asp-action="CreateMTPReview" asp-route-id="@item.Id" asp-route-origin="1" class="btn btn-success" title="Create Review"><i class="glyphicon glyphicon-plus"></i></a>
                                    <a asp-action="PrintMTP" asp-route-id="@item.Id" class="btn btn-success" title="Print MTP" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                }
                                else
                                {
                                    @if (User.IsInRole("Supervisor"))
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></a>
                                        <a class="btn btn-success disabled" title="Create MTP Review"><i class="glyphicon glyphicon-plus"></i></a>
                                        <a asp-action="PrintMTP" asp-route-id="@item.Id" class="btn btn-success" title="Print MTP" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-warning disabled" title="Edit MTP"><i class="glyphicon glyphicon-pencil"></i></a>
                                        <a class="btn btn-success disabled" title="Create MTP Review"><i class="glyphicon glyphicon-plus"></i></a>
                                        <a asp-action="PrintMTP" asp-route-id="@item.Id" class="btn btn-success" title="Print MTP" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                    }

                                }*@
                                <a class="btn btn-warning disabled" title="Edit MTP"><i class="glyphicon glyphicon-pencil"></i></a>
                                <a class="btn btn-success disabled" title="Create MTP Review"><i class="glyphicon glyphicon-plus"></i></a>
                                <a asp-action="PrintMTP" asp-route-id="@item.Id" class="btn btn-success disabled" title="Print MTP" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                <a asp-action="ViewAllGoals" asp-controller="Notes" asp-route-idMtp="@item.Id" class="btn btn-info" title="View Goals" target="_blank"><i class="glyphicon glyphicon-list-alt"></i></a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#MyTable').DataTable({
                                "order": [[0, "asc"]],
                                "pageLength": 100
                            });                            
                        });
    </script>
}

