@model IEnumerable<KyoS.Web.Data.Entities.MTPEntity>
@{
    ViewData["Title"] = "Addendums";
}
<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Dashboard", "Index", "Desktop")
        </li>
        <li class="active">Addendums</li>
    </ul><!--.breadcrumb-->
</div>

<div class="row">
    <div class="col-md-12">
        <strong>Note: </strong> Only active MTP will be displayed, orange color means the MTP has not addendum
    </div>
    <div class="col-md-12">
        &nbsp;
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Addendums</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-1">
                               
                            </th>
                            <th class="col-md-4">
                                MTP
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                @Html.DisplayNameFor(model => model.Client.Code)
                            </th>
                            <th class="col-md-2" style="text-align:center;">
                                @Html.DisplayNameFor(model => model.Client.AdmisionDate)
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Status
                            </th>
                            <th class="col-md-2" style="text-align:center;">
                                Active MTP
                            </th>
                            <th class="col-md-1">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            @if (item.AdendumList.Count() > 0)
                            {
                                <tr>
                                    <td align="center">
                                       @if (item.AdendumList.Count() != 0)
                                        {
                                           <a class="icon-plus-sign-alt"></a>
                                        }
                                        else
                                        {

                                        }
                                        <div style="display:none">
                                            <table class="table table-striped table-bordered">
                                                <tr>
                                                    <th class="col-md-1" style="text-align:center"></th>
                                                    <th class="col-md-2" style="text-align:center">Identified Date</th>
                                                    <th class="col-md-1" style="text-align:center">Unit</th>
                                                    <th class="col-md-2" style="text-align:center">Frecuency</th>
                                                    <th class="col-md-1" style="text-align:center">Duration (month)</th>
                                                    <th class="col-md-2" style="text-align:center">Create by</th>
                                                    <th class="col-md-1" style="text-align:center;">Status</th>
                                                    <th class="col-md-2"></th>
                                                </tr>
                                                @foreach (var element in item.AdendumList)
                                                    {
                                                        <tr>
                                                            <td align="center">
                                                                @if (element.Goals.Count() != 0)
                                                                {
                                                                    <a class="icon-plus-sign-alt"></a>
                                                                }
                                                                else
                                                                {

                                                                }
                                                                <div style="display:none">
                                                                    <table class="table table-striped table-bordered">
                                                                        <tr>
                                                                            <th class="col-md-1" style="text-align:center">Goal</th>
                                                                            <th class="col-md-5" style="text-align:center">Name of Goal</th>
                                                                            <th class="col-md-4" style="text-align:center">Focus Area</th>
                                                                            <th class="col-md-2" style="text-align:center">Therapy</th>
                                                                        </tr>
                                                                        @foreach (var value in element.Goals)
                                                                        {
                                                                            <tr>
                                                                                <td align="center">@Html.DisplayFor(modelItem => value.Number)</td>
                                                                                <td>@Html.DisplayFor(modelItem => value.Name)</td>
                                                                                <td>@Html.DisplayFor(modelItem => value.AreaOfFocus)</td>
                                                                                <td align="center">
                                                                                    @if (value.Service == KyoS.Common.Enums.ServiceType.PSR)
                                                                                    {
                                                                                        <span class="label label-default">
                                                                                            PSR
                                                                                        </span>
                                                                                    }
                                                                                    @if (value.Service == KyoS.Common.Enums.ServiceType.Individual)
                                                                                    {
                                                                                        <span class="label label-default">
                                                                                            Ind
                                                                                        </span>
                                                                                    }
                                                                                    @if (value.Service == KyoS.Common.Enums.ServiceType.Group)
                                                                                    {
                                                                                        <span class="label label-default">
                                                                                            Group
                                                                                        </span>
                                                                                    }
                                                                                </td>                                                                               
                                                                            </tr>
                                                                        }
                                                                    </table>
                                                                </div>
                                                            </td>
                                                            <td align="center">@Html.DisplayFor(modelItem => element.Dateidentified)</td>
                                                            <td align="center">@Html.DisplayFor(modelItem => element.Unit)</td>
                                                            <td align="center">@Html.DisplayFor(modelItem => element.Frecuency)</td>
                                                            <td align="center">@Html.DisplayFor(modelItem => element.Duration)</td>
                                                            <td align="center">@Html.DisplayFor(modelItem => element.CreatedBy)</td>
                                                            <td align="center">
                                                                @if (element.Status == KyoS.Common.Enums.AdendumStatus.Edition)
                                                                {
                                                                    <span class="label label-warning">
                                                                        Edition
                                                                    </span>
                                                                }
                                                                else
                                                                {
                                                                    if (element.Status == KyoS.Common.Enums.AdendumStatus.Pending)
                                                                    {
                                                                        <span class="label label-info">
                                                                            Pending
                                                                        </span>
                                                                    }
                                                                    else
                                                                    {
                                                                        if (element.Status == KyoS.Common.Enums.AdendumStatus.Approved)
                                                                        {
                                                                            <span class="label label-success">
                                                                                Approved
                                                                            </span>
                                                                        }
                                                                    }
                                                                }
                                                            </td>
                                                            <td align="center">
                                                                @if (User.IsInRole("Supervisor"))
                                                                {
                                                                    @if ((item.Client.Status == KyoS.Common.Enums.StatusType.Open && item.Active == true && @element.Status == KyoS.Common.Enums.AdendumStatus.Edition && element.CreatedBy == User.Identity.Name) || (element.Status == KyoS.Common.Enums.AdendumStatus.Pending))
                                                                    {
                                                                        <a asp-action="EditAdendum" asp-route-id="@element.Id" class="btn btn-warning" title="Edit Addendum"><i class="glyphicon glyphicon-pencil"></i></a>
                                                                        <a asp-action="ApproveAdendum" asp-route-id="@element.Id" class="btn btn-success" title="Approve Addendum"><i class="glyphicon glyphicon-ok"></i></a>
                                                                        <a class="btn btn-success disabled" title="Print Addendum"><i class="glyphicon glyphicon-print"></i></a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a class="btn btn-warning disabled" title="Edit Addendum"><i class="glyphicon glyphicon-pencil"></i></a>
                                                                        <a class="btn btn-success disabled" title="Finish edition of Addendum"><i class="glyphicon glyphicon-ok"></i></a>
                                                                        @if (@element.Status == KyoS.Common.Enums.AdendumStatus.Approved)
                                                                        {
                                                                            <a asp-action="PrintAdendum" asp-route-id="@element.Id" class="btn btn-success" title="Print Addendum" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                                                        }
                                                                        else
                                                                        {
                                                                            <a class="btn btn-success disabled"><i class="glyphicon glyphicon-print"></i></a>
                                                                        }
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    @if (item.Client.Status == KyoS.Common.Enums.StatusType.Open && item.Active == true && @element.Status != KyoS.Common.Enums.AdendumStatus.Approved && element.CreatedBy == User.Identity.Name)
                                                                    {
                                                                        <a asp-action="EditAdendum" asp-route-id="@element.Id" class="btn btn-warning" title="Edit Addendum"><i class="glyphicon glyphicon-pencil"></i></a>
                                                                        @if (@element.Status == KyoS.Common.Enums.AdendumStatus.Pending)
                                                                        {
                                                                            <a class="btn btn-success disabled" title="Finish edition of Addendum"><i class="glyphicon glyphicon-ok"></i></a>
                                                                        }
                                                                        else
                                                                        {
                                                                            <a asp-action="FinishEditingAdendum" asp-route-id="@element.Id" class="btn btn-success" title="Finish edition of Addendum"><i class="glyphicon glyphicon-ok"></i></a>
                                                                        }
                                                                        <a class="btn btn-success disabled" title="Print Addendum"><i class="glyphicon glyphicon-print"></i></a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a class="btn btn-warning disabled" title="Edit Addendum"><i class="glyphicon glyphicon-pencil"></i></a>
                                                                        <a class="btn btn-success disabled" title="Finish edition of Addendum"><i class="glyphicon glyphicon-ok"></i></a>

                                                                        @if (@element.Status == KyoS.Common.Enums.AdendumStatus.Approved)
                                                                        {
                                                                            <a asp-action="PrintAdendum" asp-route-id="@element.Id" class="btn btn-success" title="Print Addendum" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                                                        }
                                                                        else
                                                                        {
                                                                            <a class="btn btn-success disabled"><i class="glyphicon glyphicon-print"></i></a>
                                                                        }
                                                                    }
                                                                }
                                                            </td>
                                                        </tr>
                                                       
                                                    }
                                            </table>
                                        </div>
                                        </td>
                                    <td>
                                        @if (item.Client.Gender == KyoS.Common.Enums.GenderType.Female)
                                        {
                                            <i class="glyphicon glyphicon-user btn-danger"></i>
                                        }
                                        @if (item.Client.Gender == KyoS.Common.Enums.GenderType.Male)
                                        {
                                            <i class="glyphicon glyphicon-user btn-primary"></i>
                                        }
                                        &nbsp;
                                        @Html.DisplayFor(modelItem => item.Client.Name)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Client.Code)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Client.AdmisionDate)
                                    </td>
                                    <td align="center">
                                        @if (item.Client.Status == KyoS.Common.Enums.StatusType.Open)
                                        {
                                            <span class="label label-success">
                                                Open
                                            </span>
                                        }
                                        @if (item.Client.Status == KyoS.Common.Enums.StatusType.Close)
                                        {
                                            <span class="label label-default">
                                                Close
                                            </span>
                                        }
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Active)
                                    </td>
                                    <td align="center">
                                        @if (item.Client.Status == KyoS.Common.Enums.StatusType.Open && item.Active == true && (User.IsInRole("Supervisor") || User.IsInRole("Facilitator")))
                                        {
                                            <a asp-action="CreateAdendum" asp-route-id="@item.Id" class="btn btn-warning" title="New Addendum"><i class="glyphicon glyphicon-plus"></i></a>                                            
                                        }
                                        else
                                        {
                                            <a class="btn btn-warning disabled" title="New Addendum"><i class="glyphicon glyphicon-plus"></i></a>                                            
                                        }
                                    </td>
                                </tr>

                            }
                            else
                            {
                                <tr style="color:orange">
                                    <td align="center">
                                            &nbsp;
                                        </td>
                                    <td>
                                        @if (item.Client.Gender == KyoS.Common.Enums.GenderType.Female)
                                        {
                                            <i class="glyphicon glyphicon-user btn-danger"></i>
                                        }
                                        @if (item.Client.Gender == KyoS.Common.Enums.GenderType.Male)
                                        {
                                            <i class="glyphicon glyphicon-user btn-primary"></i>
                                        }
                                        &nbsp;
                                        @Html.DisplayFor(modelItem => item.Client.Name)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Client.Code)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Client.AdmisionDate)
                                    </td>
                                    <td align="center">
                                        @if (item.Client.Status == KyoS.Common.Enums.StatusType.Open)
                                        {
                                            <span class="label label-warning">
                                                Open
                                            </span>
                                        }
                                        @if (item.Client.Status == KyoS.Common.Enums.StatusType.Close)
                                        {
                                            <span class="label label-default">
                                                Close
                                            </span>
                                        }
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Active)
                                    </td>
                                    <td align="center">
                                        @if (item.Client.Status == KyoS.Common.Enums.StatusType.Open && item.Active == true && (User.IsInRole("Facilitator") || User.IsInRole("Supervisor") || User.IsInRole("Documents_Assistant")))
                                        {
                                            <a asp-action="CreateAdendum" asp-route-id="@item.Id" class="btn btn-warning" title="New Addendum"><i class="glyphicon glyphicon-plus"></i></a>                                            
                                        }
                                        else
                                        {
                                            <a class="btn btn-warning disabled" title="New Addendum"><i class="glyphicon glyphicon-plus"></i></a>                                            
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                                "order": [[1, "asc"]],
                                "pageLength": 100
                            });

            // Delete item
            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                var url = "@Url.Action("Delete", "Adendums")";
                window.location.href = url + '/' + item_to_delete;
            });
        });
        $(function () {

            //Assign Click event to Plus Image.
            $("body").on("click", "a[class*='icon-plus-sign-alt']", function () {
                $(this).closest("tr").after("<tr><td></td><td colspan = '999'>" + $(this).next().html() + "</td></tr>");
                $(this).attr("class", "icon-minus-sign-alt");
            });
            //Assign Click event to Minus Image.
            $("body").on("click", "a[class*='icon-minus-sign-alt']", function () {
                $(this).attr("class", "icon-plus-sign-alt");
                $(this).closest("tr").next().remove();
            });
        });
    </script>
}

