@model IEnumerable<KyoS.Web.Data.Entities.MTPEntity>
@{
    ViewData["Title"] = "MTPs";
}

<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Dashboard", "Index", "Desktop")
        </li>
        <li class="active">MTPs</li>
    </ul><!--.breadcrumb-->
</div>

<p>
    @if (User.IsInRole("Supervisor"))
    {
        <a asp-action="Create" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Create MTP</a>
    }
    else
    {
        <a class="btn btn-primary disabled" title="Create MTP"><i class="glyphicon glyphicon-plus"></i> Create MTP</a>
    }
</p>

@if (Model != null)
{
    var month = 0;
    <div class="row">

        <div class="col-md-12">
            @if (ViewBag.Delete == "N")
            {
                <div class="alert alert-block alert-danger">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="icon-remove"></i>
                    </button>
                    <strong class="red">
                        Error. It is not posible delete the MTP
                    </strong>
                </div>
            }
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">                
                <div class="panel-heading">
                    <h3 class="panel-title">Master Treatment Plan</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-responsive table-striped" id="MyTable">
                        <thead>
                            <tr>
                                <th class="col-md-1">

                                </th>
                                <th class="col-md-3">
                                    Client
                                </th>
                                <th class="col-md-1" style="text-align:center;">
                                    Date MTP
                                </th>
                                <th class="col-md-1" style="text-align:center;">
                                    Month
                                </th>
                                <th class="col-md-1" style="text-align:center;">
                                    Status
                                </th>
                                <th class="col-md-1" style="text-align:center;">
                                    Active
                                </th>
                                <th class="col-md-1" style="text-align:center;">
                                </th>
                                <th class="col-md-1" style="text-align:center;">
                                    Review
                                </th>
                                <th class="col-md-2">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                if ((item.Active) && (item.Client.Status == KyoS.Common.Enums.StatusType.Open))
                                {
                                    if (item.MtpReviewList.Count() > 0)
                                    {
                                        <tr>
                                            <td align="center">
                                                @if (item.MtpReviewList.Count() != 0)
                                                {
                                                    <a class="icon-plus-sign-alt"></a>
                                                }
                                                else
                                                {

                                                }
                                                <div style="display:none">
                                                    <table class="table table-striped table-bordered">
                                                        <tr>
                                                            <th class="col-md-1" style="text-align:center">Date</th>
                                                            <th class="col-md-2" style="text-align:center">Date Review On</th>
                                                            <th class="col-md-4" style="text-align:center">Admitted by</th>
                                                            <th class="col-md-2" style="text-align:center">Month</th>
                                                            <th class="col-md-1" style="text-align:center;">Status</th>
                                                            <th class="col-md-2" style="text-align:center"></th>
                                                        </tr>
                                                        @foreach (var element in item.MtpReviewList)
                                                        {
                                                            <tr>
                                                                <td align="center">@Html.DisplayFor(modelItem => element.DataOfService)</td>
                                                                <td align="center">@Html.DisplayFor(modelItem => element.ReviewedOn)</td>
                                                                <td align="center">@Html.DisplayFor(modelItem => element.Therapist)</td>
                                                                <td align="center">@Html.DisplayFor(modelItem => element.MonthOfTreatment)</td>                                                                
                                                                <td align="center">
                                                                    @if (element.Status == KyoS.Common.Enums.AdendumStatus.Edition)
                                                                    {
                                                                        <span class="label label-default">
                                                                            Edition
                                                                        </span>
                                                                    }
                                                                    else
                                                                    {
                                                                        if (element.Status == KyoS.Common.Enums.AdendumStatus.Pending)
                                                                        {
                                                                            <span class="label label-info">
                                                                                Pending
                                                                            </span>
                                                                        }
                                                                        else
                                                                        {
                                                                            if (element.Status == KyoS.Common.Enums.AdendumStatus.Approved)
                                                                            {
                                                                                <span class="label label-success">
                                                                                    Approved
                                                                                </span>
                                                                            }
                                                                        }
                                                                    }
                                                                </td> 
                                                                <td align="center">
                                                                    @if (User.IsInRole("Supervisor"))
                                                                    {
                                                                        @if ((element.Status == KyoS.Common.Enums.AdendumStatus.Edition && element.CreatedBy == User.Identity.Name) || (@element.Status == KyoS.Common.Enums.AdendumStatus.Pending))
                                                                        {
                                                                            <a asp-action="EditMTPReview" asp-route-id="@element.Id" class="btn btn-warning" title="Edit MTP Review"><i class="glyphicon glyphicon-pencil"></i></a>
                                                                            <a asp-action="FinishEditingMtpReview" asp-route-id="@element.Id" class="btn btn-success" title="Approve MTP Review"><i class="glyphicon glyphicon-ok"></i></a>
                                                                            <a class="btn btn-success disabled" title="Print MTP Review"><i class="glyphicon glyphicon-print"></i></a>
                                                                        }
                                                                        else
                                                                        {
                                                                            <a class="btn btn-warning disabled" title="Edit MTP Review"><i class="glyphicon glyphicon-pencil"></i></a>
                                                                            <a class="btn btn-success disabled" title="Approve MTP Review"><i class="glyphicon glyphicon-ok"></i></a>
                                                                            @if (@element.Status == KyoS.Common.Enums.AdendumStatus.Approved)
                                                                            {
                                                                                <a asp-action="PrintMTPReview" asp-route-id="@element.Id" class="btn btn-success" title="Print MTP Review" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                                                            }
                                                                            else
                                                                            {
                                                                                <a class="btn btn-success disabled" title="Print MTP Review"><i class="glyphicon glyphicon-print"></i></a>
                                                                            }
                                                                        }

                                                                    }
                                                                    else
                                                                    {
                                                                        @if (@element.Status != KyoS.Common.Enums.AdendumStatus.Approved && @element.CreatedBy == User.Identity.Name)
                                                                        {
                                                                            <a asp-action="EditMTPReview" asp-route-id="@element.Id" class="btn btn-warning" title="Edit MTP Review"><i class="glyphicon glyphicon-pencil"></i></a>
                                                                            @if (@element.Status == KyoS.Common.Enums.AdendumStatus.Pending)
                                                                            {
                                                                                <a class="btn btn-success disabled" title="Edit MTP Review"><i class="glyphicon glyphicon-ok"></i></a>
                                                                            }
                                                                            else
                                                                            {
                                                                                <a asp-action="FinishEditingMtpReview" asp-route-id="@element.Id" class="btn btn-success" title="Finish edition of MTP Review"><i class="glyphicon glyphicon-ok"></i></a>
                                                                            }

                                                                            <a class="btn btn-success disabled" title="Print MTP Review"><i class="glyphicon glyphicon-print"></i></a>
                                                                        }
                                                                        else
                                                                        {
                                                                            <a class="btn btn-warning disabled" title="Edit MTP Review"><i class="glyphicon glyphicon-pencil"></i></a>
                                                                            <a class="btn btn-success disabled" title="Approve MTP Review"><i class="glyphicon glyphicon-ok"></i></a>
                                                                            @if (@element.Status == KyoS.Common.Enums.AdendumStatus.Approved)
                                                                            {
                                                                                <a asp-action="PrintMTPReview" asp-route-id="@element.Id" class="btn btn-success" title="Print MTP Review" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                                                            }
                                                                            else
                                                                            {
                                                                                <a class="btn btn-success disabled" title="Print MTP Review"><i class="glyphicon glyphicon-print"></i></a>
                                                                            }
                                                                        }
                                                                    }
                                                                </td>
                                                            </tr>
                                                            month = month + element.MonthOfTreatment;
                                                        }
                                                    </table>
                                                </div>
                                            </td>
                                            <td>
                                                @if (item.Client.Gender == KyoS.Common.Enums.GenderType.Female)
                                                {
                                                    <i class="glyphicon glyphicon-user btn-danger"></i>
                                                }
                                                @if (item.Client.Gender == KyoS.Common.Enums.GenderType.Male)
                                                {
                                                    <i class="glyphicon glyphicon-user btn-primary"></i>
                                                }
                                                &nbsp;
                                                @Html.DisplayFor(modelItem => item.Client.Code)
                                                &nbsp;
                                                @Html.DisplayFor(modelItem => item.Client.Name)
                                            </td>
                                            <td align="center">
                                                @Html.DisplayFor(modelItem => item.Client.MTPs.ElementAtOrDefault(0).MTPDevelopedDate)
                                            </td>
                                            <td align="center">
                                                @Html.DisplayFor(modelItem => item.Client.MTPs.ElementAtOrDefault(0).NumberOfMonths)
                                            </td>
                                            <td align="center">
                                                @if (item.Client.Status == KyoS.Common.Enums.StatusType.Open)
                                                {
                                                    <span class="label label-success">
                                                        Open
                                                    </span>
                                                }
                                                @if (item.Client.Status == KyoS.Common.Enums.StatusType.Close)
                                                {
                                                    <span class="label label-default">
                                                        Close
                                                    </span>
                                                }
                                            </td>
                                            <td align="center">
                                                @Html.DisplayFor(modelItem => item.Active)
                                            </td>
                                            <td align="center">
                                                @if (item.NumberOfMonths != null)
                                                {
                                                    @if ((DateTime.Now - item.MTPDevelopedDate.Date.AddMonths(Convert.ToInt32(item.NumberOfMonths + month))).Days >= 0)
                                                    {
                                                        <span class="label label-danger" title="Expired days">
                                                            @(-(DateTime.Now - item.MTPDevelopedDate.Date.AddMonths(Convert.ToInt32(item.NumberOfMonths + month))).Days)
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        @if ((DateTime.Now - item.MTPDevelopedDate.Date.AddMonths(Convert.ToInt32(item.NumberOfMonths + month))).Days < -10)
                                                        {
                                                            <span class="label label-primary" title="Number of days to expire the MTP">
                                                                @((item.MTPDevelopedDate.Date.AddMonths(Convert.ToInt32(item.NumberOfMonths + month)) - DateTime.Now).Days)
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span class="label label-warning" title="Number of days to expire the MTP">
                                                                @((item.MTPDevelopedDate.Date.AddMonths(Convert.ToInt32(item.NumberOfMonths + month)) - DateTime.Now).Days)
                                                            </span>
                                                        }
                                                    }

                                                    month = 0;
                                                }
                                            </td>
                                            <td align="center">
                                                @if (User.IsInRole("Facilitator") || User.IsInRole("Supervisor"))
                                                {
                                                    <a asp-action="CreateMTPReview" asp-route-id="@item.Id" class="btn btn-success" title="Create Review"><i class="glyphicon glyphicon-plus"></i></a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-success disabled" title="Create MTP Review"><i class="glyphicon glyphicon-plus"></i></a>
                                                }

                                            </td>
                                            <td align="center">
                                                @if (User.IsInRole("Supervisor") || (@item.CreatedBy == User.Identity.Name))
                                                {
                                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning" title="Edit MTP"><i class="glyphicon glyphicon-pencil"></i></a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-warning disabled" title="Edit MTP"><i class="glyphicon glyphicon-pencil"></i></a>
                                                }
                                                <a asp-action="PrintMTP" asp-route-id="@item.Id" class="btn btn-success" title="Print MTP" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="glyphicon glyphicon-align-justify"></i></a>
                                                @if (User.IsInRole("Supervisor") || (@item.CreatedBy == User.Identity.Name))
                                                {
                                                    <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-danger disabled" title="Edit MTP"><i class="glyphicon glyphicon-trash"></i></a>
                                                }
                                            </td>
                                        </tr>

                                    }
                                    else
                                    {
                                        <tr>
                                            <td align="center">
                                            </td>
                                            <td>
                                                @if (item.Client.Gender == KyoS.Common.Enums.GenderType.Female)
                                                {
                                                    <i class="glyphicon glyphicon-user btn-danger"></i>
                                                }
                                                @if (item.Client.Gender == KyoS.Common.Enums.GenderType.Male)
                                                {
                                                    <i class="glyphicon glyphicon-user btn-primary"></i>
                                                }
                                                &nbsp;
                                                @Html.DisplayFor(modelItem => item.Client.Code)
                                                &nbsp;
                                                @Html.DisplayFor(modelItem => item.Client.Name)
                                            </td>
                                            <td align="center">
                                                @Html.DisplayFor(modelItem => item.Client.MTPs.ElementAtOrDefault(0).MTPDevelopedDate)
                                            </td>
                                            <td align="center">
                                                @Html.DisplayFor(modelItem => item.Client.MTPs.ElementAtOrDefault(0).NumberOfMonths)
                                            </td>
                                            <td align="center">
                                                @if (item.Client.Status == KyoS.Common.Enums.StatusType.Open)
                                                {
                                                    <span class="label label-success">
                                                        Open
                                                    </span>
                                                }
                                                @if (item.Client.Status == KyoS.Common.Enums.StatusType.Close)
                                                {
                                                    <span class="label label-default">
                                                        Close
                                                    </span>
                                                }
                                            </td>
                                            <td align="center">
                                                @Html.DisplayFor(modelItem => item.Active)
                                            </td>
                                            <td align="center">
                                                @if (item.NumberOfMonths != null)
                                                {
                                                    @if ((DateTime.Now - item.MTPDevelopedDate.Date.AddMonths(Convert.ToInt32(item.NumberOfMonths + month))).Days >= 0)
                                                    {
                                                        <span class="label label-danger" title="Expired days">
                                                            @(-(DateTime.Now - item.MTPDevelopedDate.Date.AddMonths(Convert.ToInt32(item.NumberOfMonths + month))).Days )
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        @if ((DateTime.Now - item.MTPDevelopedDate.Date.AddMonths(Convert.ToInt32(item.NumberOfMonths + month))).Days < -10)
                                                        {
                                                            <span class="label label-primary" title="Number of days to expire the MTP">
                                                                @((item.MTPDevelopedDate.Date.AddMonths(Convert.ToInt32(item.NumberOfMonths + month)) - DateTime.Now).Days )
                                                            </span>
                                                        }
                                                        else 
                                                        {
                                                           <span class="label label-warning" title="Number of days to expire the MTP">
                                                                @((item.MTPDevelopedDate.Date.AddMonths(Convert.ToInt32(item.NumberOfMonths + month)) - DateTime.Now).Days )
                                                           </span>
                                                        }
                                                    }

                                                    month = 0;
                                                }
                                            </td>
                                            <td align="center">
                                                @if (User.IsInRole("Facilitator") || User.IsInRole("Supervisor"))
                                                {
                                                    <a asp-action="CreateMTPReview" asp-route-id="@item.Id" class="btn btn-success" title="Create Review"><i class="glyphicon glyphicon-plus"></i></a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-success disabled" title="Create MTP Review"><i class="glyphicon glyphicon-plus"></i></a>
                                                }

                                            </td>
                                            <td align="center">
                                                @if (User.IsInRole("Supervisor") || (item.CreatedBy == User.Identity.Name))
                                                {
                                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning" title="Edit MTP"><i class="glyphicon glyphicon-pencil"></i></a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-warning disabled" title="Edit MTP"><i class="glyphicon glyphicon-pencil"></i></a>     
                                                }
                                                <a asp-action="PrintMTP" asp-route-id="@item.Id" class="btn btn-success" title="Print MTP" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="glyphicon glyphicon-align-justify"></i></a>
                                                @if (User.IsInRole("Supervisor") || (item.CreatedBy == User.Identity.Name))
                                                {
                                                    <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-danger disabled" title="Edit MTP"><i class="glyphicon glyphicon-trash"></i></a>
                                                }
                                            </td>
                                        </tr>

                                    }

                                }
                                else
                                {
                                    if (item.MtpReviewList.Count() > 0)
                                    {
                                        <tr style="color:darkgray;">
                                            <td align="center">
                                                @if (item.MtpReviewList.Count() != 0)
                                                {
                                                    <a class="icon-plus-sign-alt"></a>
                                                }
                                                else
                                                {

                                                }
                                                <div style="display:none">
                                                    <table class="table table-striped table-bordered">
                                                        <tr>
                                                            <th class="col-md-1" style="text-align:center">Date</th>
                                                            <th class="col-md-2" style="text-align:center">Date Review On</th>
                                                            <th class="col-md-4" style="text-align:center">Admitted by</th>
                                                            <th class="col-md-2" style="text-align:center">Month</th>
                                                            <th class="col-md-1" style="text-align:center;">Status</th>
                                                            <th class="col-md-2" style="text-align:center"></th>
                                                        </tr>
                                                        @foreach (var element in item.MtpReviewList)
                                                        {
                                                            <tr>
                                                                <td align="center">@Html.DisplayFor(modelItem => element.DataOfService)</td>
                                                                <td align="center">@Html.DisplayFor(modelItem => element.ReviewedOn)</td>
                                                                <td align="center">@Html.DisplayFor(modelItem => element.Therapist)</td>
                                                                <td align="center">@Html.DisplayFor(modelItem => element.MonthOfTreatment)</td>                                                                
                                                                <td align="center">
                                                                    @if (element.Status == KyoS.Common.Enums.AdendumStatus.Edition)
                                                                    {
                                                                        <span class="label label-default">
                                                                            Edition
                                                                        </span>
                                                                    }
                                                                    else
                                                                    {
                                                                        if (element.Status == KyoS.Common.Enums.AdendumStatus.Pending)
                                                                        {
                                                                            <span class="label label-info">
                                                                                Pending
                                                                            </span>
                                                                        }
                                                                        else
                                                                        {
                                                                            if (element.Status == KyoS.Common.Enums.AdendumStatus.Approved)
                                                                            {
                                                                                <span class="label label-success">
                                                                                    Approved
                                                                                </span>
                                                                            }
                                                                        }
                                                                    }
                                                                </td> 
                                                                <td align="center">
                                                                    @if (User.IsInRole("Supervisor"))
                                                                    {
                                                                        @if ((element.Status == KyoS.Common.Enums.AdendumStatus.Edition && element.CreatedBy == User.Identity.Name) || (@element.Status == KyoS.Common.Enums.AdendumStatus.Pending))
                                                                        {
                                                                            <a asp-action="EditMTPReview" asp-route-id="@element.Id" class="btn btn-warning" title="Edit MTP Review"><i class="glyphicon glyphicon-pencil"></i></a>
                                                                            <a asp-action="FinishEditingMtpReview" asp-route-id="@element.Id" class="btn btn-success" title="Finish edition of MTP Review"><i class="glyphicon glyphicon-ok"></i></a>
                                                                            <a class="btn btn-success disabled" title="Print MTP Review"><i class="glyphicon glyphicon-print"></i></a>
                                                                        }
                                                                        else
                                                                        {
                                                                            <a class="btn btn-warning disabled" title="Edit MTP Review"><i class="glyphicon glyphicon-pencil"></i></a>
                                                                            <a class="btn btn-success disabled" title="Approve MTP Review"><i class="glyphicon glyphicon-ok"></i></a>
                                                                            @if (@element.Status == KyoS.Common.Enums.AdendumStatus.Approved)
                                                                            {
                                                                                <a asp-action="PrintMTPReview" asp-route-id="@element.Id" class="btn btn-success" title="Print MTP Review" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                                                            }
                                                                            else
                                                                            {
                                                                                <a class="btn btn-success disabled" title="Print MTP Review"><i class="glyphicon glyphicon-print"></i></a>
                                                                            }
                                                                        }

                                                                    }
                                                                    else
                                                                    {
                                                                        @if (@element.Status == KyoS.Common.Enums.AdendumStatus.Edition && @element.CreatedBy == User.Identity.Name)
                                                                        {
                                                                            <a asp-action="EditMTPReview" asp-route-id="@element.Id" class="btn btn-warning" title="Edit MTP Review"><i class="glyphicon glyphicon-pencil"></i></a>
                                                                            <a asp-action="FinishEditingMtpReview" asp-route-id="@element.Id" class="btn btn-success" title="Finish edition of MTP Review"><i class="glyphicon glyphicon-ok"></i></a>
                                                                            <a class="btn btn-success disabled" title="Print MTP Review"><i class="glyphicon glyphicon-print"></i></a>
                                                                        }
                                                                        else
                                                                        {
                                                                            <a class="btn btn-warning disabled" title="Edit MTP Review"><i class="glyphicon glyphicon-pencil"></i></a>
                                                                            <a class="btn btn-success disabled" title="Approve MTP Review"><i class="glyphicon glyphicon-ok"></i></a>
                                                                            @if (@element.Status == KyoS.Common.Enums.AdendumStatus.Approved)
                                                                            {
                                                                                <a asp-action="PrintMTPReview" asp-route-id="@element.Id" class="btn btn-success" title="Print MTP Review" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                                                            }
                                                                            else
                                                                            {
                                                                                <a class="btn btn-success disabled" title="Print MTP Review"><i class="glyphicon glyphicon-print"></i></a>
                                                                            }
                                                                        }
                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                    </table>
                                                </div>
                                            </td>
                                            <td>
                                                @if (item.Client.Gender == KyoS.Common.Enums.GenderType.Female)
                                                {
                                                    <i class="glyphicon glyphicon-user btn-danger"></i>
                                                }
                                                @if (item.Client.Gender == KyoS.Common.Enums.GenderType.Male)
                                                {
                                                    <i class="glyphicon glyphicon-user btn-primary"></i>
                                                }
                                                &nbsp;
                                                @Html.DisplayFor(modelItem => item.Client.Code)
                                                &nbsp;
                                                @Html.DisplayFor(modelItem => item.Client.Name)
                                            </td>
                                            <td align="center">
                                                @Html.DisplayFor(modelItem => item.Client.MTPs.ElementAtOrDefault(0).MTPDevelopedDate)
                                            </td>
                                            <td align="center">
                                                @Html.DisplayFor(modelItem => item.Client.MTPs.ElementAtOrDefault(0).NumberOfMonths)
                                            </td>
                                            <td align="center">
                                                @if (item.Client.Status == KyoS.Common.Enums.StatusType.Open)
                                                {
                                                    <span class="label label-success">
                                                        Open
                                                    </span>
                                                }
                                                @if (item.Client.Status == KyoS.Common.Enums.StatusType.Close)
                                                {
                                                    <span class="label label-default">
                                                        Close
                                                    </span>
                                                }
                                            </td>
                                            <td align="center">
                                                @Html.DisplayFor(modelItem => item.Active)
                                            </td>
                                            <td align="center">
                                                @* @if (item.NumberOfMonths != null)
                                                    {
                                                        @if ((DateTime.Now - item.MTPDevelopedDate.Date.AddMonths(Convert.ToInt32(item.NumberOfMonths))).Days >= 0)
                                                        {
                                                            <span class="label label-danger" title="Expired days">
                                                                @(-(DateTime.Now - item.MTPDevelopedDate.Date.AddMonths(Convert.ToInt32(item.NumberOfMonths))).Days)
                                                            </span>
                                                        }
                                                        @if ((DateTime.Now - item.MTPDevelopedDate.Date.AddMonths(Convert.ToInt32(item.NumberOfMonths))).Days < 0)
                                                        {
                                                            <span class="label label-primary" title="Number of days to expire the MTP">
                                                                @((item.MTPDevelopedDate.Date.AddMonths(Convert.ToInt32(item.NumberOfMonths)) - DateTime.Now).Days)
                                                            </span>
                                                        }
                                                    }*@
                                            </td>
                                            <td align="center">
                                                <a class="btn btn-success disabled" title="Create MTP Review"><i class="glyphicon glyphicon-plus"></i></a>
                                            </td>
                                            <td align="center">
                                                @if (!User.IsInRole("Supervisor"))
                                                {
                                                    <a class="btn btn-warning disabled" title="Edit MTP"><i class="glyphicon glyphicon-pencil"></i></a>
                                                }
                                                else
                                                {
                                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning" title="Edit MTP"><i class="glyphicon glyphicon-pencil"></i></a>
                                                }
                                                <a asp-action="PrintMTP" asp-route-id="@item.Id" class="btn btn-success" title="Print MTP" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="glyphicon glyphicon-align-justify"></i></a>
                                                @if (User.IsInRole("Supervisor"))
                                                {
                                                    <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-danger disabled" title="Edit MTP"><i class="glyphicon glyphicon-trash"></i></a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr tr style="color:darkgray;">
                                            <td align="center">
                                            </td>
                                            <td>
                                                @if (item.Client.Gender == KyoS.Common.Enums.GenderType.Female)
                                                {
                                                    <i class="glyphicon glyphicon-user btn-danger"></i>
                                                }
                                                @if (item.Client.Gender == KyoS.Common.Enums.GenderType.Male)
                                                {
                                                    <i class="glyphicon glyphicon-user btn-primary"></i>
                                                }
                                                 &nbsp;
                                                @Html.DisplayFor(modelItem => item.Client.Code)
                                                &nbsp;
                                                @Html.DisplayFor(modelItem => item.Client.Name)
                                            </td>
                                            <td align="center">
                                                @Html.DisplayFor(modelItem => item.Client.MTPs.ElementAtOrDefault(0).MTPDevelopedDate)
                                            </td>
                                            <td align="center">
                                                @Html.DisplayFor(modelItem => item.Client.MTPs.ElementAtOrDefault(0).NumberOfMonths)
                                            </td>
                                            <td align="center">
                                                @if (item.Client.Status == KyoS.Common.Enums.StatusType.Open)
                                                {
                                                    <span class="label label-success">
                                                        Open
                                                    </span>
                                                }
                                                @if (item.Client.Status == KyoS.Common.Enums.StatusType.Close)
                                                {
                                                    <span class="label label-default">
                                                        Close
                                                    </span>
                                                }
                                            </td>
                                            <td align="center">
                                                @Html.DisplayFor(modelItem => item.Active)
                                            </td>
                                            <td align="center">
                                                @* @if (item.NumberOfMonths != null)
                                                    {
                                                        @if ((DateTime.Now - item.MTPDevelopedDate.Date.AddMonths(Convert.ToInt32(item.NumberOfMonths))).Days >= 0)
                                                        {
                                                            <span class="label label-danger" title="Expired days">
                                                                @(-(DateTime.Now - item.MTPDevelopedDate.Date.AddMonths(Convert.ToInt32(item.NumberOfMonths))).Days)
                                                            </span>
                                                        }
                                                        @if ((DateTime.Now - item.MTPDevelopedDate.Date.AddMonths(Convert.ToInt32(item.NumberOfMonths))).Days < 0)
                                                        {
                                                            <span class="label label-primary" title="Number of days to expire the MTP">
                                                                @((item.MTPDevelopedDate.Date.AddMonths(Convert.ToInt32(item.NumberOfMonths)) - DateTime.Now).Days)
                                                            </span>
                                                        }
                                                    }*@
                                            </td>
                                            <td align="center">
                                                <a class="btn btn-success disabled" title="Create MTP Review"><i class="glyphicon glyphicon-plus"></i></a>
                                            </td>
                                            <td align="center">
                                                @if (!User.IsInRole("Supervisor"))
                                                {
                                                    <a class="btn btn-warning disabled" title="Edit MTP"><i class="glyphicon glyphicon-pencil"></i></a>
                                                }
                                                else
                                                {
                                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning" title="Edit MTP"><i class="glyphicon glyphicon-pencil"></i></a>
                                                }
                                                <a asp-action="PrintMTP" asp-route-id="@item.Id" class="btn btn-success" title="Print MTP" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="glyphicon glyphicon-align-justify"></i></a>
                                                @if (User.IsInRole("Supervisor"))
                                                {
                                                    <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-danger disabled" title="Edit MTP"><i class="glyphicon glyphicon-trash"></i></a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
    <partial name="_DeleteDialog" />

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script src="~/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript">
                        $(document).ready(function () {
                            $('#MyTable').DataTable({
                                "order": [[1, "asc"]],
                                "lengthMenu": [[10, 100, 200, -1], [10, 100, 200, "All"]],
                                "pageLength": 200
                            });

                            // Delete item
                            var item_to_delete;

                            $('.deleteItem').click((e) => {
                                item_to_delete = e.currentTarget.dataset.id;
                            });

                            $("#btnYesDelete").click(function () {
                                var url = "@Url.Action("Delete", "MTPs")";
                                window.location.href = url + '/' + item_to_delete;
                            });
                        });
        $(function () {

            //Assign Click event to Plus Image.
            $("body").on("click", "a[class*='icon-plus-sign-alt']", function () {
                $(this).closest("tr").after("<tr><td></td><td colspan = '999'>" + $(this).next().html() + "</td></tr>");
                $(this).attr("class", "icon-minus-sign-alt");
            });
            //Assign Click event to Minus Image.
            $("body").on("click", "a[class*='icon-minus-sign-alt']", function () {
                $(this).attr("class", "icon-plus-sign-alt");
                $(this).closest("tr").next().remove();
            });
        });
        </script>
    }
