@model KyoS.Web.Data.Entities.GoalEntity
@{
    ViewData["Title"] = "Objetives of Goals";
}

<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("MTPs", "Index", "MTPs")
        </li>
        <li class="active">Objetives</li>
    </ul><!--.breadcrumb-->
</div>

<p>
    <a asp-action="CreateObjective" class="btn btn-primary" asp-route-id="@Model.Id"><i class="glyphicon glyphicon-plus"></i> Create Objectives</a>
    <a asp-action="UpdateGoals" class="btn btn-success" asp-route-id="@Model.MTP.Id">Back</a>
</p>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 style="font-weight:bold;">Objectives of Goal @Model.Name</h5>
                    <h5 style="font-weight:bold;">MTP - @Model.MTP.Client.Name</h5>
                </div>                
                <div class="panel-body">
                    <table class="table table-hover table-responsive table-striped" id="MyTable">
                        <thead>
                            <tr>
                                <th class="col-md-1">
                                    Objective
                                </th>
                                <th class="col-md-6">
                                    Description
                                </th>
                                <th class="col-md-3">
                                    Intervention
                                </th>
                                <th class="col-md-2">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Objetives)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Objetive)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Intervention)
                                    </td>
                                    <td align="right">
                                        <a asp-action="EditObjective" asp-route-id="@item.Id" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></a>
                                        <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>

<partial name="_DeleteDialog" />
<partial name="_ModalPopup" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#MyTable').DataTable();

                            // Delete item
                            var item_to_delete;

                            $('.deleteItem').click((e) => {
                                item_to_delete = e.currentTarget.dataset.id;
                            });

                            $("#btnYesDelete").click(function () {
                                window.location.href = '/MTPs/DeleteObjective/' + item_to_delete;
                            });
                        });
    </script>
}