@model KyoS.Web.Models.TCMIntakeClientIdDocumentVerificationViewModel
<div class="col-md-12">
    <pre>  
    <strong>Client's Name:</strong> @Html.DisplayFor(modelItem => Model.TcmClient.Client.Name)      <strong>Record Number:</strong> @Html.DisplayFor(modelItem => Model.TcmClient.CaseNumber)

    This form is to verify client’s identity in order to prevent intentional deception, misrepresentation or unauthorized services, which may constitute fraud under
    federal and state laws related to Medicaid. The use of this form is <strong>mandatory</strong> when copies of original documents <strong>cannot</strong> be obtained (you must provide reason). 
    The information on this form is for identity verification purpose only and will be kept in the strictest confidentiality, as required by law, and will not be 
    shared with any entity or person outside the agency, unless so requested by client/legal guardian.
    </pre>
</div>

<div class="col-md-12">
    <pre>  
    I hereby certify that the following original identification documents were produced/presented to me by client/legal guardian (check all IDs presented and verified):
    </pre>
</div>

<br />

@if (User.IsInRole("CaseManager"))
{
<div class="col-md-12">
<pre>  
        <strong>Type of Document</strong>                                <strong>Number</strong> 

    State ID or Driver’s License                <input asp-for="Id_DriverLicense">

    Social Security Card                        <input asp-for="Social">

    Medicaid Recipient ID Card                  <input asp-for="MedicaidId">

    Medicare Card                               <input asp-for="MedicareCard">

    Health Plan (HMO) Member ID Card            <input asp-for="HealthPlan">

    Passport/Residence Card                     <input asp-for="Passport_Resident">

    Other:  <input asp-for="Other_Name">              <input asp-for="Other_Identification">

</pre>
</div>

    <div class="col-md-12">
        <pre>
        @if (Model.TcmClient.Client.LegalGuardian.Name != "")
        {
        <strong>Person served signature date</strong>    <input asp-for="DateSignatureLegalGuardianOrClient" disabled>
        <strong>(@Html.DisplayFor(modelItem => Model.TcmClient.Client.Name))</strong>
        }
        else
        { 
        <strong>Legal Guardian signature date</strong>    <input asp-for="DateSignatureLegalGuardianOrClient" disabled>
        <strong>(@Html.DisplayFor(modelItem => Model.TcmClient.Client.LegalGuardian.Name))</strong>
        }

        @if (Model.Id == 0)
        {
        <input type="checkbox" class="form-check-input" disabled> <i>Signed</i>
        }
        else
        { 
        <input type="checkbox" class="form-check-input" checked disabled> <i>Signed</i>
        }
        <strong>Employee signature date</strong>                   <input asp-for="DateSignatureEmployee">
        <strong>(@Html.DisplayFor(modelItem => Model.AdmissionedFor))</strong>                                                                    
    </pre>
    </div>
    <div class="col-md-12">
        &nbsp;
    </div>    
    <br />
}
else
{
    <div class="col-md-12">
        <pre>  
        <strong>Type of Document</strong>                           <strong>Number</strong> 

            State ID or Driver’s License                <input asp-for="Id_DriverLicense" disabled>
            Social Security Card                        <input asp-for="Social" disabled>
            Medicaid Recipient ID Card                  <input asp-for="MedicaidId" disabled>
            Medicare Card                               <input asp-for="MedicareCard" disabled>
            Health Plan (HMO) Member ID Card            <input asp-for="HealthPlan" disabled>
            Passport/Residence Card                     <input asp-for="Passport_Resident" disabled>
            Other:  <input asp-for="Other_Name" disabled>              <input asp-for="Other_Identification" disabled>
    </pre>
    </div>

    <div class="col-md-12">
        <pre>
        @if (Model.TcmClient.Client.LegalGuardian.Name != "")
        {
        <strong>Person served signature date</strong>    <input asp-for="DateSignatureLegalGuardianOrClient" disabled>
        <strong>(@Html.DisplayFor(modelItem => Model.TcmClient.Client.Name))</strong>
        }
        else
        { 
        <strong>Legal Guardian signature date</strong>    <input asp-for="DateSignatureLegalGuardianOrClient" disabled>
        <strong>(@Html.DisplayFor(modelItem => Model.TcmClient.Client.LegalGuardian.Name))</strong>
        }

        @if (Model.Id == 0)
        {
        <input type="checkbox" class="form-check-input" disabled> <i>Signed</i>
        }
        else
        { 
        <input type="checkbox" class="form-check-input" checked disabled> <i>Signed</i>
        }
        <strong>Employee signature date</strong>         <input asp-for="DateSignatureEmployee" disabled>
        <strong>(@Html.DisplayFor(modelItem => Model.AdmissionedFor))</strong>                                                                    
    </pre>
    </div>
    <div class="col-md-12">
        &nbsp;
    </div>    
    <br />
}


