@model KyoS.Web.Models.TCMIntakeAcknoewledgementHippaViewModel
<div class="col-md-12">
    <pre>
    <strong>@Html.DisplayFor(modelItem => Model.TcmClient.Client.Name) </strong>, recipient of services, and if applicable,
    <strong>@Html.DisplayFor(modelItem => Model.TcmClient.Client.LegalGuardian.Name) </strong> legal guardian or authorized representative

    Hereby acknowledge receipt of <strong>@Html.DisplayFor(modelItem => Model.TcmClient.Client.Clinic.Name)</strong>  Notice of Privacy Practices. This Notice of Privacy Practices provides detailed information about how 
    <strong>@Html.DisplayFor(modelItem => Model.TcmClient.Client.Clinic.Name)</strong>  may use and disclose my protected health and confidential information. The Notice contains a Client’s Rights section describing 
    your rights under the law. You have the right to review the Notice before signing this form. You have the right to request that we restrict how protected health information 
    about you is used or disclosed for treatment, payment, or health care operations.
 
    I understand that <strong>@Html.DisplayFor(modelItem => Model.TcmClient.Client.Clinic.Name)</strong> reserved the right to change the Privacy Practices that are described in the Notice.
    I also understand that a copy of any revised notice with be made available to me upon request. 

    <strong>@Html.DisplayFor(modelItem => Model.TcmClient.Client.Clinic.Name)</strong> provides this form to comply with the Heath Insurance Portability and Accountability Act (HIPPA). 
    </pre>
</div>
<div class="col-md-12">
    <pre>
    
    <strong>Person served signature date</strong>    <input asp-for="DateSignaturePerson">      <strong>Legal Guardian signature date</strong>    <input asp-for="DateSignatureLegalGuardian">
    <strong>(@Html.DisplayFor(modelItem => Model.TcmClient.Client.Name))</strong>     
    
    <strong>Employee signature date</strong>         <input asp-for="DateSignatureEmployee">
    <strong>(@Html.DisplayFor(modelItem => Model.AdmissionedFor))</strong>                                                                    
    </pre>
</div>
<div class="col-md-12">
    &nbsp;
</div>
<div>
    <div class="form-group col-md-12">
        <input type="checkbox" asp-for="Documents" class="form-check-input" id="Documents"> Documents were verbally translated to me in my native language.<br />
        <label asp-for="Documents" class="forgot">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>@Html.DisplayFor(modelItem => Model.TcmClient.Client.Clinic.Name)</strong>
        </label>
    </div>
</div>
<br />

