@model KyoS.Web.Models.TCMIntakeAppendixJViewModel
@{
    ViewData["Title"] = "TCM AppendixJ";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>

    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                @if (ViewData["origi"].ToString() == "0")
                {
                    @Html.ActionLink("Pending Appendix J", "ApendiceJStatus", "TCMIntakes", new { approved = 1 })
                }
                @if (ViewData["origi"].ToString() == "1")
                {
                    @Html.ActionLink("TCM Intake Section 4", "TCMIntakeSectionDashboardReadOnly", "TCMIntakes", new { id = @Model.TcmClient_FK, section = 4 })
                }
            </li>
            <li class="active">TCM AppendixJ</li>
        </ul><!--.breadcrumb-->
    </div>

    <h4>TCM AppendixJ</h4>
    <hr />
    <div class="row">
        <form asp-action="AproveAppendixJ" asp-route-id="@Model.Id" asp-route-origi="@ViewData["origi"]" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTCMClient" />
            <input type="hidden" asp-for="TcmClient_FK" />
            <input type="hidden" asp-for="AdmissionedFor" />
            <input type="hidden" asp-for="CreatedOn" />
            <input type="hidden" asp-for="CreatedBy" />
            <partial name="_TCMIntakeAppendixJReadOnly" />
            <div class="form-group col-md-12">
                <input type="submit" value="Approve" class="btn btn-primary" />
                <a asp-action="Review" asp-route-approved="1" class="btn btn-warning disabled">Review</a>
                @if (ViewData["origi"].ToString() == "0")
                {
                    <a asp-action="ApendiceJStatus" asp-route-approved="1" class="btn btn-success">Back</a>
                }
                @if (ViewData["origi"].ToString() == "1")
                {
                    <a asp-action="TCMIntakeSectionDashboardReadOnly" asp-route-id="@Model.TcmClient_FK" asp-route-section="4" class="btn btn-success">Back</a>
                }
            </div>
        </form>
    </div>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">

    </script>
}


