@model KyoS.Web.Models.TCMIntakeAppendixJViewModel
@{
    ViewData["Title"] = "TCM Appendix J";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>

    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                @if (ViewData["origi"].ToString() == "0")
                {
                    @Html.ActionLink("TCM Intake Section 4", "TCMIntakeSectionDashboard", "TCMIntakes", new { id = @Model.IdTCMClient, section = 4 })
                }
                @if (ViewData["origi"].ToString() == "1")
                {
                    @Html.ActionLink("Not started cases", "GetCaseNotServicePlan", "TCMClients")
                }
                @if (ViewData["origi"].ToString() == "2")
                {
                    @Html.ActionLink("TCM AppendixJ List", "ListAppendixJForTCMClient", "TCMIntakes", new { id = Model.IdTCMClient, origi = ViewData["origi"] })
                }
            </li>
            <li class="active">TCM Appendix J</li>
        </ul><!--.breadcrumb-->
    </div>

    <h4>TCM Appendix J</h4>
    <hr />
    <div class="row">
        <form asp-action="CreateTCMAppendixJ" asp-route-id="@Model.Id" asp-route-origi="@ViewData["origi"]" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTCMClient" />
            <input type="hidden" asp-for="TcmClient_FK" />
            <input type="hidden" asp-for="AdmissionedFor" />
            <input type="hidden" asp-for="CreatedOn" />
            <input type="hidden" asp-for="CreatedBy" />
            <input type="hidden" asp-for="Approved" />
            <input type="hidden" asp-for="Active" />
            <input type="hidden" asp-for="DateExpired" />
            <partial name="_TCMIntakeAppendixJ" />
            <div class="form-group col-md-12">
                <input type="submit" value="Sign and Submit" class="btn btn-primary" />
                @if (ViewData["origi"].ToString() == "0")
                {
                    <a asp-action="TCMIntakeSectionDashboard" asp-route-id="@Model.IdTCMClient" asp-route-section="4" class="btn btn-success">Back</a>
                }
                @if (ViewData["origi"].ToString() == "1")
                {
                    <a asp-action="GetCaseNotServicePlan" asp-controller="TCMClients" class="btn btn-success">Back</a>
                }
                @if (ViewData["origi"].ToString() == "2")
                {
                    <a asp-action="ListAppendixJForTCMClient" asp-route-id="@Model.IdTCMClient" asp-route-origi="0" class="btn btn-success">Back</a>
                }
            </div>
        </form>
    </div>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">

    </script>
}
