@model KyoS.Web.Models.TCMAssessmentMedicationViewModel
@{
    ViewData["Title"] = "Create Medications";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
</head>
<body>
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                @if (User.IsInRole("CaseManager"))
                {
                    @Html.ActionLink("TCM Intake Section 3", "TCMIntakeSectionDashboard", "TCMIntakes", new { id = Model.TcmAssessment.TcmClient_FK, section = 3 })
                }
                else
                {
                    @Html.ActionLink("TCM Intake Section 3", "TCMIntakeSectionDashboardReadOnly", "TCMIntakes", new { id = Model.TcmAssessment.TcmClient_FK, section = 3 })
                }
            </li>
            <li class="active">Create Medications List</li>
        </ul><!--.breadcrumb-->
    </div>
    <h4>Create Medications</h4>
    <hr />
    <div class="row">
        <form asp-action="CreateTCMMedication" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxTCMMedicationList(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTCMAssessment" />
            
            <input type="hidden" asp-for="Id" />
            <partial name="_TCMMedications" />
            <div class="col-md-12">
                <input type="submit" value="Add Medication" class="btn btn-primary" />
                @if (User.IsInRole("CaseManager"))
                {
                    <a asp-action="TCMIntakeSectionDashboard" asp-route-id="@Model.IdTCMAssessment" asp-route-section="3" class="btn btn-success">Back</a>
                }
                else
                {
                    <a asp-action="TCMIntakeSectionDashboardReadOnly" asp-route-id="@Model.IdTCMAssessment" asp-route-section="3" class="btn btn-success">Back</a>
                }
            </div>
        </form>
    </div>
    <hr />
    <div class="row">
        <div id="view-medications">
            @await Html.PartialAsync("_ViewTCMMedicationList", Model)
        </div>
    </div>    
</body>
</html>

<partial name="_ModalPopup" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                "order": [[0, "asc"]],
                "pageLength": 100
            });
        });

        function ConfirmDelete(e) {
            Swal.fire({
                title: 'Do you want to delete?',
                text: "Note: All data related to this element will be deleted.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    var url = "@Url.Action("DeleteMedicatList", "TCMIntake")";
                    window.location.href = url + '/' + e;
                }
            });
        }
    </script>
}

