@model KyoS.Web.Models.TCMIntakeInterventionLogViewModel
@{
    ViewData["Title"] = "Intervention Log";
}

<!DOCTYPE html>

<html>
<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                @if (User.IsInRole("CaseManager"))
                {
                    @Html.ActionLink("TCM Intake Section 5", "TCMIntakeSectionDashboard", "TCMIntakes", new { id = @Model.TcmClient.Id, section = 5 })
                }
                else
                {
                    @Html.ActionLink("TCM Intake Section 5", "TCMIntakeSectionDashboardReadOnly", "TCMIntakes", new { id = @Model.TcmClient.Id, section = 5 })
                }
            </li>
            <li class="active">Create</li>
        </ul><!--.breadcrumb-->
    </div>

    <h4>Create Intervention Log</h4>
    <hr />

    <div class="row">

        <form asp-action="EditTCMInterventionLog" enctype="multipart/form-data">
            <div class="col-md-push-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="IdTCMClient" />
                <input type="hidden" asp-for="TcmClient_FK" />
                <input type="hidden" asp-for="CreatedBy" />
                <input type="hidden" asp-for="CreatedOn" />
                <partial name="_TCMInterventionLog" />
                <div class="col-md-12">                    
                    <hr />                    
                </div>
                <div class="col-md-push-12">
                    <div class="col-md-12 form-group">
                        <a onclick="showInPopup('@Url.Action("CreateTCMIntervention", "TCMIntakes", new { id = @Model.Id}, Context.Request.Scheme)','Create Intervention Log')" class="btn btn-success" title="Create Intervention Log"><i class="glyphicon glyphicon-plus"></i> Create Intervention Log</a>
                        <a class="btn btn-success" asp-controller="TCMIntakes" asp-action="PrintTCMInterventionLog" asp-route-id="@Model.Id" title="Print Intervention Log" target="_blank"><i class="glyphicon glyphicon-print"></i> Print Intervention Log</a>
                    </div>
                    <div class="col-md-12">
                        <div id="view-tcmServicePlanReview">
                           @await Html.PartialAsync("_ViewTCMIntakeInterventionLIst", Model.InterventionList.ToList())
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group col-md-12">                    
                    @if (User.IsInRole("CaseManager"))
                    {
                        <a asp-action="TCMIntakeSectionDashboard" asp-route-id="@Model.TcmClient.Id" asp-route-section="5" asp-controller="TCMIntakes" class="btn btn-success">Back</a>
                    }
                    else
                    {
                        <a asp-action="TCMIntakeSectionDashboardReadOnly" asp-route-id="@Model.TcmClient.Id" asp-route-section="5" asp-controller="TCMIntakes" class="btn btn-success">Back</a>
                    }
                </div>
            </div>
        </form>

    </div>

</body>
</html>

<partial name="_ModalPopup" />
<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                "order": [[0, "asc"]],
                "pageLength": 100
            });
        });

        function ConfirmDelete(e) {
            Swal.fire({
                title: 'Do you want to delete?',
                text: "Note: All data related to this element will be deleted.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    var url = "@Url.Action("DeleteTCMIntervention", "TCMIntakes")";
                    window.location.href = url + '/' + e;
                }
            });
        }
    </script>
}
