@model IEnumerable<KyoS.Web.Data.Entities.TCMIntakeConsentForReleaseEntity>
@{
    ViewData["Title"] = "TCM Consent for Release List";
}
<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @if (User.IsInRole("CaseManager"))
            {
                @Html.ActionLink("TCM Intake Section 1", "TCMIntakeSectionDashboard", "TCMIntakes", new { id = @Model.First().TcmClient_FK, section = 1, origin = ViewData["origi"] })
            }
            else
            {
                @Html.ActionLink("TCM Intake Section 1", "TCMIntakeSectionDashboardReadOnly", "TCMIntakes", new { id = @Model.First().TcmClient_FK, section = 1, origin = ViewData["origi"] })
            }
        </li>
        <li class="active">TCM Consent for Release List</li>
    </ul><!--.breadcrumb-->
</div>

<div class="row">
    <div class="col-md-12">
        <p>
            @if (User.IsInRole("CaseManager"))
            {
                <a asp-action="CreateTCMConsentForRelease" asp-route-id="@Model.First().TcmClient.Id" asp-route-origi="@ViewData["origi"]" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Create TCM Consent for Release</a>
            }
            else
            {
                <a asp-action="CreateTCMConsentForRelease" asp-route-id="@Model.First().TcmClient.Id" asp-route-origi="@ViewData["origi"]" class="btn btn-primary disabled"><i class="glyphicon glyphicon-plus"></i> Create TCM Consent for Release</a>
            }

        </p>       
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">TCM Consent for Release List</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-6">
                                @Html.DisplayNameFor(model => model.TcmClient.Client.Name)
                            </th>                            
                            <th class="col-md-2" style="text-align:center;">
                                Date
                            </th>
                            <th class="col-md-2" style="text-align:center;">
                                Status
                            </th>                            
                            <th class="col-md-2" align="right">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                              <tr>
                                   <td>
                                        @if (item.TcmClient.Client.Gender == KyoS.Common.Enums.GenderType.Female)
                                        {
                                            <i class="glyphicon glyphicon-user btn-danger"></i>
                                        }
                                        @if (item.TcmClient.Client.Gender == KyoS.Common.Enums.GenderType.Male)
                                        {
                                            <i class="glyphicon glyphicon-user btn-primary"></i>
                                        }
                                        &nbsp;
                                        @Html.DisplayFor(modelItem => item.TcmClient.Client.Name)
                                        |
                                        @Html.DisplayFor(modelItem => item.TcmClient.Client.Code)
                                   </td>                                   
                                   <td align="center">
                                        @Html.DisplayFor(modelItem => item.DateSignatureEmployee)
                                    </td>
                                   <td align="center">
                                        @if (item.TcmClient.Status == KyoS.Common.Enums.StatusType.Open)
                                        {
                                            <span class="label label-success">
                                                Open
                                            </span>
                                        }
                                        @if (item.TcmClient.Status == KyoS.Common.Enums.StatusType.Close)
                                        {
                                            <span class="label label-default">
                                                Close
                                            </span>
                                        }
                                    </td>
                                   <td align="right">
                                       <a asp-action="EditConsentForRelease" asp-route-id="@item.Id" asp-route-origi="@ViewData["origi"]" class="btn btn-warning" title="Edit TCM Consent for Release"><i class="glyphicon glyphicon-pencil"></i></a>
                                       <a asp-action="PrintTCMConsentForRelease" asp-route-id="@item.Id" class="btn btn-success" title="Print TCM Consent for Release" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                   </td>
                                </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#MyTable').DataTable({
                                "order": [[0, "asc"]],
                                "pageLength": 10
                            });

                            // Delete item
                            var item_to_delete;

                            $('.deleteItem').click((e) => {
                                item_to_delete = e.currentTarget.dataset.id;
                            });

                            $("#btnYesDelete").click(function () {
                                var url = "@Url.Action("Delete", "TCMIntakes")";
                                window.location.href = url + '/' + item_to_delete;
                            });
                        });
    </script>
}
