@model KyoS.Web.Data.Entities.TCMClientEntity

@{
    ViewData["Title"] = "TCM Intake";
}

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("TCM Intake", "Index", "TCMIntakes")
        </li>
        <li class="active">TCM OPEN BINDER of @Model.Client.Name</li>
    </ul><!--.breadcrumb-->
</div>
<div>

    <div class="row">
        <div class="container-fluid">
            @*<h4 style="font-weight:bold; text-align: center;"> <span class="label label-default">@Model.Client.Name </span></h4>*@
            <h4 style="font-weight:bold; text-align: center;"> <span class="label label-default">OPEN BINDER </span></h4>
        </div>
        <div class="col-md-12">
            <hr />
        </div>
        <div class="col-md-3">
            &nbsp;
        </div>
        <div class="col-sm-3 col-md-2">
            @if ((Model.TCMIntakeForm != null) && (Model.TcmIntakeConsentForTreatment != null) && (Model.TcmIntakeConsentForRelease != null) && (Model.TcmIntakeConsumerRights != null)
               && (Model.TcmIntakeAcknowledgementHipa != null) && (Model.TCMIntakeOrientationChecklist != null) && (Model.TCMIntakeAdvancedDirective != null)
               && (Model.TCMIntakeForeignLanguage != null) && (Model.TCMIntakeWelcome != null) && (Model.Client.IntakeFeeAgreement != null)
               && (Model.Client.IntakeMedicalHistory != null) && (Model.Client.MedicationList != null) && (Model.TCMIntakeNonClinicalLog != null)
               && (Model.TCMIntakeMiniMental != null) && (Model.TCMIntakeCoordinationCare != null))
            {
                <div class="thumbnail list-group-item list-group-item-text">
                    <h4 style="align-content:end;">SECTION 1<br>&nbsp;</h4>
                    <p style="text-align:right"><a asp-action="TCMIntakeSectionDashboard" asp-route-id="@Model.Id" class="btn btn-default" role="button">Go</a></p>
                </div>
            }
            else
            {
                <div class="thumbnail list-group-item list-group-item-success">
                    <h4 style="align-content:end;">SECTION 1<br>&nbsp;</h4>
                    <p style="text-align:right"><a asp-action="TCMIntakeSectionDashboard" asp-route-id="@Model.Id" class="btn btn-success" role="button">Go</a></p>
                </div>
            }
        </div>
        <div class="col-sm-3 col-md-2">
            @if ((Model.TCMIntakeForm != null) && (Model.TcmIntakeConsentForTreatment != null) && (Model.TcmIntakeConsentForRelease != null) && (Model.TcmIntakeConsumerRights != null)
              && (Model.TcmIntakeAcknowledgementHipa != null) && (Model.TCMIntakeOrientationChecklist != null) && (Model.TCMIntakeAdvancedDirective != null)
              && (Model.TCMIntakeForeignLanguage != null) && (Model.TCMIntakeWelcome != null) && (Model.Client.IntakeFeeAgreement != null)
              && (Model.Client.IntakeMedicalHistory != null) && (Model.Client.MedicationList != null) && (Model.TCMIntakeNonClinicalLog != null)
              && (Model.TCMIntakeMiniMental != null) && (Model.TCMIntakeCoordinationCare != null))
            {
                <div class="thumbnail list-group-item list-group-item-text">
                    <h4 style="align-content:end;">SECTION 2<br>&nbsp;</h4>
                    <p style="text-align:right"><a asp-action="CreateTCMConsentForTreatment" asp-route-id="@Model.Id" class="btn btn-default" role="button">Go</a></p>
                </div>
            }
            else
            {
                <div class="thumbnail list-group-item list-group-item-success">
                    <h4 style="align-content:end;">SECTION 2<br>&nbsp;</h4>
                    <p style="text-align:right"><a asp-action="CreateTCMConsentForTreatment" asp-route-id="@Model.Id" class="btn btn-success" role="button">Go</a></p>
                </div>
            }
        </div>
        <div class="col-sm-3 col-md-2">
            @if ((Model.TCMIntakeForm != null) && (Model.TcmIntakeConsentForTreatment != null) && (Model.TcmIntakeConsentForRelease != null) && (Model.TcmIntakeConsumerRights != null)
              && (Model.TcmIntakeAcknowledgementHipa != null) && (Model.TCMIntakeOrientationChecklist != null) && (Model.TCMIntakeAdvancedDirective != null)
              && (Model.TCMIntakeForeignLanguage != null) && (Model.TCMIntakeWelcome != null) && (Model.Client.IntakeFeeAgreement != null)
              && (Model.Client.IntakeMedicalHistory != null) && (Model.Client.MedicationList != null) && (Model.TCMIntakeNonClinicalLog != null)
              && (Model.TCMIntakeMiniMental != null) && (Model.TCMIntakeCoordinationCare != null))
            {
                <div class="thumbnail list-group-item list-group-item-text">
                    <h4 style="align-content:end;">SECTION 3<br>&nbsp;</h4>
                    <p style="text-align:right"><a asp-action="CreateTCMConsentForRelease" asp-route-id="@Model.Id" class="btn btn-default" role="button">Go</a></p>
                </div>
            }
            else
            {
                <div class="thumbnail list-group-item list-group-item-success">
                    <h4 style="align-content:end;">SECTION 3<br>&nbsp;</h4>
                    <p style="text-align:right"><a asp-action="ListConsentForrelease" asp-route-id="@Model.Id" class="btn btn-success" role="button">@Model.TcmIntakeConsentForRelease.Count()</a></p>
                </div>
            }
        </div>
        
        <div class="col-md-3">
            &nbsp;
        </div>
        <div class="col-md-12">
            &nbsp;
        </div>
        <div class="col-md-3">
            &nbsp;
        </div>
        <div class="col-sm-3 col-md-2">
            @if ((Model.TCMIntakeForm != null) && (Model.TcmIntakeConsentForTreatment != null) && (Model.TcmIntakeConsentForRelease != null) && (Model.TcmIntakeConsumerRights != null)
               && (Model.TcmIntakeAcknowledgementHipa != null) && (Model.TCMIntakeOrientationChecklist != null) && (Model.TCMIntakeAdvancedDirective != null)
               && (Model.TCMIntakeForeignLanguage != null) && (Model.TCMIntakeWelcome != null) && (Model.Client.IntakeFeeAgreement != null)
               && (Model.Client.IntakeMedicalHistory != null) && (Model.Client.MedicationList != null) && (Model.TCMIntakeNonClinicalLog != null)
               && (Model.TCMIntakeMiniMental != null) && (Model.TCMIntakeCoordinationCare != null))
            {
                <div class="thumbnail list-group-item list-group-item-text">
                    <h4 style="align-content:end;">SECTION 4<br>&nbsp;</h4>
                    <p style="text-align:right"><a asp-action="Create" asp-route-id="@Model.Id" class="btn btn-default" role="button">Go</a></p>
                </div>
            }
            else
            {
                <div class="thumbnail list-group-item list-group-item-success">
                    <h4 style="align-content:end;">SECTION 4<br>&nbsp;</h4>
                    <p style="text-align:right"><a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success" role="button">Go</a></p>
                </div>
            }
        </div>
        <div class="col-sm-3 col-md-2">
            @if ((Model.TCMIntakeForm != null) && (Model.TcmIntakeConsentForTreatment != null) && (Model.TcmIntakeConsentForRelease != null) && (Model.TcmIntakeConsumerRights != null)
              && (Model.TcmIntakeAcknowledgementHipa != null) && (Model.TCMIntakeOrientationChecklist != null) && (Model.TCMIntakeAdvancedDirective != null)
              && (Model.TCMIntakeForeignLanguage != null) && (Model.TCMIntakeWelcome != null) && (Model.Client.IntakeFeeAgreement != null)
              && (Model.Client.IntakeMedicalHistory != null) && (Model.Client.MedicationList != null) && (Model.TCMIntakeNonClinicalLog != null)
              && (Model.TCMIntakeMiniMental != null) && (Model.TCMIntakeCoordinationCare != null))
            {
                <div class="thumbnail list-group-item list-group-item-text">
                    <h4 style="align-content:end;">SECTION 5<br>&nbsp;</h4>
                    <p style="text-align:right"><a asp-action="CreateTCMConsentForTreatment" asp-route-id="@Model.Id" class="btn btn-default" role="button">Go</a></p>
                </div>
            }
            else
            {
                <div class="thumbnail list-group-item list-group-item-success">
                    <h4 style="align-content:end;">SECTION 5<br>&nbsp;</h4>
                    <p style="text-align:right"><a asp-action="CreateTCMConsentForTreatment" asp-route-id="@Model.Id" class="btn btn-success" role="button">Go</a></p>
                </div>
            }
        </div>
        <div class="col-sm-3 col-md-2">
            @if ((Model.TCMIntakeForm != null) && (Model.TcmIntakeConsentForTreatment != null) && (Model.TcmIntakeConsentForRelease != null) && (Model.TcmIntakeConsumerRights != null)
              && (Model.TcmIntakeAcknowledgementHipa != null) && (Model.TCMIntakeOrientationChecklist != null) && (Model.TCMIntakeAdvancedDirective != null)
              && (Model.TCMIntakeForeignLanguage != null) && (Model.TCMIntakeWelcome != null) && (Model.Client.IntakeFeeAgreement != null)
              && (Model.Client.IntakeMedicalHistory != null) && (Model.Client.MedicationList != null) && (Model.TCMIntakeNonClinicalLog != null)
              && (Model.TCMIntakeMiniMental != null) && (Model.TCMIntakeCoordinationCare != null))
            {
                <div class="thumbnail list-group-item list-group-item-text">
                    <h4 style="align-content:end;">SECTION 6<br>&nbsp;</h4>
                    <p style="text-align:right"><a asp-action="CreateTCMConsentForRelease" asp-route-id="@Model.Id" class="btn btn-default" role="button">Go</a></p>
                </div>
            }
            else
            {
                <div class="thumbnail list-group-item list-group-item-success">
                    <h4 style="align-content:end;">SECTION 6<br>&nbsp;</h4>
                    <p style="text-align:right"><a asp-action="ListConsentForrelease" asp-route-id="@Model.Id" class="btn btn-success" role="button">@Model.TcmIntakeConsentForRelease.Count()</a></p>
                </div>
            }
        </div>
        <div class="col-md-3">
            &nbsp;
        </div>
    </div>
    </div>

