@model KyoS.Web.Data.Entities.TCMClientEntity

@{
    ViewData["Title"] = "Open Binder Section 1";
}

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @if (ViewData["origin"].ToString() == "0")
            {
                @Html.ActionLink("Open Binder", "TCMIntakeDashboard", "TCMIntakes", new { id = @Model.Id })
            }
            @if (ViewData["origin"].ToString() == "1")
            {
                @Html.ActionLink("TCM All Documents", "AllDocuments", "TCMClients")
            }
            @if (@ViewData["origin"].ToString() == "2")
            {
                @Html.ActionLink("Not started cases", "GetCaseNotServicePlan", "TCMClients")
            }
        </li>
        @if (Model.Status == KyoS.Common.Enums.StatusType.Open)
        {
            <li class="active">Open Binder of @Model.Client.Name</li>
        }
        else
        {
            <li class="active">Close Binder of @Model.Client.Name</li>
        }
    </ul><!--.breadcrumb-->
</div>
<div>

    @if (ViewData["Section"].ToString() == "1" || ViewBag.Section == "1")
    {
        <div class="row">
            <div class="container-fluid">
                @if (Model.Status == KyoS.Common.Enums.StatusType.Open)
                {
                    <h4 style="font-weight:bold; text-align: center;"> <span class="label label-default">Open Binder Section 1 - @Model.Client.Name</span></h4>
                }
                else
                {
                    <h4 style="font-weight:bold; text-align: center;"> <span class="label label-default">Close Binder Section 1 - @Model.Client.Name</span></h4>
                }
            </div>
            <div class="col-md-12">
                <hr />
            </div>
            <div class="col-md-1">
                &nbsp;
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.TCMIntakeForm != null)
                {                   
                    <div class="thumbnail list-group-item list-group-item-success">
                        <a style="text-decoration: none;" asp-route-id="@Model.Id" asp-route-origi="@ViewData["origin"]" asp-action="Edit" role="button">
                            <h4 style="align-content: end; color: #3c763d"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Intake<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Form</h4>
                        </a>
                        <a style="text-decoration: none;" asp-route-id="@Model.Id" asp-action="PrintTCMIntakeForm" role="button" title="Print Intake Form" target="_blank">
                            <i class="glyphicon glyphicon-print" style="position: absolute; right: 12px; top: 12px; color: #3c763d;"></i>
                        </a>
                    </div>                    
                }
                else
                {
                    <a style="text-decoration: none;" asp-route-id="@Model.Id" asp-route-origi="@ViewData["origin"]" asp-action="Create" role="button">
                        <div class="thumbnail list-group-item list-group-item-text">
                            <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Intake<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Form</h4>
                        </div>
                    </a>
                }
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.TcmIntakeConsentForTreatment != null)
                {                    
                    <div class="thumbnail list-group-item list-group-item-success">
                        <a style="text-decoration: none;" asp-route-id="@Model.Id" asp-route-origi="@ViewData["origin"]" asp-action="CreateTCMConsentForTreatment" role="button">
                            <h4 style="align-content:end; color: #3c763d"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Consent for<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Treatment</h4>
                        </a>
                        <a style="text-decoration: none;" asp-route-id="@Model.Id" asp-action="PrintTCMConsentForTreatment" role="button" title="Print Consent for Treatment and Receive Medication" target="_blank">
                            <i class="glyphicon glyphicon-print" style="position: absolute; right: 12px; top: 12px; color: #3c763d;"></i>
                        </a>
                    </div>                    
                }
                else
                {
                    <a style="text-decoration: none;" asp-route-id="@Model.Id" asp-route-origi="@ViewData["origin"]" asp-action="CreateTCMConsentForTreatment" role="button">
                        <div class="thumbnail list-group-item list-group-item-text">
                            <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Consent for<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Treatment</h4>
                        </div>
                    </a>
                }
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.TcmIntakeConsentForRelease.Count() > 0)
                {                    
                    <div class="thumbnail list-group-item list-group-item-success">
                        <a style="text-decoration: none;" asp-route-id="@Model.Id" asp-action="ListConsentForrelease" asp-route-origi="@ViewData["origin"]" role="button">
                            <h4 style="align-content:end; color: #3c763d"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Consent for<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Release</h4>
                        </a>
                        <a style="text-decoration: none;" asp-route-id="@Model.Id" asp-action="ListConsentForrelease" asp-route-origi="@ViewData["origin"]" role="button" title="Print Consent for Release">
                            <i class="glyphicon glyphicon-print" style="position: absolute; right: 12px; top: 12px; color: #3c763d;"></i>
                        </a>
                    </div>                    
                }
                else
                {
                    <a style="text-decoration: none;" asp-route-id="@Model.Id" asp-action="CreateTCMConsentForRelease" asp-route-origi="@ViewData["origin"]" role="button">
                        <div class="thumbnail list-group-item list-group-item-text">
                            <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Consent for<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Release</h4>
                        </div>
                    </a>
                }
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.TcmIntakeConsumerRights != null)
                {                    
                    <div class="thumbnail list-group-item list-group-item-success">
                        <a style="text-decoration: none;" asp-route-id="@Model.Id" asp-action="CreateTCMConsumerRights" asp-route-origi="@ViewData["origin"]" role="button">
                            <h4 style="align-content:end; color: #3c763d"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Consumer<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rights</h4>
                        </a>
                        <a style="text-decoration: none;" asp-route-id="@Model.Id" asp-action="PrintTCMConsumerRights" role="button" title="Print Consumer Rights" target="_blank">
                            <i class="glyphicon glyphicon-print" style="position: absolute; right: 12px; top: 12px; color: #3c763d;"></i>
                        </a>
                    </div>                    
                }
                else
                {
                    <a style="text-decoration: none;" asp-route-id="@Model.Id" asp-action="CreateTCMConsumerRights" asp-route-origi="@ViewData["origin"]" role="button">
                        <div class="thumbnail list-group-item list-group-item-text">
                            <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Consumer<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rights</h4>
                        </div>
                    </a>
                }
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.TcmIntakeAcknowledgementHipa != null)
                {                    
                    <div class="thumbnail list-group-item list-group-item-success">
                        <a style="text-decoration: none;" asp-route-id="@Model.Id" asp-action="CreateTCMAcknowledgementHippa" asp-route-origi="@ViewData["origin"]" role="button">
                            <h4 style="align-content: end; color: #3c763d"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Acknowled.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hippa</h4>
                        </a>
                        @*<a style="text-decoration: none;" asp-route-id="@Model.Id" asp-route-section="1" asp-action="TCMIntakeSectionDashboard" role="button" title="Print">
                            <i class="glyphicon glyphicon-print" style="position: absolute; right: 12px; top: 12px; color: #3c763d;"></i>
                        </a>*@
                    </div>                    
                }
                else
                {
                    <a style="text-decoration: none;" asp-route-id="@Model.Id" asp-action="CreateTCMAcknowledgementHippa" asp-route-origi="@ViewData["origin"]" role="button">
                        <div class="thumbnail list-group-item list-group-item-text">
                            <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Acknowled.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hippa</h4>
                        </div>
                    </a>
                }
            </div>
            <div class="col-md-1">
                &nbsp;
            </div>
            <div class="col-md-12">
                &nbsp;
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.TCMIntakeOrientationChecklist != null)
                {                    
                    <div class="thumbnail list-group-item list-group-item-success">
                        <a style="text-decoration: none;" asp-route-id="@Model.Id" asp-action="CreateTCMOrientationCheckList" asp-route-origi="@ViewData["origin"]" role="button">
                            <h4 style="align-content: end; color: #3c763d"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Orientation<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Checklist</h4>
                        </a>
                        @*<a style="text-decoration: none;" asp-route-id="@Model.Id" asp-route-section="1" asp-action="TCMIntakeSectionDashboard" role="button" title="Print">
                            <i class="glyphicon glyphicon-print" style="position: absolute; right: 12px; top: 12px; color: #3c763d;"></i>
                        </a>*@
                    </div>                    
                }
                else
                {
                    <a style="text-decoration: none;" asp-route-id="@Model.Id" asp-action="CreateTCMOrientationCheckList" asp-route-origi="@ViewData["origin"]" role="button">
                        <div class="thumbnail list-group-item list-group-item-text">
                            <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Orientation<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Checklist</h4>
                        </div>
                    </a>
                }
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.TCMIntakeAdvancedDirective != null)
                {                    
                    <div class="thumbnail list-group-item list-group-item-success">
                        <a style="text-decoration: none;" asp-route-id="@Model.Id" asp-action="CreateTCMIntakeAdvenceDirective" asp-route-origi="@ViewData["origin"]" role="button">
                            <h4 style="align-content:end; color: #3c763d"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Advance<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Directive</h4>
                        </a>
                        @*<a style="text-decoration: none;" asp-route-id="@Model.Id" asp-route-section="1" asp-action="TCMIntakeSectionDashboard" role="button" title="Print">
                            <i class="glyphicon glyphicon-print" style="position: absolute; right: 12px; top: 12px; color: #3c763d;"></i>
                        </a>*@
                    </div>                    
                }
                else
                {
                    <a style="text-decoration: none;" asp-route-id="@Model.Id" asp-action="CreateTCMIntakeAdvenceDirective" asp-route-origi="@ViewData["origin"]" role="button">
                        <div class="thumbnail list-group-item list-group-item-text">
                            <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Advance<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Directive</h4>
                        </div>
                    </a>
                }
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.TCMIntakeForeignLanguage != null)
                {                    
                    <div class="thumbnail list-group-item list-group-item-success">
                        <a style="text-decoration: none;" asp-route-id="@Model.Id" asp-action="CreateTCMForeignLanguage" asp-route-origi="@ViewData["origin"]" role="button">
                            <h4 style="align-content:end; color: #3c763d"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Foreign Lang.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Acknowledgement</h4>
                        </a>
                        @*<a style="text-decoration: none;" asp-route-id="@Model.Id" asp-route-section="1" asp-action="TCMIntakeSectionDashboard" role="button" title="Print">
                            <i class="glyphicon glyphicon-print" style="position: absolute; right: 12px; top: 12px; color: #3c763d;"></i>
                        </a>*@
                    </div>                    
                }
                else
                {
                    <a style="text-decoration: none;" asp-route-id="@Model.Id" asp-action="CreateTCMForeignLanguage" asp-route-origi="@ViewData["origin"]" role="button">
                        <div class="thumbnail list-group-item list-group-item-text">
                            <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Foreign Lang.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Acknowledgement</h4>
                        </div>
                    </a>
                }
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.TCMIntakeWelcome != null)
                {                    
                    <div class="thumbnail list-group-item list-group-item-success">
                        <a style="text-decoration: none;" asp-route-id="@Model.Id" asp-action="CreateTCMWelcome" asp-route-origi="@ViewData["origin"]" role="button">
                            <br />
                            <h4 style="align-content: end; color: #3c763d"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Correspondence</h4>
                        </a>
                        @*<a style="text-decoration: none;" asp-route-id="@Model.Id" asp-route-section="1" asp-action="TCMIntakeSectionDashboard" role="button" title="Print">
                            <i class="glyphicon glyphicon-print" style="position: absolute; right: 12px; top: 12px; color: #3c763d;"></i>
                        </a>*@
                    </div>                   
                }
                else
                {
                    <a style="text-decoration: none;" asp-route-id="@Model.Id" asp-action="CreateTCMWelcome" asp-route-origi="@ViewData["origin"]" role="button">
                        <div class="thumbnail list-group-item list-group-item-text">
                            <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Correspondence<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                        </div>
                    </a>
                }
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
        </div>
    }
    @if (ViewData["Section"].ToString() == "2")
    {
        <div class="row">
            <div class="container-fluid">
                @if (Model.Status == KyoS.Common.Enums.StatusType.Open)
                {
                    <h4 style="font-weight:bold; text-align: center;"> <span class="label label-default">Open Binder Section 2 - @Model.Client.Name</span></h4>
                }
                else
                {
                    <h4 style="font-weight:bold; text-align: center;"> <span class="label label-default">Close Binder Section 2 - @Model.Client.Name</span></h4>
                }
            </div>
            <div class="col-md-12">
                <hr />
            </div>
            <div class="col-md-3">
                &nbsp;
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.Client.Documents.Count() > 0)
                {
                    <a style="text-decoration: none;" asp-route-id="@Model.Client.Id" asp-action="ClientsDocuments" asp-route-idTCMCLient="@Model.Id" role="button">
                        <div class="thumbnail list-group-item list-group-item-success">
                            <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Scanned<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Documentation</h4>
                            <span class="message-counter-success">@Model.Client.Documents.Count()</span>
                        </div>
                    </a>
                }
                else
                {
                    <a style="text-decoration: none;" asp-route-id="@Model.Client.Id" asp-action="ClientsDocuments" asp-route-idTCMCLient="@Model.Id" role="button">
                        <div class="thumbnail list-group-item list-group-item-text">
                            <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Scanned<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Documentation</h4>
                            <span class="message-counter-cero">@Model.Client.Documents.Count()</span>
                        </div>
                    </a>
                }
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.Client.IntakeFeeAgreement != null)
                {
                    <a style="text-decoration: none;" asp-route-id="@Model.Client.Id" asp-action="CreateTCMFeeAgreement" asp-route-idTCMCLient="@Model.Id" role="button">
                        <div class="thumbnail list-group-item list-group-item-success">
                            <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Fee<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Agreement</h4>
                        </div>
                    </a>
                }
                else
                {
                    <a style="text-decoration: none;" asp-route-id="@Model.Client.Id" asp-action="CreateTCMFeeAgreement" asp-route-idTCMCLient="@Model.Id" role="button">
                        <div class="thumbnail list-group-item list-group-item-text">
                            <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Fee<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Agreement</h4>
                        </div>
                    </a>
                }
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.TCMIntakeNonClinicalLog != null)
                {
                    <a style="text-decoration: none;" asp-action="CreateTCMNonClinicalLog" asp-route-id="@Model.Id" role="button">
                        <div class="thumbnail list-group-item list-group-item-success">
                            <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Non Clinical<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Log</h4>
                        </div>
                    </a>
                }
                else
                {
                    <a style="text-decoration: none;" asp-action="CreateTCMNonClinicalLog" asp-route-id="@Model.Id" role="button">
                        <div class="thumbnail list-group-item list-group-item-text">
                            <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Non Clinical<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Log</h4>
                        </div>
                    </a>
                }
            </div>
            <div class="col-md-3">
                &nbsp;
            </div>
        </div>
    }
    @if (ViewData["Section"].ToString() == "3")
    {
        <div class="row">
            <div class="container-fluid">
                @if (Model.Status == KyoS.Common.Enums.StatusType.Open)
                {
                    <h4 style="font-weight:bold; text-align: center;"><span class="label label-default">Open Binder Section 3 - @Model.Client.Name</span></h4>
                }
                else
                {
                    <h4 style="font-weight:bold; text-align: center;"><span class="label label-default">Close Binder Section 3 - @Model.Client.Name</span></h4>
                }
            </div>
            <div class="col-md-12">
                <hr />
            </div>            
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.TCMIntakeMiniMental != null)
                {
                    <a style="text-decoration: none;" asp-action="CreateTCMMiniMental" asp-route-id="@Model.Id" role="button">
                        <div class="thumbnail list-group-item list-group-item-success">
                            <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Mini Mental<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;State Exam</h4>
                        </div>
                    </a>
                }
                else
                {
                    <a style="text-decoration: none;" asp-action="CreateTCMMiniMental" asp-route-id="@Model.Id" role="button">
                        <div class="thumbnail list-group-item list-group-item-text">
                            <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Mini Mental<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;State Exam</h4>
                        </div>
                    </a>
                }
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.Client.IntakeMedicalHistory != null)
                {
                    <a style="text-decoration: none;" asp-action="CreateTCMMedicalhistory" asp-route-id="@Model.Client.Id" asp-route-idTCMClient="@Model.Id" role="button">
                        <div class="thumbnail list-group-item list-group-item-success">
                            <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Medical<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;History</h4>
                        </div>
                    </a>
                }
                else
                {
                    <a style="text-decoration: none;" asp-action="CreateTCMMedicalhistory" asp-route-id="@Model.Client.Id" asp-route-idTCMClient="@Model.Id" role="button">
                        <div class="thumbnail list-group-item list-group-item-text">
                            <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Medical<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;History</h4>
                        </div>
                    </a>
                }
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.Client.MedicationList.Count() > 0)
                {
                    <a style="text-decoration: none;" asp-action="CreateTCMMedication" asp-route-id="@Model.Client.Id" asp-route-idTCMClient="@Model.Id" role="button">
                        <div class="thumbnail list-group-item list-group-item-success">
                            <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Medication<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                            <span class="message-counter-success">@Model.Client.MedicationList.Count()</span>
                        </div>
                    </a>
                }
                else
                {
                    <a style="text-decoration: none;" asp-action="CreateTCMMedication" asp-route-id="@Model.Client.Id" asp-route-idTCMClient="@Model.Id" role="button">
                        <div class="thumbnail list-group-item list-group-item-text">
                            <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Medication<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                            <span class="message-counter-cero">@Model.Client.MedicationList.Count()</span>
                        </div>
                    </a>
                }
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.TCMIntakeCoordinationCare != null)
                {
                    <a style="text-decoration: none;" asp-action="CreateTCMCoordinationCare" asp-route-id="@Model.Id" role="button">
                        <div class="thumbnail list-group-item list-group-item-success">
                            <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Coordination<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;of Care</h4>
                        </div>
                    </a>
                }
                else
                {
                    <a style="text-decoration: none;" asp-action="CreateTCMCoordinationCare" asp-route-id="@Model.Id" role="button">
                        <div class="thumbnail list-group-item list-group-item-text">
                            <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Coordination<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;of Care</h4>
                        </div>
                    </a>
                }
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
        </div>

    }
    @if (ViewData["Section"].ToString() == "4")
    {
        <div class="row">
            <div class="container-fluid">
                @if (Model.Status == KyoS.Common.Enums.StatusType.Open)
                {
                    <h4 style="font-weight:bold; text-align: center;"><span class="label label-default">Open Binder Section 4 - @Model.Client.Name</span></h4>
                }
                else
                {
                    <h4 style="font-weight:bold; text-align: center;"><span class="label label-default">Close Binder Section 4 - @Model.Client.Name</span></h4>
                }
            </div>
            <div class="col-md-12">
                <hr />
            </div>
            <div class="col-md-3">
                &nbsp;
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.TCMAssessment != null)
                {
                    @if (Model.TCMAssessment.Approved == 2)
                    {
                        <a style="text-decoration: none;" asp-action="Print" asp-controller="TCMAssessments" asp-route-id="@Model.TCMAssessment.Id" role="button">
                            <div class="thumbnail list-group-item list-group-item-success">
                                <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Case Manag.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Assessment</h4>
                            </div>
                        </a>
                    }
                    @if (Model.TCMAssessment.Approved == 0)
                    {
                        <a style="text-decoration: none;" asp-action="Edit" asp-controller="TCMAssessments" asp-route-id="@Model.TCMAssessment.Id" role="button">
                            <div class="thumbnail list-group-item list-group-item-warning">
                                <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Case Manag.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Assessment</h4>
                            </div>
                        </a>
                    }
                    @if (Model.TCMAssessment.Approved == 1)
                    {
                        <a style="text-decoration: none;" asp-action="Edit" asp-controller="TCMAssessments" asp-route-id="@Model.TCMAssessment.Id" role="button">
                            <div class="thumbnail list-group-item list-group-item-info">
                                <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Case Manag.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Assessment</h4>
                            </div>
                        </a>
                    }

                }
                else
                {
                    <a style="text-decoration: none;" asp-action="Create" asp-controller="TCMAssessments" asp-route-id="@Model.Id" role="button">
                        <div class="thumbnail list-group-item list-group-item-text">
                            <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Case Manag.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Assessment</h4>
                        </div>
                    </a>
                }
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.TcmIntakeAppendixJ != null)
                {
                    @if (Model.TcmIntakeAppendixJ.Approved == 2)
                    {
                        <a style="text-decoration: none;" asp-action="Print" asp-controller="TCMIntakes" asp-route-id="@Model.Id" role="button">
                            <div class="thumbnail list-group-item list-group-item-success">
                                <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>AppendixJ<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                            </div>
                        </a>
                    }
                    @if (Model.TcmIntakeAppendixJ.Approved == 0)
                    {
                        <a style="text-decoration: none;" asp-action="CreateTCMAppendixJ" asp-controller="TCMIntakes" asp-route-id="@Model.Id" role="button">
                            <div class="thumbnail list-group-item list-group-item-warning">
                                <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>AppendixJ<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                            </div>
                        </a>
                    }
                    @if (Model.TcmIntakeAppendixJ.Approved == 1)
                    {
                        <a style="text-decoration: none;" asp-action="CreateTCMAppendixJ" asp-controller="TCMIntakes" asp-route-id="@Model.Id" role="button">
                            <div class="thumbnail list-group-item list-group-item-info">
                                <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>AppendixJ<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                            </div>
                        </a>
                    }

                }
                else
                {
                    <a style="text-decoration: none;" asp-action="CreateTCMAppendixJ" asp-controller="TCMIntakes" asp-route-id="@Model.Id" role="button">
                        <div class="thumbnail list-group-item list-group-item-text">
                            <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>AppendixJ<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                        </div>
                    </a>
                }
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.TcmServicePlan != null)
                {
                    @if (Model.TcmServicePlan.Approved == 2)
                    {
                        <a style="text-decoration: none;" asp-action="PrintServicePlan" asp-controller="TCMServicePlans" asp-route-id="@Model.TcmServicePlan.Id" role="button" target="_blank">
                            <div class="thumbnail list-group-item list-group-item-success">
                                <h4 style="align-content:end;"><i class="icon-print" style="padding-right: 10px !important;" ></i>Service<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Plan</h4>
                            </div>
                        </a>
                    }
                    @if (Model.TcmServicePlan.Approved == 0)
                    {
                        <a style="text-decoration: none;" asp-action="Edit" asp-controller="TCMServicePlans" asp-route-id="@Model.TcmServicePlan.Id" role="button">
                            <div class="thumbnail list-group-item list-group-item-warning">
                                <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Service<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Plan</h4>
                            </div>
                        </a>
                    }
                    @if (Model.TcmServicePlan.Approved == 1)
                    {
                        <a style="text-decoration: none;" asp-action="Edit" asp-controller="TCMServicePlans" asp-route-id="@Model.TcmServicePlan.Id" role="button">
                            <div class="thumbnail list-group-item list-group-item-info">
                                <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Service<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Plan</h4>
                            </div>
                        </a>
                    }

                }
                else
                {
                    <a style="text-decoration: none;" asp-action="Create" asp-controller="TCMServicePlans" asp-route-id="@Model.Id" role="button">
                        <div class="thumbnail list-group-item list-group-item-text">
                            <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Service<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Plan</h4>
                        </div>
                    </a>
                }
            </div>
            <div class="col-md-3">
                &nbsp;
            </div>
            <div class="col-md-12">
                <hr />
            </div>
            <div class="col-md-3">
                &nbsp;
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.TcmServicePlan == null || Model.TcmServicePlan.Approved < 2)
                {
                    <a style="text-decoration: none;" role="button">
                        <div class="thumbnail list-group-item list-group-item-text">
                            <h4 style="align-content:end;"><i class="icon-file-alt disabled" style="padding-right: 10px !important;"></i>Addendum<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                        </div>
                    </a>
                }
                else
                {
                    @if (Model.TcmServicePlan.TCMAdendum.Count() == 0)
                    {
                        <a style="text-decoration: none;" asp-action="Adendum" asp-controller="TCMServicePlans" asp-route-id="@Model.Id" asp-route-caseNumber="@Model.CaseNumber" role="button">
                            <div class="thumbnail list-group-item list-group-item-text">
                                <h4 style="align-content:end;"><i class="icon-file-alt disabled" style="padding-right: 10px !important;"></i>Addendum<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                            </div>
                        </a>
                     }
                    else
                    {
                        @if (Model.TcmServicePlan.TCMAdendum.Where(n => n.Approved == 0).Count() > 0)
                        {
                            <a style="text-decoration: none;" asp-action="Adendum" asp-controller="TCMServicePlans" asp-route-id="@Model.Id" asp-route-caseNumber="@Model.CaseNumber" role="button">
                                <div class="thumbnail list-group-item list-group-item-warning">
                                    <h4 style="align-content:end;"><i class="icon-file-alt disabled" style="padding-right: 10px !important;"></i>Addendum<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                                </div>
                            </a>
                        }
                        else
                        {
                            @if (Model.TcmServicePlan.TCMAdendum.Where(n => n.Approved == 1).Count() > 0)
                            {
                                <a style="text-decoration: none;" asp-action="Adendum" asp-controller="TCMServicePlans" asp-route-id="@Model.Id" asp-route-caseNumber="@Model.CaseNumber" role="button">
                                    <div class="thumbnail list-group-item list-group-item-info">
                                        <h4 style="align-content:end;"><i class="icon-file-alt disabled" style="padding-right: 10px !important;"></i>Addendum<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                                    </div>
                                </a>
                            }
                            else
                            {
                                <a style="text-decoration: none;" asp-action="Adendum" asp-controller="TCMServicePlans" asp-route-id="@Model.Id" asp-route-caseNumber="@Model.CaseNumber" role="button">
                                    <div class="thumbnail list-group-item list-group-item-success">
                                        <h4 style="align-content:end;"><i class="icon-file-alt disabled" style="padding-right: 10px !important;"></i>Addendum<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                                    </div>
                                </a>
                            }
                        }

                    }

                }
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.TcmServicePlan == null || Model.TcmServicePlan.Approved < 2)
                {
                    <a style="text-decoration: none;" role="button">
                        <div class="thumbnail list-group-item list-group-item-text">
                            <h4 style="align-content:end;"><i class="icon-file-alt disabled" style="padding-right: 10px !important;"></i>Service Plan<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Review</h4>
                        </div>
                    </a>
                }
                else
                {
                    @if (Model.TcmServicePlan.TCMServicePlanReview == null)
                    {
                        <a style="text-decoration: none;" asp-action="Create" asp-controller="TCMServicePlanReviews" asp-route-IdServicePlan="@Model.TcmServicePlan.Id" role="button">
                            <div class="thumbnail list-group-item list-group-item-text">
                                <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Service Plan<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Review</h4>
                            </div>
                        </a>
                    }
                    else
                    {
                        @if (Model.TcmServicePlan.TCMServicePlanReview.Approved == 0)
                        {
                            <a style="text-decoration: none;" asp-action="Edit" asp-controller="TCMServicePlanReviews" asp-route-id="@Model.TcmServicePlan.TCMServicePlanReview.Id" asp-route-IdServicePlan="@Model.TcmServicePlan.Id" role="button">
                                <div class="thumbnail list-group-item list-group-item-warning">
                                    <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Service Plan<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Review</h4>
                                </div>
                            </a>
                        }
                        @if (Model.TcmServicePlan.TCMServicePlanReview.Approved == 1)
                        {
                            <a style="text-decoration: none;" asp-action="Edit" asp-controller="TCMServicePlanReviews" asp-route-id="@Model.TcmServicePlan.TCMServicePlanReview.Id" asp-route-IdServicePlan="@Model.TcmServicePlan.Id" role="button">
                                <div class="thumbnail list-group-item list-group-item-info">
                                    <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Service Plan<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Review</h4>
                                </div>
                            </a>
                        }
                        @if (Model.TcmServicePlan.TCMServicePlanReview.Approved == 2)
                        {
                            <a style="text-decoration: none;" asp-action="Print" asp-controller="TCMServicePlanReviews" asp-route-id="@Model.TcmServicePlan.TCMServicePlanReview.Id" asp-route-IdServicePlan="@Model.TcmServicePlan.Id" role="button">
                                <div class="thumbnail list-group-item list-group-item-success">
                                    <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Service Plan<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Review</h4>
                                </div>
                            </a>
                        }
                    }

                }
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.TcmServicePlan == null || Model.TcmServicePlan.Approved < 2)
                {
                    <a style="text-decoration: none;" role="button">
                        <div class="thumbnail list-group-item list-group-item-text">
                            <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Discharge<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                        </div>
                    </a>
                }
                else
                {
                    @if (Model.TcmServicePlan.TCMDischarge == null)
                    {
                        <a style="text-decoration: none;" asp-action="Create" asp-controller="TCMDischarges" asp-route-id="@Model.TcmServicePlan.Id" role="button">
                            <div class="thumbnail list-group-item list-group-item-text">
                                <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Discharge<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                            </div>
                        </a>
                    }
                    else
                    {
                        @if (Model.TcmServicePlan.TCMDischarge.Approved == 0)
                        {
                            <a style="text-decoration: none;" asp-action="Edit" asp-controller="TCMDischarges" asp-route-id="@Model.TcmServicePlan.TCMDischarge.Id" asp-route-IdServicePlan="@Model.TcmServicePlan.Id" role="button">
                                <div class="thumbnail list-group-item list-group-item-warning">
                                    <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Discharge<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                                </div>
                            </a>
                        }
                        @if (Model.TcmServicePlan.TCMDischarge.Approved == 1)
                        {
                            <a style="text-decoration: none;" asp-action="Edit" asp-controller="TCMDischarges" asp-route-id="@Model.TcmServicePlan.TCMDischarge.Id" asp-route-IdServicePlan="@Model.TcmServicePlan.Id" role="button">
                                <div class="thumbnail list-group-item list-group-item-info">
                                    <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Discharge<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                                </div>
                            </a>
                        }
                        @if (Model.TcmServicePlan.TCMDischarge.Approved == 2)
                        {
                            <a style="text-decoration: none;" asp-action="Print" asp-controller="TCMDischarges" asp-route-id="@Model.TcmServicePlan.TCMDischarge.Id" asp-route-IdServicePlan="@Model.TcmServicePlan.Id" role="button">
                                <div class="thumbnail list-group-item list-group-item-success">
                                    <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Discharge<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                                </div>
                            </a>
                        }
                    }

                }
            </div>
            <div class="col-md-3">
                &nbsp;
            </div>
        </div>
    }
    @if (ViewData["Section"].ToString() == "5")
    {
        <div class="row">
            <div class="container-fluid">
                @if (Model.Status == KyoS.Common.Enums.StatusType.Open)
                {
                    <h4 style="font-weight:bold; text-align: center;"> <span class="label label-default">Open Binder Section 5 - @Model.Client.Name</span></h4>
                }
                else
                {
                    <h4 style="font-weight:bold; text-align: center;"> <span class="label label-default">Open Binder Section 5 - @Model.Client.Name</span></h4>
                }
            </div>
            <div class="col-md-12">
                <hr />
            </div>
            <div class="col-md-4">
                &nbsp;
            </div>
            <div class="col-sm-3 col-md-2">
                @if (@Model.TcmInterventionLog == null)
                {
                    <a style="text-decoration: none;" asp-action="CreateTCMInterventionLog" asp-controller="TCMIntakes" asp-route-id="@Model.Id" role="button">
                        <div class="thumbnail list-group-item list-group-item-text">
                            <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Intervention<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Log</h4>
                        </div>
                    </a>
                }
                else
                {
                    <a style="text-decoration: none;" asp-action="EditTCMInterventionLog" asp-controller="TCMIntakes" asp-route-id="@Model.TcmInterventionLog.Id" role="button">
                        <div class="thumbnail list-group-item list-group-item-success">
                            <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Intervention<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Log</h4>
                        </div>
                    </a>
                }
            </div>
            <div class="col-sm-3 col-md-2">
                @if (@Model.TCMFarsFormList.Count() == 0)
                {
                    <a style="text-decoration: none;" asp-action="Create" asp-controller="TCMFarsForms" asp-route-origi="1" asp-route-id="@Model.Id" role="button">
                        <div class="thumbnail list-group-item list-group-item-text">
                            <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Fars<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Forms</h4>
                            <span class="message-counter-cero">@Model.TCMFarsFormList.Count()</span>
                        </div>
                    </a>
                }
                else
                {
                    <a style="text-decoration: none;" asp-action="Index" asp-controller="TCMFarsForms" asp-route-idTCMClient="@Model.Id" asp-route-origin="1" role="button">
                        <div class="thumbnail list-group-item list-group-item-success">
                            <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Fars<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Forms</h4>
                            <span class="message-counter-success">@Model.TCMFarsFormList.Count()</span>
                        </div>
                    </a>
                }
            </div>
            <div class="col-md-4">
                &nbsp;
            </div>
        </div>
    }
    @if (ViewData["Section"].ToString() == "6")
    {
        <div class="row">
            <div class="container-fluid">
                @if (Model.Status == KyoS.Common.Enums.StatusType.Open)
                {
                    <h4 style="font-weight:bold; text-align: center;"> <span class="label label-default">Open Binder Section 6 - @Model.Client.Name</span></h4>
                }
                else
                {
                    <h4 style="font-weight:bold; text-align: center;"> <span class="label label-default">Close Binder Section 6 - @Model.Client.Name</span></h4>
                }
            </div>
            <div class="col-md-12">
                <hr />
            </div>
            <div class="col-md-5">
                &nbsp;
            </div>
            <div class="col-sm-3 col-md-2">
                @if (@Model.TCMNote.Count() > 0)
                {
                    @if (@Model.TCMNote.Where(m => m.Status == KyoS.Common.Enums.NoteStatus.Edition).Count() >= 0)
                    {
                        <a style="text-decoration: none;" asp-action="TCMNotesForCase" asp-controller="TCMNotes" asp-route-idTCMClient="@Model.Id" role="button">
                            <div class="thumbnail list-group-item list-group-item-warning">
                                <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Progress<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Note</h4>
                                <span class="message-counter-warning">@Model.TCMNote.Count()</span>
                            </div>
                        </a>
                    }
                    else
                    {
                        @if (@Model.TCMNote.Where(m => m.Status == KyoS.Common.Enums.NoteStatus.Pending).Count() >= 0)
                        {
                            <a style="text-decoration: none;" asp-action="TCMNotesForCase" asp-controller="TCMNotes" asp-route-idTCMClient="@Model.Id" role="button">
                                <div class="thumbnail list-group-item list-group-item-info">
                                    <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Progress<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Note</h4>
                                    <span class="message-counter-info">@Model.TCMNote.Count()</span>
                                </div>
                            </a>
                        }
                        else
                        {
                            <a style="text-decoration: none;" asp-action="TCMNotesForCase" asp-controller="TCMNotes" asp-route-idTCMClient="@Model.Id" role="button">
                                <div class="thumbnail list-group-item list-group-item-success">
                                    <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Progress<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Note</h4>
                                    <span class="message-counter-success">@Model.TCMNote.Count()</span>
                                </div>
                            </a>
                        }
                    }

                }
                else
                {
                    <a style="text-decoration: none;" asp-action="TCMNotesForCase" asp-controller="TCMNotes" asp-route-idTCMClient="@Model.Id" role="button">
                        <div class="thumbnail list-group-item list-group-item-text">
                            <h4 style="align-content:end;"><i class="icon-file-alt" style="padding-right: 10px !important;"></i>Progress<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Note</h4>
                            <span class="message-counter-cero">@Model.TCMNote.Count()</span>
                        </div>
                    </a>
                }
            </div>
            <div class="col-md-4">
                &nbsp;
            </div>
        </div>
    }
   
</div>

