@model KyoS.Web.Data.Entities.TCMClientEntity

@{
    ViewData["Title"] = "TCM Intake";
}

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("TCM Intake", "Index", "TCMIntakes")
        </li>
        <li class="active">TCM OPEN BINDER of @Model.Client.Name</li>
    </ul><!--.breadcrumb-->
</div>
<div>

    @if (ViewData["Section"].ToString() == "1" || ViewBag.Section == "1")
    {
        <div class="row">
            <div class="container-fluid">
                @*<h4 style="font-weight:bold; text-align: center;"> <span class="label label-default">@Model.Client.Name </span></h4>*@
                <h4 style="font-weight:bold; text-align: center;"> <span class="label label-default">OPEN BINDER SECTION 1 </span></h4>
            </div>
            <div class="col-md-12">
                <hr />
            </div>
            <div class="col-md-1">
                &nbsp;
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.TCMIntakeForm == null)
                {
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;">Intake<br>Intake Form</h4>
                        <p style="text-align:right"><a asp-action="Create" asp-route-id="@Model.Id" class="btn btn-default" role="button">Go</a></p>
                    </div>
                }
                else
                {
                    <div class="thumbnail list-group-item list-group-item-success">
                        <h4 style="align-content:end;">Intake<br>Intake Form</h4>
                        <p style="text-align:right"><a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success" role="button">Go</a></p>
                    </div>
                }
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.TcmIntakeConsentForTreatment == null)
                {
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;">Consent for<br>Treatment</h4>
                        <p style="text-align:right"><a asp-action="CreateTCMConsentForTreatment" asp-route-id="@Model.Id" class="btn btn-default" role="button">Go</a></p>
                    </div>
                }
                else
                {
                    <div class="thumbnail list-group-item list-group-item-success">
                        <h4 style="align-content:end;">Consent for<br>Treatment</h4>
                        <p style="text-align:right"><a asp-action="CreateTCMConsentForTreatment" asp-route-id="@Model.Id" class="btn btn-success" role="button">Go</a></p>
                    </div>
                }
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.TcmIntakeConsentForRelease.Count() == 0)
                {
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;">Consent for<br>Release</h4>
                        <p style="text-align:right"><a asp-action="CreateTCMConsentForRelease" asp-route-id="@Model.Id" class="btn btn-default" role="button">Go</a></p>
                    </div>
                }
                else
                {
                    <div class="thumbnail list-group-item list-group-item-success">
                        <h4 style="align-content:end;">Consent for<br>Release</h4>
                        <p style="text-align:right"><a asp-action="ListConsentForrelease" asp-route-id="@Model.Id" class="btn btn-success" role="button">@Model.TcmIntakeConsentForRelease.Count()</a></p>
                    </div>
                }
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.TcmIntakeConsumerRights == null)
                {
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;">Consumer<br>Rights</h4>
                        <p style="text-align:right"><a asp-action="CreateTCMConsumerRights" asp-route-id="@Model.Id" class="btn btn-default" role="button">Go</a></p>
                    </div>
                }
                else
                {
                    <div class="thumbnail list-group-item list-group-item-success">
                        <h4 style="align-content:end;">Consumer<br>Rights</h4>
                        <p style="text-align:right"><a asp-action="CreateTCMConsumerRights" asp-route-id="@Model.Id" class="btn btn-success" role="button">Go</a></p>
                    </div>
                }
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.TcmIntakeAcknowledgementHipa == null)
                {
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;">Acknowledgement<br>Hippa</h4>
                        <p style="text-align:right"><a asp-action="CreateTCMAcknowledgementHippa" asp-route-id="@Model.Id" class="btn btn-default" role="button">Go</a></p>
                    </div>
                }
                else
                {
                    <div class="thumbnail list-group-item list-group-item-success">
                        <h4 style="align-content:end;">Acknowledgement<br>Hippa</h4>
                        <p style="text-align:right"><a asp-action="CreateTCMAcknowledgementHippa" asp-route-id="@Model.Id" class="btn btn-success" role="button">Go</a></p>
                    </div>
                }
            </div>
            <div class="col-md-1">
                &nbsp;
            </div>
            <div class="col-md-12">
                &nbsp;
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.TCMIntakeOrientationChecklist == null)
                {
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;">Orientation<br>Checklist</h4>
                        <p style="text-align:right"><a asp-action="CreateTCMOrientationCheckList" asp-route-id="@Model.Id" class="btn btn-default" role="button">Go</a></p>
                    </div>
                }
                else
                {
                    <div class="thumbnail list-group-item list-group-item-success">
                        <h4 style="align-content:end;">Orientation<br>Checklist</h4>
                        <p style="text-align:right"><a asp-action="CreateTCMOrientationCheckList" asp-route-id="@Model.Id" class="btn btn-success" role="button">Go</a></p>
                    </div>
                }
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.TCMIntakeAdvancedDirective == null)
                {
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;">Advance<br>Directive</h4>
                        <p style="text-align:right"><a asp-action="CreateTCMIntakeAdvenceDirective" asp-route-id="@Model.Id" class="btn btn-default" role="button">Go</a></p>
                    </div>
                }
                else
                {
                    <div class="thumbnail list-group-item list-group-item-success">
                        <h4 style="align-content:end;">Advance<br>Directive</h4>
                        <p style="text-align:right"><a asp-action="CreateTCMIntakeAdvenceDirective" asp-route-id="@Model.Id" class="btn btn-success" role="button">Go</a></p>
                    </div>
                }
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.TCMIntakeForeignLanguage == null)
                {
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;">Foreign Language<br>Acknowledgement</h4>
                        <p style="text-align:right"><a asp-action="CreateTCMForeignLanguage" asp-route-id="@Model.Id" class="btn btn-default" role="button">Go</a></p>
                    </div>
                }
                else
                {
                    <div class="thumbnail list-group-item list-group-item-success">
                        <h4 style="align-content:end;">Foreign Language<br>Acknowledgement</h4>
                        <p style="text-align:right"><a asp-action="CreateTCMForeignLanguage" asp-route-id="@Model.Id" class="btn btn-success" role="button">Go</a></p>
                    </div>
                }
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.TCMIntakeWelcome == null)
                {
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;">Correspondence<br>&nbsp;</h4>
                        <p style="text-align:right"><a asp-action="CreateTCMWelcome" asp-route-id="@Model.Id" class="btn btn-default" role="button">Go</a></p>
                    </div>
                }
                else
                {
                    <div class="thumbnail list-group-item list-group-item-success">
                        <h4 style="align-content:end;">Correspondence<br>&nbsp;</h4>
                        <p style="text-align:right"><a asp-action="CreateTCMWelcome" asp-route-id="@Model.Id" class="btn btn-success" role="button">Go</a></p>
                    </div>
                }
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
        </div>
    }
    @if (ViewData["Section"].ToString() == "2")
    {
        <div class="row">
            <div class="container-fluid">
                @*<h4 style="font-weight:bold; text-align: center;"> <span class="label label-default">@Model.Client.Name </span></h4>*@
                <h4 style="font-weight:bold; text-align: center;"> <span class="label label-default">OPEN BINDER SECTION 2 </span></h4>
            </div>
            <div class="col-md-12">
                <hr />
            </div>
            <div class="col-md-3">
                &nbsp;
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.Client.Documents.Count() == 0)
                {
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;">Scanned<br>Documentation</h4>
                        <p style="text-align:right"><a asp-action="ClientsDocuments" asp-route-id="@Model.Client.Id" class="btn btn-default" role="button">Go</a></p>
                    </div>
                }
                else
                {
                    <div class="thumbnail list-group-item list-group-item-success">
                        <h4 style="align-content:end;">Scanned<br>Documentation</h4>
                        <p style="text-align:right"><a asp-action="ClientsDocuments" asp-route-id="@Model.Client.Id" class="btn btn-success" role="button">@Model.Client.Documents.Count()</a></p>
                    </div>
                }
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.Client.IntakeFeeAgreement == null)
                {
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;">Fee<br>Agreement</h4>
                        <p style="text-align:right"><a asp-action="CreateTCMFeeAgreement" asp-route-id="@Model.Client.Id" class="btn btn-default" role="button">Go</a></p>
                    </div>
                }
                else
                {
                    <div class="thumbnail list-group-item list-group-item-success">
                        <h4 style="align-content:end;">Fee<br>Agreement</h4>
                        <p style="text-align:right"><a asp-action="CreateTCMFeeAgreement" asp-route-id="@Model.Client.Id" class="btn btn-success" role="button">Go</a></p>
                    </div>
                }
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.TCMIntakeNonClinicalLog == null)
                {
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;">Non Clinical<br>Log</h4>
                        <p style="text-align:right"><a asp-action="CreateTCMNonClinicalLog" asp-route-id="@Model.Id" class="btn btn-default" role="button">Go</a></p>
                    </div>
                }
                else
                {
                    <div class="thumbnail list-group-item list-group-item-success">
                        <h4 style="align-content:end;">Non Clinical<br>Log</h4>
                        <p style="text-align:right"><a asp-action="CreateTCMNonClinicalLog" asp-route-id="@Model.Id" class="btn btn-success" role="button">Go</a></p>
                    </div>
                }
            </div>
            <div class="col-md-3">
                &nbsp;
            </div>
        </div>
    }
    @if (ViewData["Section"].ToString() == "3")
    {
        <div class="row">
            <div class="container-fluid">
                @*<h4 style="font-weight:bold; text-align: center;"> <span class="label label-default">@Model.Client.Name </span></h4>*@
                <h4 style="font-weight:bold; text-align: center;"> <span class="label label-default">OPEN BINDER SECTION 3 </span></h4>
            </div>
            <div class="col-md-12">
                <hr />
            </div>
            <div class="col-md-12">
                &nbsp;
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>

            <div class="col-sm-3 col-md-2">
                @if (Model.TCMIntakeMiniMental == null)
                {
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;">Mini Mental<br>State Exam</h4>
                        <p style="text-align:right"><a asp-action="CreateTCMMiniMental" asp-route-id="@Model.Id" class="btn btn-default" role="button">Go</a></p>
                    </div>
                }
                else
                {
                    <div class="thumbnail list-group-item list-group-item-success">
                        <h4 style="align-content:end;">Mini Mental<br>State Exam</h4>
                        <p style="text-align:right"><a asp-action="CreateTCMMiniMental" asp-route-id="@Model.Id" class="btn btn-success" role="button">Go</a></p>
                    </div>
                }
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.Client.IntakeMedicalHistory == null)
                {
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;">Medical<br>History</h4>
                        <p style="text-align:right"><a asp-action="CreateTCMMedicalhistory" asp-route-id="@Model.Client.Id" class="btn btn-default" role="button">Go</a></p>
                    </div>
                }
                else
                {
                    <div class="thumbnail list-group-item list-group-item-success">
                        <h4 style="align-content:end;">Medical<br>History</h4>
                        <p style="text-align:right"><a asp-action="CreateTCMMedicalhistory" asp-route-id="@Model.Client.Id" class="btn btn-success" role="button">Go</a></p>
                    </div>
                }
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.Client.MedicationList.Count() == 0)
                {
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;">Medication<br>&nbsp;</h4>
                        <p style="text-align:right"><a asp-action="CreateTCMMedication" asp-route-id="@Model.Client.Id" class="btn btn-default" role="button">Go</a></p>
                    </div>
                }
                else
                {
                    <div class="thumbnail list-group-item list-group-item-success">
                        <h4 style="align-content:end;">Medication<br>&nbsp;</h4>
                        <p style="text-align:right"><a asp-action="CreateTCMMedication" asp-route-id="@Model.Client.Id" class="btn btn-success" role="button">@Model.Client.MedicationList.Count()</a></p>
                    </div>
                }
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.TCMIntakeCoordinationCare == null)
                {
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;">Coordination<br>of Care</h4>
                        <p style="text-align:right"><a asp-action="CreateTCMCoordinationCare" asp-route-id="@Model.Id" class="btn btn-default" role="button">Go</a></p>
                    </div>
                }
                else
                {
                    <div class="thumbnail list-group-item list-group-item-success">
                        <h4 style="align-content:end;">Coordination<br>of Care</h4>
                        <p style="text-align:right"><a asp-action="CreateTCMCoordinationCare" asp-route-id="@Model.Id" class="btn btn-success" role="button">Go</a></p>
                    </div>
                }
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
        </div>

    }
    @if (ViewData["Section"].ToString() == "4")
    {
        <div class="row">
            <div class="container-fluid">
                @*<h4 style="font-weight:bold; text-align: center;"> <span class="label label-default">@Model.Client.Name </span></h4>*@
                <h4 style="font-weight:bold; text-align: center;"> <span class="label label-default">OPEN BINDER SECTION 4 </span></h4>
            </div>
            <div class="col-md-12">
                <hr />
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.TcmServicePlan == null)
                {
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;">Service<br>Plan</h4>
                        <p style="text-align:right"><a asp-action="Create" asp-controller="TCMServicePlans" asp-route-id="@Model.Id" class="btn btn-default " role="button">Go</a></p>
                    </div>
                }
                else
                {
                    @if (Model.TcmServicePlan.Approved == 0)
                    {
                        <div class="thumbnail list-group-item list-group-item-warning">
                            <h4 style="align-content:end;">Service<br>Plan</h4>
                            <p style="text-align:right"><a asp-action="Edit" asp-controller="TCMServicePlans" asp-route-id="@Model.TcmServicePlan.Id" class="btn btn-warning" role="button">Go</a></p>
                        </div>
                    }
                    @if (Model.TcmServicePlan.Approved == 1)
                    {
                        <div class="thumbnail list-group-item list-group-item-info">
                            <h4 style="align-content:end;">Service<br>Plan</h4>
                            <p style="text-align:right"><a asp-action="Edit" asp-controller="TCMServicePlans" asp-route-id="@Model.TcmServicePlan.Id" class="btn btn-info" role="button">Go</a></p>
                        </div>
                    }
                    @if (Model.TcmServicePlan.Approved == 2)
                    {
                        <div class="thumbnail list-group-item list-group-item-success">
                            <h4 style="align-content:end;">Service<br>Plan</h4>
                            <p style="text-align:right"><a asp-action="Edit" asp-controller="TCMServicePlans" asp-route-id="@Model.TcmServicePlan.Id" class="btn btn-success" role="button">Go</a></p>
                        </div>
                    }
                }
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.TcmServicePlan == null || Model.TcmServicePlan.Approved == 0)
                {
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;">Addendum<br>&nbsp;</h4>
                        <p style="text-align:right"><a asp-action="Adendum" asp-controller="TCMServicePlans" asp-route-id="@Model.Id" asp-route-tcmClientId="@Model.CaseNumber" class="btn btn-default disabled" role="button">Go</a></p>
                    </div>
                }
                else
                {
                    @if (Model.TcmServicePlan.TCMAdendum.Count() == 0)
                    {
                        <div class="thumbnail list-group-item list-group-item-text">
                            <h4 style="align-content:end;">Addendum<br>&nbsp;</h4>
                            <p style="text-align:right"><a asp-action="Adendum" asp-controller="TCMServicePlans" asp-route-id="@Model.Id" asp-route-tcmClientId="@Model.CaseNumber" class="btn btn-default " role="button">Go</a></p>
                        </div>
                    }
                    else
                    {
                        @if (Model.TcmServicePlan.TCMAdendum.Where(n => n.Approved == 0).Count() > 0)
                        {
                            <div class="thumbnail list-group-item list-group-item-warning">
                                <h4 style="align-content:end;">Addendum<br>&nbsp;</h4>
                                <p style="text-align:right"><a asp-action="Adendum" asp-controller="TCMServicePlans" asp-route-id="@Model.Id" asp-route-tcmClientId="@Model.CaseNumber" class="btn btn-warning" role="button">Go</a></p>
                            </div>
                        }
                        else
                        {
                            @if (Model.TcmServicePlan.TCMAdendum.Where(n => n.Approved == 1).Count() > 0)
                            {
                                <div class="thumbnail list-group-item list-group-item-info">
                                    <h4 style="align-content:end;">Addendum<br>&nbsp;</h4>
                                    <p style="text-align:right"><a asp-action="Adendum" asp-controller="TCMServicePlans" asp-route-id="@Model.Id" asp-route-tcmClientId="@Model.CaseNumber" class="btn btn-info" role="button">Go</a></p>
                                </div>
                            }
                            else
                            {
                                <div class="thumbnail list-group-item list-group-item-success">
                                    <h4 style="align-content:end;">Addendum<br>&nbsp;</h4>
                                    <p style="text-align:right"><a asp-action="Adendum" asp-controller="TCMServicePlans" asp-route-id="@Model.Id" asp-route-tcmClientId="@Model.CaseNumber" class="btn btn-success" role="button">Go</a></p>
                                </div>
                            }
                        }

                    }

                }
            </div>
            <div class="col-sm-3 col-md-2">
                @if (Model.TcmServicePlan == null)
                {
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;">Service Plan<br>Review</h4>
                        <p style="text-align:right"><a asp-action="Index" asp-controller="TCMServicePlans" asp-route-id="@Model.Id" asp-route-tcmClientId="@Model.CaseNumber" class="btn btn-default disabled" role="button">Go</a></p>
                    </div>
                }
                else
                {
                    @if (Model.TcmServicePlan.TCMServicePlanReview == null)
                    {
                        <div class="thumbnail list-group-item list-group-item-text">
                            <h4 style="align-content:end;">Service Plan<br>Review</h4>
                            <p style="text-align:right"><a asp-action="Create" asp-controller="TCMServicePlanReviews" asp-route-IdServicePlan="@Model.TcmServicePlan.Id" class="btn btn-default " role="button">Go</a></p>
                        </div>
                    }
                    else
                    {
                        @if (Model.TcmServicePlan.TCMServicePlanReview.Approved == 0)
                        {
                            <div class="thumbnail list-group-item list-group-item-warning">
                                <h4 style="align-content:end;">Service Plan<br>Review</h4>
                                <p style="text-align:right"><a asp-action="Edit" asp-controller="TCMServicePlanReviews" asp-route-id="@Model.TcmServicePlan.TCMServicePlanReview.Id" asp-route-IdServicePlan="@Model.TcmServicePlan.Id" class="btn btn-warning" role="button">Go</a></p>
                            </div>
                        }
                        @if (Model.TcmServicePlan.TCMServicePlanReview.Approved == 1)
                        {
                            <div class="thumbnail list-group-item list-group-item-info">
                                <h4 style="align-content:end;">Service Plan<br>Review</h4>
                                <p style="text-align:right"><a asp-action="Edit" asp-controller="TCMServicePlanReviews" asp-route-id="@Model.TcmServicePlan.TCMServicePlanReview.Id" asp-route-IdServicePlan="@Model.TcmServicePlan.Id" class="btn btn-info" role="button">Go</a></p>
                            </div>
                        }
                        @if (Model.TcmServicePlan.TCMServicePlanReview.Approved == 2)
                        {
                            <div class="thumbnail list-group-item list-group-item-success">
                                <h4 style="align-content:end;">Service Plan<br>Review</h4>
                                <p style="text-align:right"><a asp-action="Edit" asp-controller="TCMServicePlanReviews" asp-route-id="@Model.TcmServicePlan.TCMServicePlanReview.Id" asp-route-IdServicePlan="@Model.TcmServicePlan.Id" class="btn btn-success" role="button">Go</a></p>
                            </div>
                        }
                    }

                }
            </div>
             <div class="col-sm-3 col-md-2">
                @if (Model.TcmServicePlan == null)
                {
                    <div class="thumbnail list-group-item list-group-item-text">
                        <h4 style="align-content:end;">Discharge<br>&nbsp;</h4>
                        <p style="text-align:right"><a asp-action="Create" asp-controller="TCMServicePlans" asp-route-id="@Model.Id" class="btn btn-default " role="button">Go</a></p>
                    </div>
                }
                else
                {
                    <div class="thumbnail list-group-item list-group-item-success">
                        <h4 style="align-content:end;">Discharge<br>&nbsp;</h4>
                        <p style="text-align:right"><a asp-action="Edit" asp-controller="TCMServicePlans" asp-route-id="@Model.TcmServicePlan.Id" class="btn btn-success" role="button">Go</a></p>
                    </div>
                }
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
        </div>
    }
    else
    {


    }
</div>

