@model IEnumerable<KyoS.Web.Data.Entities.Client_Diagnostic>


    <div class="col-md-12">
        <div class="form-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>13. DIAGNOSTIC IMPRESSION:</strong>
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-responsive table-striped" id="MyTableDiag">
                        <thead>
                            <tr>
                                <th class="col-md-1">
                                   Code
                                </th>
                                <th class="col-md-4">
                                   Description
                                </th>
                                <th class="col-md-3">
                                    @Html.DisplayNameFor(model => model.Prescriber)
                                </th>
                                <th class="col-md-1" style="text-align:center;">
                                    Date
                                </th>
                                <th class="col-md-1" style="text-align:center;">
                                    Active
                                </th>
                                <th class="col-md-1" style="text-align:center;">
                                    @Html.DisplayNameFor(model => model.Principal)
                                </th>
                                <th class="col-md-1" style="text-align:center;">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                     <td>
                                        @Html.DisplayFor(modelItem => item.Diagnostic.Code)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Diagnostic.Description)
                                    </td>
                                    <td >
                                        @Html.DisplayFor(modelItem => item.Prescriber)
                                    </td>
                                    <td align="center">
                                        @item.DateIdentify.ToShortDateString()
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Active)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Principal)
                                    </td>
                                    <td align="right">
                                        <a onclick="showInPopup('@Url.Action("DeleteDiagnostic", "Bios",new { id = item.Id}, Context.Request.Scheme)','Confirmation')" class="btn btn-danger" title="Delete diagnostics"><i class="glyphicon glyphicon-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>    

