@model KyoS.Web.Models.BioViewModel
@{
    ViewData["Title"] = "Create BIO";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>

    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                @Html.ActionLink("Clients without BIO", "ClientswithoutBIO", "Bios")
            </li>
            <li class="active">Create</li>
        </ul><!--.breadcrumb-->
    </div>

    <h4>Create BIO</h4>
    <hr />
    <div class="row">
        <form asp-action="Create" asp-route-id="@Model.Id" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdClient" />
            <input type="hidden" asp-for="Client_FK" />
            <input type="hidden" asp-for="CreatedBy" />
            <input type="hidden" asp-for="AdmissionedFor" />
            <input type="hidden" asp-for="CreatedOn" />
            <partial name="_Bios1" />
            <div class="col-md-push-12">
                <div class="">
                    <div class="col-md-12 form-group">
                        <a onclick="showInPopup('@Url.Action("CreateBehavioralModal", "Bios",new { id = @Model.IdClient}, Context.Request.Scheme)','Create Behavioral Health')" class="btn btn-success" title="Create Behavioral Health of this BIO"><i class="glyphicon glyphicon-plus"></i> Add Behavioral</a>
                    </div>
                </div>
                <div class="">
                    <div id="view-BioBehavioral">
                        @await Html.PartialAsync("_ViewBehavioralHealth", Model.Client.List_BehavioralHistory.ToList())
                    </div>
                </div>
            </div>
            <div class="col-md-push-12">
                <div class="">
                    <div class="col-md-12 form-group">
                        <a onclick="showInPopup('@Url.Action("CreateMedicationModal", "Bios",new { id = @Model.IdClient}, Context.Request.Scheme)','Create Medication of Client')" class="btn btn-success" title="Create Medication of Client"><i class="glyphicon glyphicon-plus"></i> Add Medications</a>
                    </div>
                </div>
                <div class="">
                    <div id="view-Medication">
                        @await Html.PartialAsync("_ViewMedication", Model.Client.MedicationList.ToList())
                    </div>
                </div>
            </div>
            <partial name="_Bios2" />
            <div class="col-md-push-12">
                <div class="">
                    <div class="col-md-12 form-group">
                        <a onclick="showInPopup('@Url.Action("AddDiagnostic", "Bios",new { id = @Model.IdClient}, Context.Request.Scheme)','Add Diagnostics')" class="btn btn-success" title="Add Diagnostics"><i class="glyphicon glyphicon-plus"></i> Add Diagnostics</a>
                    </div>
                </div>
                <div class="">
                    <div id="view-ClientDiagnostics">
                        @await Html.PartialAsync("_ViewDiagnostic", Model.Client.Clients_Diagnostics.ToList())
                    </div>
                </div>
            </div>
            <partial name="_Bios3" />
            <div class="form-group col-md-12">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="ClientswithoutBIO" class="btn btn-success">Back</a>
            </div>
        </form>
    </div>
</body>
</html>

<partial name="_ModalPopup" />
<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            // Configure to save every 15 seconds
            window.setInterval(SaveData, 15000);//calling saveData function for every 15 seconds
        });

        // ajax method
        function SaveData() {
            var jsonObj =
            {
                'url': 'Bios/Create/' + @Model.Client.Id,
                'CMH': CMH.checked,
                'Priv': Priv.checked,
                'Setting': document.getElementById('Setting').value,
                'BioH0031HN': BioH0031HN.checked,
                'IDAH0031HO': IDAH0031HO.checked,
                'Code90791': Code90791.checked,
                'DateBio': document.getElementById('DateBio').value,
                'StartTime': document.getElementById('StartTime').value,
                'EndTime': document.getElementById('EndTime').value,
                'PresentingProblem': document.getElementById('PresentingProblem').value,
                'ClientAssessmentSituation': document.getElementById('ClientAssessmentSituation').value,
                'FamilyAssessmentSituation': document.getElementById('FamilyAssessmentSituation').value,
                'FamilyEmotional': document.getElementById('FamilyEmotional').value,
                'LegalAssessment': document.getElementById('LegalAssessment').value,
                'Appearance_Disheveled': Appearance_Disheveled.checked,
                'Appearance_FairHygiene': Appearance_FairHygiene.checked,
                'Appearance_Cleaned': Appearance_Cleaned.checked,
                'Appearance_WellGroomed': Appearance_WellGroomed.checked,
                'Appearance_Bizarre': Appearance_Bizarre.checked,
                'Motor_Normal': Motor_Normal.checked,
                'Motor_Agitated': Motor_Agitated.checked,
                'Motor_Retardation': Motor_Retardation.checked,
                'Motor_RestLess': Motor_RestLess.checked,
                'Motor_Akathisia': Motor_Akathisia.checked,
                'Motor_Tremor': Motor_Tremor.checked,
                'Motor_Other': Motor_Other.checked,
                'Speech_Normal': Speech_Normal.checked,
                'Speech_Loud': Speech_Loud.checked,
                'Speech_Pressured': Speech_Pressured.checked,
                'Speech_Impoverished': Speech_Impoverished.checked,
                'Speech_Slurred': Speech_Slurred.checked,
                'Speech_Mumbled': Speech_Mumbled.checked,
                'Speech_Stutters': Speech_Stutters.checked,
                'Speech_Rapid': Speech_Rapid.checked,
                'Speech_Slow': Speech_Slow.checked,
                'Speech_Other': Speech_Other.checked,
                'Affect_Appropriate': Affect_Appropriate.checked,
                'Affect_labile': Affect_labile.checked,
                'Affect_Expansive': Affect_Expansive.checked,
                'Affect_Blunted': Affect_Blunted.checked,
                'Affect_Constricted': Affect_Constricted.checked,
                'Affect_Flat': Affect_Flat.checked,
                'Affect_Tearful_Sad': Affect_Tearful_Sad.checked,
                'Affect_Anxious': Affect_Anxious.checked,
                'Affect_Angry': Affect_Angry.checked,
                'Affect_Other': Affect_Other.checked,
                'ThoughtProcess_Organized': ThoughtProcess_Organized.checked,
                'ThoughtProcess_Disorganized': ThoughtProcess_Disorganized.checked,
                'ThoughtProcess_GoalDirected': ThoughtProcess_GoalDirected.checked,
                'ThoughtProcess_Irrational': ThoughtProcess_Irrational.checked,
                'ThoughtProcess_Rigid': ThoughtProcess_Rigid.checked,
                'ThoughtProcess_Obsessive': ThoughtProcess_Obsessive.checked,
                'ThoughtProcess_Tangential': ThoughtProcess_Tangential.checked,
                'ThoughtProcess_Circumstantial': ThoughtProcess_Circumstantial.checked,
                'ThoughtProcess_Preoccupied': ThoughtProcess_Preoccupied.checked,
                'ThoughtProcess_Blocking': ThoughtProcess_Blocking.checked,
                'ThoughtProcess_FightIdeas': ThoughtProcess_FightIdeas.checked,
                'ThoughtProcess_LooseAssociations': ThoughtProcess_LooseAssociations.checked,
                'ThoughtProcess_Other': ThoughtProcess_Other.checked,
                'Mood_Euthymic': Mood_Euthymic.checked,
                'Mood_Depressed': Mood_Depressed.checked,
                'Mood_Anxious': Mood_Anxious.checked,
                'Mood_Euphoric': Mood_Euphoric.checked,
                'Mood_Angry': Mood_Angry.checked,
                'Mood_Maniac': Mood_Maniac.checked,
                'Mood_Other': Mood_Other.checked,
                'Judgment_Good': Judgment_Good.checked,
                'Judgment_Fair': Judgment_Fair.checked,
                'Judgment_Poor': Judgment_Poor.checked,
                'Judgment_Other': Judgment_Other.checked,
                'Insight_Good': Insight_Good.checked,
                'Insight_Fair': Insight_Fair.checked,
                'Insight_Poor': Insight_Poor.checked,
                'Insight_Other': Insight_Other.checked,
                'ThoughtContent_Relevant': ThoughtContent_Relevant.checked,
                'ThoughtContent_Hallucinations': check1.checked,
                'ThoughtContent_Hallucinations_Type': document.getElementById('ThoughtContent_Hallucinations_Type').value,
                'ThoughtContent_RealityBased': ThoughtContent_RealityBased.checked,
                'ThoughtContent_Delusions': check2.checked,
                'ThoughtContent_Delusions_Type': document.getElementById('ThoughtContent_Delusions_Type').value,
                'Oriented_FullOriented': Oriented_FullOriented.checked,
                'Lacking_Time': Lacking_Time.checked,
                'Lacking_Place': Lacking_Place.checked,
                'Lacking_Person': Lacking_Person.checked,
                'Lacking_Location': Lacking_Location.checked,
                'RiskToSelf_Low': RiskToSelf_Low.checked,
                'RiskToSelf_Medium': RiskToSelf_Medium.checked,
                'RiskToSelf_High': RiskToSelf_High.checked,
                'RiskToSelf_Chronic': RiskToSelf_Chronic.checked,
                'RiskToOther_Low': RiskToOther_Low.checked,
                'RiskToOther_Medium': RiskToOther_Medium.checked,
                'RiskToOther_High': RiskToOther_High.checked,
                'RiskToOther_Chronic': RiskToOther_Chronic.checked,
                'SafetyPlan': check3.checked,
                'Comments': document.getElementById('Comments').value,
                'ClientDenied': ClientDenied.checked,
                'HaveYouEverThought': check4.checked,
                'DoYouOwn': check5.checked,
                'DoesClient': check6.checked,
                'HaveYouEverBeen': check7.checked,
                'HasTheClient': check8.checked,
                'HaveYouEverThought_Explain': document.getElementById('HaveYouEverThought_Explain').value,
                'DoYouOwn_Explain': document.getElementById('DoYouOwn_Explain').value,
                'HaveYouEverBeen_Explain': document.getElementById('HaveYouEverBeen_Explain').value,
                'HasTheClient_Explain': document.getElementById('HasTheClient_Explain').value,
                'ClientFamilyAbusoTrauma': ClientFamilyAbusoTrauma.checked,
                'DateAbuse': document.getElementById('DateAbuse').value,
                'PersonInvolved': document.getElementById('PersonInvolved').value,
                'ApproximateDateReport': document.getElementById('ApproximateDateReport').value,
                'ApproximateDateReport_Where': document.getElementById('ApproximateDateReport_Where').value,
                'RelationShips': document.getElementById('RelationShips').value,
                'Details': document.getElementById('Details').value,
                'Outcome': document.getElementById('Outcome').value,
                'AReferral': AReferral.checked,
                'AReferral_Services': document.getElementById('AReferral_Services').value,
                'AReferral_When': document.getElementById('AReferral_When').value,
                'AReferral_Where': document.getElementById('AReferral_Where').value,
                'ObtainRelease': ObtainRelease.checked,
                'WhereRecord': WhereRecord.checked,
                'WhereRecord_When': document.getElementById('WhereRecord_When').value,
                'WhereRecord_Where': document.getElementById('WhereRecord_Where').value,
                'HasTheClientVisitedPhysician': check9.checked,
                'HasTheClientVisitedPhysician_Reason': document.getElementById('HasTheClientVisitedPhysician_Reason').value,
                'HasTheClientVisitedPhysician_Date': document.getElementById('HasTheClientVisitedPhysician_Date').value,
                'DoesTheClientExperience': check10.checked,
                'DoesTheClientExperience_Where': document.getElementById('DoesTheClientExperience_Where').value,
                'ForHowLong': document.getElementById('ForHowLong').value,
                'PleaseRatePain': document.getElementById('PleaseRatePain').value,
                'HasClientBeenTreatedPain': check11.checked,
                'HasClientBeenTreatedPain_PleaseIncludeService': document.getElementById('HasClientBeenTreatedPain_PleaseIncludeService').value,
                'HasClientBeenTreatedPain_Ifnot': document.getElementById('HasClientBeenTreatedPain_Ifnot').value,
                'HasClientBeenTreatedPain_Where': document.getElementById('HasClientBeenTreatedPain_Where').value,
                'ObtainReleaseInformation': document.getElementById('ObtainReleaseInformation').value,
                'EastFewer': check12.checked,
                'EastFew': check13.checked,
                'Has3OrMore': check14.checked,
                'HasTooth': check15.checked,
                'DoesNotAlways': check16.checked,
                'EastAlone': check17.checked,
                'Takes3OrMore': check18.checked,
                'WithoutWanting': check19.checked,
                'NotAlwaysPhysically': check20.checked,
                'AnyFood': check26.checked,
                'AnyEating': check27.checked,
                'If6_ReferredTo': document.getElementById('If6_ReferredTo').value,
                'If6_Date': document.getElementById('If6_Date').value,
                'Appetite': $("#IdAppetite").val() > 0 ? $("#IdAppetite option:selected").text() : 'WNL',
                'Hydration': $("#IdHydratation").val() > 0 ? $("#IdHydratation option:selected").text() : 'WNL',
                'RecentWeight': $("#IdRecentWeight").val() > 0 ? $("#IdRecentWeight option:selected").text() : 'N_A',
                'SubstanceAbuse': document.getElementById('SubstanceAbuse').value,
                'MilitaryServiceHistory': check28.checked,
                'MilitaryServiceHistory_Explain': document.getElementById('MilitaryServiceHistory_Explain').value,
                'VocationalAssesment': document.getElementById('VocationalAssesment').value,
                'LegalHistory': document.getElementById('LegalHistory').value,
                'PersonalFamilyPsychiatric': document.getElementById('PersonalFamilyPsychiatric').value,
                'DoesClientRequired': DoesClientRequired.checked,
                'DoesClientRequired_Where': document.getElementById('DoesClientRequired_Where').value,
                'ObtainReleaseInformation7': ObtainReleaseInformation7.checked,
                'IfForeing_Born': IfForeing_Born.checked,
                'IfForeing_AgeArrival': document.getElementById('IfForeing_AgeArrival').value,
                'IfForeing_YearArrival': document.getElementById('IfForeing_YearArrival').value,
                'PrimaryLocation': document.getElementById('PrimaryLocation').value,
                'GeneralDescription': document.getElementById('GeneralDescription').value,
                'AdultCurrentExperience': document.getElementById('AdultCurrentExperience').value,
                'WhatIsTheClient': document.getElementById('WhatIsTheClient').value,
                'RelationshipWithFamily': document.getElementById('RelationshipWithFamily').value,
                'Children': document.getElementById('Children').value,
                'IfMarried': document.getElementById('IfMarried').value,
                'IfSeparated': document.getElementById('IfSeparated').value,
                'IfSexuallyActive': $("#IdIfSexuallyActive").val() > 0 ? $("#IdIfSexuallyActive option:selected").text() : 'N_A',
                'PleaseProvideGoal': document.getElementById('PleaseProvideGoal').value,
                'DoYouHaveAnyReligious': check21.checked,
                'DoYouHaveAnyVisual': check22.checked,
                'HigHestEducation': document.getElementById('HigHestEducation').value,
                'DoYouHaveAnyPhysical': check23.checked,
                'CanClientFollow': check24.checked,
                'ProvideIntegratedSummary': document.getElementById('ProvideIntegratedSummary').value,
                'TreatmentNeeds': document.getElementById('TreatmentNeeds').value,
                'Treatmentrecomendations': document.getElementById('Treatmentrecomendations').value,
                'IConcurWhitDiagnistic': check25.checked,
                'AlternativeDiagnosis': document.getElementById('AlternativeDiagnosis').value,
                @if (User.IsInRole("Supervisor"))
                {
                    <text>'DateSignatureLicensedPractitioner': document.getElementById('DateSignatureLicensedPractitioner').value</text>
                }      
                @if (!User.IsInRole("Supervisor"))
                {
                    <text>'DateSignatureUnlicensedTherapist': document.getElementById('DateSignatureUnlicensedTherapist').value</text>
                }
            };

            var json = JSON.stringify(jsonObj);

            $.ajax({
                type: 'POST',
                url: '@Url.Action("AutoSave", "Bios")',
                data: { jsonModel: json },
                success: function (data) {
                    if (data == true) {
                        Swal.fire({
                        position: "bottom-end",
                        icon: "success",
                        title: "Saved",
                        showConfirmButton: false,
                        timer: 1800,
                        timerProgressBar: true
                        });
                    }
                }
            });
        }

        check1.addEventListener('change', (e) => {
            if (check1.checked == true) {
                check101.checked = false;
            }
            else {
                check101.checked = true;
            }
        })
        check101.addEventListener('change', (e) => {
            if (check101.checked == true) {
                check1.checked = false;
            }
            else {
                check1.checked = true;
            }
        })
        if (check1.checked == true) {
            check101.checked = false;
        }
        else {
            check101.checked = true;
        }
        //---------------------------------
        check2.addEventListener('change', (e) => {
            if (check2.checked == true) {
                check102.checked = false;
            }
            else {
                check102.checked = true;
            }
        })
        check102.addEventListener('change', (e) => {
            if (check102.checked == true) {
                check2.checked = false;
            }
            else {
                check2.checked = true;
            }
        })
        if (check2.checked == true) {
            check102.checked = false;
        }
        else {
            check102.checked = true;
        }
        //---------------------------------
        check3.addEventListener('change', (e) => {
            if (check3.checked == true) {
                check103.checked = false;
            }
            else {
                check103.checked = true;
            }
        })
        check103.addEventListener('change', (e) => {
            if (check103.checked == true) {
                check3.checked = false;
            }
            else {
                check3.checked = true;
            }
        })
        if (check3.checked == true) {
            check103.checked = false;
        }
        else {
            check103.checked = true;
        }
        //---------------------------------
                check4.addEventListener('change', (e) => {
                if (check4.checked == true) {
                check104.checked = false;
                } else {
                check104.checked = true;
                }
                })
                check104.addEventListener('change', (e) => {
                if (check104.checked == true) {
                check4.checked = false;
                } else {
                check4.checked = true;
                }
                })
                if (check4.checked == true) {
                check104.checked = false;
                } else {
                check104.checked = true;
                }
                //---------------------------------
                check5.addEventListener('change', (e) => {
                if (check5.checked == true) {
                check105.checked = false;
                } else {
                check105.checked = true;
                }
                })
                check105.addEventListener('change', (e) => {
                if (check105.checked == true) {
                check5.checked = false;
                } else {
                check5.checked = true;
                }
                })
                if (check5.checked == true) {
                check105.checked = false;
                } else {
                check105.checked = true;
                }
                //---------------------------------
                check6.addEventListener('change', (e) => {
                if (check6.checked == true) {
                check106.checked = false;
                } else {
                check106.checked = true;
                }
                })
                check106.addEventListener('change', (e) => {
                if (check106.checked == true) {
                check6.checked = false;
                } else {
                check6.checked = true;
                }
                })
                if (check6.checked == true) {
                check106.checked = false;
                } else {
                check106.checked = true;
                }
                //---------------------------------
                check7.addEventListener('change', (e) => {
                if (check7.checked == true) {
                check107.checked = false;
                } else {
                check107.checked = true;
                }
                })
                check107.addEventListener('change', (e) => {
                if (check107.checked == true) {
                check7.checked = false;
                } else {
                check7.checked = true;
                }
                })
                if (check7.checked == true) {
                check107.checked = false;
                } else {
                check107.checked = true;
                }
                //---------------------------------
                check8.addEventListener('change', (e) => {
                if (check8.checked == true) {
                check108.checked = false;
                } else {
                check108.checked = true;
                }
                })
                check108.addEventListener('change', (e) => {
                if (check108.checked == true) {
                check8.checked = false;
                } else {
                check8.checked = true;
                }
                })
                if (check8.checked == true) {
                check108.checked = false;
                } else {
                check108.checked = true;
                }
                //---------------------------------
                check9.addEventListener('change', (e) => {
                if (check9.checked == true) {
                check109.checked = false;
                } else {
                check109.checked = true;
                }
                })
                check109.addEventListener('change', (e) => {
                if (check109.checked == true) {
                check9.checked = false;
                } else {
                check9.checked = true;
                }
                })
                if (check9.checked == true) {
                check109.checked = false;
                } else {
                check109.checked = true;
                }
                //---------------------------------
                check10.addEventListener('change', (e) => {
                if (check10.checked == true) {
                check110.checked = false;
                } else {
                check110.checked = true;
                }
                })
                check110.addEventListener('change', (e) => {
                if (check110.checked == true) {
                check10.checked = false;
                } else {
                check10.checked = true;
                }
                })
                if (check10.checked == true) {
                check110.checked = false;
                } else {
                check110.checked = true;
                }
                //---------------------------------
                check11.addEventListener('change', (e) => {
                if (check11.checked == true) {
                check111.checked = false;
                } else {
                check111.checked = true;
                }
                })
                check111.addEventListener('change', (e) => {
                if (check111.checked == true) {
                check11.checked = false;
                } else {
                check11.checked = true;
                }
                })
                if (check11.checked == true) {
                check111.checked = false;
                } else {
                check111.checked = true;
                }
                //---------------------------------
                check12.addEventListener('change', (e) => {
                if (check12.checked == true) {
                check112.checked = false;
                } else {
                check112.checked = true;
                }
                })
                check112.addEventListener('change', (e) => {
                if (check112.checked == true) {
                check12.checked = false;
                } else {
                check12.checked = true;
                }
                })
                if (check12.checked == true) {
                check112.checked = false;
                } else {
                check112.checked = true;
                }
                //---------------------------------
                check13.addEventListener('change', (e) => {
                if (check13.checked == true) {
                check113.checked = false;
                } else {
                check113.checked = true;
                }
                })
                check113.addEventListener('change', (e) => {
                if (check113.checked == true) {
                check13.checked = false;
                } else {
                check13.checked = true;
                }
                })
                if (check13.checked == true) {
                check113.checked = false;
                } else {
                check113.checked = true;
                }
                //---------------------------------
                check14.addEventListener('change', (e) => {
                if (check14.checked == true) {
                check114.checked = false;
                } else {
                check114.checked = true;
                }
                })
                check114.addEventListener('change', (e) => {
                if (check114.checked == true) {
                check14.checked = false;
                } else {
                check14.checked = true;
                }
                })
                if (check14.checked == true) {
                check114.checked = false;
                } else {
                check114.checked = true;
                }
                //---------------------------------
                check15.addEventListener('change', (e) => {
                if (check15.checked == true) {
                check115.checked = false;
                } else {
                check115.checked = true;
                }
                })
                check115.addEventListener('change', (e) => {
                if (check115.checked == true) {
                check15.checked = false;
                } else {
                check15.checked = true;
                }
                })
                if (check15.checked == true) {
                check115.checked = false;
                } else {
                check115.checked = true;
                }
                //---------------------------------
                check16.addEventListener('change', (e) => {
                if (check16.checked == true) {
                check116.checked = false;
                } else {
                check116.checked = true;
                }
                })
                check116.addEventListener('change', (e) => {
                if (check116.checked == true) {
                check16.checked = false;
                } else {
                check16.checked = true;
                }
                })
                if (check16.checked == true) {
                check116.checked = false;
                } else {
                check116.checked = true;
                }
                //---------------------------------
                check17.addEventListener('change', (e) => {
                if (check17.checked == true) {
                check117.checked = false;
                } else {
                check117.checked = true;
                }
                })
                check117.addEventListener('change', (e) => {
                if (check117.checked == true) {
                check17.checked = false;
                } else {
                check17.checked = true;
                }
                })
                if (check17.checked == true) {
                check117.checked = false;
                } else {
                check117.checked = true;
                }
                //---------------------------------
                check18.addEventListener('change', (e) => {
                if (check18.checked == true) {
                check118.checked = false;
                } else {
                check118.checked = true;
                }
                })
                check118.addEventListener('change', (e) => {
                if (check118.checked == true) {
                check18.checked = false;
                } else {
                check18.checked = true;
                }
                })
                if (check18.checked == true) {
                check118.checked = false;
                } else {
                check118.checked = true;
                }
                //---------------------------------
                check19.addEventListener('change', (e) => {
                if (check19.checked == true) {
                check119.checked = false;
                } else {
                check119.checked = true;
                }
                })
                check119.addEventListener('change', (e) => {
                if (check119.checked == true) {
                check19.checked = false;
                } else {
                check19.checked = true;
                }
                })
                if (check19.checked == true) {
                check119.checked = false;
                } else {
                check119.checked = true;
                }
                //---------------------------------
                check20.addEventListener('change', (e) => {
                if (check20.checked == true) {
                check120.checked = false;
                } else {
                check120.checked = true;
                }
                })
                check120.addEventListener('change', (e) => {
                if (check120.checked == true) {
                check20.checked = false;
                } else {
                check20.checked = true;
                }
                })
                if (check20.checked == true) {
                check120.checked = false;
                } else {
                check120.checked = true;
                }
                //---------------------------------
                check21.addEventListener('change', (e) => {
                if (check21.checked == true) {
                check121.checked = false;
                } else {
                check121.checked = true;
                }
                })
                check121.addEventListener('change', (e) => {
                if (check121.checked == true) {
                check21.checked = false;
                } else {
                check21.checked = true;
                }
                })
                if (check21.checked == true) {
                check121.checked = false;
                } else {
                check121.checked = true;
                }
                //---------------------------------
                check22.addEventListener('change', (e) => {
                if (check22.checked == true) {
                check122.checked = false;
                } else {
                check122.checked = true;
                }
                })
                check122.addEventListener('change', (e) => {
                if (check122.checked == true) {
                check22.checked = false;
                } else {
                check22.checked = true;
                }
                })
                if (check22.checked == true) {
                check122.checked = false;
                } else {
                check122.checked = true;
                }
                //---------------------------------
                check23.addEventListener('change', (e) => {
                if (check23.checked == true) {
                check123.checked = false;
                } else {
                check123.checked = true;
                }
                })
                check123.addEventListener('change', (e) => {
                if (check123.checked == true) {
                check23.checked = false;
                } else {
                check23.checked = true;
                }
                })
                if (check23.checked == true) {
                check123.checked = false;
                } else {
                check123.checked = true;
                }
                //---------------------------------
                check24.addEventListener('change', (e) => {
                if (check24.checked == true) {
                check124.checked = false;
                } else {
                check124.checked = true;
                }
                })
                check124.addEventListener('change', (e) => {
                if (check124.checked == true) {
                check24.checked = false;
                } else {
                check24.checked = true;
                }
                })
                if (check24.checked == true) {
                check124.checked = false;
                } else {
                check124.checked = true;
                }
                //---------------------------------
                check25.addEventListener('change', (e) => {
                if (check25.checked == true) {
                check125.checked = false;
                } else {
                check125.checked = true;
                }
                })
                check125.addEventListener('change', (e) => {
                if (check125.checked == true) {
                check25.checked = false;
                } else {
                check25.checked = true;
                }
                })
                if (check25.checked == true) {
                check125.checked = false;
                } else {
                check125.checked = true;
                }
                //---------------------------------
                check26.addEventListener('change', (e) => {
                if (check26.checked == true) {
                check126.checked = false;
                } else {
                check126.checked = true;
                }
                })
                check126.addEventListener('change', (e) => {
                if (check126.checked == true) {
                check26.checked = false;
                } else {
                check26.checked = true;
                }
                })
                if (check26.checked == true) {
                check126.checked = false;
                } else {
                check126.checked = true;
                }
                //---------------------------------
                check27.addEventListener('change', (e) => {
                if (check27.checked == true) {
                check127.checked = false;
                } else {
                check127.checked = true;
                }
                })
                check127.addEventListener('change', (e) => {
                if (check127.checked == true) {
                check27.checked = false;
                } else {
                check27.checked = true;
                }
                })
                if (check27.checked == true) {
                check127.checked = false;
                } else {
                check127.checked = true;
                }
                //---------------------------------
                check28.addEventListener('change', (e) => {
                if (check28.checked == true) {
                check128.checked = false;
                } else {
                check128.checked = true;
                }
                })
                check128.addEventListener('change', (e) => {
                if (check128.checked == true) {
                check28.checked = false;
                } else {
                check28.checked = true;
                }
                })
                if (check28.checked == true) {
                check128.checked = false;
                } else {
                check128.checked = true;
                }


                </script>
}
