@model IEnumerable<KyoS.Web.Data.Entities.ManagerEntity>
@{
    ViewData["Title"] = "Update Signatures";
}

<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Managers", "Index", "Managers")
        </li>
        <li class="active">Update Signatures</li>
    </ul><!--.breadcrumb-->
</div>

<div class="row">    
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Managers</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-4">
                                @Html.DisplayNameFor(model => model.Name)
                            </th>

                            <th class="col-md-2" style="text-align:center;">
                                Status
                            </th>
                            <th class="col-md-3" style="text-align:center;">
                                Clinic
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Sign
                            </th>
                            <th class="col-md-2">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            @if (item.Status == KyoS.Common.Enums.StatusType.Close)
                            {
                                <tr style="color: darkgrey;">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>

                                    <td align="center">
                                        @if (item.Status == KyoS.Common.Enums.StatusType.Open)
                                        {
                                            <span class="label label-success">
                                                Open
                                            </span>
                                        }
                                        @if (item.Status == KyoS.Common.Enums.StatusType.Close)
                                        {
                                            <span class="label label-default">
                                                Close
                                            </span>
                                        }
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Clinic.Name)
                                    </td>
                                    <td align="center">
                                        @if (item.SignaturePath == null)
                                        {
                                            <span class="label label-danger">
                                                No
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="label label-success">
                                                Yes
                                            </span>
                                        }
                                    </td>
                                    <td align="right">
                                        <a asp-action="EditSignature" asp-route-id="@item.Id" class="btn btn-warning" title="Edit Manager's signature"><i class="glyphicon glyphicon-cloud-upload"></i></a>
                                    </td>
                                </tr>
                            }
                            @if (item.Status == KyoS.Common.Enums.StatusType.Open)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td align="center">
                                        @if (item.Status == KyoS.Common.Enums.StatusType.Open)
                                        {
                                            <span class="label label-success">
                                                Open
                                            </span>
                                        }
                                        @if (item.Status == KyoS.Common.Enums.StatusType.Close)
                                        {
                                            <span class="label label-default">
                                                Close
                                            </span>
                                        }
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Clinic.Name)
                                    </td>
                                    <td align="center">
                                        @if (item.SignaturePath == null)
                                        {
                                            <span class="label label-danger">
                                                No
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="label label-success">
                                                Yes
                                            </span>
                                        }
                                    </td>
                                    <td align="right">
                                        <a asp-action="EditSignature" asp-route-id="@item.Id" class="btn btn-warning" title="Edit Manager's signature"><i class="glyphicon glyphicon-cloud-upload"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_ModalPopupLg" />
<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#MyTable').DataTable({
                                "order": [[0, "asc"]],
                                "pageLength": 100
                            });

                            // Delete item
                            var item_to_delete;

                            $('.deleteItem').click((e) => {
                                item_to_delete = e.currentTarget.dataset.id;
                            });

                            $("#btnYesDelete").click(function () {
                                var url = "@Url.Action("Delete", "Clients")";
                                window.location.href = url + '/' + item_to_delete;
                            });
                        });
    </script>
}



