@model IEnumerable<KyoS.Web.Data.Entities.IncidentEntity>

@if (Model != null)
{
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Incidents</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-responsive table-striped" id="MyTable">
                <thead>
                    <tr>
                        <th class="col-md-2">
                            @Html.DisplayNameFor(model => model.client.Name)
                        </th>
                        <th class="col-md-3">
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th class="col-md-1" style="text-align:center;">
                            Created by
                        </th>
                        <th class="col-md-1" style="text-align:center;">
                            Status
                        </th>
                        <th class="col-md-1" style="text-align:center;">
                            Created
                        </th>
                        <th class="col-md-1" style="text-align:center;">
                            Solved
                        </th>
                        <th class="col-md-2" style="text-align:center;">
                            Assigned to
                        </th>
                        <th class="col-md-1">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderByDescending(n => n.CreatedDate))
                    {
                        <tr>
                            <td>
                                @if (item.client != null)
                                {
                                    @Html.DisplayFor(modelItem => item.client.Name)
                                }
                                else
                                {
                                    <p>-</p>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.UserCreatedBy.FirstName)
                            </td>
                            <td align="center">
                                @if (item.Status == KyoS.Common.Enums.IncidentsStatus.Pending)
                                {
                                    <span class="label label-danger">
                                        Pending
                                    </span>
                                }
                                @if (item.Status == KyoS.Common.Enums.IncidentsStatus.Solved)
                                {
                                    <span class="label label-success">
                                        Solved
                                    </span>
                                }
                                @if (item.Status == KyoS.Common.Enums.IncidentsStatus.NotValid)
                                {
                                    <span class="label label-default">
                                        Not valid
                                    </span>
                                }
                                @if (item.Status == KyoS.Common.Enums.IncidentsStatus.Reviewed)
                                {
                                    <span class="label label-info">
                                        Reviewed
                                    </span>
                                }
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td>
                            <td align="center">
                                @if (item.Status == KyoS.Common.Enums.IncidentsStatus.Solved)
                                {
                                    @Html.DisplayFor(modelItem => item.SolvedDate)
                                }
                                @if (item.Status == KyoS.Common.Enums.IncidentsStatus.Pending)
                                {
                                    <p>-</p>
                                }
                            </td>
                            <td align="center">
                                @if (item.UserAsigned != null)
                                {
                                    @Html.DisplayFor(modelItem => item.UserAsigned.FirstName)
                                }
                                else
                                {
                                    <p>-</p>
                                }
                            </td>
                            <td align="right">
                                @if (item.Status != KyoS.Common.Enums.IncidentsStatus.Reviewed)
                                {
                                    @*<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></a>*@
                                    <a onclick="showInPopup('@Url.Action("EditModal","Incidents",new {id = @item.Id},Context.Request.Scheme)','Edit Incident')" class="btn btn-warning" title="Edit Incident"><i class="glyphicon glyphicon-pencil"></i></a>
                                }
                                @if (item.Status == KyoS.Common.Enums.IncidentsStatus.Reviewed)
                                {
                                    <a onclick="showInPopup('@Url.Action("EditModal","Incidents",new {id = @item.Id},Context.Request.Scheme)','Edit Incident')" class="btn btn-warning disabled" title="Edit Incident"><i class="glyphicon glyphicon-pencil"></i></a>
                                }
                                @if (User.IsInRole("Admin"))
                                {
                                    @*<button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>*@
                                    <button onclick="ConfirmDelete(@item.Id)" class="btn btn-danger deleteItem" title="Delete Incident"><i class="glyphicon glyphicon-trash"></i></button>
                                }
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
}



