@model IEnumerable<KyoS.Web.Data.Entities.TCMNoteEntity>

@if (Model != null)
{
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Notes for update</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-2">
                                @Html.DisplayNameFor(model => model.TCMClient.Casemanager)
                            </th>
                            <th class="col-md-3">
                                @Html.DisplayNameFor(model => model.TCMClient.Client.Name)
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Date
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Status
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Services
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Minutes
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Unit
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Billed
                            </th>
                            <th class="col-md-1">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var @valor1 = 0;
                            var @residuo1 = 0;
                            var @valorAumentado1 = 0;
                            var @unit1 = 0;

                            foreach(var activity in item.TCMNoteActivity)
                            {
                                valor1 = (activity.Minutes) / 15;
                                residuo1 = (activity.Minutes) % 15;
                                valorAumentado1 = valor1 + 1;
                                @if (@residuo1 > 7)
                                {
                                    unit1 = unit1 + valorAumentado1;
                                }
                                else
                                {
                                    unit1 = unit1 + valor1;
                                }
                            }
                            <tr style="color: darkgrey;">
                                <td>
                                    @Html.DisplayFor(modelItem => item.TCMClient.Casemanager.Name)
                                </td>
                                <td>
                                    @if (item.TCMClient.Client.Gender == KyoS.Common.Enums.GenderType.Female)
                                    {
                                        <i class="glyphicon glyphicon-user btn-danger"></i>
                                    }
                                    @if (item.TCMClient.Client.Gender == KyoS.Common.Enums.GenderType.Male)
                                    {
                                        <i class="glyphicon glyphicon-user btn-primary"></i>
                                    }
                                    &nbsp;
                                    @Html.DisplayFor(modelItem => item.TCMClient.Client.Name)
                                    |
                                    @Html.DisplayFor(modelItem => item.TCMClient.Client.Code)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.DateOfService)
                                </td>
                                <td align="center">
                                    @if (item.Status == KyoS.Common.Enums.NoteStatus.Approved)
                                    {
                                        <span class="label label-success">
                                            Approved
                                        </span>
                                    }
                                    else
                                    {
                                        @if (item.Status == KyoS.Common.Enums.NoteStatus.Edition)
                                        {
                                            <span class="label label-warning">
                                                Edition
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="label label-info">
                                                Pending
                                            </span>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @item.TCMNoteActivity.Count()
                                </td>
                                <td align="center">
                                    @item.TCMNoteActivity.Sum(n => n.Minutes)
                                </td>
                                <td align="center">
                                    @unit1
                                </td>
                                <td align="center">
                                    @if (item.BilledDate == null)
                                    {
                                        <span class="label label-success">
                                            Yes
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="label label-danger">
                                            NO
                                        </span>
                                    }
                                </td>
                                <td align="right">
                                    @if (item.TCMClient.Client.Clinic.Setting.TCMSupervisorEdit == true)
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.Id" asp-route-origin="7" class="btn btn-warning" title="Edit TCM Note"><i class="glyphicon glyphicon-pencil"></i></a>
                                    }
                                    else
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning disabled"><i class="glyphicon glyphicon-pencil"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}



