@model KyoS.Web.Models.TCMNoteViewModel
@{
    ViewData["Title"] = "Create TCM Note";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>

    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i> @Html.ActionLink("Billing", "Index", "TCMBilling")
            </li>
            <li class="active">TCM Notes</li>
        </ul><!--.breadcrumb-->
    </div>
    
    <div class="row">
        <form asp-action="Create" asp-route-id="@Model.Id" asp-route-origin="@ViewData["origin"]" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTCMClient" />
            <input type="hidden" asp-for="IdCaseManager" />
            <input type="hidden" asp-for="TCMClient.Casemanager.Name" />
            <input type="hidden" asp-for="CreatedOn" />
            <input type="hidden" asp-for="CreatedBy" />
            <partial name="_TCMNotes" />
            <div class="col-md-push-12">
                <div class="col-md-12 form-group">
                    <a onclick="showInPopupLg('@Url.Action("CreateNoteActivityTemp", "TCMNotes", new { initDate = Model.DateOfService, idTCMClient = Model.IdTCMClient}, Context.Request.Scheme)','Add Service')" class="btn btn-success" title="Add service"><i class="glyphicon glyphicon-plus"></i> Add Service</a>
                </div>
                <div id="view-NoteActivityTemp">
                    @await Html.PartialAsync("_ViewTCMNoteActivityTemp", Model.TCMNoteActivityTemp, new ViewDataDictionary(ViewData) { { "Id", @ViewData["available"] } })
                </div>
            </div>
            <partial name="_TCMNotes1" />
            <div class="col-md-12 form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                @if (@ViewData["origin"].ToString() == "0")
                {
                    <a asp-action="TCMNotesForCase" asp-route-idTCMClient="@Model.IdTCMClient" class="btn btn-success">Back</a>
                }
                else
                {
                    @if (@ViewData["origin"].ToString() == "1")
                    {
                        <a asp-action="Index" asp-controller="TCMBilling" class="btn btn-success">Back</a>
                    }

                }             
            </div>
        </form>
    </div>
</body>
</html>

<partial name="_ModalPopupLg" />
<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">

    </script>
}

