@model KyoS.Web.Models.TCMNoteViewModel
@{
    ViewData["Title"] = "Create TCM Note";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>

    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i> @Html.ActionLink("Billing", "Index", "TCMBilling")
            </li>
            <li class="active">TCM Notes</li>
        </ul><!--.breadcrumb-->
    </div>
    
    <div class="row">
        @if (ViewBag.DateBlocked == "A")
        {
            <div class="alert alert-block alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>
                <i class="icon-ok red"></i>
                <strong class="red">
                    Error. The service has not been provided for more than 30 days. You must make a new appendixJ or make a note on a date earlier than the selected one.
                </strong>
            </div>
        }
        @if (ViewBag.DateBlocked == "DX")
        {
            <div class="alert alert-block alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>
                <i class="icon-ok red"></i>
                <strong class="red">
                    Error. You cannot create notes for that client because they do not have a valid diagnosis.
                </strong>
            </div>
        }
        @if (ViewBag.DateBlocked == "Auth")
        {
            <div class="alert alert-block alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>
                <i class="icon-ok red"></i>
                <strong class="red">
                    Error. You cannot create notes for that client because they do not have a valid authorization.
                </strong>
            </div>
        }
        @if (ViewBag.DateBlocked == "locked")
        {
            <div class="alert alert-block alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>
                <i class="icon-ok red"></i>
                <strong class="red">
                    Error. This time is blocked by the manager.
                </strong>
            </div>
        }
        <form asp-action="Create" asp-route-id="@Model.Id" asp-route-origin="@ViewData["origin"]" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTCMClient" />
            <input type="hidden" asp-for="IdCaseManager" />
            <input type="hidden" asp-for="TCMClient.Casemanager.Name" />
            <input type="hidden" asp-for="CreatedOn" />
            <input type="hidden" asp-for="CreatedBy" />
            <input type="hidden" asp-for="CodeBill" />
            <input type="hidden" asp-for="DateOfServiceReference" />
            <input type="hidden" asp-for="TCMClient.Client.FirstName" />
            <input type="hidden" asp-for="TCMClient.Client.LastName" />
            <partial name="_TCMNotes" />
            <div class="col-md-push-12">
                <div class="col-md-12 form-group">
                    <a onclick="showInPopupLg('@Url.Action("CreateNoteActivityTemp", "TCMNotes", new { initDate = Model.DateOfService, idTCMClient = Model.IdTCMClient, billable = Model.Billable}, Context.Request.Scheme)','Add Service')" class="btn btn-success" title="Add service"><i class="glyphicon glyphicon-plus"></i> Add Service</a>
                    <a onclick="showInPopupLg('@Url.Action("Info", "TCMNotes", new { idTCMClient = Model.IdTCMClient}, Context.Request.Scheme)','Client Information')" class="btn btn-info" title="Client Information"><i class="glyphicon glyphicon-list"></i> Client Information</a>
                </div>
                <div id="view-NoteActivityTemp">
                    @await Html.PartialAsync("_ViewTCMNoteActivityTemp", Model.TCMNoteActivityTemp, new ViewDataDictionary(ViewData) { { "Id", @ViewData["available"] } })
                </div>
            </div>
            <partial name="_TCMNotes1" />
            <div class="col-md-12 form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                @if (@ViewData["origin"].ToString() == "0")
                {
                    <a asp-action="TCMNotesForCase" asp-route-idTCMClient="@Model.IdTCMClient" class="btn btn-success">Back</a>
                }
                else
                {
                    @if (@ViewData["origin"].ToString() == "1")
                    {
                        <a asp-action="Index" asp-controller="TCMBilling" asp-route-initDate="@Model.DateOfService.ToString()" class="btn btn-success">Back</a>
                    }
                }
            </div>
        </form>
    </div>
</body>
</html>

<partial name="_ModalPopupLg" />
<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">

    </script>
}

