@model KyoS.Web.Models.TCMNoteActivityViewModel
@{
    Layout = null;
}
<div class="row">
    <form asp-action="EditNoteActivity" asp-route-unitsAvaliable="@ViewData["unitsAvaliable"]" onsubmit="return jQueryAjaxPostTCMNoteActivity(this);">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="IdTCMNote" />
        <input type="hidden" asp-for="CreatedOn" />
        <input type="hidden" asp-for="CreatedBy" />
        <input type="hidden" asp-for="Setting" />
        <input type="hidden" asp-for="IdTCMClient" />
        <input type="hidden" asp-for="DateOfServiceNote" />
        <input type="hidden" asp-for="EndTime" />
        @if (User.IsInRole("TCMSupervisor"))
        {
            <input type="hidden" asp-for="IdSetting" />
            <input type="hidden" asp-for="Minutes" />
        }
        <div class="col-md-push-12">
            <div class="col-md-4">
                &nbsp;
            </div>
            <div class="col-md-4">
                <input type="checkbox" asp-for="Billable" class="form-check-input" readonly id="check1"> Billable
            </div>

            <div class="col-md-4">
                &nbsp;
            </div>
        </div>
        <div class="col-md-push-12">
            <div class="col-md-12">
                <hr />
            </div>
        </div>
        @if (User.IsInRole("CaseManager") || User.IsInRole("TCMSupervisor"))
        {
            <div>
                <div class=" col-md-3 form-group">
                    <label asp-for="StartTime" class="control-label">Start Time</label>&nbsp;*
                    <input asp-for="StartTime" class="form-control" id="Time_Start" onchange="getMinute();" />
                    <span asp-validation-for="StartTime" class="text-danger"></span>
                </div>
            </div>
        }
        @if (User.IsInRole("CaseManager"))
        {
            <div>
                <div class=" col-md-2 form-group">
                    <label asp-for="Minutes" class="control-label">Minutes</label>
                    <input asp-for="Minutes" id="lbMinutes" class="form-control" onchange="getMinute();" />
                    <span asp-validation-for="Minutes" class="text-danger"></span>
                </div>
            </div>
        }
        else
        {
            <div>
                <div class=" col-md-2 form-group">
                    <label asp-for="Minutes" class="control-label">Minutes</label>
                    <input asp-for="Minutes" id="lbMinutes" class="form-control" onchange="getMinute();" disabled />
                    <span asp-validation-for="Minutes" class="text-danger"></span>
                </div>
            </div>
        }
        <div>
            <div class=" col-md-2 form-group">
                <label asp-for="TimeEnd" class="control-label">End Time</label>
                <textarea asp-for="TimeEnd" id="lbTimeEnd" class="form-control" rows="1" readonly></textarea>
                <span asp-validation-for="TimeEnd" class="text-danger"></span>
            </div>
        </div>
        <div>
            <div class=" col-md-2 form-group">
                <label asp-for="Units" class="control-label">Units</label>
                <textarea asp-for="Units" id="lbUnits" class="form-control" rows="1" readonly></textarea>
                <span asp-validation-for="Units" class="text-danger"></span>
            </div>
        </div>

        @if (User.IsInRole("TCMSupervisor"))
        {
            <div>
                <div class=" col-md-3 form-group">
                    <label asp-for="IdSetting" class="control-label"></label>&nbsp;*
                    <select asp-for="IdSetting" asp-items="Model.SettingList" class="form-control" disabled></select>
                    <span asp-validation-for="IdSetting" class="text-danger"></span>
                </div>
            </div>
        }
        else
        {
            <div>
                <div class=" col-md-3 form-group">
                    <label asp-for="IdSetting" class="control-label"></label>&nbsp;*
                    <select asp-for="IdSetting" asp-items="Model.SettingList" class="form-control"></select>
                    <span asp-validation-for="IdSetting" class="text-danger"></span>
                </div>
            </div>
        }
        <div>
            <div class=" col-md-6 form-group">
                <label asp-for="IdTCMDomain" class="control-label"></label>&nbsp;*
                <select asp-for="IdTCMDomain" asp-items="Model.DomainList" class="form-control" id="cbDomain"></select>
                <span asp-validation-for="IdTCMDomain" class="text-danger"></span>
            </div>
        </div>
        <div>
            <div class=" col-md-6 form-group">
                <label asp-for="IdTCMActivity" class="control-label"></label>&nbsp;*
                <select asp-for="IdTCMActivity" asp-items="Model.ActivityList" class="form-control" id="cbActivities"></select>
                <span asp-validation-for="IdTCMActivity" class="text-danger"></span>
            </div>
        </div>
        <div>
            <div class=" col-md-12 form-group">
                <label asp-for="SubService" class="control-label">Name Sub-Service in domain selected</label>
                <textarea asp-for="SubService" class="form-control" rows="1" readonly id="cbSubService"></textarea>
                <span asp-validation-for="SubService" class="text-danger"></span>
            </div>
        </div>
        <div>
            <div class=" col-md-12 form-group">
                <label asp-for="NeedIdentified" class="control-label">Need Identified in domain selected</label>
                <textarea asp-for="NeedIdentified" class="form-control" rows="2" readonly id="cbNeed"></textarea>
                <span asp-validation-for="NeedIdentified" class="text-danger"></span>
            </div>
        </div>
        <div>
            <div class=" col-md-12 form-group">
                <label asp-for="DescriptionTemp" class="control-label">Activity suggestion</label>
                <textarea asp-for="DescriptionTemp" class="form-control" rows="2" readonly id="Description"></textarea>
                <span asp-validation-for="DescriptionTemp" class="text-danger"></span>
            </div>
        </div>
        <div>
            <div class=" col-md-12 form-group">
                <label asp-for="ServiceName" class="control-label">Name of service(s) &nbsp;*</label>
                <textarea asp-for="ServiceName" class="form-control" rows="1"></textarea>
                <span asp-validation-for="ServiceName" class="text-danger"></span>
            </div>
        </div>
        <div>
            <div class=" col-md-12 form-group">
                <label asp-for="DescriptionOfService" class="control-label">Description of service(s) &nbsp;*</label>
                <textarea asp-for="DescriptionOfService" class="form-control" rows="6"></textarea>
                <span asp-validation-for="DescriptionOfService" class="text-danger"></span>
            </div>
        </div>
        <div>
            <div class="col-md-offset-10">
                <input type="submit" value="Save" class="btn btn-primary" />
                &nbsp;
                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">

    function getMinute() {
            var url = "@Url.Action("CalcularDateEnd", "TCMNotes")";
        $.get(url, { start: $("#Time_Start").val(), minutes: $("#lbMinutes").val() }, function (data) { $("#lbTimeEnd").text(data); });
              url = "@Url.Action("CalcularUnits", "TCMNotes")";
        $.get(url, { start: $("#Time_Start").val(), minutes: $("#lbMinutes").val() }, function (data) { $("#lbUnits").text(data); });
    }

    function getActivity() {
            var url = "@Url.Action("CalcularMinutes", "TCMNotes")";
            $.get(url, { codeDomain: $("#GetCode").val() }, function (data) { $("#lblDomain").text(data); });
    }

    $("#cbDomain").change(function () {
        var url = "@Url.Action("GetListActivity", "TCMNotes")";
        $.get(url, { idDomain: $("#cbDomain").val() }, function (data) {
            $("#cbActivities").empty();
            $.each(data, function (index, row) { $("#cbActivities").append("<option value='" + row.value + "'>" + row.text + "</option>") });

             url = "@Url.Action("GetSubService", "TCMServices")";
            $.get(url, { idDomain: $("#cbDomain").val() }, function (data) { $("#cbSubService").text(data); });

              url = "@Url.Action("GetNeedIdentified", "TCMNotes")";
            $.get(url, { idDomain: $("#cbDomain").val() }, function (data) { $("#cbNeed").text(data); });

            //actualizo el label con la sugerencia de la actividad
            url = "@Url.Action("GetSuggestion", "TCMNotes")";
            $.get(url, { idActivity: $("#cbActivities").val() }, function (data) { $("#Description").text(data); });
        });
    })

    $("#cbActivities").change(function () {
        var url = "@Url.Action("GetSuggestion", "TCMNotes")";
            $.get(url, { idActivity: $("#cbActivities").val() }, function (data) {
                $("#Description").text(data);
            });
    })

</script>
