@model KyoS.Web.Models.TCMNoteViewModel
@{
    ViewData["Title"] = "TCM Notes";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>

    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                @if (ViewData["origi"].ToString() == "1")
                {
                    @Html.ActionLink("Pending Notes", "NotesStatus", "TCMNotes", new { status = KyoS.Common.Enums.NoteStatus.Pending })
                }
                @if (ViewData["origi"].ToString() == "2")
                {
                    @Html.ActionLink("TCM Notes with review", "NotesWithReview", "TCMNotes")
                }
            </li>
            <li class="active">TCM Notes</li>
        </ul><!--.breadcrumb-->
    </div>


    <div class="row">
        <form asp-action="Edit" asp-route-id="@Model.Id" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTCMClient" />
            <input type="hidden" asp-for="IdTCMNote" />
            <input type="hidden" asp-for="TCMClient.Casemanager.Name" />
            <input type="hidden" asp-for="CreatedOn" />
            <input type="hidden" asp-for="CreatedBy" />
            <input type="hidden" asp-for="Origin" />
            <partial name="_TCMNotes" />
            <div class="col-md-push-12">
                <div id="view-NoteActivity">
                    @await Html.PartialAsync("_ViewTCMNoteActivity", Model.TCMNoteActivity.ToList())
                </div>
            </div>
            <partial name="_TCMNotes1" />
            <div class="form-group col-md-12">
                @if (User.IsInRole("CaseManager"))
                {
                    <input type="submit" value="Save" asp-route-origin="@ViewData["origi"]" class="btn btn-primary" />
                }
                @if (User.IsInRole("TCMSupervisor"))
                {
                    <a asp-action="ApprovedNote" asp-route-id="@Model.Id" asp-route-origin="@ViewData["origi"]" class="btn btn-primary">Approve</a>
                    <a class="btn btn-warning" onclick="showInPopup('@Url.Action("AddMessageEntity","TCMNotes",new {id = Model.Id, origi = @ViewData["origi"]},Context.Request.Scheme)','Add message to casemanager')" title="Not approved note due to problems">Review</a>
                }
                @if (ViewData["origi"].ToString() == "1")
                {
                    <a asp-action="NotesStatus" asp-route-status="@KyoS.Common.Enums.NoteStatus.Pending" class="btn btn-success">Back</a>
                }
                @if (ViewData["origi"].ToString() == "2")
                {
                    <a asp-action="NotesWithReview" class="btn btn-success">Back</a>
                }
            </div>
        </form>
    </div>
</body>
</html>

<partial name="_ModalPopup" />
<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">

    </script>
}


