@model IEnumerable<KyoS.Web.Data.Entities.TCMNoteEntity>
@{
    if (Model.Count() != 0)
    {
        if (Model.FirstOrDefault().Status == KyoS.Common.Enums.NoteStatus.Approved)
        {
            ViewData["Title"] = "TCM Approved Notes";
        }
        if (Model.FirstOrDefault().Status == KyoS.Common.Enums.NoteStatus.Edition)
        {
            ViewData["Title"] = "TCM Notes in edition";
        }
        if (Model.FirstOrDefault().Status == KyoS.Common.Enums.NoteStatus.Pending)
        {
            ViewData["Title"] = "TCM Pending Notes";
        }

    }
    else
    {
        ViewData["Title"] = "TCM Notes";
    }
}
<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Dashboard", "Index", "Desktop")
        </li>
        @{
            if (Model.Count() != 0)
            {
                if (Model.FirstOrDefault().Status == KyoS.Common.Enums.NoteStatus.Approved)
                {
                    <li class="active">TCM Approved Notes</li>
                }
                if (Model.FirstOrDefault().Status == KyoS.Common.Enums.NoteStatus.Edition)
                {
                    <li class="active">TCM Notes in edition</li>

                }
                if (Model.FirstOrDefault().Status == KyoS.Common.Enums.NoteStatus.Pending)
                {
                    <li class="active">TCM Pending Notes</li>                    
                }
            }
            else
            {
                <li class="active">TCM Notes</li>
            }
        }
    </ul><!--.breadcrumb-->
</div>

<div class="row">    
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @{
                    if (Model.Count() != 0)
                    {
                        if (Model.FirstOrDefault().Status == KyoS.Common.Enums.NoteStatus.Approved)
                        {
                            <h3 class="panel-title">TCM Approved Notes</h3>
                        }
                        if (Model.FirstOrDefault().Status == KyoS.Common.Enums.NoteStatus.Edition)
                        {
                            <h3 class="panel-title">TCM Notes in edition</h3>
                        }
                        if (Model.FirstOrDefault().Status == KyoS.Common.Enums.NoteStatus.Pending)
                        {
                            <h3 class="panel-title">TCM Pending Notes</h3>
                        }
                    }
                    else
                    {
                        <h3 class="panel-title">TCM Notes</h3>
                    }
                }
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-1">

                            </th>
                            <th class="col-md-2">
                                Client Name
                            </th>
                            <th class="col-md-2">
                                TCM Name
                            </th>
                            <th class="col-md-2">
                                Service Name
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Date
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Min/Units
                            </th>

                            <th class="col-md-1" style="text-align:center;">
                                Review
                            </th>

                            <th class="col-md-2" align="right">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var @valor = (@item.TCMNoteActivity.ToList().Sum(n => n.Minutes) / 15);
                            var @residuo = (@item.TCMNoteActivity.ToList().Sum(n => n.Minutes) % 15);
                            var @valorAumentado = valor + 1;

                            if (item.Status == KyoS.Common.Enums.NoteStatus.Pending)
                            {
                                 <tr>
                                    <td align="center">
                                        @if (item.TCMMessages.Count() != 0)
                                        {
                                            <a class="icon-plus-sign-alt"></a>
                                        }
                                        <div style="display:none">
                                            <table class="table table-striped">
                                                <tr>
                                                    <th class="col-md-2"></th>
                                                    <th class="col-md-3">Title</th>
                                                    <th class="col-md-7" style="text-align:center;">Text</th>
                                                    <th></th>
                                                </tr>
                                                @foreach (var message in item.TCMMessages.OrderBy(m => m.DateCreated))
                                                {

                                                    @if (message.Status.ToString() == "NotRead")
                                                    {
                                                        <tr style="color:mediumblue;">
                                                            <td>
                                                                <i class="glyphicon glyphicon-thumbs-down"></i> Not processed
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => message.Title)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => message.Text)
                                                            </td>
                                                        </tr>
                                                    }
                                                    @if (message.Status.ToString() == "Read")
                                                    {
                                                        <tr>
                                                            <td>
                                                                <i class="glyphicon glyphicon-thumbs-up"></i> Processed
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => message.Title)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => message.Text)
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </table>
                                        </div>
                                    </td>
                                    <td>
                                        @if (item.TCMClient.Client.Gender == KyoS.Common.Enums.GenderType.Female)
                                        {
                                            <i class="glyphicon glyphicon-user btn-danger"></i>
                                        }
                                        @if (item.TCMClient.Client.Gender == KyoS.Common.Enums.GenderType.Male)
                                        {
                                            <i class="glyphicon glyphicon-user btn-primary"></i>
                                        }
                                        &nbsp;
                                        @Html.DisplayFor(modelItem => item.TCMClient.Client.Name)
                                        |
                                        @Html.DisplayFor(modelItem => item.TCMClient.CaseNumber)
                                    </td>
                                    <td >
                                        @Html.DisplayFor(modelItem => item.TCMClient.Casemanager.Name)
                                    </td>
                                    <td >
                                        @Html.DisplayFor(modelItem => item.TCMNoteActivity.FirstOrDefault().ServiceName)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.DateOfService)
                                    </td>
                                    <td align="center">
                                        @item.TCMNoteActivity.ToList().Sum(n => n.Minutes)
                                        |
                                        @if (@residuo > 7)
                                        {
                                            @valorAumentado
                                        }
                                        else
                                        {
                                            @valor
                                        }
                                    </td>
                                    <td align="center">
                                        @if (item.TCMMessages.Count() == 0)
                                        {
                                            <span>
                                                -
                                            </span>
                                        }
                                        else
                                        {
                                            bool read = false;
                                            @foreach (var message in item.TCMMessages.OrderBy(m => m.DateCreated))
                                            {
                                                @if (message.Status.ToString() == "NotRead")
                                                {
                                                    read = false;
                                                    break;
                                                }
                                                @if (message.Status.ToString() == "Read")
                                                {
                                                    read = true;
                                                }
                                            }
                                            if (read)
                                            {
                                                <i class="glyphicon glyphicon-thumbs-up"></i>
                                            }
                                            else
                                            {
                                                <i class="glyphicon glyphicon-thumbs-down"></i>
                                            }
                                        }
                                    </td>
                                    <td align="right">

                                        @if (User.IsInRole("CaseManager"))
                                        {
                                            @if (item.Status == KyoS.Common.Enums.NoteStatus.Edition)
                                            {
                                                <a asp-action="Edit" asp-route-id="@item.Id" asp-route-origin="1" class="btn btn-warning" title="Edit TCM Note"><i class="glyphicon glyphicon-pencil"></i></a>
                                                <a asp-action="FinishEditingNote" asp-route-id="@item.Id" asp-route-origin="1" class="btn btn-success" title="Finish Editing TCM Notes"><i class="glyphicon glyphicon-ok"></i></a>
                                                <a asp-action="PrintNote" asp-route-id="@item.Id" asp-route-origin="1" class="btn btn-success disabled" title="Print TCM Notes"><i class="glyphicon glyphicon-print"></i></a>
                                            }
                                            @if (item.Status == KyoS.Common.Enums.NoteStatus.Pending)
                                            {
                                                <a asp-action="Edit" asp-route-id="@item.Id" asp-route-origin="6" class="btn btn-warning" title="Edit TCM Note"><i class="glyphicon glyphicon-pencil"></i></a>
                                                <a asp-action="FinishEditingNote" asp-route-id="@item.Id" class="btn btn-success disabled" title="Edit TCM Note"><i class="glyphicon glyphicon-ok"></i></a>
                                                <a asp-action="PrintNote" asp-route-id="@item.Id" asp-route-origin="1" class="btn btn-success disabled" title="Print TCM Notes"><i class="glyphicon glyphicon-print"></i></a>
                                            }
                                            @if (item.Status == KyoS.Common.Enums.NoteStatus.Approved)
                                            {
                                                <a asp-action="PrintNote" asp-route-id="@item.Id" asp-route-origin="1" class="btn btn-success " title="Print TCM Notes" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                            }
                                        }
                                        @if (User.IsInRole("TCMSupervisor"))
                                        {
                                            @if (item.Status == KyoS.Common.Enums.NoteStatus.Edition)
                                            {
                                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning disabled" title="Edit TCM Note"><i class="glyphicon glyphicon-pencil"></i></a>
                                                <a asp-action="FinishEditingNote" asp-route-id="@item.Id" class="btn btn-success disabled" title="Finish Editing TCM Notes"><i class="glyphicon glyphicon-ok"></i></a>
                                                <a asp-action="PrintNote" asp-route-id="@item.Id" asp-route-origin="1" class="btn btn-success disabled" title="Print TCM Notes"><i class="glyphicon glyphicon-print"></i></a>
                                                <button onclick="ConfirmDelete(@item.Id)" class="btn btn-danger deleteItem"><i class="glyphicon glyphicon-trash"></i></button>
                                            }
                                            @if (item.Status == KyoS.Common.Enums.NoteStatus.Pending)
                                            {
                                                @if (item.TCMClient.Client.Clinic.Setting.TCMSupervisorEdit == true)
                                                {
                                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning disabled" title="Edit TCM Note"><i class="glyphicon glyphicon-pencil"></i></a>
                                                }
                                                else
                                                {
                                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning disabled" title="Edit TCM Note"><i class="glyphicon glyphicon-pencil"></i></a>
                                                }

                                                <a asp-action="EditReadOnly" asp-route-id="@item.Id" asp-route-origi="1" class="btn btn-success" title="Review and Approve TCM Note"><i class="glyphicon glyphicon-ok"></i></a>
                                                <a asp-action="PrintNote" asp-route-id="@item.Id" asp-route-origin="1" class="btn btn-success disabled" title="Print TCM Notes"><i class="glyphicon glyphicon-print"></i></a>
                                                <button onclick="ConfirmDelete(@item.Id)" class="btn btn-danger deleteItem"><i class="glyphicon glyphicon-trash"></i></button>
                                            }
                                            @if (item.Status == KyoS.Common.Enums.NoteStatus.Approved)
                                            {
                                                @*<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning disabled" title="Edit TCM Note"><i class="glyphicon glyphicon-pencil"></i></a>
                                                <a asp-action="ApprovedNote" asp-route-id="@item.Id" class="btn btn-success disabled" title="Approve TCM Note"><i class="glyphicon glyphicon-ok"></i></a>*@
                                                <a asp-action="PrintNote" asp-route-id="@item.Id" asp-route-origin="1" class="btn btn-success " title="Print TCM Notes" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                                <button onclick="ConfirmDelete(@item.Id)" class="btn btn-danger deleteItem"><i class="glyphicon glyphicon-trash"></i></button>
                                            }
                                        }
                                        @if (User.IsInRole("Manager"))
                                        {
                                            @if (item.Status == KyoS.Common.Enums.NoteStatus.Edition)
                                            {
                                                <a asp-action="Edit" asp-route-id="@item.Id" asp-route-origin="1" class="btn btn-warning disabled" title="Edit TCM Note"><i class="glyphicon glyphicon-pencil"></i></a>
                                                <a asp-action="FinishEditingNote" asp-route-id="@item.Id" class="btn btn-success disabled" title="Finish Editing TCM Notes"><i class="glyphicon glyphicon-ok"></i></a>
                                                <a asp-action="PrintNote" asp-route-id="@item.Id" asp-route-origin="1" class="btn btn-success disabled" title="Print TCM Notes"><i class="glyphicon glyphicon-print"></i></a>
                                            }
                                            @if (item.Status == KyoS.Common.Enums.NoteStatus.Pending)
                                            {
                                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning disabled" title="Edit TCM Note"><i class="glyphicon glyphicon-pencil"></i></a>
                                                <a asp-action="ApprovedNote" asp-route-id="@item.Id" class="btn btn-success disabled" title="Approve TCM Note"><i class="glyphicon glyphicon-ok"></i></a>
                                                <a asp-action="PrintNote" asp-route-id="@item.Id" asp-route-origin="1" class="btn btn-success disabled" title="Print TCM Notes"><i class="glyphicon glyphicon-print"></i></a>
                                            }
                                            @if (item.Status == KyoS.Common.Enums.NoteStatus.Approved)
                                            {
                                                @*<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning disabled" title="Edit TCM Note"><i class="glyphicon glyphicon-pencil"></i></a>
                                                <a asp-action="ApprovedNote" asp-route-id="@item.Id" class="btn btn-success disabled" title="Edit TCM Note"><i class="glyphicon glyphicon-ok"></i></a>*@
                                                <a asp-action="PrintNote" asp-route-id="@item.Id" asp-route-origin="1" class="btn btn-success " title="Print TCM Notes" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                            else
                            { 
                                <tr>
                                    <td align="center">
                                        @if (item.TCMMessages.Count() != 0)
                                        {
                                            <a class="icon-plus-sign-alt"></a>
                                        }
                                        <div style="display:none">
                                            <table class="table table-striped">
                                                <tr>
                                                    <th class="col-md-2"></th>
                                                    <th class="col-md-3">Title</th>
                                                    <th class="col-md-7" style="text-align:center;">Text</th>
                                                    @*<th class="col-md-1"></th>*@
                                                    <th></th>
                                                </tr>
                                                @foreach (var message in item.TCMMessages.OrderBy(m => m.DateCreated))
                                                {

                                                    @if (message.Status.ToString() == "NotRead")
                                                    {
                                                        <tr style="color:mediumblue;">
                                                            <td>
                                                                <i class="glyphicon glyphicon-thumbs-down"></i> Not processed
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => message.Title)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => message.Text)
                                                            </td>
                                                        </tr>
                                                    }
                                                    @if (message.Status.ToString() == "Read")
                                                    {
                                                        <tr>
                                                            <td>
                                                                <i class="glyphicon glyphicon-thumbs-up"></i> Processed
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => message.Title)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => message.Text)
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </table>
                                        </div>
                                    </td>
                                    <td>
                                        @if (item.TCMClient.Client.Gender == KyoS.Common.Enums.GenderType.Female)
                                        {
                                            <i class="glyphicon glyphicon-user btn-danger"></i>
                                        }
                                        @if (item.TCMClient.Client.Gender == KyoS.Common.Enums.GenderType.Male)
                                        {
                                            <i class="glyphicon glyphicon-user btn-primary"></i>
                                        }
                                        &nbsp;
                                        @Html.DisplayFor(modelItem => item.TCMClient.Client.Name)
                                        |
                                        @Html.DisplayFor(modelItem => item.TCMClient.CaseNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TCMClient.Casemanager.Name)
                                    </td>
                                    <td >
                                        @Html.DisplayFor(modelItem => item.TCMNoteActivity.FirstOrDefault().ServiceName)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.DateOfService)
                                    </td>
                                    <td align="center">
                                        @item.TCMNoteActivity.ToList().Sum(n => n.Minutes)
                                        |
                                        @if (@residuo > 7)
                                        {
                                            @valorAumentado
                                        }
                                        else
                                        {
                                            @valor
                                        }
                                    </td>
                                    
                                    <td align="center">
                                        @if (item.TCMMessages.Count() == 0)
                                        {
                                            <span>
                                                -
                                            </span>
                                        }
                                        else
                                        {
                                            bool read = false;
                                            @foreach (var message in item.TCMMessages.OrderBy(m => m.DateCreated))
                                            {
                                                @if (message.Status.ToString() == "NotRead")
                                                {
                                                    read = false;
                                                    break;
                                                }
                                                @if (message.Status.ToString() == "Read")
                                                {
                                                    read = true;
                                                }
                                            }
                                               
                                            if (read)
                                            {
                                                <i class="glyphicon glyphicon-thumbs-up"></i>
                                            }
                                            else
                                            {
                                                <i class="glyphicon glyphicon-thumbs-down"></i>
                                            }
                                        }
                                    </td>
                                    <td align="right">

                                        @if (User.IsInRole("CaseManager"))
                                        {
                                            @if (item.Status == KyoS.Common.Enums.NoteStatus.Edition)
                                            {
                                                <a asp-action="Edit" asp-route-id="@item.Id" asp-route-origin="1" class="btn btn-warning" title="Edit TCM Note"><i class="glyphicon glyphicon-pencil"></i></a>
                                                <a asp-action="FinishEditingNote" asp-route-id="@item.Id" asp-route-origin="1" class="btn btn-success" title="Finish Editing TCM Notes"><i class="glyphicon glyphicon-ok"></i></a>
                                                <a asp-action="PrintNote" asp-route-id="@item.Id" asp-route-origin="1" class="btn btn-success disabled" title="Print TCM Notes"><i class="glyphicon glyphicon-print"></i></a>
                                                <button onclick="ConfirmDelete(@item.Id)" class="btn btn-danger deleteItem"><i class="glyphicon glyphicon-trash"></i></button>
                                            }
                                            @if (item.Status == KyoS.Common.Enums.NoteStatus.Pending)
                                            {
                                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning disabled" title="Edit TCM Note"><i class="glyphicon glyphicon-pencil"></i></a>
                                                <a asp-action="FinishEditingNote" asp-route-id="@item.Id" class="btn btn-success disabled" title="Edit TCM Note"><i class="glyphicon glyphicon-ok"></i></a>
                                                <a asp-action="PrintNote" asp-route-id="@item.Id" asp-route-origin="1" class="btn btn-success disabled" title="Print TCM Notes"><i class="glyphicon glyphicon-print"></i></a>
                                                <button onclick="ConfirmDelete(@item.Id)" class="btn btn-danger deleteItem"><i class="glyphicon glyphicon-trash"></i></button>
                                            }
                                            @if (item.Status == KyoS.Common.Enums.NoteStatus.Approved)
                                            {
                                                @*<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning disabled" title="Edit TCM Note"><i class="glyphicon glyphicon-pencil"></i></a>
                <a asp-action="FinishEditingNote" asp-route-id="@item.Id" class="btn btn-success disabled" title="Edit TCM Note"><i class="glyphicon glyphicon-ok"></i></a>*@
                                                <a asp-action="PrintNote" asp-route-id="@item.Id" asp-route-origin="1" class="btn btn-success " title="Print TCM Notes" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                            }
                                        }
                                        @if (User.IsInRole("TCMSupervisor"))
                                        {
                                            @if (item.Status == KyoS.Common.Enums.NoteStatus.Edition)
                                            {
                                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning disabled" title="Edit TCM Note"><i class="glyphicon glyphicon-pencil"></i></a>
                                                <a asp-action="FinishEditingNote" asp-route-id="@item.Id" class="btn btn-success disabled" title="Finish Editing TCM Notes"><i class="glyphicon glyphicon-ok"></i></a>
                                                <a asp-action="PrintNote" asp-route-id="@item.Id" asp-route-origin="1" class="btn btn-success disabled" title="Print TCM Notes"><i class="glyphicon glyphicon-print"></i></a>
                                            }
                                            @if (item.Status == KyoS.Common.Enums.NoteStatus.Pending)
                                            {
                                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning disabled" title="Edit TCM Note"><i class="glyphicon glyphicon-pencil"></i></a>
                                                <a asp-action="EditReadOnly" asp-route-id="@item.Id" asp-route-origi="1" class="btn btn-success" title="Approve TCM Note"><i class="glyphicon glyphicon-ok"></i></a>
                                                <a asp-action="PrintNote" asp-route-id="@item.Id" asp-route-origin="1" class="btn btn-success disabled" title="Print TCM Notes"><i class="glyphicon glyphicon-print"></i></a>
                                                <button onclick="ConfirmDelete(@item.Id)" class="btn btn-danger deleteItem"><i class="glyphicon glyphicon-trash"></i></button>
                                            }
                                            @if (item.Status == KyoS.Common.Enums.NoteStatus.Approved)
                                            {
                                                @*<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning disabled" title="Edit TCM Note"><i class="glyphicon glyphicon-pencil"></i></a>
                <a asp-action="ApprovedNote" asp-route-id="@item.Id" class="btn btn-success disabled" title="Approve TCM Note"><i class="glyphicon glyphicon-ok"></i></a>*@
                                                <a asp-action="PrintNote" asp-route-id="@item.Id" asp-route-origin="1" class="btn btn-success " title="Print TCM Notes" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                                <button onclick="ConfirmDelete(@item.Id)" class="btn btn-danger deleteItem"><i class="glyphicon glyphicon-trash"></i></button>
                                            }
                                        }
                                        @if (User.IsInRole("Manager"))
                                        {
                                            @if (item.Status == KyoS.Common.Enums.NoteStatus.Edition)
                                            {
                                                <a asp-action="Edit" asp-route-id="@item.Id" asp-route-origin="1" class="btn btn-warning disabled" title="Edit TCM Note"><i class="glyphicon glyphicon-pencil"></i></a>
                                                <a asp-action="FinishEditingNote" asp-route-id="@item.Id" class="btn btn-success disabled" title="Finish Editing TCM Notes"><i class="glyphicon glyphicon-ok"></i></a>
                                                <a asp-action="PrintNote" asp-route-id="@item.Id" asp-route-origin="1" class="btn btn-success disabled" title="Print TCM Notes"><i class="glyphicon glyphicon-print"></i></a>
                                            }
                                            @if (item.Status == KyoS.Common.Enums.NoteStatus.Pending)
                                            {
                                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning disabled" title="Edit TCM Note"><i class="glyphicon glyphicon-pencil"></i></a>
                                                <a asp-action="ApprovedNote" asp-route-id="@item.Id" class="btn btn-success disabled" title="Approve TCM Note"><i class="glyphicon glyphicon-ok"></i></a>
                                                <a asp-action="PrintNote" asp-route-id="@item.Id" asp-route-origin="1" class="btn btn-success disabled" title="Print TCM Notes"><i class="glyphicon glyphicon-print"></i></a>
                                            }
                                            @if (item.Status == KyoS.Common.Enums.NoteStatus.Approved)
                                            {
                                                @*<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning disabled" title="Edit TCM Note"><i class="glyphicon glyphicon-pencil"></i></a>
                <a asp-action="ApprovedNote" asp-route-id="@item.Id" class="btn btn-success disabled" title="Edit TCM Note"><i class="glyphicon glyphicon-ok"></i></a>*@
                                                <a asp-action="PrintNote" asp-route-id="@item.Id" asp-route-origin="1" class="btn btn-success " title="Print TCM Notes" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                            
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#MyTable').DataTable({
                                "order": [[0, "asc"]],
                                "pageLength": 100
                            });

                            // Delete item
                            var item_to_delete;

                            $('.deleteItem').click((e) => {
                                item_to_delete = e.currentTarget.dataset.id;
                            });

                            $("#btnYesDelete").click(function () {
                                var url = "@Url.Action("Delete", "TCMIntakes")";
                                window.location.href = url + '/' + item_to_delete;
                            });
                        });
        $(function () {

            //Assign Click event to Plus Image.
            $("body").on("click", "a[class*='icon-plus-sign-alt']", function () {
                $(this).closest("tr").after("<tr><td></td><td colspan = '999'>" + $(this).next().html() + "</td></tr>");
                $(this).attr("class", "icon-minus-sign-alt");
            });
            //Assign Click event to Minus Image.
            $("body").on("click", "a[class*='icon-minus-sign-alt']", function () {
                $(this).attr("class", "icon-plus-sign-alt");
                $(this).closest("tr").next().remove();
            });
        });
         function ConfirmDelete(e) {
            Swal.fire({
                title: 'Do you want to delete?',
                text: "Note: All data related to this element will be deleted.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    var url = "@Url.Action("Delete1", "TCMNotes")";
                    window.location.href = url + '/' + e;
                }
            });
        }
    </script>
}


