@model IEnumerable<KyoS.Web.Data.Entities.TCMServicePlanEntity>

@if (Model != null)
{
    <div class="col-md-12">
        @if (ViewBag.Delete == "N")
        {
            <div class="alert alert-block alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>
                <strong class="red">
                    Error. It is not posible delete the TCM service Plan
                </strong>
            </div>
        }
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Service Plans for update</h3>
            </div>
            <div class="panel-body" id="view-tcmServicePlan">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-1">

                            </th>
                            <th class="col-md-3" style="text-align:left;">
                                Case Manager
                            </th>
                            <th class="col-md-3" style="text-align:left;">
                                Client Name
                            </th>
                            <th class="col-md-2" style="text-align:center;">
                                Date
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Status
                            </th>
                            <th class="col-md-2">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td align="center">
                                    @if (item.TCMDomain.Count() != 0)
                                    {
                                        <a class="icon-plus-sign-alt"></a>
                                    }
                                    else
                                    {

                                    }
                                    <div style="display:none">
                                        <table class="table table-striped table-bordered">
                                            <tr>
                                                <th class="col-md-1"></th>
                                                <th class="col-md-1" style="text-align:center">Domain</th>
                                                <th class="col-md-2">Domain Name</th>
                                                <th class="col-md-6">Need Identified</th>
                                                <th class="col-md-2" style="text-align:center">Date Identified</th>                                                
                                            </tr>
                                            @foreach (var product in item.TCMDomain)
                                            {
                                                @if (product.Origin == "Service Plan")
                                                {
                                                    <tr>
                                                        <td align="center">
                                                            @if (product.TCMObjetive.Count() != 0)
                                                            {
                                                                <a class="icon-plus-sign-alt"></a>
                                                            }
                                                            else
                                                            {

                                                            }
                                                            <div style="display:none">
                                                                <table class="table table-striped table-bordered">
                                                                    <tr>
                                                                        <th class="col-md-1" style="text-align:center;">Objetive</th>
                                                                        <th class="col-md-7">Task</th>
                                                                        <th class="col-md-1" style="text-align:center;">Start Date</th>
                                                                        <th class="col-md-2" style="text-align:center;">Target Date</th>
                                                                        <th class="col-md-1" style="text-align:center;">End Date</th>                                                                        
                                                                    </tr>
                                                                    @foreach (var product1 in product.TCMObjetive)
                                                                    {
                                                                        @if (product1.Origin == "Service Plan")
                                                                        {
                                                                            <tr>
                                                                                <td align="center">@Html.DisplayFor(modelItem => product1.IdObjetive)</td>
                                                                                <td>@Html.DisplayFor(modelItem => product1.Name)</td>
                                                                                <td align="center">@Html.DisplayFor(modelItem => product1.StartDate)</td>
                                                                                <td align="center">@Html.DisplayFor(modelItem => product1.TargetDate)</td>
                                                                                <td align="center">@Html.DisplayFor(modelItem => product1.EndDate)</td>                                                                                
                                                                            </tr>
                                                                        }

                                                                        @* cant_unit = cant_unit + product.Units;*@
                                                                    }
                                                                </table>
                                                            </div>
                                                        </td>
                                                        <td align="center">@Html.DisplayFor(modelItem => product.Code)</td>
                                                        <td>@Html.DisplayFor(modelItem => product.Name)</td>
                                                        <td>@Html.DisplayFor(modelItem => product.NeedsIdentified)</td>
                                                        <td align="center">@Html.DisplayFor(modelItem => product.DateIdentified)</td>                                                        
                                                    </tr>
                                                    @* cant_unit = cant_unit + product.Units;*@
                                                }
                                            }
                                        </table>
                                    </div>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TcmClient.Casemanager.Name)
                                </td>                               
                                <td>
                                    @if (item.TcmClient.Client.Gender == KyoS.Common.Enums.GenderType.Female)
                                    {
                                        <i class="glyphicon glyphicon-user btn-danger"></i>
                                    }
                                    @if (item.TcmClient.Client.Gender == KyoS.Common.Enums.GenderType.Male)
                                    {
                                        <i class="glyphicon glyphicon-user btn-primary"></i>
                                    }
                                    &nbsp;
                                    @Html.DisplayFor(modelItem => item.TcmClient.Client.Name)
                                    |
                                    @Html.DisplayFor(modelItem => item.TcmClient.CaseNumber)
                                </td>                                
                                <td  align="center">
                                    @Html.DisplayFor(modelItem => item.DateServicePlan)
                                </td>
                                <td align="center">
                                    @if (item.Approved == 2)
                                    {
                                        <span class="label label-success">
                                            Approved
                                        </span>
                                    }
                                    @if (item.Approved == 1)
                                    {
                                        <span class="label label-info">
                                            Pending
                                        </span>
                                    }
                                    @if (item.Approved == 0)
                                    {
                                        <span class="label label-warning">
                                            Edition
                                        </span>
                                    }
                                </td>
                                <td align="right">
                                    @if (User.IsInRole("TCMSupervisor"))
                                    {
                                        @if (item.Approved == 2)
                                        {
                                            <a asp-action="Edit" asp-route-id="@item.Id" asp-route-origin="6" class="btn btn-success" title="Edit TCM Service Plan"><i class="glyphicon glyphicon-pencil"></i></a>
                                            <a onclick="showInPopup('@Url.Action("CreateDomain", "TCMServiceplans", new { id = item.Id, aview = 2 }, Context.Request.Scheme)','Create TCM Domain')" class="btn btn-info" title="Create TCM Domain"><i class="glyphicon glyphicon-plus"></i></a>
                                            <a asp-action="PrintServicePlan" asp-route-id="@item.Id" class="btn btn-success" title="Print TCM Service Plan" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                        }
                                        else
                                        {
                                            <i title="Approved" class="btn btn-success disabled glyphicon glyphicon-pencil"></i>
                                            <i title="Approved" class="btn btn-info disabled glyphicon glyphicon-plus"></i>
                                            <a asp-action="PrintServicePlan" asp-route-id="@item.Id" class="btn btn-success" title="Print TCM Service Plan" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                        }
                                    }
                                        </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
                //    jQueryAjaxPost = form => {
                //        try {
                //            $.ajax({
                //                type: 'POST',
                //                url: form.action,
                //                data: new FormData(form),
                //                contentType: false,
                //                processData: false,
                //                success: function (res) {
                //                    if (res.isValid) {
                //                        $('#view-all').html(res.html)
                //                        $('#form-modal .modal-body').html('');
                //                        $('#form-modal .modal-title').html('');
                //                        $('#form-modal').modal('hide');
                //                    }
                //                    else
                //                        $('#form-modal .modal-body').html(res.html);
                //                },
                //                error: function (err) {
                //                    console.log(err)
                //                }
                //            })
                //            //to prevent default form submit event
                //            return false;
                //        } catch (ex) {
                //            console.log(ex)
                //        }
                //}
    </script>
}



