@model IEnumerable<KyoS.Web.Data.Entities.TCMAdendumEntity>

@if (Model != null)
{
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @if (User.IsInRole("TCMSupervisor"))
                {
                    <h3 class="panel-title">Pending TCM Addendums</h3>
                }
                else
                {
                    <h3 class="panel-title">TCM Addendums</h3>
                }
            </div>
            <div class="panel-body" id="view-tcmAdendum">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-1">

                            </th>
                            <th class="col-md-3" style="text-align:left;">
                                Case Manager
                            </th>
                            <th class="col-md-3" style="text-align:left;">
                                Client Name
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Date
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Review
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Status
                            </th>
                            <th class="col-md-2">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td align="center">
                                    @if (item.TcmDomain != null)
                                    {
                                        <a class="icon-plus-sign-alt"></a>
                                    }                                    
                                    <div style="display:none">
                                        <table class="table table-striped table-bordered">
                                            <tr>
                                                <th class="col-md-1"></th>
                                                <th class="col-md-1" style="text-align:center;">Code</th>
                                                <th class="col-md-3">Name</th>
                                                <th class="col-md-7" style="text-align:left;">Need Identified</th>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    @if (item.TcmDomain.TCMObjetive.Where(t => t.Origin == "Addendum").Count() != 0)
                                                    {
                                                        <a class="icon-plus-sign-alt"></a>
                                                    }                                                    
                                                    <div style="display:none">
                                                        <table class="table table-striped table-bordered">
                                                            <tr>
                                                                <th class="col-md-1" style="text-align:center;">Objetive</th>
                                                                <th class="col-md-5">Task</th>
                                                                <th class="col-md-2" style="text-align:center;">Start Date</th>
                                                                <th class="col-md-2" style="text-align:center;">Target Date</th>
                                                                <th class="col-md-2" style="text-align:center;">End Date</th>
                                                            </tr>
                                                            @foreach (var product in item.TcmDomain.TCMObjetive)
                                                            {
                                                                @if (product.Origin == "Addendum")
                                                                {
                                                                    <tr>
                                                                        <td align="center">@Html.DisplayFor(modelItem => product.IdObjetive)</td>
                                                                        <td>@Html.DisplayFor(modelItem => product.Task)</td>
                                                                        <td align="center">@Html.DisplayFor(modelItem => product.StartDate)</td>
                                                                        <td align="center">@Html.DisplayFor(modelItem => product.TargetDate)</td>
                                                                        <td align="center">@Html.DisplayFor(modelItem => product.EndDate)</td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </table>
                                                    </div>
                                                </td>
                                                <td align="center">@Html.DisplayFor(modelItem => item.TcmDomain.Code)</td>
                                                <td>@Html.DisplayFor(modelItem => item.TcmDomain.Name)</td>
                                                <td>@Html.DisplayFor(modelItem => item.NeedsIdentified)</td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(modelItem => item.TcmServicePlan.TcmClient.Casemanager.Name)
                                </td>
                                <td>
                                    @if (item.TcmServicePlan.TcmClient.Client.Gender == KyoS.Common.Enums.GenderType.Female)
                                    {
                                        <i class="glyphicon glyphicon-user btn-danger"></i>
                                    }
                                    @if (item.TcmServicePlan.TcmClient.Client.Gender == KyoS.Common.Enums.GenderType.Male)
                                    {
                                        <i class="glyphicon glyphicon-user btn-primary"></i>
                                    }
                                    &nbsp;
                                    @Html.DisplayFor(modelItem => item.TcmServicePlan.TcmClient.Client.Name)
                                    |
                                    @Html.DisplayFor(modelItem => item.TcmServicePlan.TcmClient.CaseNumber)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.DateAdendum)
                                </td>
                                <td align="center">
                                    @if (item.TCMMessages.Count() == 0)
                                    {
                                        <span>
                                            -
                                        </span>
                                    }
                                    else
                                    {
                                        bool read = false;
                                        @foreach (var message in item.TCMMessages.OrderBy(m => m.DateCreated))
                                        {
                                            @if (message.Status.ToString() == "NotRead")
                                            {
                                                read = false;
                                                break;
                                            }
                                            @if (message.Status.ToString() == "Read")
                                            {
                                                read = true;
                                            }
                                        }
                                        if (read)
                                        {
                                            <i class="glyphicon glyphicon-thumbs-up"></i>
                                        }
                                        else
                                        {
                                            <i class="glyphicon glyphicon-thumbs-down"></i>
                                        }
                                    }
                                </td>
                                <td align="center">
                                    @if (item.Approved == 2)
                                    {
                                        <span class="label label-success">
                                            Approved
                                        </span>
                                    }
                                    @if (item.Approved == 1)
                                    {
                                        <span class="label label-info">
                                            Pending
                                        </span>
                                    }
                                    @if (item.Approved == 0)
                                    {
                                        <span class="label label-warning">
                                            Edition
                                        </span>
                                    }
                                </td>
                                <td align="right">
                                    @if (User.IsInRole("CaseManager") && item.TcmServicePlan.Status == KyoS.Common.Enums.StatusType.Open)
                                    {
                                        @if (item.Approved == 0)
                                        {
                                            <a asp-action="EditAdendum" asp-route-id="@item.Id" asp-route-aview="@ViewData["aview"]" class="btn btn-warning" title="Edit"><i class="glyphicon glyphicon-pencil"></i></a>
                                            <a asp-action="FinishEditingAdendum" asp-route-id="@item.Id" asp-route-origin="@ViewData["aview"]" class="btn btn-success" title="Finish editing"><i class="glyphicon glyphicon-ok"></i></a>
                                            <i class="btn btn-success disabled glyphicon glyphicon-print"></i>
                                        }
                                        @if (item.Approved == 1)
                                        {
                                            <a asp-action="EditAdendum" asp-route-id="@item.Id" asp-route-aview="@ViewData["aview"]" class="btn btn-warning disabled"><i class="glyphicon glyphicon-pencil"></i></a>
                                            <i title="Approved" class="btn btn-success disabled glyphicon glyphicon-ok"></i>
                                            <i class="btn btn-success disabled glyphicon glyphicon-print"></i>
                                        }
                                        @if (item.Approved == 2)
                                        {
                                            <i title="Approved" class="btn btn-warning disabled glyphicon glyphicon-pencil"></i>
                                            <i title="Approved" class="btn btn-success disabled glyphicon glyphicon-ok"></i>
                                            <a asp-action="PrintAdendum" asp-route-id="@item.Id" class="btn btn-success" title="Print TCM Addendum" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                        }
                                    }
                                    @if (User.IsInRole("TCMSupervisor"))
                                    {
                                        @if (item.Approved == 0)
                                        {
                                            <i title="Approved" class="btn btn-warning disabled glyphicon glyphicon-pencil"></i>
                                            <i title="Approved" class="btn btn-success disabled glyphicon glyphicon-ok"></i>
                                            <i class="btn btn-success disabled glyphicon glyphicon-print"></i>
                                        }
                                        @if (item.Approved == 1)
                                        {
                                            <i title="Approved" class="btn btn-warning disabled glyphicon glyphicon-pencil"></i>
                                            <a asp-action="EditAdendumReadOnly" asp-route-id="@item.Id" asp-route-aview="@ViewData["aview"]" class="btn btn-success" title="Approve TCM Addendum"><i class="glyphicon glyphicon-ok"></i></a>
                                            <a class="btn btn-success disabled" title="Print TCM Addendum"><i class="glyphicon glyphicon-print"></i></a>
                                        }
                                        @if (item.Approved == 2)
                                        {
                                            <i title="Approved" class="btn btn-warning disabled glyphicon glyphicon-pencil"></i>
                                            <i title="Approved" class="btn btn-success disabled glyphicon glyphicon-ok"></i>
                                            <a asp-action="PrintAdendum" asp-route-id="@item.Id" class="btn btn-success" title="Print TCM Addendum" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                        }
                                    }
                                    @if (User.IsInRole("Manager"))
                                    {
                                        @if (item.Approved < 2)
                                        {
                                            <i title="Approved" class="btn btn-warning disabled glyphicon glyphicon-pencil"></i>
                                            <i title="Approved" class="btn btn-success disabled glyphicon glyphicon-ok"></i>
                                            <i class="btn btn-success disabled glyphicon glyphicon-print"></i>
                                        }
                                        @if (item.Approved == 2)
                                        {
                                            <i title="Approved" class="btn btn-warning disabled glyphicon glyphicon-pencil"></i>
                                            <i title="Approved" class="btn btn-success disabled glyphicon glyphicon-ok"></i>
                                            <a asp-action="PrintAdendum" asp-route-id="@item.Id" class="btn btn-success" title="Print TCM Addendum" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}