@model KyoS.Web.Models.TCMAdendumViewModel
@{
    ViewData["Title"] = "Approve Addendum";
    ViewData["idAddendum"] = Model.Id;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
</head>
<body>
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>

                @if (ViewData["origin"].ToString() == "5")
                {
                    @Html.ActionLink("TCM Client History", "TCMCaseHistory", "TCMClients", new { id = @Model.TcmServicePlan.TcmClient_FK })
                }
                else
                {
                    @if (ViewData["aview"].ToString() == "0")
                    {
                        @Html.ActionLink("TCM Addendum Pending", "AdendumApproved", "TCMServicePlans", new { approved = 1, caseNumber = Model.TcmServicePlan.TcmClient.CaseNumber, aview = @ViewData["aview"] })
                    }
                    @if (ViewData["aview"].ToString() == "1")
                    {
                        @Html.ActionLink("TCM Addendum all", "Adendum", "TCMServicePlans", new { aview = @ViewData["aview"] })
                    }
                    @if (ViewData["aview"].ToString() == "2")
                    {
                        @Html.ActionLink("TCM Addendum Notification", "Notifications", "TCMMessages")
                    }
                }
            </li>
            <li class="active">Approve Addendum</li>
        </ul><!--.breadcrumb-->
    </div>

    <h4>Approve Addendum</h4>
    <hr />

    <div class="row">

        <form asp-action="AproveAdendum" asp-route-id="@Model.Id" asp-route-aview="@ViewData["aview"]">
            <div class="row col-md-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Approved" />
                <input type="hidden" asp-for="CreatedBy" />
                <input type="hidden" asp-for="CreatedOn" />
                <partial name="TCMAddendumReadOnly" />
                <div class="col-md-push-12">
                    <div class="col-md-12">
                        <div id="view-TCMdomain">
                            @await Html.PartialAsync("_ViewDomainsAddendum", Model.TcmDomain, ViewData)
                        </div>
                    </div>
                </div>
                <br />
                <partial name="TCMAddendum1" />
                <div class="col-md-12">
                    <hr />
                </div>
                <div class="form-group col-md-12">

                    @if (User.IsInRole("TCMSupervisor") && ViewData["origin"].ToString() != "5")
                    {
                        <input type="submit" value="Approve" class="btn btn-primary" />
                        <a class="btn btn-warning" onclick="showInPopup('@Url.Action("AddMessageAddendumEntity","TCMServicePlans",new {id = Model.Id, origi = @ViewData["aview"]},Context.Request.Scheme)','Add message to casemanager')" title="Not approved tcm addendum due to problems">Review</a>
                    }
                   
                    @if (ViewData["origin"].ToString() == "5")
                    {
                        <a asp-action="TCMCaseHistory" asp-controller="TCMClients" asp-route-id="@Model.TcmServicePlan.TcmClient_FK" class="btn btn-success">Back</a>
                    }
                    else
                    {
                        @if (ViewData["aview"].ToString() == "0")
                        {
                            <a asp-action="AdendumApproved" asp-route-approved="1" asp-route-caseNumber="@Model.TcmServicePlan.TcmClient.CaseNumber" asp-route-aview="@ViewData["aview"]" class="btn btn-success">Back</a>
                        }
                        @if (ViewData["aview"].ToString() == "1")
                        {
                            <a asp-action="Adendum" asp-route-aview="@ViewData["aview"]" class="btn btn-success">Back</a>
                        }
                        @if (ViewData["aview"].ToString() == "2")
                        {
                            <a asp-action="Notifications" asp-controller="TCMMessages" class="btn btn-success">Back</a>
                        }
                    }
                </div>
            </div>
        </form>

    </div>

</body>
</html>


<partial name="_ModalPopup" />
<partial name="_ModalPopupLg" />
<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                                "order": [[0, "asc"]],
                                "pageLength": 100
                            });

            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                var url = "@Url.Action("DeleteDomain", "TCMServicePlan")";
                window.location.href = url + '/' + item_to_delete;
            });
        });
        $(function () {
            //Assign Click event to Plus Image.
            $("body").on("click", "a[class*='icon-plus-sign-alt']", function () {
                $(this).closest("tr").after("<tr><td></td><td colspan = '999'>" + $(this).next().html() + "</td></tr>");
                $(this).attr("class", "icon-minus-sign-alt");
            });
            //Assign Click event to Minus Image.
            $("body").on("click", "a[class*='icon-minus-sign-alt']", function () {
                $(this).attr("class", "icon-plus-sign-alt");
                $(this).closest("tr").next().remove();
            });
        });
    </script>
}

