@model KyoS.Web.Models.TCMServicePlanViewModel
@{
    ViewData["Title"] = "Approve Service Plan";
}
<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @if (ViewData["origi"].ToString() == "0")
            {
                @Html.ActionLink("TCM Services Plan", "Index", "TCMServicePlans")
            }
            @if (ViewData["origi"].ToString() == "1")
            {
                @Html.ActionLink("Pending Services Plan", "ServicePlanStarted", "TCMServicePlans", new { approved = 1 })
            }
            @if (ViewData["origi"].ToString() == "2")
            {
                @Html.ActionLink("Services Plan with review", "TCMServicePlanWithReview", "TCMServicePlans")
            }
            @if (ViewData["origi"].ToString() == "3")
            {
                @Html.ActionLink("Services Plan Notifications", "Notifications", "TCMMessages")
            }
            @if (ViewData["origi"].ToString() == "4")
            {
                @Html.ActionLink("TCM Intake Section 4", "TCMIntakeSectionDashboardReadOnly", "TCMIntakes", new { id = @Model.ID_TcmClient, section = 4 })
            }
        </li>
        <li class="active">Approve Service Plan</li>
    </ul><!--.breadcrumb-->
</div>

<h4>Approve Service Plan</h4>
<hr />
<div>
    <div>
        @if (ViewBag.Creado == "Y")
        {
            <div class="alert alert-block alert-success">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>
                <i class="icon-ok green"></i>
                <strong class="green">
                    Service plan been successfully updated
                </strong>

            </div>
        }
        @if (ViewBag.Creado == "E")
        {
            <div class="alert alert-block alert-warning">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>
                <i class="icon-ok red"></i>
                <strong class="red">
                    Error. Services plan already exist
                </strong>
            </div>
        }
        @if (ViewBag.Creado == "EG")
        {
            <div class="alert alert-block alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>
                <i class="icon-ok red"></i>
                <strong class="red">
                    Error. There are gender issues in: @ViewBag.errorText
                </strong>
            </div>
        }
    </div>
    <div>
        <form asp-action="AproveServicePlan" asp-route-id="@Model.Id" asp-route-origi="@ViewData["origi"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Approved" />
            <input type="hidden" asp-for="CreatedBy" />
            <input type="hidden" asp-for="CreatedOn" />
            <partial name="TCMServicePlanReadOnly" />
            <div class="col-md-push-12">
                <pre>
    <strong>ASSESSMENT RECOMMENDED SERVICES</strong>
    <input asp-for="Domain1" class="form-check-input" disabled> Mental Health / Substance Abuse                  <input asp-for="Domain7" class="form-check-input" disabled> Housing / Shelter
    <input asp-for="Domain2" class="form-check-input" disabled> Physical Health / Medical / Dental               <input asp-for="Domain8" class="form-check-input" disabled> Economic / Financial
    <input asp-for="Domain3" class="form-check-input" disabled> Vocational / Employment / Job Training           <input asp-for="Domain9" class="form-check-input" disabled> Basic Needs (food, clothing, furniture, etc.)
    <input asp-for="Domain4" class="form-check-input" disabled> School / Education                               <input asp-for="Domain10" class="form-check-input" disabled> Transportation
    <input asp-for="Domain5" class="form-check-input" disabled> Recreational / Social Support                    <input asp-for="Domain11" class="form-check-input" disabled> Legal / Immigration
    <input asp-for="Domain6" class="form-check-input" disabled> Activities of Daily Living (ADL and IADL)        <input asp-for="Domain12" class="form-check-input" disabled> Other (specify):>
                </pre>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a onclick="showInPopupLg('@Url.Action("AuditTCMServicePlan", "TCMServicePlans", new { idTCMClient = Model.Id}, Context.Request.Scheme)','Audit Service Plan')" class="btn btn-danger" title="Audit Service Plan"><i class="glyphicon glyphicon-alert"></i>&nbsp;&nbsp;Audit Service Plan</a>
                </div>
                <div class="col-md-12">
                    &nbsp;
                </div>
                <div class="col-md-12">
                    <div id="view-TCMdomain">
                        @await Html.PartialAsync("_ViewDomains", Model.TCMDomain.ToList())
                    </div>
                </div>
            </div>
                <partial name="TCMServicePlan1ReadOnly" />
                <div class="form-group">
                    <input type="submit" value="Sign / Approve" class="btn btn-primary" />
                    @if (User.IsInRole("TCMSupervisor"))
                    {
                        <a class="btn btn-warning" onclick="showInPopup('@Url.Action("AddMessageEntity","TCMServicePlans",new {id = Model.Id, origi = @ViewData["origi"]},Context.Request.Scheme)','Add message to casemanager')" title="Not approved tcm service plan due to problems">Review</a>
                    }
                    else
                    {
                        <a asp-action="Review" asp-route-approved="1" class="btn btn-warning disabled">Review</a>
                    }
                    @if (ViewData["origi"].ToString() == "0")
                    {
                        <a asp-action="Index" class="btn btn-success">Back</a>
                    }
                    @if (ViewData["origi"].ToString() == "1")
                    {
                        <a asp-action="ServicePlanStarted" asp-route-approved="1" class="btn btn-success">Back</a>
                    }
                    @if (ViewData["origi"].ToString() == "2")
                    {
                        <a asp-action="TCMServicePlanWithReview" class="btn btn-success">Back</a>
                    }
                    @if (ViewData["origi"].ToString() == "3")
                    {
                        <a asp-action="Notifications" asp-controller="TCMMessages" class="btn btn-success">Back</a>
                    }
                    @if (ViewData["origi"].ToString() == "4")
                    {
                        <a asp-action="TCMIntakeSectionDashboardReadOnly" asp-controller="TCMIntakes" asp-route-id="@Model.ID_TcmClient" asp-route-section="4" class="btn btn-success">Back</a>
                    }
                </div>
        </form>
    </div>
</div>

<partial name="_ModalPopup" />
<partial name="_ModalPopupLg" />
<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                                "order": [[1, "asc"]],
                                "pageLength": 100
                            });

            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                var url = "@Url.Action("DeleteDomain", "TCMServicePlan")";
                window.location.href = url + '/' + item_to_delete;
            });
        });
        $(function () {
            //Assign Click event to Plus Image.
            $("body").on("click", "a[class*='icon-plus-sign-alt']", function () {
                $(this).closest("tr").after("<tr><td></td><td colspan = '999'>" + $(this).next().html() + "</td></tr>");
                $(this).attr("class", "icon-minus-sign-alt");
            });
            //Assign Click event to Minus Image.
            $("body").on("click", "a[class*='icon-minus-sign-alt']", function () {
                $(this).attr("class", "icon-plus-sign-alt");
                $(this).closest("tr").next().remove();
            });
        });
    </script>
}



