@model KyoS.Web.Models.TCMServicePlanViewModel
@{
    ViewData["Title"] = "Edit Service Plan";
}

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @if (@ViewData["origin"].ToString() == "0")
            {
                @Html.ActionLink("TCM Intake Section 4", "TCMIntakeSectionDashboard", "TCMIntakes", new { id = @Model.ID_TcmClient, section = 4 })
            }
            @if (@ViewData["origin"].ToString() == "1")
            {
                @Html.ActionLink("TCM Services Plan", "ServicePlanApproved", "TCMServicePlans", new { approved = 0 })
            }
            @if (@ViewData["origin"].ToString() == "2")
            {
                @Html.ActionLink("TCM Services Plan", "ServicePlanApproved", "TCMServicePlans", new { approved = 1 })
            }

        </li>
        <li class="active">Edit</li>
    </ul><!--.breadcrumb-->
</div>

<h4>Edit service plan</h4>
<hr />
<div>
    <div>
        @if (ViewBag.Creado == "Y")
        {
            <div class="alert alert-block alert-success">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>
                <i class="icon-ok green"></i>
                <strong class="green">
                    Service plan been successfully updated
                </strong>

            </div>
        }
        @if (ViewBag.Creado == "E")
        {
            <div class="alert alert-block alert-warning">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>
                <i class="icon-ok red"></i>
                <strong class="red">
                    Error. Services plan already exist
                </strong>
            </div>
        }
        @if (ViewBag.Creado == "EG")
        {
            <div class="alert alert-block alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>
                <i class="icon-ok red"></i>
                <strong class="red">
                    Error. There are gender issues in: @ViewBag.errorText
                </strong>
            </div>
        }
    </div>
    <div>
        <form asp-action="Edit"  asp-route-origin="@ViewData["origin"]" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Approved" />
            <partial name="TCMServicePlan" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                @if (@ViewData["origin"].ToString() == "0")
                {
                    <a asp-action="TCMIntakeSectionDashboard" asp-route-id=" @Model.ID_TcmClient" asp-route-section="4" asp-controller="TCMIntakes" class="btn btn-success">Back</a>
                }
                @if (@ViewData["origin"].ToString() == "1")
                {

                    <a asp-action="ServicePlanApproved" asp-route-approved="0" class="btn btn-success">Back</a>
                }
                @if (@ViewData["origin"].ToString() == "2")
                {

                    <a asp-action="ServicePlanApproved" asp-route-approved="1" class="btn btn-success">Back</a>
                }
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
