@model IEnumerable<KyoS.Web.Data.Entities.TCMClientEntity>
@{
    ViewData["Title"] = "TCM All Documents";
}

<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Dashboard", "Index", "Desktop")
        </li>
        <li class="active">TCM All Documents</li>
    </ul><!--.breadcrumb-->
</div>

@if (Model != null)
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">TCM All Documents</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-responsive table-striped" id="MyTable">
                        <thead>
                            <tr>
                                <th class="col-md-3">
                                    Client Name
                                </th>
                                <th class="col-md-1" style="text-align: center;">
                                    Open Date
                                </th>
                                <th class="col-md-1" style="text-align: center;">
                                    Consents
                                </th>
                                <th class="col-md-1" style="text-align: center;">
                                    Assessment
                                </th>
                                <th class="col-md-1" style="text-align: center;">
                                    Appendix
                                </th>
                                <th class="col-md-1" style="text-align: center;">
                                    Service Plan
                                </th>
                                <th class="col-md-1" style="text-align: center;">
                                    Addendums
                                </th>
                                <th class="col-md-1" style="text-align: center;">
                                    Service Plan R.
                                </th>
                                <th class="col-md-1" style="text-align: center;">
                                    FARS
                                </th>
                                <th class="col-md-1" style="text-align: center;">
                                    Discharge
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderBy(n => n.Id))
                            {
                                <tr>
                                    <td>
                                        @if (item.Client.Gender == KyoS.Common.Enums.GenderType.Female)
                                        {
                                            <i class="glyphicon glyphicon-user btn-danger"></i>
                                        }
                                        @if (item.Client.Gender == KyoS.Common.Enums.GenderType.Male)
                                        {
                                            <i class="glyphicon glyphicon-user btn-primary"></i>
                                        }
                                        &nbsp;
                                        @Html.DisplayFor(modelItem => item.Client.Name)
                                        |
                                        @Html.DisplayFor(modelItem => item.CaseNumber)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.DataOpen)
                                    </td>
                                    <td align="center">
                                        @if (User.IsInRole("CaseManager"))
                                        {
                                            @if ((item.TCMIntakeForm != null) || (item.TcmIntakeConsentForTreatment != null) || (item.TcmIntakeConsentForRelease != null) || (item.TcmIntakeConsumerRights != null)
                                             || (item.TcmIntakeAcknowledgementHipa != null) || (item.TCMIntakeOrientationChecklist != null) || (item.TCMIntakeAdvancedDirective != null)
                                             || (item.TCMIntakeForeignLanguage != null) || (item.TCMIntakeWelcome != null))
                                            {
                                                <a asp-action="TCMIntakeSectionDashboard" asp-route-id="@item.Id" asp-controller="TCMIntakes" asp-route-section="1" asp-route-origin="1" class="btn btn-default" title="Go to Consents"><i class="glyphicon glyphicon-share"></i></a>
                                            }
                                            else
                                            {
                                                <a asp-action="TCMIntakeSectionDashboard" asp-route-id="@item.Id" asp-controller="TCMIntakes" asp-route-section="1" asp-route-origin="1" class="btn btn-success disabled" title="Go to Consents"><i class="glyphicon glyphicon-share"></i></a>                                                
                                            }
                                        }
                                        else
                                        {
                                            @if ((item.TCMIntakeForm != null) || (item.TcmIntakeConsentForTreatment != null) || (item.TcmIntakeConsentForRelease != null) || (item.TcmIntakeConsumerRights != null)
                                             || (item.TcmIntakeAcknowledgementHipa != null) || (item.TCMIntakeOrientationChecklist != null) || (item.TCMIntakeAdvancedDirective != null)
                                             || (item.TCMIntakeForeignLanguage != null) || (item.TCMIntakeWelcome != null))
                                            {
                                                <a asp-action="TCMIntakeSectionDashboardReadOnly" asp-route-id="@item.Id" asp-route-origin = "1" asp-controller="TCMIntakes" asp-route-section="1" class="btn btn-default" title="Print"><i class="glyphicon glyphicon-share"></i></a>
                                                @*<a asp-action="Print" asp-route-id="@item.Id" asp-controller="TCMIntakes" class="btn btn-success disabled" title="Print"><i class="glyphicon glyphicon-print"></i></a>*@
                                            }
                                            else
                                            {
                                                <a asp-action="TCMIntakeSectionDashboardReadOnly" asp-route-id="@item.Id" asp-route-origin = "1" asp-controller="TCMIntakes" asp-route-section="1" class="btn btn-success disabled" title="Print"><i class="glyphicon glyphicon-share"></i></a>
                                                @*<a asp-action="Print" asp-route-id="@item.Id" asp-controller="TCMIntakes" class="btn btn-success" title="Print"><i class="glyphicon glyphicon-print"></i></a>*@
                                            }
                                        }
                                    </td>
                                     <td align="center">
                                        @if (item.TCMAssessment == null || item.TCMAssessment.Id == 0)
                                        {
                                            <a asp-action="PrintTCMAssessment" asp-route-id="@item.Id" asp-controller="TCMIntakes" class="btn btn-default disabled" title="Print"><i class="glyphicon glyphicon-print"></i></a>
                                        }
                                        else
                                        {
                                            @if (item.TCMAssessment.Approved == 0)
                                            {
                                                <a asp-action="PrintTCMAssessment" asp-route-id="@item.Id" asp-controller="TCMIntakes" class="btn btn-warning disabled" title="Print"><i class="glyphicon glyphicon-print"></i></a>
                                            }
                                            @if (item.TCMAssessment.Approved == 1)
                                            {
                                                <a asp-action="PrintTCMAssessment" asp-route-id="@item.Id" asp-controller="TCMIntakes" class="btn btn-info disabled" title="Print"><i class="glyphicon glyphicon-print"></i></a>
                                            }
                                            @if (item.TCMAssessment.Approved == 2)
                                            {
                                                <a asp-action="PrintTCMAssessment" asp-route-id="@item.Id" asp-controller="TCMIntakes" class="btn btn-success" title="Print Assessment"><i class="glyphicon glyphicon-print"></i></a>
                                            }
                                        }
                                    </td>
                                     <td align="center">
                                         @if (item.Younger == true)
                                         {
                                             @if (item.TcmIntakeAppendixI == null || item.TcmIntakeAppendixI.Id == 0)
                                             {
                                                 <a asp-action="Print" asp-route-id="@item.Id" asp-controller="TCMIntakes" class="btn btn-default disabled" title="Print"><i class="glyphicon glyphicon-print"></i></a>
                                             }
                                             else
                                             {
                                                 @if (item.TcmIntakeAppendixI.Approved == 0)
                                                 {
                                                     <a asp-action="Print" asp-route-id="@item.Id" asp-controller="TCMIntakes" class="btn btn-warning disabled" title="Print"><i class="glyphicon glyphicon-print"></i></a>
                                                 }
                                                 @if (item.TcmIntakeAppendixI.Approved == 1)
                                                 {
                                                     <a asp-action="Print" asp-route-id="@item.Id" asp-controller="TCMIntakes" class="btn btn-info disabled" title="Print"><i class="glyphicon glyphicon-print"></i></a>
                                                 }
                                                 @if (item.TcmIntakeAppendixI.Approved == 2)
                                                 {
                                                     <a asp-action="PrintTCMAppendixI" asp-route-id="@item.Id" asp-controller="TCMIntakes" class="btn btn-success" title="Print Appendix E" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                                 }
                                             }
                                         }
                                         else
                                         {
                                             @if (item.TcmIntakeAppendixJ.Count() == 0)
                                             {
                                                <a asp-action="Print" asp-route-id="@item.Id" asp-route-origi="1" asp-controller="TCMIntakes" class="btn btn-default disabled" title="Print"><i class="glyphicon glyphicon-share"></i></a>
                                            }
                                            else
                                            {
                                                @if (item.TcmIntakeAppendixJ.Where(n => n.Active).Count() == 0)
                                                {
                                                    <a asp-action="ListAppendixJForTCMClient" asp-route-id="@item.Id" asp-route-origi="1" asp-controller="TCMIntakes" class="btn btn-danger" title="Go to Appendix J"><i class="glyphicon glyphicon-share"></i></a>
                                                }
                                                else
                                                {
                                                    <a asp-action="ListAppendixJForTCMClient" asp-route-id="@item.Id" asp-route-origi="1" asp-controller="TCMIntakes" class="btn btn-success" title="Go to Appendix J"><i class="glyphicon glyphicon-share"></i></a>
                                                }
                                            }
                                         }
                                     </td>
                                    <td align="center">
                                        @if (item.TcmServicePlan == null || item.TcmServicePlan.Id == 0)
                                        {
                                             <a asp-action="Print" asp-route-id="@item.Id" asp-controller="TCMIntakes" class="btn btn-default disabled" title="Print"><i class="glyphicon glyphicon-print"></i></a>
                                        }
                                        else
                                        {
                                            @if (item.TcmServicePlan.Approved == 0)
                                            {
                                                <a class="btn btn-warning disabled" title="Print"><i class="glyphicon glyphicon-print"></i></a>
                                            }
                                            @if (item.TcmServicePlan.Approved == 1)
                                            {
                                                <a class="btn btn-info disabled" title="Print"><i class="glyphicon glyphicon-print"></i></a>
                                            }
                                            @if (item.TcmServicePlan.Approved == 2)
                                            {
                                                <a asp-action="PrintServicePlan" asp-route-id="@item.TcmServicePlan.Id" asp-controller="TCMServicePlans" class="btn btn-success" title="Print TCM Service Plan" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                            }
                                        }
                                    </td>
                                    <td align="center">
                                        @if (item.TcmServicePlan.TCMAdendum == null)
                                        {
                                            <a asp-action="Adendum" asp-route-id="@item.Id" asp-controller="TCMServicePlans" asp-route-caseNumber="@item.CaseNumber" class="btn btn-default disabled" title="Print"><i class="glyphicon glyphicon-share"></i></a>
                                        }
                                        else
                                        {
                                            @if (item.TcmServicePlan.TCMAdendum.Count() == 0)
                                            {
                                                <a asp-action="Adendum" asp-route-id="@item.Id" asp-controller="TCMServicePlans" asp-route-caseNumber="@item.CaseNumber" class="btn btn-default disabled" title="Print"><i class="glyphicon glyphicon-share"></i></a>
                                            }
                                            else
                                            {
                                                <a asp-action="Adendum" asp-route-id="@item.Id" asp-controller="TCMServicePlans" asp-route-caseNumber="@item.CaseNumber" asp-route-aview="2" class="btn btn-default" title="Print Addendum"><i class="glyphicon glyphicon-share"></i></a>
                                            }
                                        }
                                    </td>
                                    <td align="center">
                                        @if (item.TcmServicePlan.TCMServicePlanReview == null || item.TcmServicePlan.TCMServicePlanReview.Id == 0)
                                        {
                                            <a asp-action="Print" asp-route-id="@item.Id" asp-controller="TCMIntakes" class="btn btn-default disabled" title="Print"><i class="glyphicon glyphicon-print"></i></a>
                                        }
                                        else
                                        {
                                            @if (item.TcmServicePlan.TCMServicePlanReview.Approved == 0)
                                            {
                                                <a asp-action="Print" asp-route-id="@item.Id" asp-controller="TCMIntakes" class="btn btn-warning disabled" title="Print"><i class="glyphicon glyphicon-print"></i></a>
                                            }
                                            @if (item.TcmServicePlan.TCMServicePlanReview.Approved == 1)
                                            {
                                                <a asp-action="Print" asp-route-id="@item.Id" asp-controller="TCMIntakes" class="btn btn-info disabled" title="Print"><i class="glyphicon glyphicon-print"></i></a>
                                            }
                                            @if (item.TcmServicePlan.TCMServicePlanReview.Approved == 2)
                                            {
                                                <a asp-action="Print" asp-route-id="@item.Id" asp-controller="TCMIntakes" class="btn btn-success" title="Print Service Plan Review"><i class="glyphicon glyphicon-print"></i></a>
                                            }
                                        }
                                    </td>
                                    <td align="center">
                                        @if (item.TCMFarsFormList == null)
                                        {
                                            <a asp-action="TCMFarsForTCMClient" asp-route-id="@item.Id" asp-controller="TCMFarsForms" asp-route-idTCMClient="@item.CaseNumber" asp-route-origin="2" class="btn btn-default disabled" title="Print"><i class="glyphicon glyphicon-share"></i></a>
                                        }
                                        else
                                        {
                                            @if (item.TCMFarsFormList.Count() == 0)
                                            {
                                                <a asp-action="TCMFarsForTCMClient" asp-route-id="@item.Id" asp-controller="TCMFarsForms" asp-route-idTCMClient="@item.CaseNumber" asp-route-origin="2" class="btn btn-default disabled" title="Print"><i class="glyphicon glyphicon-share"></i></a>
                                            }
                                            else
                                            {
                                                <a asp-action="TCMFarsForTCMClient" asp-route-id="@item.Id" asp-controller="TCMFarsForms" asp-route-idTCMClient="@item.Id" asp-route-origin="2" class="btn btn-success" title="Go to FARS Forms"><i class="glyphicon glyphicon-share"></i></a>
                                            }
                                        }
                                    </td>
                                    <td align="center">
                                        @if (item.TcmServicePlan.TCMDischarge == null || item.TcmServicePlan.TCMDischarge.Id == 0)
                                        {
                                                <a asp-action="Print" asp-route-id="@item.Id" asp-controller="TCMIntakes" class="btn btn-default disabled" title="Print"><i class="glyphicon glyphicon-print"></i></a>
                                        }
                                        else
                                        {
                                            @if (item.TcmServicePlan.TCMDischarge.Approved == 0)
                                            {
                                                <a asp-action="Print" asp-route-id="@item.Id" asp-controller="TCMIntakes" class="btn btn-warning disabled" title="Print"><i class="glyphicon glyphicon-print"></i></a>
                                            }
                                            @if (item.TcmServicePlan.TCMDischarge.Approved == 1)
                                            {
                                                <a asp-action="Print" asp-route-id="@item.Id" asp-controller="TCMIntakes" class="btn btn-info disabled" title="Print"><i class="glyphicon glyphicon-print"></i></a>
                                            }
                                            @if (item.TcmServicePlan.TCMDischarge.Approved == 2)
                                            {
                                                <a asp-action="PrintDischarge" asp-route-id="@item.TcmServicePlan.TCMDischarge.Id" asp-controller="TCMIntakes" class="btn btn-success" title="Print Discharge" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                            }
                                        }

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#MyTable').DataTable({
               "pageLength": 100
            });            
        });
    </script>
}


