@model IEnumerable<KyoS.Web.Data.Entities.TCMClientEntity>
@{
    ViewData["Title"] = "Clients";
}

<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Dashboard", "Index", "Desktop")
        </li>
        <li class="active">Clients</li>
    </ul><!--.breadcrumb-->
</div>

@if (User.IsInRole("Manager"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Create Client</a>
    </p>
}

<div class="row">
    <div class="col-md-12">
        @if (ViewBag.Delete == "N")
        {
            <div class="alert alert-block alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>
                <strong class="red">
                    Error. It is not posible delete the client
                </strong>
            </div>
        }
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Clients</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-3">
                                @Html.DisplayNameFor(model => model.Client.Name)
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                MH Therapy
                            </th>
                            <th class="col-md-2" style="text-align:center;">
                                @Html.DisplayNameFor(model => model.Client.AdmisionDate)
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Case TCM
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Status
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Signature
                            </th>
                            <th class="col-md-2">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            @if (item.Status == KyoS.Common.Enums.StatusType.Close)
                            {
                                <tr style="color: darkgrey;">
                                    <td>
                                        @if (item.Client.Gender == KyoS.Common.Enums.GenderType.Female)
                                        {
                                            <i class="glyphicon glyphicon-user btn-danger"></i>
                                        }
                                        @if (item.Client.Gender == KyoS.Common.Enums.GenderType.Male)
                                        {
                                            <i class="glyphicon glyphicon-user btn-primary"></i>
                                        }
                                        &nbsp;
                                        @Html.DisplayFor(modelItem => item.Client.Name)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Client.Service)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Client.AdmisionDate)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.CaseNumber)
                                    </td>
                                    <td align="center">
                                        @if (item.Status == KyoS.Common.Enums.StatusType.Open)
                                        {
                                            <span class="label label-success">
                                                Open
                                            </span>
                                        }
                                        @if (item.Status == KyoS.Common.Enums.StatusType.Close)
                                        {
                                            <span class="label label-default">
                                                Close
                                            </span>
                                        }
                                    </td>
                                    <td align="center">
                                        @if (item.Client.SignPath == string.Empty || item.Client.SignPath == null)
                                        {
                                            <span class="label label-danger">
                                                No
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="label label-success">
                                                Yes
                                            </span>
                                        }
                                    </td>
                                    <td align="right">
                                        @if (User.IsInRole("CaseManager") )
                                        {
                                            <a asp-action="EditSignature" asp-route-id="@item.Client.Id" class="btn btn-warning" title="Edit client's signature"><i class="glyphicon glyphicon-cloud-upload"></i></a>
                                            <a asp-action="Edit" asp-controller="Clients" asp-route-id="@item.Client.Id" asp-route-origin="2" class="btn btn-warning" title="Edit client"><i class="glyphicon glyphicon-pencil"></i></a>
                                        }
                                        else
                                        { 
                                            @if (User.IsInRole("TCMSupervisor"))
                                            {
                                                <a asp-action="EditSignature" asp-route-id="@item.Client.Id" class="btn btn-warning" title="Edit client's signature"><i class="glyphicon glyphicon-cloud-upload disabled" ></i></a>
                                                <a asp-action="Details" asp-controller="Clients" asp-route-id="@item.Client.Id" asp-route-origin="1" class="btn btn-info" title="Details"><i class="glyphicon glyphicon-align-justify"></i></a>
                                            }
                                            else
                                            {
                                                <a asp-action="EditSignature" asp-route-id="@item.Client.Id" class="btn btn-warning" title="Edit client's signature"><i class="glyphicon glyphicon-cloud-upload disabled"></i></a>
                                                <a asp-action="Details" asp-controller="Clients" asp-route-id="@item.Client.Id" asp-route-origin="1" class="btn btn-info disabled" title="Details"><i class="glyphicon glyphicon-align-justify"></i></a>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                            @if (item.Status == KyoS.Common.Enums.StatusType.Open)
                            {
                                <tr>
                                    <td>
                                        @if (item.Client.Gender == KyoS.Common.Enums.GenderType.Female)
                                        {
                                            <i class="glyphicon glyphicon-user btn-danger"></i>
                                        }
                                        @if (item.Client.Gender == KyoS.Common.Enums.GenderType.Male)
                                        {
                                            <i class="glyphicon glyphicon-user btn-primary"></i>
                                        }
                                        &nbsp;
                                        @Html.DisplayFor(modelItem => item.Client.Name)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Client.Service)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Client.AdmisionDate)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.CaseNumber)
                                    </td>
                                    <td align="center">
                                        @if (item.Status == KyoS.Common.Enums.StatusType.Open)
                                        {
                                            <span class="label label-success">
                                                Open
                                            </span>
                                        }
                                        @if (item.Status == KyoS.Common.Enums.StatusType.Close)
                                        {
                                            <span class="label label-default">
                                                Close
                                            </span>
                                        }
                                    </td>
                                    <td align="center">
                                        @if (item.Client.SignPath == string.Empty || item.Client.SignPath == null)
                                        {
                                            <span class="label label-danger">
                                                No
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="label label-success">
                                                Yes
                                            </span>
                                        }
                                    </td>
                                    <td align="right">
                                        @if (User.IsInRole("CaseManager"))
                                        {
                                            <a asp-action="EditSignature" asp-route-id="@item.Client.Id" class="btn btn-warning" title="Edit client's signature"><i class="glyphicon glyphicon-cloud-upload"></i></a>
                                            <a asp-action="Edit" asp-controller="Clients" asp-route-id="@item.Client.Id" asp-route-origin="2" class="btn btn-warning" title="Edit client"><i class="glyphicon glyphicon-pencil"></i></a>
                                        }
                                        else
                                        {
                                            @if (User.IsInRole("CaseManager") || User.IsInRole("TCMSupervisor"))
                                            {
                                                <a asp-action="EditSignature" asp-route-id="@item.Client.Id" class="btn btn-warning" title="Edit client's signature"><i class="glyphicon glyphicon-cloud-upload disabled"></i></a>
                                                <a asp-action="Details" asp-controller="Clients" asp-route-id="@item.Client.Id" asp-route-origin="1" class="btn btn-info" title="Details"><i class="glyphicon glyphicon-align-justify"></i></a>
                                            }
                                            else
                                            {
                                                <a asp-action="EditSignature" asp-route-id="@item.Client.Id" class="btn btn-warning" title="Edit client's signature"><i class="glyphicon glyphicon-cloud-upload disabled"></i></a>
                                                <a asp-action="Details" asp-controller="Clients" asp-route-id="@item.Client.Id" asp-route-origin="1" class="btn btn-info disabled" title="Details"><i class="glyphicon glyphicon-align-justify"></i></a>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#MyTable').DataTable({
                                "order": [[0, "asc"]],
                                "pageLength": 100
                            });

                            // Delete item
                            var item_to_delete;

                            $('.deleteItem').click((e) => {
                                item_to_delete = e.currentTarget.dataset.id;
                            });

                            $("#btnYesDelete").click(function () {
                                var url = "@Url.Action("Delete", "Clients")";
                                window.location.href = url + '/' + item_to_delete;
                            });
                        });
    </script>
}


