@model IEnumerable<KyoS.Web.Data.Entities.TCMClientEntity>
@{
    ViewData["Title"] = "Not started TCM Cases";
}

<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Dashboard", "Index", "Desktop")
        </li>
        <li class="active">Not started TCM Cases</li>
    </ul><!--.breadcrumb-->
</div>

@if (Model != null)
{
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Not started TCM Cases</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>                            
                            <th class="col-md-3">
                                Case Manager
                            </th>
                            <th class="col-md-4">
                                Client Name
                            </th>          
                            <th class="col-md-2" style="text-align: center;">
                                Client Status
                            </th>
                            <th class="col-md-1" style="text-align: center;">
                                Open Date
                            </th>
                            <th class="col-md-1" style="text-align: center;">
                                Close Date
                            </th>                            
                            <th class="col-md-1" style="text-align: center;">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Casemanager.Name)
                                </td>
                                <td>
                                    @if (item.Client.Gender == KyoS.Common.Enums.GenderType.Female)
                                    {
                                        <i class="glyphicon glyphicon-user btn-danger"></i>
                                    }
                                    @if (item.Client.Gender == KyoS.Common.Enums.GenderType.Male)
                                    {
                                        <i class="glyphicon glyphicon-user btn-primary"></i>
                                    }
                                    &nbsp;
                                    @Html.DisplayFor(modelItem => item.Client.Name)
                                    |
                                    @Html.DisplayFor(modelItem => item.CaseNumber)
                                </td>
                                <td align="center">
                                    @if (item.Status == KyoS.Common.Enums.StatusType.Open)
                                    {
                                        <span class="label label-success">
                                            Open
                                        </span>
                                    }
                                    @if (item.Status == KyoS.Common.Enums.StatusType.Close)
                                    {
                                        <span class="label label-default">
                                            Close
                                        </span>
                                    }
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.DataOpen)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.DataClose)
                                </td>                                
                                <td align="right">
                                    @if ( User.IsInRole("CaseManager"))
                                    {
                                        @if (item.Status == KyoS.Common.Enums.StatusType.Open )
                                        {
                                            <a asp-action="Create" asp-controller="TCMServicePlans" asp-route-id="@item.Id" asp-route-origin="1" class="btn btn-primary" title="Create Service Plan"><i class="glyphicon glyphicon-plus"></i></a>
                                        }
                                        else
                                        { 
                                            <a class="btn btn-primary disabled" title="Create Sevice Plan"><i class="glyphicon glyphicon-plus"></i></a>
                                        }
                                    }
                                    else
                                    {
                                        <a class="btn btn-primary disabled" title="Create Sevice Plan"><i class="glyphicon glyphicon-plus"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#MyTable').DataTable({
               "order": [[0, "asc"]],
               "pageLength": 100
            });            
        });
    </script>
}
