@model IEnumerable<KyoS.Web.Data.Entities.HealthInsuranceEntity>

@if (Model != null)
{
<div class="row">
    <div class="col-md-12">
        @if (ViewBag.Delete == "N")
        {
            <div class="alert alert-block alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>
                <strong class="red">
                    Error. It is not posible delete the Health Insurance
                </strong>
            </div>
        }
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Health Insurances</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-4">
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Signed
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Expired
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Need Auth.
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Active
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Open
                            </th>
                             <th class="col-md-1" style="text-align:center;">
                                Close
                            </th>
                            <th class="col-md-2">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            @if (item.Active == false)
                            {
                                <tr style="color: darkgrey;">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.SignedDate)
                                    </td>
                                    <td align="center">
                                        @if(item.SignedDate.AddMonths(item.DurationTime.Value).Date > DateTime.Today)
                                        {
                                            @if (item.SignedDate.AddMonths(item.DurationTime.Value - 1).Date < DateTime.Today)
                                            {
                                                <span class="label label-warning">
                                                    @item.SignedDate.AddMonths(item.DurationTime.Value).Date.ToShortDateString()
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="label label-success">
                                                    @item.SignedDate.AddMonths(item.DurationTime.Value).Date.ToShortDateString()
                                                </span>
                                            }
                                        }
                                        else
                                        {
                                            <span class="label label-danger">
                                                @item.SignedDate.AddMonths(item.DurationTime.Value).Date.ToShortDateString()
                                            </span>
                                        }
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.NeedAuthorization)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Active)
                                    </td>
                                    <td align="center">
                                       @if (@item.Client_HealthInsurances.Where(n => n.Client.Status == KyoS.Common.Enums.StatusType.Open).Count() > 0)
                                       {
                                          <a onclick="showInPopupLg('@Url.Action("ViewDetails","HealthInsurances",new {id = @item.Id, status = KyoS.Common.Enums.StatusType.Open},Context.Request.Scheme)','View Details')" class="btn btn-info" title="View Details">
                                             @item.Client_HealthInsurances.Where(n => n.Client.Status == KyoS.Common.Enums.StatusType.Open && n.Active == true).Count()
                                          </a>
                                       }
                                       else
                                       {
                                          <a onclick="showInPopupLg('@Url.Action("ViewDetails","HealthInsurances",new {id = @item.Id, status = KyoS.Common.Enums.StatusType.Open, principal = true },Context.Request.Scheme)','View Details')" class="btn btn-default disabled" title="View Details">
                                            0
                                          </a>
                                       }
                                    </td>
                                    <td align="center">
                                       @if (@item.Client_HealthInsurances.Where(n => n.Client.Status == KyoS.Common.Enums.StatusType.Close).Count() > 0)
                                       {
                                          <a onclick="showInPopupLg('@Url.Action("ViewDetails","HealthInsurances",new {id = @item.Id, status = KyoS.Common.Enums.StatusType.Close},Context.Request.Scheme)','View Details')" class="btn btn-info" title="View Details">
                                             @item.Client_HealthInsurances.Where(n => n.Client.Status == KyoS.Common.Enums.StatusType.Close && n.Active == true).Count()
                                          </a>
                                       }
                                       else
                                       {
                                          <a onclick="showInPopupLg('@Url.Action("ViewDetails","HealthInsurances",new {id = @item.Id, status = KyoS.Common.Enums.StatusType.Close, principal = true },Context.Request.Scheme)','View Details')" class="btn btn-default disabled" title="View Details">
                                            0
                                          </a>
                                       }
                                    </td>
                                    <td align="right">
                                        @if (item.DocumentPath == string.Empty)
                                        {
                                            <a class="btn btn-default disabled" title="View attachment"><i class="glyphicon glyphicon-download-alt"></i></a>
                                        }
                                        else
                                        {
                                            <a asp-action="OpenDocument" asp-route-id="@item.Id" class="btn btn-default" title="View attachment" target="_blank"><i class="glyphicon glyphicon-download-alt"></i></a>
                                        }
                                        @*<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning" title="Edit health insurance"><i class="glyphicon glyphicon-pencil"></i></a>*@
                                        <a onclick="showInPopup('@Url.Action("EditModal","HealthInsurances",new {id = @item.Id},Context.Request.Scheme)','Edit Health Insurance')" class="btn btn-warning" title="Edit Health Insurance"><i class="glyphicon glyphicon-pencil"></i></a>
                                        <button onclick="ConfirmDelete(@item.Id)" class="btn btn-danger deleteItem" title="Delete health insurance"><i class="glyphicon glyphicon-trash"></i></button>
                                    </td>
                                </tr>
                            }
                            @if (item.Active == true)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.SignedDate)
                                    </td>
                                    <td align="center">
                                        @if(item.SignedDate.AddMonths(item.DurationTime.Value).Date > DateTime.Today)
                                        {
                                            @if (item.SignedDate.AddMonths(item.DurationTime.Value - 1).Date < DateTime.Today)
                                            {
                                                <span class="label label-warning">
                                                    @item.SignedDate.AddMonths(item.DurationTime.Value).Date.ToShortDateString()
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="label label-success">
                                                    @item.SignedDate.AddMonths(item.DurationTime.Value).Date.ToShortDateString()
                                                </span>
                                            }
                                        }
                                        else
                                        {
                                            <span class="label label-danger">
                                                @item.SignedDate.AddMonths(item.DurationTime.Value).Date.ToShortDateString()
                                            </span>
                                        }
                                    </td>
                                     <td align="center">
                                        @Html.DisplayFor(modelItem => item.NeedAuthorization)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Active)
                                    </td>
                                    <td align="center">
                                       @if (@item.Client_HealthInsurances.Where(n => n.Client.Status == KyoS.Common.Enums.StatusType.Open).Count() > 0)
                                       {
                                          <a onclick="showInPopupLg('@Url.Action("ViewDetails","HealthInsurances",new {id = @item.Id, status = KyoS.Common.Enums.StatusType.Open},Context.Request.Scheme)','View Details')" class="btn btn-info" title="View Details">
                                             @item.Client_HealthInsurances.Where(n => n.Client.Status == KyoS.Common.Enums.StatusType.Open && n.Active == true).Count()
                                          </a>
                                       }
                                       else
                                       {
                                          <a onclick="showInPopupLg('@Url.Action("ViewDetails","HealthInsurances",new {id = @item.Id, status = KyoS.Common.Enums.StatusType.Open, principal = true },Context.Request.Scheme)','View Details')" class="btn btn-default disabled" title="View Details">
                                            0
                                          </a>
                                       }
                                    </td>
                                    <td align="center">
                                       @if (@item.Client_HealthInsurances.Where(n => n.Client.Status == KyoS.Common.Enums.StatusType.Close).Count() > 0)
                                       {
                                          <a onclick="showInPopupLg('@Url.Action("ViewDetails","HealthInsurances",new {id = @item.Id, status = KyoS.Common.Enums.StatusType.Close},Context.Request.Scheme)','View Details')" class="btn btn-info" title="View Details">
                                             @item.Client_HealthInsurances.Where(n => n.Client.Status == KyoS.Common.Enums.StatusType.Close && n.Active == true).Count()
                                          </a>
                                       }
                                       else
                                       {
                                          <a onclick="showInPopupLg('@Url.Action("ViewDetails","HealthInsurances",new {id = @item.Id, status = KyoS.Common.Enums.StatusType.Close, principal = true },Context.Request.Scheme)','View Details')" class="btn btn-default disabled" title="View Details">
                                            0
                                          </a>
                                       }
                                    </td>
                                    <td align="right">
                                        @if (item.DocumentPath == string.Empty)
                                        {
                                            <a class="btn btn-default disabled" title="View attachment"><i class="glyphicon glyphicon-download-alt"></i></a>
                                        }
                                        else
                                        {
                                            <a asp-action="OpenDocument" asp-route-id="@item.Id" class="btn btn-default" title="View attachment" target="_blank"><i class="glyphicon glyphicon-download-alt"></i></a>
                                        }
                                        @*<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning" title="Edit health insurance"><i class="glyphicon glyphicon-pencil"></i></a>*@
                                        <a onclick="showInPopup('@Url.Action("EditModal","HealthInsurances",new {id = @item.Id},Context.Request.Scheme)','Edit Health Insurance')" class="btn btn-warning" title="Edit Health Insurance"><i class="glyphicon glyphicon-pencil"></i></a>
                                        <button onclick="ConfirmDelete(@item.Id)" class="btn btn-danger deleteItem" title="Delete health insurance"><i class="glyphicon glyphicon-trash"></i></button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
}



