
@{
    ViewBag.Title = "Dashboard";    
}

    <div>
        <div class="row">
            <div class="col-md-12">
                &nbsp;
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <h4 style="text-align:center;">@DateTime.Now.ToLongDateString()</h4>
                </div>       
                <div class="col-md-4">
                </div>                
            </div>
            <div class="col-md-12">
                <hr />
            </div>
            <div class="col-md-12" @*style="align-content:center;"*@>
                @if (User.IsInRole("Facilitator"))
                {
                    <div class="col-sm-3 col-md-2">
                        <div class="thumbnail list-group-item list-group-item-danger">
                            <div class="caption">
                                <h4 style="align-content:end;">Not Started<br>Notes</h4>
                                <h3 style="text-align:right">@ViewBag.NotStartedNotes</h3>
                                @if (ViewBag.NotStartedNotes == "0")
                                {
                                    <p><a href="#" class="btn btn-danger disabled" role="button">Go</a></p>
                                }
                                else
                                {
                                    <p><a asp-controller="Notes" asp-action="NotStartedNotes" class="btn btn-danger" role="button">Go</a></p>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <div class="thumbnail list-group-item list-group-item-warning">
                            <div class="caption">
                                <h4 style="align-content:end;">Notes<br> in Edit</h4>
                                <h3 style="text-align:right">@ViewBag.InProgressNotes</h3>
                                @if (ViewBag.InProgressNotes == "0")
                                {
                                    <p><a href="#" class="btn btn-warning disabled" role="button">Go</a></p>
                                }
                                else
                                {
                                    <p><a asp-controller="Notes" asp-action="NotesInEdit" class="btn btn-warning" role="button">Go</a></p>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <div class="thumbnail list-group-item list-group-item-info">
                            <div class="caption">
                                <h4>Pending<br> Notes </h4>
                                <h3 style="text-align:right">@ViewBag.PendingNotes</h3>
                                @if (ViewBag.PendingNotes == "0")
                                {
                                    <p><a href="#" class="btn btn-info disabled" role="button">Go</a></p>
                                }
                                else
                                {
                                    <p><a asp-controller="Notes" asp-action="PendingNotes" class="btn btn-primary" role="button">Go</a></p>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <div class="thumbnail list-group-item list-group-item-warning">
                            <div class="caption">
                                <h4>Notes <br>with review</h4>
                                <h3 style="text-align:right">@ViewBag.NotesWithReview</h3>
                                @if (ViewBag.NotesWithReview == "0")
                                {
                                    <p><a href="#" class="btn btn-warning disabled" role="button">Go</a></p>
                                }
                                else
                                {
                                    <p><a asp-controller="Notes" asp-action="NotesWithReview" class="btn btn-warning" role="button">Go</a></p>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <div class="thumbnail list-group-item list-group-item-success">
                            <div class="caption">
                                <h4>Approved <br>Notes</h4>
                                <h3 style="text-align:right">@ViewBag.ApprovedNotes</h3>
                                @if (ViewBag.ApprovedNotes == "0")
                                {
                                    <p><a href="#" class="btn btn-success disabled" role="button">Go</a></p>
                                }
                                else
                                {
                                    <p><a asp-controller="Notes" asp-action="ApprovedNotes" class="btn btn-success" role="button">Go</a></p>
                                }
                            </div>
                        </div>
                    </div>                    
                    <div class="col-sm-3 col-md-2">
                        <div class="thumbnail list-group-item list-group-item-text">
                            <div class="caption">
                                <h4>Absence <br>Notes</h4>
                                <h3 style="text-align:right">@ViewBag.NotPresentNotes</h3>
                                @if (ViewBag.NotPresentNotes == "0")
                                {
                                    <p><a href="#" class="btn btn-default disabled" role="button">Go</a></p>
                                }
                                else
                                {
                                    <p><a asp-controller="Notes" asp-action="NotPresentNotes" class="btn btn-default" role="button">Go</a></p>
                                }
                            </div>
                        </div>
                    </div>
                }
                @if (User.IsInRole("Supervisor"))
                {
                    <div class="col-md-2">
                        &nbsp;
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <div class="thumbnail list-group-item list-group-item-danger">
                            <div class="caption">
                                <h4 style="align-content:end;">Clients <br>without MTP</h4>
                                <h3 style="text-align:right">@ViewBag.MTPMissing</h3>
                                @if (ViewBag.MTPMissing == "0")
                                {
                                    <p><a class="btn btn-danger disabled">Go</a></p>
                                }
                                else
                                {
                                    <p><a asp-controller="Clients" asp-action="ClientsWithoutMTP" class="btn btn-danger">Go</a></p>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <div class="thumbnail list-group-item list-group-item-info">
                            <div class="caption">
                                <h4 style="align-content:end;">Pending <br>Activities</h4>
                                <h3 style="text-align:right">@ViewBag.PendingActivities</h3>
                                @if (ViewBag.PendingActivities == "0")
                                {
                                    <p><a class="btn btn-info disabled">Go</a></p>
                                }
                                else
                                {
                                    <p><a asp-controller="Activities" asp-action="ActivitiesSupervision" asp-route-pending="1" class="btn btn-info">Go</a></p>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <div class="thumbnail list-group-item list-group-item-info">
                            <div class="caption">
                                <h4 style="align-content:end;">Pending <br>Notes</h4>
                                <h3 style="text-align:right">@ViewBag.PendingNotes</h3>
                                @if (ViewBag.PendingNotes == "0")
                                {
                                    <p><a class="btn btn-info disabled">Go</a></p>
                                }
                                else
                                {
                                    <p><a asp-controller="Notes" asp-action="PendingNotes" class="btn btn-info">Go</a></p>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <div class="thumbnail list-group-item list-group-item-warning">
                            <div class="caption">
                                <h4>Notes <br>with review</h4>
                                <h3 style="text-align:right">@ViewBag.NotesWithReview</h3>
                                @if (ViewBag.NotesWithReview == "0")
                                {
                                    <p><a href="#" class="btn btn-warning disabled" role="button">Go</a></p>
                                }
                                else
                                {
                                    <p><a asp-controller="Notes" asp-action="NotesWithReview" class="btn btn-warning" role="button">Go</a></p>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        &nbsp;
                    </div>
                }
                @if (User.IsInRole("Mannager"))
                {
                    <div class="col-md-1">
                        &nbsp;
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <div class="thumbnail list-group-item list-group-item-danger">
                            <div class="caption">
                                <h4 style="align-content:end;">Clients <br>without MTP</h4>
                                <h3 style="text-align:right">@ViewBag.MTPMissing</h3>
                                @if (ViewBag.MTPMissing == "0")
                                {
                                    <p><a class="btn btn-danger disabled">Go</a></p>
                                }
                                else
                                {
                                    <p><a asp-controller="Clients" asp-action="ClientsWithoutMTP" class="btn btn-danger">Go</a></p>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <div class="thumbnail list-group-item list-group-item-danger">
                            <div class="caption">
                                <h4 style="align-content:end;">Not Started<br> Notes</h4>
                                <h3 style="text-align:right">@ViewBag.NotStartedNotes</h3>
                                @if (ViewBag.NotStartedNotes == "0")
                                {
                                    <p><a href="#" class="btn btn-danger disabled" role="button">Go</a></p>
                                }
                                else
                                {
                                    <p><a asp-controller="Notes" asp-action="NotNotesSummary" class="btn btn-danger" role="button">Go</a></p>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <div class="thumbnail list-group-item list-group-item-warning">
                            <div class="caption">
                                <h4 style="align-content:end;">Notes in <br>Edit</h4>
                                <h3 style="text-align:right">@ViewBag.InProgressNotes</h3>
                                @if (ViewBag.InProgressNotes == "0")
                                {
                                    <p><a href="#" class="btn btn-warning disabled" role="button">Go</a></p>
                                }
                                else
                                {
                                    <p><a asp-controller="Notes" asp-action="EditingSummary" class="btn btn-warning" role="button">Go</a></p>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <div class="thumbnail list-group-item list-group-item-info">
                            <div class="caption">
                                <h4 style="align-content:end;">Pending <br>Notes</h4>
                                <h3 style="text-align:right">@ViewBag.PendingNotes</h3>
                                @if (ViewBag.PendingNotes == "0")
                                {
                                    <p><a class="btn btn-info disabled">Go</a></p>
                                }
                                else
                                {
                                    <p><a asp-controller="Notes" asp-action="PendingSummary" class="btn btn-info">Go</a></p>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <div class="thumbnail list-group-item list-group-item-warning">
                            <div class="caption">
                                <h4>Notes<br> with review</h4>
                                <h3 style="text-align:right">@ViewBag.NotesWithReview</h3>
                                @if (ViewBag.NotesWithReview == "0")
                                {
                                    <p><a href="#" class="btn btn-warning disabled" role="button">Go</a></p>
                                }
                                else
                                {
                                    <p><a asp-controller="Notes" asp-action="ReviewSummary" class="btn btn-warning" role="button">Go</a></p>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        &nbsp;
                    </div>
                }
            </div>
        </div>
    </div>