@model IEnumerable<KyoS.Web.Data.Entities.FacilitatorEntity>

@if (Model != null)
{
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Facilitators</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-4">
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th class="col-md-2" style="text-align:center;">
                                @Html.DisplayNameFor(model => model.Codigo)
                            </th>                            
                            <th class="col-md-2" style="text-align:left;">
                                User Link
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Signature
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Status
                            </th>
                            <th class="col-md-2">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            @if (item.Status == KyoS.Common.Enums.StatusType.Close)
                            {
                                <tr style="color: darkgrey;">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Codigo)
                                    </td>                                    
                                     <td align="left">
                                        @Html.DisplayFor(modelItem => item.LinkedUser)
                                    </td>
                                    <td align="center">
                                        @if (item.SignaturePath == string.Empty || item.SignaturePath == null)
                                        {
                                            <span class="label label-danger">
                                              No
                                            </span>
                                        }
                                        else
                                        { 
                                            <span class="label label-success">
                                              Yes
                                            </span>
                                        }
                                    </td>
                                    <td align="center">
                                        @if (item.Status == KyoS.Common.Enums.StatusType.Open)
                                        {
                                            <span class="label label-success">
                                                Open
                                            </span>
                                        }
                                        @if (item.Status == KyoS.Common.Enums.StatusType.Close)
                                        {
                                            <span class="label label-default">
                                                Close
                                            </span>
                                        }
                                    </td>
                                    <td align="right">
                                        @if (User.IsInRole("Manager"))
                                        {
                                            <a onclick="showInPopupLg('@Url.Action("EditModal","Facilitators",new {id = @item.Id},Context.Request.Scheme)','Edit Facilitator')" class="btn btn-warning" title="Edit Facilitator"><i class="glyphicon glyphicon-pencil"></i></a>
                                            <button onclick="ConfirmDelete(@item.Id)" class="btn btn-danger deleteItem" title="Delete Facilitator"><i class="glyphicon glyphicon-trash"></i></button>
                                        }
                                        else
                                        {
                                            @if (User.IsInRole("Facilitator"))
                                            {
                                                <a onclick="showInPopupLg('@Url.Action("EditModalReadOnly","Facilitators",new {id = @item.Id},Context.Request.Scheme)','View Facilitator')" class="btn btn-info" title="View Facilitator"><i class="glyphicon glyphicon-list"></i></a>
                                            }                                            
                                        }

                                    </td>
                                </tr>
                            }
                            @if (item.Status == KyoS.Common.Enums.StatusType.Open)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Codigo)
                                    </td>                                    
                                    <td align="left">
                                        @Html.DisplayFor(modelItem => item.LinkedUser)
                                    </td>
                                    <td align="center">
                                        @if (item.SignaturePath == string.Empty || item.SignaturePath == null)
                                        {
                                            <span class="label label-danger">
                                              No
                                            </span>
                                        }
                                        else
                                        { 
                                            <span class="label label-success">
                                              Yes
                                            </span>
                                        }
                                    </td>
                                    <td align="center">
                                        @if (item.Status == KyoS.Common.Enums.StatusType.Open)
                                        {
                                            <span class="label label-success">
                                                Open
                                            </span>
                                        }
                                        @if (item.Status == KyoS.Common.Enums.StatusType.Close)
                                        {
                                            <span class="label label-default">
                                                Close
                                            </span>
                                        }
                                    </td>
                                    <td align="right">
                                        @if (User.IsInRole("Manager"))
                                        {
                                            @*<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></a>*@
                                            <a onclick="showInPopupLg('@Url.Action("EditModal","Facilitators",new {id = @item.Id},Context.Request.Scheme)','Edit Facilitator')" class="btn btn-warning" title="Edit Facilitator"><i class="glyphicon glyphicon-pencil"></i></a>
                                            @*<button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>*@
                                            <button onclick="ConfirmDelete(@item.Id)" class="btn btn-danger deleteItem" title="Delete Facilitator"><i class="glyphicon glyphicon-trash"></i></button>
                                        }
                                        else
                                        {
                                            @if (User.IsInRole("Facilitator"))
                                            {
                                                <a onclick="showInPopupLg('@Url.Action("EditModalReadOnly","Facilitators",new {id = @item.Id},Context.Request.Scheme)','View Facilitator')" class="btn btn-info" title="View Facilitator"><i class="glyphicon glyphicon-list"></i></a>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}



