@model IEnumerable<KyoS.Web.Data.Entities.FacilitatorEntity>
@{
    ViewData["Title"] = "Facilitators";
}

<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Dashboard", "Index", "Desktop")
        </li>
        <li class="active">Facilitators</li>
    </ul><!--.breadcrumb-->
</div>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Create Facilitator</a>
</p>

<div class="row">
    <div class="col-md-12">
        @if (ViewBag.Delete == "N")
        {
            <div class="alert alert-block alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>
                <strong class="red">
                    Error. It is not posible delete the facilitator
                </strong>
            </div>
        }
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Facilitators</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-4">
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th class="col-md-2" style="text-align:center;">
                                @Html.DisplayNameFor(model => model.Codigo)
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Status
                            </th>
                            <th class="col-md-3" style="text-align:center;">
                                Clinic
                            </th>
                            <th class="col-md-2">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            @if (item.Status == KyoS.Common.Enums.StatusType.Close)
                            {
                                <tr style="color: darkgrey;">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Codigo)
                                    </td>
                                    <td align="center">
                                        @if (item.Status == KyoS.Common.Enums.StatusType.Open)
                                        {
                                            <span class="label label-success">
                                                Open
                                            </span>
                                        }
                                        @if (item.Status == KyoS.Common.Enums.StatusType.Close)
                                        {
                                            <span class="label label-default">
                                                Close
                                            </span>
                                        }
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Clinic.Name)
                                    </td>
                                    <td align="right">
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></a>
                                        <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                                    </td>
                                </tr>
                            }
                            @if (item.Status == KyoS.Common.Enums.StatusType.Open)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Codigo)
                                    </td>
                                    <td align="center">
                                        @if (item.Status == KyoS.Common.Enums.StatusType.Open)
                                        {
                                            <span class="label label-success">
                                                Open
                                            </span>
                                        }
                                        @if (item.Status == KyoS.Common.Enums.StatusType.Close)
                                        {
                                            <span class="label label-default">
                                                Close
                                            </span>
                                        }
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.Clinic.Name)
                                    </td>
                                    <td align="right">
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></a>
                                        <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#MyTable').DataTable();

                            // Delete item
                            var item_to_delete;

                            $('.deleteItem').click((e) => {
                                item_to_delete = e.currentTarget.dataset.id;
                            });

                            $("#btnYesDelete").click(function () {
                                var url = "@Url.Action("Delete", "Facilitators")";
                                window.location.href = url + '/' + item_to_delete;                                
                            });
                        });
    </script>
}


