@model IEnumerable<KyoS.Web.Data.Entities.TCMAssessmentHospitalEntity>
<div class="col-push-12">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @*<h3 class="panel-title">*@
                <strong>Has the client ever been hospitalized due to mental health/behavior issues?</strong> <i>If so, please give the following information: </i>
                @*</h3>*@
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-3">
                                Hospital or Institution
                            </th>
                            <th class="col-md-4" style="text-align:center;">
                                Date
                            </th>
                            <th class="col-md-2" style="text-align:center;">
                                Reason
                            </th>
                            <th class="col-md-3">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.Reason)
                                </td>
                                <td align="right">
                                    @if (User.IsInRole("CaseManager"))
                                    {
                                        <a onclick="showInPopup('@Url.Action("EditHospitalModal", "TCMAssessments", new { id = @item.Id }, Context.Request.Scheme)','Edit Behavioral Health')" class="btn btn-warning" title="Edit Behavioral Health"><i class="glyphicon glyphicon-pencil"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

