@model KyoS.Web.Models.TCMAssessmentViewModel
@{
    ViewData["Title"] = "Edit Assessment";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>

    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                @if (ViewData["origi"].ToString() == "0")
                {
                    @Html.ActionLink("TCM Intake Section 4", "TCMIntakeSectionDashboard", "TCMIntakes", new { id = @Model.TcmClient_FK, section = 4 })
                }
                @if (ViewData["origi"].ToString() == "1")
                {
                    @Html.ActionLink("TCM Assessment Messages", "MessagesOfAssessment", "TCMMessages")
                }
                @if (ViewData["origi"].ToString() == "3")
                {
                    @Html.ActionLink("Dashboard", "Index", "Desktop")
                }
                @if (ViewData["origi"].ToString() == "4")
                {
                    @Html.ActionLink("Assessments in edition", "TCMAssessmentApproved", "TCMAssessments")
                }
                @if (ViewData["origi"].ToString() == "5")
                {
                    @Html.ActionLink("Assessments Update", "UpdateAssessment", "TCMAssessments")
                }
            </li>
            <li class="active">Edit TCM Assessment</li>
        </ul><!--.breadcrumb-->
    </div>

    <h4>Edit TCM Assessment</h4>
    <hr />
    <div class="row">
        <form asp-action="Edit" asp-route-id="@Model.Id" asp-route-origi="@ViewData["origi"]" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TcmClient_FK" />
            <input type="hidden" asp-for="CreatedBy" />
            <input type="hidden" asp-for="CreatedOn" />
            <input type="hidden" asp-for="Approved" />
            <partial name="_TCMAssessment" />
            <div class="col-md-push-12">
                <div class="">
                    <div class="col-md-12 form-group">
                        <a onclick="showInPopup('@Url.Action("AddReferred", "TCMAssessments",new { id = @Model.TcmClient.Client.Id}, Context.Request.Scheme)','Create Referred')" class="btn btn-success" title="Create Referred"><i class="glyphicon glyphicon-plus"></i> Add Referred</a>
                    </div>
                </div>
                <div class="">
                    <div id="view-referreds">
                        @await Html.PartialAsync("_ViewReferred", @Model.TcmClient.Client.Client_Referred.ToList())
                    </div>
                </div>
            </div>
            <partial name="_TCMAssessment0" />
            <div class="col-md-push-12">
                <div class="">
                    <div class="col-md-12 form-group">
                        <a onclick="showInPopup('@Url.Action("CreateIndividualAgencyModal", "TCMAssessments",new { idAssessment = @Model.Id}, Context.Request.Scheme)','Add Individual Agency')" class="btn btn-success" title="Create TCM Assessment"><i class="glyphicon glyphicon-plus"></i> Add Individual Agency</a>
                    </div>
                </div>
                <div class="">
                    <div id="view-AssessmentIndividual">
                        @await Html.PartialAsync("_ViewIndividualAgency", Model.IndividualAgencyList.ToList())
                    </div>
                </div>
            </div>
            <partial name="_TCMAssessment1" />
            <div class="col-md-push-12">
                <div class="">
                    <div class="col-md-12 form-group">
                        <a onclick="showInPopup('@Url.Action("CreateHouseCompositionModal", "TCMAssessments",new { idAssessment = @Model.Id}, Context.Request.Scheme)','Add House Composition')" class="btn btn-success" title="Create TCM Assessment"><i class="glyphicon glyphicon-plus"></i> Add House Composition</a>
                    </div>
                </div>
                <div class="">
                    <div id="view-Assessmenthouse">
                        @await Html.PartialAsync("_ViewHouseComposition", Model.HouseCompositionList.ToList())
                    </div>
                </div>
            </div>
            <div class="col-md-push-12">
                <div class="">
                    <div class="col-md-12 form-group">
                        <a onclick="showInPopup('@Url.Action("CreatePastCurrentModal", "TCMAssessments",new { idAssessment = @Model.Id}, Context.Request.Scheme)','Add Past and Current Service')" class="btn btn-success" title="Create TCM Assessment"><i class="glyphicon glyphicon-plus"></i> Add Past and Current Service</a>
                    </div>
                </div>
                <div class="">
                    <div id="view-AssessmentPast">
                        @await Html.PartialAsync("_ViewPastCurrent", Model.PastCurrentServiceList.ToList())
                    </div>
                </div>
            </div>
            <div class="col-md-push-12">
                <div class="">
                    <div class="col-md-12 form-group">
                        <a onclick="showInPopup('@Url.Action("CreateMedicationModal", "TCMAssessments",new { idAssessment = @Model.Id}, Context.Request.Scheme)','Add Medication')" class="btn btn-success" title="Create TCM Assessment"><i class="glyphicon glyphicon-plus"></i> Add Medication</a>
                    </div>
                </div>
                <div class="">
                    <div id="view-AssessmentMedication">
                        @await Html.PartialAsync("_ViewMedication", Model.MedicationList.ToList())
                    </div>
                </div>
            </div>
            <partial name="_TCMAssessment2" />
            <div class="col-md-push-12">
                <div class="">
                    <div class="col-md-12 form-group">
                        <a onclick="showInPopup('@Url.Action("CreateHospitalModal", "TCMAssessments",new { idAssessment = @Model.Id}, Context.Request.Scheme)','Create TCM Assessment')" class="btn btn-success" title="Create TCM Assessment"><i class="glyphicon glyphicon-plus"></i> Add Hospital</a>
                    </div>
                </div>
                <div class="">
                    <div id="view-AssessmentHospital">
                        @await Html.PartialAsync("_ViewHospital", Model.HospitalList.ToList())
                    </div>
                </div>
            </div>
            <partial name="_TCMAssessment3" />
            <div class="col-md-push-12">
                <div class="">
                    <div class="col-md-12 form-group">
                        <a onclick="showInPopup('@Url.Action("CreateDrugModal", "TCMAssessments",new { idAssessment = @Model.Id}, Context.Request.Scheme)','Create TCM Assessment')" class="btn btn-success" title="Create TCM Assessment"><i class="glyphicon glyphicon-plus"></i> Add Drug/Substance</a>
                    </div>
                </div>
                <div class="">
                    <div id="view-AssessmentDrug">
                        @await Html.PartialAsync("_ViewDrug", Model.DrugList.ToList())
                    </div>
                </div>
            </div>
            <partial name="_TCMAssessment4" />
            <div class="col-md-push-12">
                <div class="">
                    <div class="col-md-12 form-group">
                        <a onclick="showInPopup('@Url.Action("CreateMedicalProblemModal", "TCMAssessments",new { idAssessment = @Model.Id}, Context.Request.Scheme)','Create TCM Assessment')" class="btn btn-success" title="Create TCM Assessment"><i class="glyphicon glyphicon-plus"></i> Add Medical Problem</a>
                    </div>
                </div>
                <div class="">
                    <div id="view-AssessmentMedicalProblem">
                        @await Html.PartialAsync("_ViewMedicalProblem", Model.MedicalProblemList.ToList())
                    </div>
                </div>
            </div>
            <partial name="_TCMAssessment5" />
            <div class="col-md-push-12">
                <div class="">
                    <div class="col-md-12 form-group">
                        <a onclick="showInPopup('@Url.Action("CreateSurgeryModal", "TCMAssessments",new { idAssessment = @Model.Id}, Context.Request.Scheme)','Create TCM Assessment')" class="btn btn-success" title="Create TCM Assessment"><i class="glyphicon glyphicon-plus"></i> Add Surgery</a>
                    </div>
                </div>
                <div class="">
                    <div id="view-AssessmentSurgery">
                        @await Html.PartialAsync("_ViewSurgery", Model.SurgeryList.ToList())
                    </div>
                </div>
            </div>
            <partial name="_TCMAssessment6" />
            <div class="form-group col-md-12">
                <input type="submit" value="Save" class="btn btn-primary" />
                @if (Model.Approved == 0)
                {
                    @* <a asp-action="FinishEditing" asp-route-id="@Model.Id" asp-route-section="4" asp-controller="TCMAssessments" class="btn btn-warning">Sign / Finish Edition</a>*@
                }

                @if (ViewData["origi"].ToString() == "0")
                {
                    <a asp-action="TCMIntakeSectionDashboard" asp-route-id="@Model.TcmClient.Id" asp-route-section="4" asp-controller="TCMIntakes" class="btn btn-success">Back</a>
                }
                @if (ViewData["origi"].ToString() == "1")
                {
                    <a asp-action="MessagesOfAssessment" asp-controller="TCMMessages" class="btn btn-success">Back</a>
                }
                @if (ViewData["origi"].ToString() == "3")
                {
                    <a asp-action="Index" asp-controller="Desktop" class="btn btn-success">Back</a>
                }
                @if (ViewData["origi"].ToString() == "4")
                {
                    <a asp-action="TCMAssessmentApproved" asp-controller="TCMAssessments" asp-route-approved="0" class="btn btn-success">Back</a>
                }
                @if (ViewData["origi"].ToString() == "5")
                {
                    <a asp-action="UpdateAssessment" asp-controller="TCMAssessments" class="btn btn-success">Back</a>
                }
            </div>
        </form>
    </div>
</body>
</html>

<partial name="_ModalPopup" />
<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            // Configure to save every 20 seconds
            window.setInterval(SaveData, 20000);//calling saveData function for every 20 seconds            
        });

        // ajax method
        function SaveData() {
            var jsonObj = 
            {
                'url': 'TCMAssessments/Edit/' + @Model.Id,
                'DateAssessment': document.getElementById('DateAssessment').value,
                'LegalDecisionNone': LegalDecisionNone.checked,
                'LegalDecisionLegal': LegalDecisionLegal.checked,
                'LegalDecisionAdLitem': LegalDecisionAdLitem.checked,
                'LegalDecisionParent': LegalDecisionParent.checked,
                'LegalDecisionAttomey': LegalDecisionAttomey.checked,
                'LegalDecisionOther': LegalDecisionOther.checked,
                'LegalDecisionOtherExplain': document.getElementById('LegalDecisionOtherExplain').value,
                'NeedOfSpecial': check1.checked,
                'NeedOfSpecialSpecify': document.getElementById('NeedOfSpecialSpecify').value,
                'TypeOfAssessmentInitial': TypeOfAssessmentInitial.checked,
                'TypeOfAssessmentAnnual': TypeOfAssessmentAnnual.checked,
                'TypeOfAssessmentSignificant': TypeOfAssessmentSignificant.checked,
                'TypeOfAssessmentOther': TypeOfAssessmentOther.checked,
                'TypeOfAssessmentOtherExplain': document.getElementById('TypeOfAssessmentOtherExplain').value,
                'IsClientCurrently': check2.checked,
                'ClientInput': ClientInput.checked,
                'Family': Family.checked,
                'Referring': Referring.checked,
                'School': School.checked,
                'Treating': Treating.checked,
                'Caregiver': Caregiver.checked,
                'Review': Review.checked,
                'Other': Other.checked,
                'OtherExplain': document.getElementById('OtherExplain').value,
                'PresentingProblems': document.getElementById('PresentingProblems').value,
                'DateOfOnSetPresentingProblem': document.getElementById('DateOfOnSetPresentingProblem').value,
                'PresentingProblemPrevious': check3.checked,
                'ChildMother': document.getElementById('ChildMother').value,
                'ChildFather': document.getElementById('ChildFather').value,
                'Married': Married.checked,
                'Divorced': Divorced.checked,
                'Separated': Separated.checked,
                'NeverMarried': NeverMarried.checked,
                'AreChild': $("#IdYesNoNAAreChild option:selected").text(),
                'AreChildName': document.getElementById('AreChildName').value,
                'AreChildPhone': document.getElementById('AreChildPhone').value,
                'AreChildAddress': document.getElementById('AreChildAddress').value,
                'AreChildCity': document.getElementById('AreChildCity').value,
                'MayWe': $("#IdYesNoNAWe option:selected").text(),
                'HowDoesByFollowing': HowDoesByFollowing.checked,
                'HowDoesPill': HowDoesPill.checked,
                'HowDoesFamily': HowDoesFamily.checked,
                'HowDoesCalendar': HowDoesCalendar.checked,
                'HowDoesElectronic': HowDoesElectronic.checked,
                'HowDoesRNHHA': HowDoesRNHHA.checked,
                'HowDoesKeeping': HowDoesKeeping.checked,
                'HowDoesDaily': HowDoesDaily.checked,
                'HowDoesOther': HowDoesOther.checked,
                'HowDoesOtherExplain': document.getElementById('HowDoesOtherExplain').value,
                'HowWeelWithNo': HowWeelWithNo.checked,
                'HowWeelWithALot': HowWeelWithALot.checked,
                'HowWeelWithSome': HowWeelWithSome.checked,
                'HowWeelEnable': HowWeelEnable.checked,
                'HasTheClient': check6.checked,
                'WhatPharmacy': document.getElementById('WhatPharmacy').value,
                'PharmacyPhone': document.getElementById('PharmacyPhone').value,
                'AnyOther': document.getElementById('AnyOther').value,
                'MentalHealth': document.getElementById('MentalHealth').value,
                'Suicidal': Suicidal.checked,
                'Homicidal': Homicidal.checked,
                'AbuseViolence': AbuseViolence.checked,
                'Provider': document.getElementById('Provider').value,
                'DescribeAnyRisk': document.getElementById('DescribeAnyRisk').value,
                'HaveYouEverUsedAlcohol': check7.checked,
                'HaveYouEverBeenToAny': check8.checked,
                'WhenWas': document.getElementById('WhenWas').value,
                'HowManyTimes': document.getElementById('HowManyTimes').value,
                'DateMostRecent': document.getElementById('DateMostRecent').value,
                'Outcome': document.getElementById('Outcome').value,
                'DoesTheClientFeel': check9.checked,
                'DescribeAnyOther': document.getElementById('DescribeAnyOther').value,
                'Allergy': check10.checked,
                'AllergySpecify': document.getElementById('AllergySpecify').value,
                'HasClientUndergone':check11.checked,
                'NoHearing': NoHearing.checked,
                'HasNoImpairment': HasNoImpairment.checked,
                'HearingImpairment': HearingImpairment.checked,
                'VisionImpairment': VisionImpairment.checked,
                'HearingDifficulty': HearingDifficulty.checked,
                'HasDifficultySeeingLevel': HasDifficultySeeingLevel.checked,
                'Hears': Hears.checked,
                'HasDifficultySeeingObjetive': HasDifficultySeeingObjetive.checked,
                'NoUseful': NoUseful.checked,
                'HasNoUsefull': HasNoUsefull.checked,
                'HearingNotDetermined': HearingNotDetermined.checked,
                'VisionNotDetermined': VisionNotDetermined.checked,
                'IsClientPregnancy': $("#IdYesNoNAPregnancy option:selected").text(),
                'IsSheReceiving': check13.checked,
                'DoesSheUnderstand': check14.checked,
                'Issues': document.getElementById('Issues').value,
                'AreAllImmunization': check15.checked,
                'AreAllImmunizationExplain': document.getElementById('AreAllImmunizationExplain').value,
                'AreYouPhysician': check16.checked,
                'AreYouPhysicianSpecify': document.getElementById('AreYouPhysicianSpecify').value,
                'HowActive': $("#IdFrecuencyActive option:selected").text(),
                'PhysicalExam': document.getElementById('PhysicalExam').value,
                'PapAndHPV': document.getElementById('PapAndHPV').value,
                'DentalExam': document.getElementById('DentalExam').value,
                'Mammogram': document.getElementById('Mammogram').value,
                'LabWorks': document.getElementById('LabWorks').value,
                'ColonCancer': document.getElementById('ColonCancer').value,
                'PhysicalOther': document.getElementById('PhysicalOther').value,
                'AdditionalInformation': document.getElementById('AdditionalInformation').value,
                'VocationalEmployment': document.getElementById('VocationalEmployment').value,
                'IsClientCurrentlyEmployed': check17.checked,
                'EmploymentStatus': $("#IdEmploymentStatus option:selected").text(),
                'CurrentEmployer': document.getElementById('CurrentEmployer').value,
                'EmployerAddress': document.getElementById('EmployerAddress').value,
                'EmployerCityState': document.getElementById('EmployerCityState').value,
                'EmployerContactPerson': document.getElementById('EmployerContactPerson').value,
                'EmployerPhone': document.getElementById('EmployerPhone').value,
                'MayWeLeaveSend': check18.checked,
                'IsTheClientAbleWork': check19.checked,
                'IsTheClientAbleWorkLimitation': IsTheClientAbleWorkLimitation.checked,
                'WouldLikeObtainJob': check20.checked,
                'WouldLikeObtainJobNotAtThisTime': WouldLikeObtainJobNotAtThisTime.checked,
                'DoesClientNeedAssistance': check21.checked,
                'DoesClientNeedAssistanceExplain': document.getElementById('DoesClientNeedAssistanceExplain').value,
                'IsClientCurrentlySchool': check22.checked,
                'IsClientCurrentlySchoolExplain': document.getElementById('IsClientCurrentlySchoolExplain').value,
                'SchoolName': document.getElementById('SchoolName').value,
                'SchoolDistrict': document.getElementById('SchoolDistrict').value,
                'SchoolGrade': document.getElementById('SchoolGrade').value,
                'SchoolAddress': document.getElementById('SchoolAddress').value,
                'SchoolCityState': document.getElementById('SchoolCityState').value,
                'SchoolProgramRegular': SchoolProgramRegular.checked,
                'SchoolProgramESE': SchoolProgramESE.checked,
                'SchoolProgramEBD': SchoolProgramEBD.checked,
                'SchoolProgramESOL': SchoolProgramESOL.checked,
                'SchoolProgramHHIP': SchoolProgramHHIP.checked,
                'SchoolProgramOther': SchoolProgramOther.checked,
                'SchoolProgramTeacherName': document.getElementById('SchoolProgramTeacherName').value,
                'SchoolProgramTeacherPhone': document.getElementById('SchoolProgramTeacherPhone').value,
                'AcademicPreSchool': AcademicPreSchool.checked,
                'AcademicEelementary': AcademicEelementary.checked,
                'AcademicMiddle': AcademicMiddle.checked,
                'AcademicHigh': AcademicHigh.checked,
                'BehaviorPreSchool': BehaviorPreSchool.checked,
                'BehaviorEelementary': BehaviorEelementary.checked,
                'BehaviorMiddle': BehaviorMiddle.checked,
                'BehaviorHigh': BehaviorHigh.checked,
                'RelationshipPreSchool': RelationshipPreSchool.checked,
                'RelationshipEelementary': RelationshipEelementary.checked,
                'RelationshipMiddle': RelationshipMiddle.checked,
                'RelationshipHigh': RelationshipHigh.checked,
                'AttendancePreSchool': AttendancePreSchool.checked,
                'AttendanceEelementary': AttendanceEelementary.checked,
                'AttendanceMiddle': AttendanceMiddle.checked,
                'AttendanceHigh': AttendanceHigh.checked,
                'FailToPreSchool': FailToPreSchool.checked,
                'FailToEelementary': FailToEelementary.checked,
                'FailToMiddle': FailToMiddle.checked,
                'FailToHigh': FailToHigh.checked,
                'ParticipationPreSchool': ParticipationPreSchool.checked,
                'ParticipationEelementary': ParticipationEelementary.checked,
                'ParticipationMiddle': ParticipationMiddle.checked,
                'ParticipationHigh': ParticipationHigh.checked,
                'LearningPreSchool': LearningPreSchool.checked,
                'LearningEelementary': LearningEelementary.checked,
                'LearningMiddle': LearningMiddle.checked,
                'LearningHigh': LearningHigh.checked,
                'IsClientInvolved': check23.checked,
                'IsClientInvolvedSpecify': document.getElementById('IsClientInvolvedSpecify').value,
                'IsThereAnyAide': check24.checked,
                'IsThereAnyAideName': document.getElementById('IsThereAnyAideName').value,
                'IsThereAnyAidePhone': document.getElementById('IsThereAnyAidePhone').value,
                'DescribeClientEducation': document.getElementById('DescribeClientEducation').value,
                'DescribeAnySchool': document.getElementById('DescribeAnySchool').value,
                'WhatIsNoSchool': WhatIsNoSchool.checked,
                'WhatIsGED': WhatIsGED.checked,
                'WhatIsSomeCollege': WhatIsSomeCollege.checked,
                'WhatIsElementary': WhatIsElementary.checked,
                'WhatIsGraduated': WhatIsGraduated.checked,
                'WhatIsCollegeGraduated': WhatIsCollegeGraduated.checked,
                'WhatIsMiddle': WhatIsMiddle.checked,
                'WhatIsHighSchool': WhatIsHighSchool.checked,
                'WhatIsGraduatedDegree': WhatIsGraduatedDegree.checked,
                'WhatIsSomeHigh': WhatIsSomeHigh.checked,
                'WhatIsTradeSchool': WhatIsTradeSchool.checked,
                'WhatIsUnknown': WhatIsUnknown.checked,
                'IsClientInterested': check25.checked,
                'IfYesWhatArea': document.getElementById('IfYesWhatArea').value,
                'DoesClientNeedAssistanceEducational': check26.checked,
                'DoesClientNeedAssistanceEducationalExplain': document.getElementById('DoesClientNeedAssistanceEducationalExplain').value,
                'DescribeClientCultural': document.getElementById('DescribeClientCultural').value,
                'DoesClientCurrently': check27.checked,
                'DoesClientCurrentlyExplain': document.getElementById('DoesClientCurrentlyExplain').value,
                'WhatActivityThings': document.getElementById('WhatActivityThings').value,
                'Briefly': document.getElementById('Briefly').value,
                'DescribeClientRelationship': document.getElementById('DescribeClientRelationship').value,
                'ListAnyNeed': document.getElementById('ListAnyNeed').value,
                'FeedingAssistive': FeedingAssistive.checked,
                'FeedingIndependent': FeedingIndependent.checked,
                'FeedingSupervision': FeedingSupervision.checked,
                'FeedingPhysical': FeedingPhysical.checked,
                'FeedingTotal': FeedingTotal.checked,
                'GroomingAssistive': GroomingAssistive.checked,
                'GroomingIndependent': GroomingIndependent.checked,
                'GroomingSupervision': GroomingSupervision.checked,
                'GroomingPhysical': GroomingPhysical.checked,
                'GroomingTotal': GroomingTotal.checked,
                'BathingAssistive': BathingAssistive.checked,
                'BathingIndependent': BathingIndependent.checked,
                'BathingSupervision': BathingSupervision.checked,
                'BathingPhysical': BathingPhysical.checked,
                'BathingTotal': BathingTotal.checked,
                'DressingAssistive': DressingAssistive.checked,
                'DressingIndependent': DressingIndependent.checked,
                'DressingSupervision': DressingSupervision.checked,
                'DressingPhysical': DressingPhysical.checked,
                'DressingTotal': DressingTotal.checked,
                'TransferringAssistive': TransferringAssistive.checked,
                'TransferringIndependent': TransferringIndependent.checked,
                'TransferringSupervision': TransferringSupervision.checked,
                'TransferringPhysical': TransferringPhysical.checked,
                'TransferringTotal': TransferringTotal.checked,
                'CookingAssistive': CookingAssistive.checked,
                'CookingIndependent': CookingIndependent.checked,
                'CookingSupervision': CookingSupervision.checked,
                'CookingPhysical': CookingPhysical.checked,
                'CookingTotal': CookingTotal.checked,
                'DoingAssistive': DoingAssistive.checked,
                'DoingIndependent': DoingIndependent.checked,
                'DoingSupervision': DoingSupervision.checked,
                'DoingPhysical': DoingPhysical.checked,
                'DoingTotal': DoingTotal.checked,
                'MakingAssistive': MakingAssistive.checked,
                'MakingIndependent': MakingIndependent.checked,
                'MakingSupervision': MakingSupervision.checked,
                'MakingPhysical': MakingPhysical.checked,
                'MakingTotal': MakingTotal.checked,
                'ShoppingAssistive': ShoppingAssistive.checked,
                'ShoppingIndependent': ShoppingIndependent.checked,
                'ShoppingSupervision': ShoppingSupervision.checked,
                'ShoppingPhysical': ShoppingPhysical.checked,
                'ShoppingTotal': ShoppingTotal.checked,
                'DescribeOtherNeedConcerns': document.getElementById('DescribeOtherNeedConcerns').value,
                'ResidentStatus': $("#IdResidentStatus option:selected").text(),
                'NumberOfPersonLiving': document.getElementById('NumberOfPersonLiving').value,
                'NumberOfBedrooms': document.getElementById('NumberOfBedrooms').value,
                'PersonPorBedrooms': document.getElementById('PersonPorBedrooms').value,
                'DescribeClientLiving': document.getElementById('DescribeClientLiving').value,
                'Structural': Structural.checked,
                'Tripping': Tripping.checked,
                'ExcessiveCluter': ExcessiveCluter.checked,
                'Electrical': Electrical.checked,
                'Unsanitary': Unsanitary.checked,
                'Insect': Insect.checked,
                'Poor': Poor.checked,
                'Stairs': Stairs.checked,
                'Flooring': Flooring.checked,
                'NotHot': NotHot.checked,
                'NoAirCondition': NoAirCondition.checked,
                'Bathtub': Bathtub.checked,
                'FireHazards': FireHazards.checked,
                'NoTelephone': NoTelephone.checked,
                'Appliances': Appliances.checked,
                'DescribeNeighborhood': document.getElementById('DescribeNeighborhood').value,
                'DoesClientFeel': check28.checked,
                'DoesClientFeelExplain': document.getElementById('DoesClientFeelExplain').value,
                'ContinueToLive': ContinueToLive.checked,
                'ContinueToLiveOnly': ContinueToLiveOnly.checked,
                'PreferToLive': PreferToLive.checked,
                'DoesNotKnow': DoesNotKnow.checked,
                'IfThereAnyHousing': document.getElementById('IfThereAnyHousing').value,
                'MonthlyFamilyIncome': document.getElementById('MonthlyFamilyIncome').value,
                'WhatIsTheMainSource': document.getElementById('WhatIsTheMainSource').value,
                'OtherFinancial': document.getElementById('OtherFinancial').value,
                'IsTheClientHavingFinancial': check29.checked,
                'IsTheClientHavingFinancialExplain': document.getElementById('IsTheClientHavingFinancialExplain').value,
                'FoodStampReceive': check30.checked,
                'FoodStampHowOften': document.getElementById('FoodStampHowOften').value,
                'FoodStampProvider': document.getElementById('FoodStampProvider').value,
                'FoodPantryReceive': check31.checked,
                'FoodPantryHowOften': document.getElementById('FoodPantryHowOften').value,
                'FoodPantryProvider': document.getElementById('FoodPantryProvider').value,
                'HomeDeliveredReceive': check32.checked,
                'HomeDeliveredHowOften': document.getElementById('HomeDeliveredHowOften').value,
                'HomeDeliveredProvider': document.getElementById('HomeDeliveredProvider').value,
                'CongredatedReceive': check34.checked,
                'CongredatedHowOften': document.getElementById('CongredatedHowOften').value,
                'CongredatedProvider': document.getElementById('CongredatedProvider').value,
                'OtherReceiveExplain': document.getElementById('OtherReceiveExplain').value,
                'OtherReceive': check35.checked,
                'OtherHowOften': document.getElementById('OtherHowOften').value,
                'OtherProvider': document.getElementById('OtherProvider').value,
                'DoesClientBasicNeed': document.getElementById('DoesClientBasicNeed').value,
                'Walks': Walks.checked,
                'FriendOrFamily': FriendOrFamily.checked,
                'Drives': Drives.checked,
                'Staff': Staff.checked,
                'TakesABus': TakesABus.checked,
                'TransportationOther': TransportationOther.checked,
                'TransportationOtherExplain': document.getElementById('TransportationOtherExplain').value,
                'NeedNoHelp': NeedNoHelp.checked,
                'NeedALot': NeedALot.checked,
                'NeedSome': NeedSome.checked,
                'CantDoItAtAll': CantDoItAtAll.checked,
                'DoesClientTranspotation': check36.checked,
                'DoesClientTranspotationExplain': document.getElementById('DoesClientTranspotationExplain').value,                
                'HasClientEverArrest': check37.checked,
                'HasClientEverArrestManyTime': document.getElementById('HasClientEverArrestManyTime').value,
                'HasClientEverArrestLastTime': document.getElementById('HasClientEverArrestLastTime').value,
                'IfYesWereCriminal': check38.checked,
                'IsThereAnyCurrentLegalProcess': check39.checked,
                'ProbationOfficer': check40.checked,
                'ProbationOfficerName': document.getElementById('ProbationOfficerName').value,
                'ProbationOfficerPhone': document.getElementById('ProbationOfficerPhone').value,
                'CountryOfBirth': document.getElementById('CountryOfBirth').value,
                'YearEnteredUsa': document.getElementById('YearEnteredUsa').value,
                'Citizen': Citizen.checked,
                'Resident': Resident.checked,
                'ImmigrationOther': ImmigrationOther.checked,
                'ImmigrationOtherExplain': document.getElementById('ImmigrationOtherExplain').value,
                'AdditionalInformationMigration': document.getElementById('AdditionalInformationMigration').value,
                'ListClientCurrentPotencialStrngths': document.getElementById('ListClientCurrentPotencialStrngths').value,
                'ListClientCurrentPotencialWeakness': document.getElementById('ListClientCurrentPotencialWeakness').value,
                'RecommendedMentalHealth': RecommendedMentalHealth.checked,
                'RecommendedHousing': RecommendedHousing.checked,
                'RecommendedPhysicalHealth': RecommendedPhysicalHealth.checked,
                'RecommendedEconomic': RecommendedEconomic.checked,
                'RecommendedVocation': RecommendedVocation.checked,
                'RecommendedBasicNeed': RecommendedBasicNeed.checked,
                'RecommendedSchool': RecommendedSchool.checked,
                'RecommendedTransportation': RecommendedTransportation.checked,
                'RecommendedRecreational': RecommendedRecreational.checked,
                'RecommendedLegalImmigration': RecommendedLegalImmigration.checked,
                'RecommendedActivities': RecommendedActivities.checked,
                'RecommendedOther': RecommendedOther.checked,
                'RecommendedOtherSpecify': document.getElementById('RecommendedOtherSpecify').value,
                'AHomeVisit': AHomeVisit.checked,
                'AHomeVisitOn': document.getElementById('AHomeVisitOn').value,
                'CaseManagerWas': CaseManagerWas.checked,
                'CaseManagerWasDueTo': document.getElementById('CaseManagerWasDueTo').value,
                'HoweverOn': document.getElementById('HoweverOn').value,
                'HoweverVisitScheduler': document.getElementById('HoweverVisitScheduler').value,
                'DateSignatureCaseManager': document.getElementById('DateSignatureCaseManager').value,
                'DateSignatureTCMSupervisor': document.getElementById('DateSignatureTCMSupervisor').value
            };

            var json = JSON.stringify(jsonObj);

            $.ajax({
                type: 'POST',
                url: '@Url.Action("AutoSave", "TCMAssessments")',
                data: { jsonModel: json },
                success: function (data) {
                    if (data == true) {
                        Swal.fire({
                        position: "bottom-end",
                        icon: "success",
                        title: "Saved",
                        showConfirmButton: false,
                        timer: 2000,
                        timerProgressBar: true
                        });
                    }
                }
            });
        }


        var DeleteReferredTemp = function (idDoc) {
            var url = "@Url.Action("DeleteReferred", "TCMAssessments")";
            $.get(url, { id: idDoc }, function (data) {
                $('#view-referreds').html(data.html);
            });
        }
        check1.addEventListener('change', (e) => {
            if (check1.checked == true) {
                check101.checked = false;
            } else {
                check101.checked = true;
            }
        })
        check101.addEventListener('change', (e) => {
            if (check101.checked == true) {
                check1.checked = false;
            } else {
                check1.checked = true;
            }
        })
        if (check1.checked == true) {
            check101.checked = false;
        } else {
            check101.checked = true;
        }
        //-----------------------------
        check2.addEventListener('change', (e) => {
            if (check2.checked == true) {
                check102.checked = false;
            } else {
                check102.checked = true;
            }
        })
        check102.addEventListener('change', (e) => {
            if (check102.checked == true) {
                check2.checked = false;
            } else {
                check2.checked = true;
            }
        })
        if (check2.checked == true) {
            check102.checked = false;
        } else {
            check102.checked = true;
        }
        //-----------------------------
        check3.addEventListener('change', (e) => {
            if (check3.checked == true) {
                check103.checked = false;
            } else {
                check103.checked = true;
            }
        })
        check103.addEventListener('change', (e) => {
            if (check103.checked == true) {
                check3.checked = false;
            } else {
                check3.checked = true;
            }
        })
        if (check3.checked == true) {
            check103.checked = false;
        } else {
            check103.checked = true;
        }
        
        //-----------------------------
      
        check6.addEventListener('change', (e) => {
            if (check6.checked == true) {
                check106.checked = false;
            } else {
                check106.checked = true;
            }
        })
        check106.addEventListener('change', (e) => {
            if (check106.checked == true) {
                check6.checked = false;
            } else {
                check6.checked = true;
            }
        })
        if (check6.checked == true) {
            check106.checked = false;
        } else {
            check106.checked = true;
        }
        //-----------------------------
        check7.addEventListener('change', (e) => {
            if (check7.checked == true) {
                check107.checked = false;
            } else {
                check107.checked = true;
            }
        })
        check107.addEventListener('change', (e) => {
            if (check107.checked == true) {
                check7.checked = false;
            } else {
                check7.checked = true;
            }
        })
        if (check7.checked == true) {
            check107.checked = false;
        } else {
            check107.checked = true;
        }
        //-----------------------------
        check8.addEventListener('change', (e) => {
            if (check8.checked == true) {
                check108.checked = false;
            } else {
                check108.checked = true;
            }
        })
        check108.addEventListener('change', (e) => {
            if (check108.checked == true) {
                check8.checked = false;
            } else {
                check8.checked = true;
            }
        })
        if (check8.checked == true) {
            check108.checked = false;
        } else {
            check108.checked = true;
        }
        //-----------------------------
        check9.addEventListener('change', (e) => {
            if (check9.checked == true) {
                check109.checked = false;
            } else {
                check109.checked = true;
            }
        })
        check109.addEventListener('change', (e) => {
            if (check109.checked == true) {
                check9.checked = false;
            } else {
                check9.checked = true;
            }
        })
        if (check9.checked == true) {
            check109.checked = false;
        } else {
            check109.checked = true;
        }
        //-----------------------------
        check10.addEventListener('change', (e) => {
            if (check10.checked == true) {
                check110.checked = false;
            } else {
                check110.checked = true;
            }
        })
        check110.addEventListener('change', (e) => {
            if (check110.checked == true) {
                check10.checked = false;
            } else {
                check10.checked = true;
            }
        })
        if (check10.checked == true) {
            check110.checked = false;
        } else {
            check110.checked = true;
        }
        //-----------------------------
        check11.addEventListener('change', (e) => {
            if (check11.checked == true) {
                check111.checked = false;
            } else {
                check111.checked = true;
            }
        })
        check111.addEventListener('change', (e) => {
            if (check111.checked == true) {
                check11.checked = false;
            } else {
                check11.checked = true;
            }
        })
        if (check11.checked == true) {
            check111.checked = false;
        } else {
            check111.checked = true;
        }
        
        //-----------------------------
        check13.addEventListener('change', (e) => {
            if (check13.checked == true) {
                check113.checked = false;
            } else {
                check113.checked = true;
            }
        })
        check113.addEventListener('change', (e) => {
            if (check113.checked == true) {
                check13.checked = false;
            } else {
                check13.checked = true;
            }
        })
        if (check13.checked == true) {
            check113.checked = false;
        } else {
            check113.checked = true;
        }
        //-----------------------------
        check14.addEventListener('change', (e) => {
            if (check14.checked == true) {
                check114.checked = false;
            } else {
                check114.checked = true;
            }
        })
        check114.addEventListener('change', (e) => {
            if (check114.checked == true) {
                check14.checked = false;
            } else {
                check14.checked = true;
            }
        })
        if (check14.checked == true) {
            check114.checked = false;
        } else {
            check114.checked = true;
        }
        //-----------------------------
        check15.addEventListener('change', (e) => {
            if (check15.checked == true) {
                check115.checked = false;
            } else {
                check115.checked = true;
            }
        })
        check115.addEventListener('change', (e) => {
            if (check115.checked == true) {
                check15.checked = false;
            } else {
                check15.checked = true;
            }
        })
        if (check15.checked == true) {
            check115.checked = false;
        } else {
            check115.checked = true;
        }
        //-----------------------------
        check16.addEventListener('change', (e) => {
            if (check16.checked == true) {
                check116.checked = false;
            } else {
                check116.checked = true;
            }
        })
        check116.addEventListener('change', (e) => {
            if (check116.checked == true) {
                check16.checked = false;
            } else {
                check16.checked = true;
            }
        })
        if (check16.checked == true) {
            check116.checked = false;
        } else {
            check116.checked = true;
        }
        //-----------------------------
        check17.addEventListener('change', (e) => {
            if (check17.checked == true) {
                check117.checked = false;
            } else {
                check117.checked = true;
            }
        })
        check117.addEventListener('change', (e) => {
            if (check117.checked == true) {
                check17.checked = false;
            } else {
                check17.checked = true;
            }
        })
        if (check17.checked == true) {
            check117.checked = false;
        } else {
            check117.checked = true;
        }
        //-----------------------------
        check18.addEventListener('change', (e) => {
            if (check18.checked == true) {
                check118.checked = false;
            } else {
                check118.checked = true;
            }
        })
        check118.addEventListener('change', (e) => {
            if (check118.checked == true) {
                check18.checked = false;
            } else {
                check18.checked = true;
            }
        })
        if (check18.checked == true) {
            check118.checked = false;
        } else {
            check118.checked = true;
        }
        //-----------------------------
        check19.addEventListener('change', (e) => {
            if (check19.checked == true) {
                check119.checked = false;
            } else {
                check119.checked = true;
            }
        })
        check119.addEventListener('change', (e) => {
            if (check119.checked == true) {
                check19.checked = false;
            } else {
                check19.checked = true;
            }
        })
        if (check19.checked == true) {
            check119.checked = false;
        } else {
            check119.checked = true;
        }
        //-----------------------------
        check20.addEventListener('change', (e) => {
            if (check20.checked == true) {
                check120.checked = false;
            } else {
                check120.checked = true;
            }
        })
        check120.addEventListener('change', (e) => {
            if (check120.checked == true) {
                check20.checked = false;
            } else {
                check20.checked = true;
            }
        })
        if (check20.checked == true) {
            check120.checked = false;
        } else {
            check120.checked = true;
        }
        //-----------------------------
        check21.addEventListener('change', (e) => {
            if (check21.checked == true) {
                check121.checked = false;
            } else {
                check121.checked = true;
            }
        })
        check121.addEventListener('change', (e) => {
            if (check121.checked == true) {
                check21.checked = false;
            } else {
                check21.checked = true;
            }
        })
        if (check21.checked == true) {
            check121.checked = false;
        } else {
            check121.checked = true;
        }
        //-----------------------------
        check22.addEventListener('change', (e) => {
            if (check22.checked == true) {
                check122.checked = false;
            } else {
                check122.checked = true;
            }
        })
        check122.addEventListener('change', (e) => {
            if (check122.checked == true) {
                check22.checked = false;
            } else {
                check22.checked = true;
            }
        })
        if (check22.checked == true) {
            check122.checked = false;
        } else {
            check122.checked = true;
        }
        //-----------------------------
        check23.addEventListener('change', (e) => {
            if (check23.checked == true) {
                check123.checked = false;
            } else {
                check123.checked = true;
            }
        })
        check123.addEventListener('change', (e) => {
            if (check123.checked == true) {
                check23.checked = false;
            } else {
                check23.checked = true;
            }
        })
        if (check23.checked == true) {
            check123.checked = false;
        } else {
            check123.checked = true;
        }
        //-----------------------------
        check24.addEventListener('change', (e) => {
            if (check24.checked == true) {
                check124.checked = false;
            } else {
                check124.checked = true;
            }
        })
        check124.addEventListener('change', (e) => {
            if (check124.checked == true) {
                check24.checked = false;
            } else {
                check24.checked = true;
            }
        })
        if (check24.checked == true) {
            check124.checked = false;
        } else {
            check124.checked = true;
        }
        //-----------------------------
        check25.addEventListener('change', (e) => {
            if (check25.checked == true) {
                check125.checked = false;
            } else {
                check125.checked = true;
            }
        })
        check125.addEventListener('change', (e) => {
            if (check125.checked == true) {
                check25.checked = false;
            } else {
                check25.checked = true;
            }
        })
        if (check25.checked == true) {
            check125.checked = false;
        } else {
            check125.checked = true;
        }
        //-----------------------------
        check26.addEventListener('change', (e) => {
            if (check26.checked == true) {
                check126.checked = false;
            } else {
                check126.checked = true;
            }
        })
        check126.addEventListener('change', (e) => {
            if (check126.checked == true) {
                check26.checked = false;
            } else {
                check26.checked = true;
            }
        })
        if (check26.checked == true) {
            check126.checked = false;
        } else {
            check126.checked = true;
        }
        //-----------------------------
        check27.addEventListener('change', (e) => {
            if (check27.checked == true) {
                check127.checked = false;
            } else {
                check127.checked = true;
            }
        })
        check127.addEventListener('change', (e) => {
            if (check127.checked == true) {
                check27.checked = false;
            } else {
                check27.checked = true;
            }
        })
        if (check27.checked == true) {
            check127.checked = false;
        } else {
            check127.checked = true;
        }
        //-----------------------------
        check28.addEventListener('change', (e) => {
            if (check28.checked == true) {
                check128.checked = false;
            } else {
                check128.checked = true;
            }
        })
        check128.addEventListener('change', (e) => {
            if (check128.checked == true) {
                check28.checked = false;
            } else {
                check28.checked = true;
            }
        })
        if (check28.checked == true) {
            check128.checked = false;
        } else {
            check128.checked = true;
        }
        //-----------------------------
        check29.addEventListener('change', (e) => {
            if (check29.checked == true) {
                check129.checked = false;
            } else {
                check129.checked = true;
            }
        })
        check129.addEventListener('change', (e) => {
            if (check129.checked == true) {
                check29.checked = false;
            } else {
                check29.checked = true;
            }
        })
        if (check29.checked == true) {
            check129.checked = false;
        } else {
            check129.checked = true;
        }
        //-----------------------------
        check30.addEventListener('change', (e) => {
            if (check30.checked == true) {
                check130.checked = false;
            } else {
                check130.checked = true;
            }
        })
        check130.addEventListener('change', (e) => {
            if (check130.checked == true) {
                check30.checked = false;
            } else {
                check30.checked = true;
            }
        })
        if (check30.checked == true) {
            check130.checked = false;
        } else {
            check130.checked = true;
        }
        //-----------------------------
        check31.addEventListener('change', (e) => {
            if (check31.checked == true) {
                check131.checked = false;
            } else {
                check131.checked = true;
            }
        })
        check131.addEventListener('change', (e) => {
            if (check131.checked == true) {
                check31.checked = false;
            } else {
                check31.checked = true;
            }
        })
        if (check31.checked == true) {
            check131.checked = false;
        } else {
            check131.checked = true;
        }
        //-----------------------------
        check32.addEventListener('change', (e) => {
            if (check32.checked == true) {
                check132.checked = false;
            } else {
                check132.checked = true;
            }
        })
        check132.addEventListener('change', (e) => {
            if (check132.checked == true) {
                check32.checked = false;
            } else {
                check32.checked = true;
            }
        })
        if (check32.checked == true) {
            check132.checked = false;
        } else {
            check132.checked = true;
        }
       
        //-----------------------------
        check34.addEventListener('change', (e) => {
            if (check34.checked == true) {
                check134.checked = false;
            } else {
                check134.checked = true;
            }
        })
        check134.addEventListener('change', (e) => {
            if (check134.checked == true) {
                check34.checked = false;
            } else {
                check34.checked = true;
            }
        })
        if (check34.checked == true) {
            check134.checked = false;
        } else {
            check134.checked = true;
        }
        //-----------------------------
        check35.addEventListener('change', (e) => {
            if (check35.checked == true) {
                check135.checked = false;
            } else {
                check135.checked = true;
            }
        })
        check135.addEventListener('change', (e) => {
            if (check135.checked == true) {
                check35.checked = false;
            } else {
                check35.checked = true;
            }
        })
        if (check35.checked == true) {
            check135.checked = false;
        } else {
            check135.checked = true;
        }
        //-----------------------------
        check36.addEventListener('change', (e) => {
            if (check36.checked == true) {
                check136.checked = false;
            } else {
                check136.checked = true;
            }
        })
        check136.addEventListener('change', (e) => {
            if (check136.checked == true) {
                check36.checked = false;
            } else {
                check36.checked = true;
            }
        })
        if (check36.checked == true) {
            check136.checked = false;
        } else {
            check136.checked = true;
        }
        //-----------------------------
        check37.addEventListener('change', (e) => {
            if (check37.checked == true) {
                check137.checked = false;
            } else {
                check137.checked = true;
            }
        })
        check137.addEventListener('change', (e) => {
            if (check137.checked == true) {
                check37.checked = false;
            } else {
                check37.checked = true;
            }
        })
        if (check37.checked == true) {
            check137.checked = false;
        } else {
            check137.checked = true;
        }
        //-----------------------------
        check38.addEventListener('change', (e) => {
            if (check38.checked == true) {
                check138.checked = false;
            } else {
                check138.checked = true;
            }
        })
        check138.addEventListener('change', (e) => {
            if (check138.checked == true) {
                check38.checked = false;
            } else {
                check38.checked = true;
            }
        })
        if (check38.checked == true) {
            check138.checked = false;
        } else {
            check138.checked = true;
        }
        //-----------------------------
        check39.addEventListener('change', (e) => {
            if (check39.checked == true) {
                check139.checked = false;
            } else {
                check139.checked = true;
            }
        })
        check139.addEventListener('change', (e) => {
            if (check139.checked == true) {
                check39.checked = false;
            } else {
                check39.checked = true;
            }
        })
        if (check39.checked == true) {
            check139.checked = false;
        } else {
            check139.checked = true;
        }
        //-----------------------------
        check40.addEventListener('change', (e) => {
            if (check40.checked == true) {
                check140.checked = false;
            } else {
                check140.checked = true;
            }
        })
        check140.addEventListener('change', (e) => {
            if (check140.checked == true) {
                check40.checked = false;
            } else {
                check40.checked = true;
            }
        })
        if (check40.checked == true) {
            check140.checked = false;
        } else {
            check140.checked = true;
        }
    </script>
}
