@{
    ViewBag.Title = "TCM Messages";
}

<div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                &nbsp;
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    @if (User.IsInRole("Manager") || User.IsInRole("Supervisor") || User.IsInRole("Admin") || User.IsInRole("Facilitator") || User.IsInRole("Documents_Assistant") || User.IsInRole("SupervisorTCM"))
                    {
                        <h4 style="text-align:center;"><i class="icon-envelope-alt" style="padding-right: 10px !important;"></i> No Inbox <b>(0)</b></h4>
                    }
                    else
                    {
                        <h4 style="text-align:center;"><i class="icon-envelope-alt" style="padding-right: 10px !important;"></i> Inbox <b>(@ViewBag.Total)</b></h4>
                    }
                </div>
                <div class="col-md-4">
                </div>
            </div>
            @if (User.IsInRole("CaseManager"))
            {
                <div class="col-md-12">
                    <hr />
                </div>
                <div class="col-md-1">
                    &nbsp;
                </div>
                <div class="col-md-2">
                    @if (ViewBag.CountsMessagesNotes == "0")
                    {
                        <a style="text-decoration: none;" asp-controller="TCMMessages" asp-action="MessagesOfNotes" role="button">
                            <div class="thumbnail list-group-item list-group-item-text">
                                <h4 style="align-content:end;"><i class="icon-envelope-alt" style="padding-right: 10px !important;"></i> Notes</h4>
                                <span class="message-counter-cero">@ViewBag.CountsMessagesNotes</span>
                            </div>
                        </a>
                    }
                    else
                    {
                        <a style="text-decoration: none;" asp-controller="TCMMessages" asp-action="MessagesOfNotes" role="button">
                            <div class="thumbnail list-group-item list-group-item-danger">
                                <h4 style="align-content:end;"><i class="icon-envelope-alt" style="padding-right: 10px !important;"></i> Notes</h4>
                                <span class="message-counter">@ViewBag.CountsMessagesNotes</span>
                            </div>
                        </a>
                    }
                </div>
                <div class="col-md-2">
                    @if (ViewBag.CountsMessagesTCMAssessment == "0")
                    {
                        <a style="text-decoration: none;" asp-controller="TCMMessages" asp-action="MessagesOfAssessment" role="button">
                            <div class="thumbnail list-group-item list-group-item-text">
                                <h4 style="align-content:end;"><i class="icon-envelope-alt" style="padding-right: 10px !important;"></i>Assessments</h4>
                                <span class="message-counter-cero">@ViewBag.CountsMessagesTCMAssessment</span>
                            </div>
                        </a>
                    }
                    else
                    {
                        <a style="text-decoration: none;" asp-controller="TCMMessages" asp-action="MessagesOfAssessment" role="button">
                            <div class="thumbnail list-group-item list-group-item-danger">
                                <h4 style="align-content:end;"><i class="icon-envelope-alt" style="padding-right: 10px !important;"></i>Assessments</h4>
                                <span class="message-counter">@ViewBag.CountsMessagesTCMAssessment</span>
                            </div>
                        </a>
                    }
                </div>
                <div class="col-md-2">
                    @if (ViewBag.CountsMessagesTCMServicePlan == "0")
                    {
                        <a style="text-decoration: none;" asp-controller="TCMMessages" asp-action="MessagesOfServicePlan" role="button">
                            <div class="thumbnail list-group-item list-group-item-text">
                                <h4 style="align-content:end;"><i class="icon-envelope-alt" style="padding-right: 10px !important;"></i>TCM Service plan</h4>
                                <span class="message-counter-cero">@ViewBag.CountsMessagesTCMServicePlan</span>
                            </div>
                        </a>
                    }
                    else
                    {
                        <a style="text-decoration: none;" asp-controller="TCMMessages" asp-action="MessagesOfServicePlan" role="button">
                            <div class="thumbnail list-group-item list-group-item-danger">
                                <h4 style="align-content:end;"><i class="icon-envelope-alt" style="padding-right: 10px !important;"></i>TCM Service plan</h4>
                                <span class="message-counter">@ViewBag.CountsMessagesTCMServicePlan</span>
                            </div>
                        </a>
                    }
                </div>
                <div class="col-md-2">
                    @if (ViewBag.CountsMessagesTCMAddendum == "0")
                    {
                        <a style="text-decoration: none;" asp-controller="TCMMessages" asp-action="MessagesOfAddendum" role="button">
                            <div class="thumbnail list-group-item list-group-item-text">
                                <h4 style="align-content:end;"><i class="icon-envelope-alt" style="padding-right: 10px !important;"></i>Addendum</h4>
                                <span class="message-counter-cero">@ViewBag.CountsMessagesTCMAddendum</span>
                            </div>
                        </a>
                    }
                    else
                    {
                        <a style="text-decoration: none;" asp-controller="TCMMessages" asp-action="MessagesOfAddendum" role="button">
                            <div class="thumbnail list-group-item list-group-item-danger">
                                <h4 style="align-content:end;"><i class="icon-envelope-alt" style="padding-right: 10px !important;"></i>Addendum</h4>
                                <span class="message-counter">@ViewBag.CountsMessagesTCMAddendum</span>
                            </div>
                        </a>
                    }
                </div>
                <div class="col-md-2">
                    @if (ViewBag.CountsMessagesTCMServicePlanReview == "0")
                    {
                        <a style="text-decoration: none;" asp-controller="TCMMessages" asp-action="MessagesOfServicePlanReview" role="button">
                            <div class="thumbnail list-group-item list-group-item-text">
                                <h4 style="align-content:end;"><i class="icon-envelope-alt" style="padding-right: 10px !important;"></i>Service Plan Reviews</h4>
                                <span class="message-counter-cero">@ViewBag.CountsMessagesTCMServicePlanReview</span>
                            </div>
                        </a>
                    }
                    else
                    {
                        <a style="text-decoration: none;" asp-controller="TCMMessages" asp-action="MessagesOfServicePlanReview" role="button">
                            <div class="thumbnail list-group-item list-group-item-danger">
                                <h4 style="align-content:end;"><i class="icon-envelope-alt" style="padding-right: 10px !important;"></i>Service Plan Reviews</h4>
                                <span class="message-counter">@ViewBag.CountsMessagesTCMServicePlanReview</span>
                            </div>
                        </a>
                    }
                </div>
                <div class="col-md-1">
                    &nbsp;
                </div>
                //New line
                <div class="col-md-12">
                    &nbsp;
                </div>
                <div class="col-md-12">
                    
                </div>
                <div class="col-md-4">
                    &nbsp;
                </div>
                <div class="col-md-2">
                    @if (ViewBag.CountsMessagesTCMFars == "0")
                    {
                        <a style="text-decoration: none;" asp-controller="TCMMessages" asp-action="MessagesOfFars" role="button">
                            <div class="thumbnail list-group-item list-group-item-text">
                                <h4 style="align-content:end;"><i class="icon-envelope-alt" style="padding-right: 10px !important;"></i>FARS</h4>
                                <span class="message-counter-cero">@ViewBag.CountsMessagesTCMFars</span>
                            </div>
                        </a>
                    }
                    else
                    {
                        <a style="text-decoration: none;" asp-controller="TCMMessages" asp-action="MessagesOfFars" role="button">
                            <div class="thumbnail list-group-item list-group-item-danger">
                                <h4 style="align-content:end;"><i class="icon-envelope-alt" style="padding-right: 10px !important;"></i>FARS</h4>
                                <span class="message-counter">@ViewBag.CountsMessagesTCMFars</span>
                            </div>
                        </a>
                    }
                </div>
                <div class="col-md-2">
                    @if (ViewBag.CountsMessagesTCMDischarge == "0")
                    {
                        <a style="text-decoration: none;" asp-controller="TCMMessages" asp-action="MessagesOfDischarges" role="button">
                            <div class="thumbnail list-group-item list-group-item-text">
                                <h4 style="align-content:end;"><i class="icon-envelope-alt" style="padding-right: 10px !important;"></i>Discharges</h4>
                                <span class="message-counter-cero">@ViewBag.CountsMessagesTCMDischarge</span>
                            </div>
                        </a>
                    }
                    else
                    {
                        <a style="text-decoration: none;" asp-controller="TCMMessages" asp-action="MessagesOfDischarges" role="button">
                            <div class="thumbnail list-group-item list-group-item-danger">
                                <h4 style="align-content:end;"><i class="icon-envelope-alt" style="padding-right: 10px !important;"></i>Discharges</h4>
                                <span class="message-counter">@ViewBag.CountsMessagesTCMDischarge</span>
                            </div>
                        </a>
                    }
                </div>
                <div class="col-md-4">
                    &nbsp;
                </div>
                //New line
                <div class="col-md-12">
                    &nbsp;
                </div>
            }
        </div>
    </div>
</div>

