@model IEnumerable<KyoS.Web.Data.Entities.TCMServicePlanReviewEntity>
@{
    ViewData["Title"] = "Reviews of TCM Service plan review";
}

<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Inbox", "Index", "TCMMessages")
        </li>
        <li class="active">Reviews of TCM Service plan review</li>
    </ul><!--.breadcrumb-->
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Reviews of TCM Service plan review</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-1"></th>
                            <th class="col-md-2" style="text-align:center;">Date</th>
                            <th class="col-md-4">Name</th>
                            <th class="col-md-2" style="text-align:center;">Status</th>
                            <th class="col-md-4" style="text-align:center;">Review</th>
                            <th class="col-md-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var serviceplanreview in Model.OrderBy(dc => dc.DateServicePlanReview))
                        {
                            bool read = false;
                            @foreach (var message in serviceplanreview.TCMMessages.OrderBy(m => m.DateCreated))
                            {
                                @if (message.Status.ToString() == "NotRead")
                                {
                                    read = false;
                                    break;
                                }
                                @if (message.Status.ToString() == "Read")
                                {
                                    read = true;
                                }
                            }

                            @if (!read)
                            {
                                <tr style="font-weight:bold; color:#0072c6;">
                                    <td align="center">
                                        @if (serviceplanreview.TCMMessages.Count() != 0)
                                        {
                                            <a class="icon-plus-sign-alt"></a>
                                        }
                                        <div style="display:none">
                                            <table class="table table-striped">
                                                <tr>
                                                    <th class="col-md-2"></th>
                                                    <th class="col-md-3">Title</th>
                                                    <th class="col-md-7" style="text-align:center;">Text</th>
                                                    @*<th class="col-md-1"></th>*@
                                                    <th></th>
                                                </tr>
                                                @foreach (var message in serviceplanreview.TCMMessages.OrderBy(m => m.DateCreated))
                                                {

                                                    @if (message.Status.ToString() == "NotRead")
                                                    {
                                                        <tr style="color:#0072c6;">
                                                            <td>
                                                                <i class="glyphicon glyphicon-thumbs-down"></i> Not processed
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => message.Title)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => message.Text)
                                                            </td>
                                                        </tr>
                                                    }
                                                    @if (message.Status.ToString() == "Read")
                                                    {
                                                        <tr>
                                                            <td>
                                                                <i class="glyphicon glyphicon-thumbs-up"></i> Processed
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => message.Title)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => message.Text)
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </table>
                                        </div>
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => serviceplanreview.DateServicePlanReview.Date)
                                    </td>
                                    <td>
                                        @if (serviceplanreview.TcmServicePlan.TcmClient.Client.Gender == KyoS.Common.Enums.GenderType.Female)
                                        {
                                            <i class="glyphicon glyphicon-user btn-danger"></i>
                                        }
                                        @if (serviceplanreview.TcmServicePlan.TcmClient.Client.Gender == KyoS.Common.Enums.GenderType.Male)
                                        {
                                            <i class="glyphicon glyphicon-user btn-primary"></i>
                                        }
                                        &nbsp;
                                        @Html.DisplayFor(modelItem => serviceplanreview.TcmServicePlan.TcmClient.Client.Name)
                                        |
                                        @Html.DisplayFor(modelItem => serviceplanreview.TcmServicePlan.TcmClient.CaseNumber)
                                    </td>
                                    <td align="center">
                                        @if (serviceplanreview.Approved == 1)
                                        {
                                            <span class="label label-info">
                                                Pending
                                            </span>
                                        }
                                        else
                                        {
                                            if (serviceplanreview.Approved == 2)
                                            {
                                                <span class="label label-success">
                                                    Approved
                                                </span>
                                            }
                                        }
                                    </td>
                                    <td align="center">
                                        <i class="glyphicon glyphicon-thumbs-down"></i>
                                    </td>
                                    <td align="right">
                                        @if (User.IsInRole("CaseManager"))
                                        {
                                            @if (serviceplanreview.Approved == 1)
                                            {
                                                <a asp-action="Edit" asp-controller="TCMServicePlanReviews" asp-route-Id="@serviceplanreview.Id" asp-route-IdServicePlan="@serviceplanreview.TcmServicePlan.Id" asp-route-origin="3" class="btn btn-warning" title="Edit TCM Service plan review"><i class="glyphicon glyphicon-pencil"></i></a>
                                            }
                                            else
                                            {
                                                <a asp-action="Edit" asp-controller="TCMServicePlanReviews" class="btn btn-warning disabled" title="Edit TCM Note"><i class="glyphicon glyphicon-file"></i></a>
                                            }
                                        }
                                        @if (User.IsInRole("TCMSupervisor"))
                                        {
                                            <a asp-action="ApproveNote" asp-route-id="@serviceplanreview.Id" asp-route-origin="5" class="btn btn-primary" title="Approve Note"><i class="glyphicon glyphicon-ok"></i></a>
                                        }
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td align="center">
                                        @if (serviceplanreview.TCMMessages.Count() != 0)
                                        {
                                            <a class="icon-plus-sign-alt"></a>
                                        }
                                        <div style="display:none">
                                            <table class="table table-striped">
                                                <tr>
                                                    <th class="col-md-2"></th>
                                                    <th class="col-md-3">Title</th>
                                                    <th class="col-md-7" style="text-align:center;">Text</th>
                                                    @*<th class="col-md-1"></th>*@
                                                    <th></th>
                                                </tr>
                                                @foreach (var message in serviceplanreview.TCMMessages.OrderBy(m => m.DateCreated))
                                                {

                                                    @if (message.Status.ToString() == "NotRead")
                                                    {
                                                        <tr style="color:mediumblue;">
                                                            <td>
                                                                <i class="glyphicon glyphicon-thumbs-down"></i> Not processed
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => message.Title)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => message.Text)
                                                            </td>
                                                        </tr>
                                                    }
                                                    @if (message.Status.ToString() == "Read")
                                                    {
                                                        <tr>
                                                            <td>
                                                                <i class="glyphicon glyphicon-thumbs-up"></i> Processed
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => message.Title)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => message.Text)
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </table>
                                        </div>
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => serviceplanreview.DateServicePlanReview.Date)
                                    </td>
                                    <td>
                                        @if (serviceplanreview.TcmServicePlan.TcmClient.Client.Gender == KyoS.Common.Enums.GenderType.Female)
                                        {
                                            <i class="glyphicon glyphicon-user btn-danger"></i>
                                        }
                                        @if (serviceplanreview.TcmServicePlan.TcmClient.Client.Gender == KyoS.Common.Enums.GenderType.Male)
                                        {
                                            <i class="glyphicon glyphicon-user btn-primary"></i>
                                        }
                                        &nbsp;
                                        @Html.DisplayFor(modelItem => serviceplanreview.TcmServicePlan.TcmClient.Client.Name)
                                        |
                                        @Html.DisplayFor(modelItem => serviceplanreview.TcmServicePlan.TcmClient.CaseNumber)
                                    </td>
                                    <td align="center">
                                        @if (serviceplanreview.Approved == 1)
                                        {
                                            <span class="label label-info">
                                                Pending
                                            </span>
                                        }
                                        else
                                        {
                                            if (serviceplanreview.Approved == 2)
                                            {
                                                <span class="label label-success">
                                                    Approved
                                                </span>
                                            }
                                        }
                                    </td>
                                    <td align="center">
                                        <i class="glyphicon glyphicon-thumbs-up"></i>
                                    </td>
                                    <td align="right">
                                        @if (User.IsInRole("CaseManager"))
                                        {
                                            @if (serviceplanreview.Approved == 1)
                                            {
                                                <a asp-action="Edit" asp-controller="TCMServicePlanReviews" asp-route-Id="@serviceplanreview.Id" asp-route-IdServicePlan="@serviceplanreview.TcmServicePlan.Id" asp-route-origin="3" class="btn btn-warning" title="Edit TCM Service plan review"><i class="glyphicon glyphicon-pencil"></i></a>
                                            }
                                            else
                                            {
                                                <a asp-action="Edit" asp-controller="TCMServicePlanReviews" class="btn btn-warning disabled" title="Edit TCM Note"><i class="glyphicon glyphicon-file"></i></a>
                                            }
                                        }
                                        @if (User.IsInRole("TCMSupervisor"))
                                        {
                                            <a asp-action="ApproveNote" asp-route-id="@serviceplanreview.Id" asp-route-origin="5" class="btn btn-primary" title="Approve Note"><i class="glyphicon glyphicon-ok"></i></a>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/datetime-moment.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $.fn.dataTable.moment('MM/DD/YYYY');

            $('#MyTable').DataTable({
                "order": [[1, "desc"]],
                "pageLength": 100
            });
        });
        $(function () {

            //Assign Click event to Plus Image.
            $("body").on("click", "a[class*='icon-plus-sign-alt']", function () {
                $(this).closest("tr").after("<tr><td></td><td colspan = '999'>" + $(this).next().html() + "</td></tr>");
                $(this).attr("class", "icon-minus-sign-alt");
            });
            //Assign Click event to Minus Image.
            $("body").on("click", "a[class*='icon-minus-sign-alt']", function () {
                $(this).attr("class", "icon-plus-sign-alt");
                $(this).closest("tr").next().remove();
            });
        });
    </script>
}



