@model KyoS.Web.Models.NotePViewModel
<div class="col-md-12">
    <table>
        <tr>
            <td>
                <h4 style="font-weight:bold;"><span class="label label-info">@Model.Workday_Cient.Client.Name</span></h4>
            </td>
            <td>
                &nbsp;&nbsp;
                <a asp-action="MTPView" asp-route-id="@Model.Id" target="_blank">View of MTP</a>
            </td>
            <td>
                &nbsp;&nbsp;
                <a asp-action="ViewAllGoals" asp-route-idMtp="@Model.MTPId" target="_blank">View of Goals</a>
            </td>
        </tr>
    </table>        
    <h5>
        Date: @Model.Workday_Cient.Workday.Date.ToShortDateString() @Model.Workday_Cient.Workday.Day, Session:
        @if (Model.Workday_Cient.Schedule != null)
        {
            @Model.Workday_Cient.Schedule.InitialTime.ToShortTimeString() <a> - </a> @Model.Workday_Cient.Schedule.EndTime.ToShortTimeString()
        }
        else
        {
            @Model.Workday_Cient.Session
        }
        @if (Model.Workday_Cient.SharedSession)
        {
            <b>(Shared Session)</b>
        }
    </h5>
</div>
<div class="col-md-12">
    @if (Model.Workday_Cient.Client.Clinic.Setting.MHProblems == true)
    {
        <a onclick="showInPopupLg('@Url.Action("AuditGoalsObjective", "Notes", new {idMtp = Model.MTPId}, Context.Request.Scheme)','Audit Goals')" class="btn btn-danger" title="Audit the goals"><i class="glyphicon glyphicon-alert"></i>&nbsp;&nbsp;Audit Goals</a>
    }
    else
    {
        <a onclick="showInPopupLg('@Url.Action("AuditGoalsObjective", "Notes", null, Context.Request.Scheme)','Audit Goals')" class="btn btn-danger disabled" title="Audit the goals"><i class="glyphicon glyphicon-alert"></i>&nbsp;&nbsp;Audit Goals</a>
    }
    <hr />
</div>
<div class="col-md-push-12">    
    <div class="form-group col-md-3">
        <label asp-for="Title" class="control-label">Note title</label>
        <input asp-for="Title" class="form-control"/>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">        
            <label asp-for="Setting" class="control-label"></label>
            <br />
            @if (Model.Setting == "53")
            {
                <input type="radio" name="Setting" value="53" checked="checked" />
            }
            else
            {
                <input type="radio" name="Setting" value="53" />
            }
            <strong>53</strong>&nbsp;Client in the clinic
            &nbsp;
            &nbsp;
            <br />
            @if (Model.Setting == "02")
            {
                <input type="radio" name="Setting" value="02" checked="checked" />
            }
            else
            {
                <input type="radio" name="Setting" value="02" />
            }
            <strong>02</strong>&nbsp;Remote        
    </div>
    <div class="form-group col-md-1">
        <label asp-for="CodeBill" class="control-label">Bill Code</label>
        <input asp-for="CodeBill" class="form-control"/>
        <span asp-validation-for="CodeBill" class="text-danger"></span>
    </div>
    <div class="form-group col-md-1">
        <label asp-for="TotalMinutes" class="control-label">Minutes</label>
        <textarea asp-for="TotalMinutes" class="form-control" rows="1" disabled id="lbTotalMinutes"></textarea>
        <span asp-validation-for="TotalMinutes" class="text-danger"></span>
    </div>
    <div class="form-group col-md-1">
        <label asp-for="RealUnits" class="control-label">Units</label>
        <textarea asp-for="RealUnits" class="form-control" rows="1" disabled id="lbUnits"></textarea>
        <span asp-validation-for="RealUnits" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="Dx" class="control-label">Dx: Description</label>
        <textarea asp-for="Dx" class="form-control" rows="1" disabled ></textarea>
        <span asp-validation-for="Dx" class="text-danger"></span>
    </div>
    <div class="container-fluid">
        &nbsp;
    </div>
</div>
<div class="col-md-12">
    <p style="font-weight:bold;">MENTAL STATUS OBSERVATIONS</p>
</div>
<div class="col-md-7">
    <table border="1" width="100%">
        <tr>
            <td align="left">
                &nbsp;
                <input type="checkbox" asp-for="Attentive" /> Attentive &nbsp;
                <input type="checkbox" asp-for="Depressed" /> Depressed &nbsp;
                <input type="checkbox" asp-for="Inattentive" /> Inattentive &nbsp;
                <input type="checkbox" asp-for="Angry" /> Angry &nbsp;
                <input type="checkbox" asp-for="Sad" /> Sad &nbsp;
                <input type="checkbox" asp-for="FlatAffect" /> Flat Affect &nbsp;
                
            </td>
        </tr>
        <tr>
            <td align="left">
                &nbsp;
                <input type="checkbox" asp-for="Anxious" /> Anxious, tense &nbsp;
                <input type="checkbox" asp-for="PositiveEffect" /> Positive Effect, mood &nbsp;
                <input type="checkbox" asp-for="Oriented3x" /> Oriented 3x &nbsp;
                <input type="checkbox" asp-for="Oriented2x" /> Oriented 2x &nbsp;
                <input type="checkbox" asp-for="Oriented1x" /> Oriented 1x &nbsp;
                <input type="checkbox" asp-for="Impulsive" /> Impulsive &nbsp;
                
            </td>
        </tr>
        <tr>
            <td align="left">
                &nbsp;
                <input type="checkbox" asp-for="Labile" /> Labile &nbsp;
                <input type="checkbox" asp-for="Withdrawn" /> Withdrawn &nbsp;
                <input type="checkbox" asp-for="RelatesWell" /> Relates Well &nbsp;
                <input type="checkbox" asp-for="DecreasedEyeContact" /> Decreased eye contact &nbsp;
                <input type="checkbox" asp-for="AppropiateEyeContact" /> Appropiate eye contact &nbsp;
            </td>
        </tr>
    </table>
</div>
<div class="col-md-12">    
    <hr />
</div>





