@model KyoS.Web.Models.NoteViewModel
@if (Model.Schema == KyoS.Common.Enums.SchemaType.Schema1)
{
    <div class="col-md-push-12">
        <div class="form-group col-md-12">
            <strong>Focus of the 1st group: @Model.Topic1</strong>
            <br />
            <strong>Activity Provided: </strong>@Model.Activity1
            <input type="checkbox" asp-for="Present1" id="Present1" /> Present &nbsp;
        </div>
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-12">
            <strong>Focus of the 2nd group: @Model.Topic2</strong>
            <br />
            <strong>Activity Provided: </strong>@Model.Activity2
            <input type="checkbox" asp-for="Present2" id="Present2" /> Present &nbsp;
        </div>
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-12">
            <strong>Focus of the 3rd group: @Model.Topic3</strong>
            <br />
            <strong>Activity Provided: </strong>@Model.Activity3
            <input type="checkbox" asp-for="Present3" id="Present3" /> Present &nbsp;
        </div>
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-12">
            <strong>Focus of the 4th group: @Model.Topic4</strong>
            <br />
            <strong>Activity Provided: </strong>@Model.Activity4
            <input type="checkbox" asp-for="Present4" id="Present4" /> Present &nbsp;
        </div>
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-6">
            <label asp-for="AnswerClient1" class="control-label"></label>&nbsp;*
            <textarea asp-for="AnswerClient1" class="form-control" rows="4" id="AnswerClient1"></textarea>
            <span asp-validation-for="AnswerClient1" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="AnswerFacilitator1" class="control-label"></label>&nbsp;*
            <textarea asp-for="AnswerFacilitator1" class="form-control" rows="4" id="AnswerFacilitator1"></textarea>
            <span asp-validation-for="AnswerFacilitator1" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-6">
            <a class="btn btn-info" id="EnglishAnswerClient1">English</a>
        </div>
        <div class="form-group col-md-6">
            <a class="btn btn-info" id="EnglishAnswerFacilitator1">English</a>
        </div>
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-2">
            <label asp-for="IdGoal1" class="control-label"></label>
            <select asp-for="IdGoal1" asp-items="Model.Goals1" class="form-control" id="cbGoal1"></select>
            <span asp-validation-for="IdGoal1" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="IdObjetive1" class="control-label"></label>
            <select asp-for="IdObjetive1" asp-items="Model.Objetives1" class="form-control" id="cbObjetive1"></select>
            <span asp-validation-for="IdObjetive1" class="text-danger"></span>
        </div>
        <div class="form-group col-md-8">
            <label class="control-label">Intervention</label>
            <br />
            <label id="lbIntervention1" style="font-weight:normal">@Model.Intervention1</label>
        </div>
    </div>
    @if (Model.Goals1.Count() == 1)
    {
        <div class="col-md-12">
            <div class="alert alert-warning form-group col-md-4">
                <i class="icon-info-sign"></i>
                The client must have MTP, it is mandatory.
            </div>
            <div class="form-group col-md-4">
                &nbsp;
            </div>
        </div>
    }
    <div class="col-md-12">
        <hr />
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-12">
            <label asp-for="PlanNote" class="control-label"></label>&nbsp;*
            <textarea asp-for="PlanNote" class="form-control" rows="3" id="PlanNote"></textarea>
            <span asp-validation-for="PlanNote" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-12">
            <a class="btn btn-info" id="EnglishPlanNote">English</a>
        </div>
    </div>
    //si se va a crear la nota doy la posibilidad de seleccionar el avance del plan para que despues se agregue al futuro plan
    @if (@Model.Workday_Cient.Note == null)
    {
        <div class="col-md-push-12">
            <div class="form-group col-md-12">
                <label style="font-weight: bold;">Update of progress toward meeting goals and objectives on treatment plan (check only one)</label>
                <br />
                <input type="radio" name="Progress" value="SignificantProgress" />
                Significant progress
                &nbsp;&nbsp;
                <input type="radio" name="Progress" value="ModerateProgress" />
                Moderate progress
                &nbsp;&nbsp;
                <input type="radio" name="Progress" value="MinimalProgress" checked="checked" />
                Minimal progress
                &nbsp;&nbsp;
                <input type="radio" name="Progress" value="NoProgress" />
                No Progress
                <br />
                <input type="radio" name="Progress" value="Regression" />
                Regression
                &nbsp;&nbsp;
                <input type="radio" name="Progress" value="Decompensating" />
                Decompensating
                &nbsp;&nbsp;
                <input type="radio" name="Progress" value="Unable" />
                Unable to determine at this time
            </div>
        </div>
    }
    <div class="col-md-12">
        <hr />
    </div>
}
@if (Model.Schema == KyoS.Common.Enums.SchemaType.Schema2)
{
    <div class="col-md-push-12">
        <div class="form-group col-md-12">
            <strong>Focus of the 1st group: @Model.Topic1</strong>
            <br />
            <strong>Activity Provided: </strong>@Model.Activity1
            <br />
            <label class="control-label">Client's assistance:</label>
            &nbsp;
            <input type="checkbox" asp-for="Present1" id="Present1" /> Present &nbsp;
            <br />
            <label>Minutes</label> :  <input asp-for="Minute1" id="minute1" class="form-control" style="width:10%" onchange="getMinute();" />
        </div>
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-6">
            <label asp-for="AnswerClient1" class="control-label"></label>&nbsp;*
            <textarea asp-for="AnswerClient1" class="form-control" rows="4" id="AnswerClient1"></textarea>
            <span asp-validation-for="AnswerClient1" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="AnswerFacilitator1" class="control-label"></label>&nbsp;*
            <textarea asp-for="AnswerFacilitator1" class="form-control" rows="4" id="AnswerFacilitator1"></textarea>
            <span asp-validation-for="AnswerFacilitator1" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-6">
            <a class="btn btn-info" id="EnglishAnswerClient1">English</a>
        </div>
        <div class="form-group col-md-6">
            <a class="btn btn-info" id="EnglishAnswerFacilitator1">English</a>
        </div>
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-2">
            <label asp-for="IdGoal1" class="control-label"></label>
            <select asp-for="IdGoal1" asp-items="Model.Goals1" class="form-control" id="cbGoal1"></select>
            <span asp-validation-for="IdGoal1" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="IdObjetive1" class="control-label"></label>
            <select asp-for="IdObjetive1" asp-items="Model.Objetives1" class="form-control" id="cbObjetive1"></select>
            <span asp-validation-for="IdObjetive1" class="text-danger"></span>
        </div>
        <div class="form-group col-md-8">
            <label class="control-label">Intervention</label>
            <br />
            <label id="lbIntervention1" style="font-weight:normal">@Model.Intervention1</label>
        </div>
    </div>
    @if (Model.Goals1.Count() == 1)
    {
        <div class="col-md-12">
            <div class="alert alert-warning form-group col-md-4">
                <i class="icon-info-sign"></i>
                The client must have MTP, it is mandatory.
            </div>
            <div class="form-group col-md-4">
                &nbsp;
            </div>
        </div>
    }
    <div class="col-md-12">
        <hr />
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-12">
            <strong>Focus of the 2nd group: @Model.Topic2</strong>
            <br />
            <strong>Activity Provided: </strong>@Model.Activity2
            <br />
            <label class="control-label">Client's assistance:</label>
            &nbsp;
            <input type="checkbox" asp-for="Present2" id="Present2" /> Present &nbsp;
            <br />
            <label>Minutes</label> :  <input asp-for="Minute2" id="minute2" class="form-control" style="width:10%" onchange="getMinute();" />
        </div>
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-6">
            <label asp-for="AnswerClient2" class="control-label"></label>&nbsp;*
            <textarea asp-for="AnswerClient2" class="form-control" rows="4" id="AnswerClient2"></textarea>
            <span asp-validation-for="AnswerClient2" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="AnswerFacilitator2" class="control-label"></label>&nbsp;*
            <textarea asp-for="AnswerFacilitator2" class="form-control" rows="4" id="AnswerFacilitator2"></textarea>
            <span asp-validation-for="AnswerFacilitator2" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-6">
            <a class="btn btn-info" id="EnglishAnswerClient2">English</a>
        </div>
        <div class="form-group col-md-6">
            <a class="btn btn-info" id="EnglishAnswerFacilitator2">English</a>
        </div>
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-2">
            <label asp-for="IdGoal2" class="control-label"></label>
            <select asp-for="IdGoal2" asp-items="Model.Goals2" class="form-control" id="cbGoal2"></select>
            <span asp-validation-for="IdGoal2" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="IdObjetive2" class="control-label"></label>
            <select asp-for="IdObjetive2" asp-items="Model.Objetives2" class="form-control" id="cbObjetive2"></select>
            <span asp-validation-for="IdObjetive2" class="text-danger"></span>
        </div>
        <div class="form-group col-md-8">
            <label class="control-label">Intervention</label>
            <br />
            <label id="lbIntervention2" style="font-weight:normal">@Model.Intervention2</label>
        </div>
    </div>
    @if (Model.Goals1.Count() == 1)
    {
        <div class="col-md-12">
            <div class="alert alert-warning form-group col-md-4">
                <i class="icon-info-sign"></i>
                The client must have MTP, it is mandatory.
            </div>
            <div class="form-group col-md-4">
                &nbsp;
            </div>
        </div>
    }
    <div class="col-md-12">
        <hr />
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-12">
            <strong>Focus of the 3rd group: @Model.Topic3</strong>
            <br />
            <strong>Activity Provided: </strong>@Model.Activity3
            <br />
            <label class="control-label">Client's assistance:</label>
            &nbsp;
            <input type="checkbox" asp-for="Present3" id="Present3" /> Present &nbsp;
            <br />
            <label>Minutes</label> :  <input asp-for="Minute3" id="minute3" class="form-control" style="width:10%" onchange="getMinute();" />
        </div>
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-6">
            <label asp-for="AnswerClient3" class="control-label"></label>&nbsp;*
            <textarea asp-for="AnswerClient3" class="form-control" rows="4" id="AnswerClient3"></textarea>
            <span asp-validation-for="AnswerClient3" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="AnswerFacilitator3" class="control-label"></label>&nbsp;*
            <textarea asp-for="AnswerFacilitator3" class="form-control" rows="4" id="AnswerFacilitator3"></textarea>
            <span asp-validation-for="AnswerFacilitator3" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-6">
            <a class="btn btn-info" id="EnglishAnswerClient3">English</a>
        </div>
        <div class="form-group col-md-6">
            <a class="btn btn-info" id="EnglishAnswerFacilitator3">English</a>
        </div>
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-2">
            <label asp-for="IdGoal3" class="control-label"></label>
            <select asp-for="IdGoal3" asp-items="Model.Goals3" class="form-control" id="cbGoal3"></select>
            <span asp-validation-for="IdGoal3" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="IdObjetive3" class="control-label"></label>
            <select asp-for="IdObjetive3" asp-items="Model.Objetives3" class="form-control" id="cbObjetive3"></select>
            <span asp-validation-for="IdObjetive3" class="text-danger"></span>
        </div>
        <div class="form-group col-md-8">
            <label class="control-label">Intervention</label>
            <br />
            <label id="lbIntervention3" style="font-weight:normal">@Model.Intervention3</label>
        </div>
    </div>
    @if (Model.Goals1.Count() == 1)
    {
        <div class="col-md-12">
            <div class="alert alert-warning form-group col-md-4">
                <i class="icon-info-sign"></i>
                The client must have MTP, it is mandatory.
            </div>
            <div class="form-group col-md-4">
                &nbsp;
            </div>
        </div>
    }
    <div class="col-md-12">
        <hr />
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-12">
            <strong>Focus of the 4th group: @Model.Topic4</strong>
            <br />
            <strong>Activity Provided: </strong>@Model.Activity4
            <br />
            <label class="control-label">Client's assistance:</label>
            &nbsp;
            <input type="checkbox" asp-for="Present4" id="Present3" /> Present &nbsp;
            <br />
            <label>Minutes</label> :  <input asp-for="Minute4" id="minute4" class="form-control" style="width:10%" onchange="getMinute();" />
        </div>
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-6">
            <label asp-for="AnswerClient4" class="control-label"></label>&nbsp;*
            <textarea asp-for="AnswerClient4" class="form-control" rows="4" id="AnswerClient4"></textarea>
            <span asp-validation-for="AnswerClient4" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="AnswerFacilitator4" class="control-label"></label>&nbsp;*
            <textarea asp-for="AnswerFacilitator4" class="form-control" rows="4" id="AnswerFacilitator4"></textarea>
            <span asp-validation-for="AnswerFacilitator4" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-6">
            <a class="btn btn-info" id="EnglishAnswerClient4">English</a>
        </div>
        <div class="form-group col-md-6">
            <a class="btn btn-info" id="EnglishAnswerFacilitator4">English</a>
        </div>
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-2">
            <label asp-for="IdGoal4" class="control-label"></label>
            <select asp-for="IdGoal4" asp-items="Model.Goals4" class="form-control" id="cbGoal4"></select>
            <span asp-validation-for="IdGoal4" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="IdObjetive4" class="control-label"></label>
            <select asp-for="IdObjetive4" asp-items="Model.Objetives4" class="form-control" id="cbObjetive4"></select>
            <span asp-validation-for="IdObjetive4" class="text-danger"></span>
        </div>
        <div class="form-group col-md-8">
            <label class="control-label">Intervention</label>
            <br />
            <label id="lbIntervention4" style="font-weight:normal">@Model.Intervention4</label>
        </div>
    </div>
    @if (Model.Goals1.Count() == 1)
    {
        <div class="col-md-12">
            <div class="alert alert-warning form-group col-md-4">
                <i class="icon-info-sign"></i>
                The client must have MTP, it is mandatory.
            </div>
            <div class="form-group col-md-4">
                &nbsp;
            </div>
        </div>
    }
    <div class="col-md-12">
        <hr />
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-12">
            <label asp-for="PlanNote" class="control-label"></label>&nbsp;*
            <textarea asp-for="PlanNote" class="form-control" rows="3" id="PlanNote"></textarea>
            <span asp-validation-for="PlanNote" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-12">
            <a class="btn btn-info" id="EnglishPlanNote">English</a>
        </div>
    </div>
    //si se va a crear la nota doy la posibilidad de seleccionar el avance del plan para que despues se agregue al futuro plan
    @if (@Model.Workday_Cient.Note == null)
    {
        <div class="col-md-push-12">
            <div class="form-group col-md-12">
                <label style="font-weight: bold;">Update of progress toward meeting goals and objectives on treatment plan (check only one)</label>
                <br />
                <input type="radio" name="Progress" value="SignificantProgress" />
                Significant progress
                &nbsp;&nbsp;
                <input type="radio" name="Progress" value="ModerateProgress" />
                Moderate progress
                &nbsp;&nbsp;
                <input type="radio" name="Progress" value="MinimalProgress" checked="checked" />
                Minimal progress
                &nbsp;&nbsp;
                <input type="radio" name="Progress" value="NoProgress" />
                No Progress
                <br />
                <input type="radio" name="Progress" value="Regression" />
                Regression
                &nbsp;&nbsp;
                <input type="radio" name="Progress" value="Decompensating" />
                Decompensating
                &nbsp;&nbsp;
                <input type="radio" name="Progress" value="Unable" />
                Unable to determine at this time
            </div>
        </div>
    }
    <div class="col-md-12">
        <hr />
    </div>
}
@if (Model.Schema == KyoS.Common.Enums.SchemaType.Schema4)
{
    <div class="col-md-push-12">
        <div class="form-group col-md-12">
            <strong>Focus of the 1st group: @Model.Topic1</strong>
            <br />
            <strong>Activity Provided: </strong>@Model.Activity1
        </div>
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-12">
            <strong>Focus of the 2nd group: @Model.Topic2</strong>
            <br />
            <strong>Activity Provided: </strong>@Model.Activity2
        </div>
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-12">
            <strong>Focus of the 3rd group: @Model.Topic3</strong>
            <br />
            <strong>Activity Provided: </strong>@Model.Activity3
        </div>
    </div>    
    <div class="col-md-push-12">
        <div class="form-group col-md-6">
            <label asp-for="AnswerClient1" class="control-label"></label>&nbsp;*
            <textarea asp-for="AnswerClient1" class="form-control" rows="4" id="AnswerClient1"></textarea>
            <span asp-validation-for="AnswerClient1" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="AnswerFacilitator1" class="control-label"></label>&nbsp;*
            <textarea asp-for="AnswerFacilitator1" class="form-control" rows="4" id="AnswerFacilitator1"></textarea>
            <span asp-validation-for="AnswerFacilitator1" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-6">
            <a class="btn btn-info" id="EnglishAnswerClient1">English</a>
        </div>
        <div class="form-group col-md-6">
            <a class="btn btn-info" id="EnglishAnswerFacilitator1">English</a>
        </div>
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-2">
            <label asp-for="IdGoal1" class="control-label"></label>
            <select asp-for="IdGoal1" asp-items="Model.Goals1" class="form-control" id="cbGoal1"></select>
            <span asp-validation-for="IdGoal1" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="IdObjetive1" class="control-label"></label>
            <select asp-for="IdObjetive1" asp-items="Model.Objetives1" class="form-control" id="cbObjetive1"></select>
            <span asp-validation-for="IdObjetive1" class="text-danger"></span>
        </div>
        <div class="form-group col-md-8">
            <label class="control-label">Intervention</label>
            <br />
            <label id="lbIntervention1" style="font-weight:normal">@Model.Intervention1</label>
        </div>
    </div>
    @if (Model.Goals1.Count() == 1)
    {
        <div class="col-md-12">
            <div class="alert alert-warning form-group col-md-4">
                <i class="icon-info-sign"></i>
                The client must have MTP, it is mandatory.
            </div>
            <div class="form-group col-md-4">
                &nbsp;
            </div>
        </div>
    }
    <div class="col-md-12">
        <hr />
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-12">
            <label asp-for="PlanNote" class="control-label"></label>&nbsp;*
            <textarea asp-for="PlanNote" class="form-control" rows="3" id="PlanNote"></textarea>
            <span asp-validation-for="PlanNote" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-12">
            <a class="btn btn-info" id="EnglishPlanNote">English</a>
        </div>
    </div>
    //si se va a crear la nota doy la posibilidad de seleccionar el avance del plan para que despues se agregue al futuro plan
    @if (@Model.Workday_Cient.Note == null)
    {
        <div class="col-md-push-12">
            <div class="form-group col-md-12">
                <label style="font-weight: bold;">Update of progress toward meeting goals and objectives on treatment plan (check only one)</label>
                <br />
                <input type="radio" name="Progress" value="SignificantProgress" />
                Significant progress
                &nbsp;&nbsp;
                <input type="radio" name="Progress" value="ModerateProgress" />
                Moderate progress
                &nbsp;&nbsp;
                <input type="radio" name="Progress" value="MinimalProgress" checked="checked" />
                Minimal progress
                &nbsp;&nbsp;
                <input type="radio" name="Progress" value="NoProgress" />
                No Progress
                <br />
                <input type="radio" name="Progress" value="Regression" />
                Regression
                &nbsp;&nbsp;
                <input type="radio" name="Progress" value="Decompensating" />
                Decompensating
                &nbsp;&nbsp;
                <input type="radio" name="Progress" value="Unable" />
                Unable to determine at this time
            </div>
        </div>
    }
    <div class="col-md-12">
        <hr />
    </div>
}




