@model KyoS.Web.Models.NotePViewModel
@if (Model.Schema == KyoS.Common.Enums.SchemaType.Schema3)
{
    <div class="col-md-push-12">
        <div class="form-group col-md-12">
            <strong>Group 1 Theme: </strong>@Model.Theme1
            <br />
            <strong>Group Facilitator's Intervention: </strong>@Model.FacilitatorIntervention1
            <br />
            <label class="control-label">Skill Sets Addressed:</label>
            &nbsp;
            <input type="checkbox" asp-for="copingSkills1" disabled /> Coping Skills &nbsp;
            <input type="checkbox" asp-for="stressManagement1" disabled /> Stress Management &nbsp;
            <input type="checkbox" asp-for="healthyLiving1" disabled /> Healthy Living &nbsp;
            <input type="checkbox" asp-for="relaxationTraining1" disabled /> Relaxation Training &nbsp;
            <input type="checkbox" asp-for="diseaseManagement1" disabled /> Disease Management &nbsp;
            <input type="checkbox" asp-for="communityResources1" disabled /> Community Resources &nbsp;
            <input type="checkbox" asp-for="activityDailyLiving1" disabled /> Activities of Daily Living &nbsp;
            <input type="checkbox" asp-for="socialSkills1" disabled /> Social Skills &nbsp;
            <input type="checkbox" asp-for="lifeSkills1" disabled /> Life Skills &nbsp;
            <br />
            <label class="control-label">Client's response:</label>
            &nbsp;
            <input type="checkbox" asp-for="Cooperative1" /> Cooperative &nbsp;
            <input type="checkbox" asp-for="Assertive1" /> Assertive &nbsp;
            <input type="checkbox" asp-for="Passive1" /> Passive &nbsp;
            <input type="checkbox" asp-for="Variable1" /> Variable &nbsp;
            <input type="checkbox" asp-for="Uninterested1" /> Uninterested &nbsp;
            <input type="checkbox" asp-for="Engaged1" /> Engaged/Active &nbsp;
            <input type="checkbox" asp-for="Distractible1" /> Distractible &nbsp;
            <input type="checkbox" asp-for="Confused1" /> Confused &nbsp;
            <input type="checkbox" asp-for="Aggresive1" /> Aggresive &nbsp;
            <input type="checkbox" asp-for="Resistant1" /> Resistant &nbsp;
            <input type="checkbox" asp-for="Other1" /> Other &nbsp;
        </div>
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-2">
            <label asp-for="IdGoal1" class="control-label"></label>
            <select asp-for="IdGoal1" asp-items="Model.Goals1" class="form-control" id="cbGoal1"></select>
            <span asp-validation-for="IdGoal1" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="IdObjetive1" class="control-label"></label>
            <select asp-for="IdObjetive1" asp-items="Model.Objetives1" class="form-control" id="cbObjetive1"></select>
            <span asp-validation-for="IdObjetive1" class="text-danger"></span>
        </div>
        <div class="form-group col-md-8">
            <label class="control-label">Intervention</label>
            <br />
            <label id="lbIntervention1" style="font-weight:normal">@Model.Intervention1</label>
        </div>
    </div>
    @if (Model.Goals1.Count() == 1)
    {
        <div class="col-md-12">
            <div class="alert alert-warning form-group col-md-4">
                <i class="icon-info-sign"></i>
                The client must have MTP, it is mandatory.
            </div>
            <div class="form-group col-md-4">
                &nbsp;
            </div>
        </div>
    }
    <div class="col-md-12">
        <hr />
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-12">
            <strong>Group 2 Theme: </strong>@Model.Theme2
            <br />
            <strong>Group Facilitator's Intervention: </strong>@Model.FacilitatorIntervention2
            <br />
            <label class="control-label">Skill Sets Addressed:</label>
            &nbsp;
            <input type="checkbox" asp-for="copingSkills2" disabled /> Coping Skills &nbsp;
            <input type="checkbox" asp-for="stressManagement2" disabled /> Stress Management &nbsp;
            <input type="checkbox" asp-for="healthyLiving2" disabled /> Healthy Living &nbsp;
            <input type="checkbox" asp-for="relaxationTraining2" disabled /> Relaxation Training &nbsp;
            <input type="checkbox" asp-for="diseaseManagement2" disabled /> Disease Management &nbsp;
            <input type="checkbox" asp-for="communityResources2" disabled /> Community Resources &nbsp;
            <input type="checkbox" asp-for="activityDailyLiving2" disabled /> Activities of Daily Living &nbsp;
            <input type="checkbox" asp-for="socialSkills2" disabled /> Social Skills &nbsp;
            <input type="checkbox" asp-for="lifeSkills2" disabled /> Life Skills &nbsp;
            <br />
            <label class="control-label">Client's response:</label>
            &nbsp;
            <input type="checkbox" asp-for="Cooperative2" /> Cooperative &nbsp;
            <input type="checkbox" asp-for="Assertive2" /> Assertive &nbsp;
            <input type="checkbox" asp-for="Passive2" /> Passive &nbsp;
            <input type="checkbox" asp-for="Variable2" /> Variable &nbsp;
            <input type="checkbox" asp-for="Uninterested2" /> Uninterested &nbsp;
            <input type="checkbox" asp-for="Engaged2" /> Engaged/Active &nbsp;
            <input type="checkbox" asp-for="Distractible2" /> Distractible &nbsp;
            <input type="checkbox" asp-for="Confused2" /> Confused &nbsp;
            <input type="checkbox" asp-for="Aggresive2" /> Aggresive &nbsp;
            <input type="checkbox" asp-for="Resistant2" /> Resistant &nbsp;
            <input type="checkbox" asp-for="Other2" /> Other &nbsp;
        </div>
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-2">
            <label asp-for="IdGoal2" class="control-label"></label>
            <select asp-for="IdGoal2" asp-items="Model.Goals2" class="form-control" id="cbGoal2"></select>
            <span asp-validation-for="IdGoal2" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="IdObjetive2" class="control-label"></label>
            <select asp-for="IdObjetive2" asp-items="Model.Objetives2" class="form-control" id="cbObjetive2"></select>
            <span asp-validation-for="IdObjetive2" class="text-danger"></span>
        </div>
        <div class="form-group col-md-8">
            <label class="control-label">Intervention</label>
            <br />
            <label id="lbIntervention2" style="font-weight:normal">@Model.Intervention2</label>
        </div>
    </div>
    @if (Model.Goals2.Count() == 1)
    {
        <div class="col-md-12">
            <div class="alert alert-warning form-group col-md-4">
                <i class="icon-info-sign"></i>
                The client must have MTP, it is mandatory.
            </div>
            <div class="form-group col-md-4">
                &nbsp;
            </div>
        </div>
    }
    <div class="col-md-12">
        <hr />
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-12">
            <strong>Group 3 Theme: </strong>@Model.Theme3
            <br />
            <strong>Group Facilitator's Intervention: </strong>@Model.FacilitatorIntervention3
            <br />
            <label class="control-label">Skill Sets Addressed:</label>
            &nbsp;
            <input type="checkbox" asp-for="copingSkills3" disabled /> Coping Skills &nbsp;
            <input type="checkbox" asp-for="stressManagement3" disabled /> Stress Management &nbsp;
            <input type="checkbox" asp-for="healthyLiving3" disabled /> Healthy Living &nbsp;
            <input type="checkbox" asp-for="relaxationTraining3" disabled /> Relaxation Training &nbsp;
            <input type="checkbox" asp-for="diseaseManagement3" disabled /> Disease Management &nbsp;
            <input type="checkbox" asp-for="communityResources3" disabled /> Community Resources &nbsp;
            <input type="checkbox" asp-for="activityDailyLiving3" disabled /> Activities of Daily Living &nbsp;
            <input type="checkbox" asp-for="socialSkills3" disabled /> Social Skills &nbsp;
            <input type="checkbox" asp-for="lifeSkills3" disabled /> Life Skills &nbsp;
            <br />
            <label class="control-label">Client's response:</label>
            &nbsp;
            <input type="checkbox" asp-for="Cooperative3" /> Cooperative &nbsp;
            <input type="checkbox" asp-for="Assertive3" /> Assertive &nbsp;
            <input type="checkbox" asp-for="Passive3" /> Passive &nbsp;
            <input type="checkbox" asp-for="Variable3" /> Variable &nbsp;
            <input type="checkbox" asp-for="Uninterested3" /> Uninterested &nbsp;
            <input type="checkbox" asp-for="Engaged3" /> Engaged/Active &nbsp;
            <input type="checkbox" asp-for="Distractible3" /> Distractible &nbsp;
            <input type="checkbox" asp-for="Confused3" /> Confused &nbsp;
            <input type="checkbox" asp-for="Aggresive3" /> Aggresive &nbsp;
            <input type="checkbox" asp-for="Resistant3" /> Resistant &nbsp;
            <input type="checkbox" asp-for="Other3" /> Other &nbsp;
        </div>
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-2">
            <label asp-for="IdGoal3" class="control-label"></label>
            <select asp-for="IdGoal3" asp-items="Model.Goals3" class="form-control" id="cbGoal3"></select>
            <span asp-validation-for="IdGoal3" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="IdObjetive3" class="control-label"></label>
            <select asp-for="IdObjetive3" asp-items="Model.Objetives3" class="form-control" id="cbObjetive3"></select>
            <span asp-validation-for="IdObjetive3" class="text-danger"></span>
        </div>
        <div class="form-group col-md-8">
            <label class="control-label">Intervention</label>
            <br />
            <label id="lbIntervention3" style="font-weight:normal">@Model.Intervention3</label>
        </div>
    </div>
    @if (Model.Goals3.Count() == 1)
    {
        <div class="col-md-12">
            <div class="alert alert-warning form-group col-md-4">
                <i class="icon-info-sign"></i>
                The client must have MTP, it is mandatory.
            </div>
            <div class="form-group col-md-4">
                &nbsp;
            </div>
        </div>
    }
    <div class="col-md-12">
        <hr />
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-12">
            <strong>Group 4 Theme: </strong>@Model.Theme4
            <br />
            <strong>Group Facilitator's Intervention: </strong>@Model.FacilitatorIntervention4
            <br />
            <label class="control-label">Skill Sets Addressed:</label>
            &nbsp;
            <input type="checkbox" asp-for="copingSkills4" disabled /> Coping Skills &nbsp;
            <input type="checkbox" asp-for="stressManagement4" disabled /> Stress Management &nbsp;
            <input type="checkbox" asp-for="healthyLiving4" disabled /> Healthy Living &nbsp;
            <input type="checkbox" asp-for="relaxationTraining4" disabled /> Relaxation Training &nbsp;
            <input type="checkbox" asp-for="diseaseManagement4" disabled /> Disease Management &nbsp;
            <input type="checkbox" asp-for="communityResources4" disabled /> Community Resources &nbsp;
            <input type="checkbox" asp-for="activityDailyLiving4" disabled /> Activities of Daily Living &nbsp;
            <input type="checkbox" asp-for="socialSkills4" disabled /> Social Skills &nbsp;
            <input type="checkbox" asp-for="lifeSkills4" disabled /> Life Skills &nbsp;
            <br />
            <label class="control-label">Client's response:</label>
            &nbsp;
            <input type="checkbox" asp-for="Cooperative4" /> Cooperative &nbsp;
            <input type="checkbox" asp-for="Assertive4" /> Assertive &nbsp;
            <input type="checkbox" asp-for="Passive4" /> Passive &nbsp;
            <input type="checkbox" asp-for="Variable4" /> Variable &nbsp;
            <input type="checkbox" asp-for="Uninterested4" /> Uninterested &nbsp;
            <input type="checkbox" asp-for="Engaged4" /> Engaged/Active &nbsp;
            <input type="checkbox" asp-for="Distractible4" /> Distractible &nbsp;
            <input type="checkbox" asp-for="Confused4" /> Confused &nbsp;
            <input type="checkbox" asp-for="Aggresive4" /> Aggresive &nbsp;
            <input type="checkbox" asp-for="Resistant4" /> Resistant &nbsp;
            <input type="checkbox" asp-for="Other4" /> Other &nbsp;
        </div>
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-2">
            <label asp-for="IdGoal4" class="control-label"></label>
            <select asp-for="IdGoal4" asp-items="Model.Goals4" class="form-control" id="cbGoal4"></select>
            <span asp-validation-for="IdGoal4" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="IdObjetive4" class="control-label"></label>
            <select asp-for="IdObjetive4" asp-items="Model.Objetives4" class="form-control" id="cbObjetive4"></select>
            <span asp-validation-for="IdObjetive4" class="text-danger"></span>
        </div>
        <div class="form-group col-md-8">
            <label class="control-label">Intervention</label>
            <br />
            <label id="lbIntervention4" style="font-weight:normal">@Model.Intervention4</label>
        </div>
    </div>
    @if (Model.Goals4.Count() == 1)
    {
        <div class="col-md-12">
            <div class="alert alert-warning form-group col-md-4">
                <i class="icon-info-sign"></i>
                The client must have MTP, it is mandatory.
            </div>
            <div class="form-group col-md-4">
                &nbsp;
            </div>
        </div>
    }
    <div class="col-md-12">
        <hr />
    </div>


    <div class="col-md-push-12">
        <div class="form-group col-md-12">
            <label asp-for="PlanNote" class="control-label"></label>&nbsp;*
            <textarea asp-for="PlanNote" class="form-control" rows="3" id="PlanNote"></textarea>
            <span asp-validation-for="PlanNote" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-push-12">
        <div class="form-group col-md-12">
            <a class="btn btn-info" id="EnglishPlanNote">English</a>
        </div>
    </div>
    //si se va a crear la nota doy la posibilidad de seleccionar el avance del plan para que despues se agregue al futuro plan
    @if (@Model.Workday_Cient.Note == null)
    {
        <div class="col-md-push-12">
            <div class="form-group col-md-12">
                <label style="font-weight: bold;">ASSESSMENT OF PROGRESS/OUTCOME</label>
                <br />
                <input type="checkbox" asp-for="Minimal" /> Minimal
                &nbsp;
                <input type="checkbox" asp-for="Slow" /> Slow
                &nbsp;
                <input type="checkbox" asp-for="Steady" /> Steady
                &nbsp;
                <input type="checkbox" asp-for="GoodExcelent" /> Good/Excellent
                &nbsp;
                <input type="checkbox" asp-for="IncreasedDifficultiesNoted" /> Increased difficulties noted
                &nbsp;
                <input type="checkbox" asp-for="Complicated" /> Complicated by recent stressors
                &nbsp;
                <input type="checkbox" asp-for="DevelopingInsight" /> Developing insight
                &nbsp;
                <input type="checkbox" asp-for="LittleInsight" /> Little insight
                &nbsp;
                <input type="checkbox" asp-for="Aware" /> Aware, insightful
                &nbsp;
                <input type="checkbox" asp-for="AbleToGenerateAlternatives" /> Able to generate alternatives
                &nbsp;
                <input type="checkbox" asp-for="Initiates" /> Initiates problem-solving
                &nbsp;
                <input type="checkbox" asp-for="ProblemSolved" /> Problem solved with assistance
                &nbsp;
                <input type="checkbox" asp-for="DemostratesEmpathy" /> Demonstrates empathy, support for others
                &nbsp;
                <input type="checkbox" asp-for="UsesSessions" /> Uses sessions to vent
                &nbsp;
                <input type="checkbox" asp-for="Variable" /> Variable
                &nbsp;
            </div>
        </div>
    }
    <div class="col-md-12">
        <hr />
    </div>
}





