@model KyoS.Web.Models.BillingReportViewModel

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Notes</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-1">

                            </th>
                            <th class="col-md-2">

                            </th>
                            <th class="col-md-3">

                            </th>
                            <th class="col-md-2" style="text-align:center;">
                                Init Date
                            </th>
                            <th class="col-md-2" style="text-align:center;">
                                Final Date
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Weeks.OrderBy(w => w.WeekOfYear))
                        {
                            <tr>
                                <td align="center">
                                    @if (item.Days.Count() != 0)
                                    {
                                        <a class="icon-plus-sign-alt"></a>
                                    }
                                    <div style="display:none">
                                        <table class="table table-striped">
                                            <tr>
                                                <th class="col-md-1"></th>
                                                <th class="col-md-3">Date</th>
                                                <th class="col-md-3">Day</th>
                                                <th class="col-md-2" style="text-align:center;">AM Session</th>
                                                <th class="col-md-2" style="text-align:center;">PM Session</th>
                                                <th class="col-md-1"></th>
                                            </tr>
                                            @foreach (var day in item.Days.Where(d => d.Service == KyoS.Common.Enums.ServiceType.PSR).OrderBy(d => d.Date))
                                            {
                                                <tr>
                                                    <td align="center">
                                                        @if (day.Workdays_Clients.Count() != 0)
                                                        {
                                                            <a class="icon-plus-sign-alt"></a>
                                                        }
                                                        <div style="display:none">
                                                            <table class="table table-striped">
                                                                <tr>
                                                                    <th class="col-md-2">Facilitator</th>
                                                                    <th class="col-md-1" style="text-align:center;">Session</th>
                                                                    <th class="col-md-2" style="text-align:center;">Schedule</th>
                                                                    <th class="col-md-3">Name</th>
                                                                    <th class="col-md-1" style="text-align:center;">Present</th>
                                                                    <th class="col-md-2" style="text-align:center;">Note Status</th>
                                                                    <th class="col-md-1"></th>
                                                                    <th></th>
                                                                </tr>
                                                                @foreach (var day_client in day.Workdays_Clients.OrderByDescending(n => n.Facilitator.Name).OrderBy(n => n.Session))
                                                                {
                                                                    @if (day_client.Present)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => day_client.Facilitator.Name)
                                                                            </td>
                                                                            <td align="center">
                                                                                @Html.DisplayFor(modelItem => day_client.Session)
                                                                            </td>
                                                                            <td align="center">
                                                                                @if (day_client.Schedule != null)
                                                                                {
                                                                                    @Html.DisplayFor(modelItem => day_client.Schedule.InitialTime)
                                                                                    <a> - </a>
                                                                                    @Html.DisplayFor(modelItem => day_client.Schedule.EndTime)
                                                                                }
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => day_client.Client.Name)
                                                                                <a>|</a>
                                                                                @Html.DisplayFor(modelItem => day_client.Client.Code)
                                                                            </td>
                                                                            <td align="center">
                                                                                @Html.DisplayFor(modelItem => day_client.Present)
                                                                            </td>
                                                                            <td align="center">
                                                                                @if (day_client.Note == null && day_client.NoteP == null)
                                                                                {
                                                                                    <span class="label label-danger">
                                                                                        Not Started
                                                                                    </span>
                                                                                }
                                                                                else
                                                                                {
                                                                                    if ((day_client.Note != null && day_client.Note.Status.ToString() == "Edition") || (day_client.NoteP != null && day_client.NoteP.Status.ToString() == "Edition"))
                                                                                    {
                                                                                        <span class="label label-default">
                                                                                            Edition
                                                                                        </span>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        if ((day_client.Note != null && day_client.Note.Status.ToString() == "Pending") || (day_client.NoteP != null && day_client.NoteP.Status.ToString() == "Pending"))
                                                                                        {
                                                                                            <span class="label label-info">
                                                                                                Pending
                                                                                            </span>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            if ((day_client.Note != null && day_client.Note.Status.ToString() == "Approved") || (day_client.NoteP != null && day_client.NoteP.Status.ToString() == "Approved"))
                                                                                            {
                                                                                                <span class="label label-success">
                                                                                                    Approved
                                                                                                </span>
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                }
                                                                            </td>
                                                                            <td align="right">
                                                                                @if (day_client.Note == null && day_client.NoteP == null)
                                                                                {
                                                                                    <a onclick="showInPopup('@Url.Action("ChangeSession", "Notes", new { id = day_client.Id, dateInterval = Model.DateIterval}, Context.Request.Scheme)','Change Session')" class="btn btn-default" title="Change Session"><i class="glyphicon glyphicon-calendar"></i></a>
                                                                                }
                                                                                else
                                                                                {
                                                                                    @if (day_client.Note == null && day_client.NoteP != null)
                                                                                    {
                                                                                         <a onclick="showInPopup('@Url.Action("ChangeSession", "Notes", new { id = day_client.Id, dateInterval = Model.DateIterval}, Context.Request.Scheme)','Change Session')" class="btn btn-default" title="Change Session"><i class="glyphicon glyphicon-calendar"></i></a>
                                                                                       @* @if (day_client.NoteP.Status == KyoS.Common.Enums.NoteStatus.Edition)
                                                                                        {
                                                                                            <a onclick="showInPopup('@Url.Action("ChangeSession", "Notes", new { id = day_client.Id, dateInterval = Model.DateIterval}, Context.Request.Scheme)','Change Session')" class="btn btn-default" title="Change Session"><i class="glyphicon glyphicon-calendar"></i></a>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <a asp-action="ChangeSession" asp-route-id="@day_client.Id" class="btn btn-default disabled"><i class="glyphicon glyphicon-calendar"></i></a>
                                                                                        }*@
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        @if (day_client.Note != null && day_client.NoteP == null)
                                                                                        {
                                                                                            <a onclick="showInPopup('@Url.Action("ChangeSession", "Notes", new { id = day_client.Id, dateInterval = Model.DateIterval}, Context.Request.Scheme)','Change Session')" class="btn btn-default" title="Change Session"><i class="glyphicon glyphicon-calendar"></i></a>               
                                                                                            @*if (day_client.Note.Status == KyoS.Common.Enums.NoteStatus.Edition)
                                                                                            {
                                                                                                <a onclick="showInPopup('@Url.Action("ChangeSession", "Notes", new { id = day_client.Id, dateInterval = Model.DateIterval}, Context.Request.Scheme)','Change Session')" class="btn btn-default" title="Change Session"><i class="glyphicon glyphicon-calendar"></i></a>
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <a asp-action="ChangeSession" asp-route-id="@day_client.Id" class="btn btn-default disabled"><i class="glyphicon glyphicon-calendar"></i></a>
                                                                                            }*@
                                                                                        }
                                                                                    }
                                                                                }
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                    else
                                                                    {
                                                                        <tr style="color:darkgrey">
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => day_client.Facilitator.Name)
                                                                            </td>
                                                                            <td align="center">
                                                                                @Html.DisplayFor(modelItem => day_client.Session)
                                                                            </td>
                                                                            <td align="center">
                                                                                @if (day_client.Schedule != null)
                                                                                {
                                                                                    @Html.DisplayFor(modelItem => day_client.Schedule.InitialTime)
                                                                                    <a> - </a>
                                                                                    @Html.DisplayFor(modelItem => day_client.Schedule.EndTime)
                                                                                }
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => day_client.Client.Name)
                                                                                <a>|</a>
                                                                                @Html.DisplayFor(modelItem => day_client.Client.Code)
                                                                            </td>
                                                                            <td align="center">
                                                                                @Html.DisplayFor(modelItem => day_client.Present)
                                                                            </td>
                                                                            <td align="center">
                                                                                @if (day_client.Note == null)
                                                                                {
                                                                                    <span class="label label-danger">
                                                                                        Not Started
                                                                                    </span>
                                                                                }
                                                                                else
                                                                                {
                                                                                    if (day_client.Note.Status.ToString() == "Edition")
                                                                                    {
                                                                                        <span class="label label-default">
                                                                                            Edition
                                                                                        </span>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        if (day_client.Note.Status.ToString() == "Pending")
                                                                                        {
                                                                                            <span class="label label-info">
                                                                                                Pending
                                                                                            </span>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            if (day_client.Note.Status.ToString() == "Approved")
                                                                                            {
                                                                                                <span class="label label-success">
                                                                                                    Approved
                                                                                                </span>
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                }
                                                                            </td>
                                                                            <td align="right">
                                                                                <a asp-action="EditNote" asp-route-id="@day_client.Id" class="btn btn-default disabled"><i class="glyphicon glyphicon-calendar"></i></a>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            </table>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => day.Date)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => day.Day)
                                                    </td>
                                                    <td align="center">
                                                        @day.Workdays_Clients.Where(wc => (wc.Workday.Service == KyoS.Common.Enums.ServiceType.PSR) && (wc.Session == "AM")).Count()
                                                    </td>
                                                    <td align="center">
                                                        @day.Workdays_Clients.Where(wc => (wc.Workday.Service == KyoS.Common.Enums.ServiceType.PSR) && (wc.Session == "PM")).Count()
                                                    </td>
                                                    <td align="right">
                                                    </td>
                                                </tr>
                                            }

                                        </table>
                                    </div>
                                </td>
                                <td>
                                    @if (item.MonthYear.Contains("January"))
                                    {
                                        <span class="label label-default">
                                            @Html.DisplayFor(modelItem => item.MonthYear)
                                        </span>
                                    }
                                    @if (item.MonthYear.Contains("February"))
                                    {
                                        <span class="label label-info">
                                            @Html.DisplayFor(modelItem => item.MonthYear)
                                        </span>
                                    }
                                    @if (item.MonthYear.Contains("March"))
                                    {
                                        <span class="label label-primary">
                                            @Html.DisplayFor(modelItem => item.MonthYear)
                                        </span>
                                    }
                                    @if (item.MonthYear.Contains("April"))
                                    {
                                        <span class="label label-warning">
                                            @Html.DisplayFor(modelItem => item.MonthYear)
                                        </span>
                                    }
                                    @if (item.MonthYear.Contains("May"))
                                    {
                                        <span class="label label-success">
                                            @Html.DisplayFor(modelItem => item.MonthYear)
                                        </span>
                                    }
                                    @if (item.MonthYear.Contains("June"))
                                    {
                                        <span class="label label-default">
                                            @Html.DisplayFor(modelItem => item.MonthYear)
                                        </span>
                                    }
                                    @if (item.MonthYear.Contains("July"))
                                    {
                                        <span class="label label-info">
                                            @Html.DisplayFor(modelItem => item.MonthYear)
                                        </span>
                                    }
                                    @if (item.MonthYear.Contains("August"))
                                    {
                                        <span class="label label-primary">
                                            @Html.DisplayFor(modelItem => item.MonthYear)
                                        </span>
                                    }
                                    @if (item.MonthYear.Contains("September"))
                                    {
                                        <span class="label label-warning">
                                            @Html.DisplayFor(modelItem => item.MonthYear)
                                        </span>
                                    }
                                    @if (item.MonthYear.Contains("October"))
                                    {
                                        <span class="label label-success">
                                            @Html.DisplayFor(modelItem => item.MonthYear)
                                        </span>
                                    }
                                    @if (item.MonthYear.Contains("November"))
                                    {
                                        <span class="label label-default">
                                            @Html.DisplayFor(modelItem => item.MonthYear)
                                        </span>
                                    }
                                    @if (item.MonthYear.Contains("December"))
                                    {
                                        <span class="label label-info">
                                            @Html.DisplayFor(modelItem => item.MonthYear)
                                        </span>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Alias)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.InitDate)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.FinalDate)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>