@model IEnumerable<KyoS.Web.Data.Entities.Workday_Client>
@{
    ViewData["Title"] = "Approved Group Notes";
}

<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Dashboard", "Index", "Desktop")
        </li>
        <li class="active">Approved Group Notes</li>
    </ul><!--.breadcrumb-->
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Approved Group Notes</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-2" style="text-align:center;">Date</th>
                            <th class="col-md-2" style="text-align:left;">Session</th>
                            <th class="col-md-4">Name</th>
                            <th class="col-md-1" style="text-align:center;">Present</th>
                            <th class="col-md-1" style="text-align:center;">Status</th>
                            <th class="col-md-2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var day_client in Model.OrderBy(dc => dc.Workday.Date).OrderBy(dc => dc.Session))
                        {
                            <tr>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => day_client.Workday.Date)
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(modelItem => day_client.Session)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => day_client.Client.Name)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => day_client.Present)
                                </td>
                                <td align="center">
                                    <span class="label label-success">
                                        Approved
                                    </span>
                                </td>
                                <td align="right">
                                    <a asp-action="PrintGroupNote" asp-route-id="@day_client.Id" class="btn btn-success" title="Print note" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/datetime-moment.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $.fn.dataTable.moment('MM/DD/YYYY'); 

            $('#MyTable').DataTable({
                "order": [[0, "asc"]],
                "lengthMenu": [[100, 200, -1], [100, 200, "All"]],
                "pageLength": 200
            });
        });
    </script>
}


