@model KyoS.Web.Models.ApprovedNotesClinicViewModel
@{
    ViewData["Title"] = "Approved Notes";
}

<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="~/css/datepicker.min.css">

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Dashboard", "Index", "Desktop")
        </li>
        <li class="active">Approved Notes</li>
    </ul><!--.breadcrumb-->
</div>

<div class="row">
    <form asp-action="ApprovedNotesClinic" enctype="multipart/form-data">
        <div class="form-group col-md-3">
            <label class="control-label">Select date interval</label><br />
            <input type="text"
                   asp-for="DateIterval"
                   data-range="true"
                   data-multiple-dates-separator=" - "
                   data-language="en"
                   class="form-control datepicker-here"
                   id="datepicker" />
        </div>
        <div class="form-group col-md-3">
            <label asp-for="IdFacilitator" class="control-label">Select Facilitator</label>
            <select asp-for="IdFacilitator" asp-items="Model.Facilitators" class="form-control"></select>
            <span asp-validation-for="IdFacilitator" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="IdClient" class="control-label">Select client</label>
            <select asp-for="IdClient" asp-items="Model.Clients" class="form-control"></select>
            <span asp-validation-for="IdClient" class="text-danger"></span>
        </div>
        <div class="container-fluid">
            &nbsp;
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-filter"></i> Filter</button>&nbsp;
            <a onclick="showInPopupLg('@Url.Action("AuditNotes", "Notes", null, Context.Request.Scheme)','Audit Notes')" class="btn btn-danger" title="Audit Notes"><i class="glyphicon glyphicon-alert"></i>&nbsp;&nbsp;Audit Notes</a>
        </div>

    </form>
    <div class="col-md-12">
        <hr />
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Approved Notes</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-1" style="text-align:center;">Date</th>
                            <th class="col-md-1" style="text-align:center;">Service</th>
                            <th class="col-md-2" style="text-align:center;">Session</th>
                            <th class="col-md-3">Name</th>
                            <th class="col-md-1" style="text-align:center;">Status</th>
                            <th class="col-md-1" style="text-align:center;">Hold</th>
                            <th class="col-md-2">Facilitator</th>
                            <th class="col-md-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var day_client in Model.WorkDaysClients.OrderBy(dc => dc.Workday.Date).OrderBy(dc => dc.Session))
                        {
                            <tr>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => day_client.Workday.Date)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => day_client.Workday.Service)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => day_client.Session)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => day_client.Client.Name)
                                </td>
                                <td align="center">
                                    <span class="label label-success">
                                        Approved
                                    </span>
                                </td>
                                <td align="center">
                                    @if (day_client.Hold == true)
                                    {
                                        <span class="label label-default">
                                            Hold
                                        </span>
                                    }
                                    else
                                    { 
                                        <span class="label label-success">
                                            Active
                                        </span>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => day_client.Facilitator.Name)
                                </td>
                                <td align="right">
                                    @if (day_client.Workday.Service == KyoS.Common.Enums.ServiceType.PSR && day_client.Hold == false)
                                    {
                                        <a asp-action="PrintNote" asp-route-id="@day_client.Id" class="btn btn-success" title="Print PSR note" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                    }
                                    else
                                    {
                                        @if (day_client.Workday.Service == KyoS.Common.Enums.ServiceType.Individual && day_client.Hold == false)
                                        {
                                            <a asp-action="PrintIndNote" asp-route-id="@day_client.Id" class="btn btn-success" title="Print individual note" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                        }
                                        else
                                        {
                                            @if (day_client.Workday.Service == KyoS.Common.Enums.ServiceType.Group && day_client.Hold == false)
                                            {
                                                <a asp-action="PrintGroupNote" asp-route-id="@day_client.Id" class="btn btn-success" title="Print group note" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                            }
                                            else
                                            {
                                                <a asp-action="PrintGroupNote" asp-route-id="@day_client.Id" class="btn btn-success disabled" title="Print group note" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                            }
                                        }
                                    }
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<partial name="_ModalPopupLg" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/datetime-moment.js"></script>
    <script src="~/js/datepicker.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/js/datepicker.en.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $.fn.dataTable.moment('MM/DD/YYYY');

            $('#MyTable').DataTable({
                "order": [[0, "asc"]],
                "lengthMenu": [[100, 200, -1], [100, 200, "All"]],
                "pageLength": 200
            });

            //$('#datepicker').datepicker({
            //    autoClose: true                
            //})
        });
    </script>
}


