@model IEnumerable<KyoS.Web.Data.Entities.ClientEntity>
@{
    ViewData["Title"] = "Billing Week";
}

<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Billing Report", "BillingReport", "Notes")
        </li>
        @if (ViewData["Billed"].ToString() == "0")
        {
            <li class="active">Unbilled</li>
        }
        else
        { 
            <li class="active">Billed</li>
        }

    </ul><!--.breadcrumb-->
</div>

<div class="row">
    <div class="col-md-3">
        &nbsp;
    </div>
    @if (ViewData["Billed"].ToString() == "0")
    {
        <div class="col-md-1">
            <div class="thumbnail list-group-item list-group-item-danger">
                <p style="text-align:center">Clients</p>
                <h4 style="text-align:center; font-weight:bold;">@Model.Count()</h4>
            </div>
        </div>
        <div class="col-md-1">
            <div class="thumbnail list-group-item list-group-item-danger">
                <p style="text-align:center">Notes</p>
                <h4 style="text-align:center; font-weight:bold;">@Model.Sum(m => m.Workdays_Clients.Where(n => n.Workday.Week.Id.ToString() == ViewData["idWeek"].ToString()).Count())</h4>
            </div>
        </div>
        <div class="col-md-1">
            <div class="thumbnail list-group-item list-group-item-danger">
                <p style="text-align:center">Units</p>
                <h4 style="text-align:center; font-weight:bold;">@ViewData["Units"]</h4>
            </div>
        </div>
    }
    else
    {
        <div class="col-md-1">
            <div class="thumbnail list-group-item list-group-item-success">
                <p style="text-align:center">Clients</p>
                <h4 style="text-align:center; font-weight:bold;">@Model.Count()</h4>
            </div>
        </div>
        <div class="col-md-1">
            <div class="thumbnail list-group-item list-group-item-success">
                <p style="text-align:center">Notes</p>
                <h4 style="text-align:center; font-weight:bold;">@Model.Sum(m => m.Workdays_Clients.Where(n => n.Workday.Week.Id.ToString() == ViewData["idWeek"].ToString()).Count())</h4>
            </div>
        </div>
        <div class="col-md-1">
            <div class="thumbnail list-group-item list-group-item-success">
                <p style="text-align:center">Units</p>
                <h4 style="text-align:center; font-weight:bold;">@ViewData["Units"]</h4>
            </div>
        </div>
    }
    <div class="col-md-2">
        <div class="thumbnail list-group-item list-group-item-warning">
            <p style="text-align:center">Estimated Income</p>
            @*<h4 style="text-align:center; font-weight:bold;">@Model.Sum(m => m.Workdays_Clients.Where(n => n.Workday.Week.Id.ToString() == ViewData["idWeek"].ToString() && n.Workday.Service == KyoS.Common.Enums.ServiceType.PSR).Count() * 9)</h4>*@
            @if (ViewData["Money"].ToString() == "0")
            {
                <h4 style="text-align:center; font-weight:bold;">$0.00</h4>
            }
            else
            {
                <h4 style="text-align:center; font-weight:bold;"> $@string.Concat(ViewData["Money"].ToString(), ".00")</h4>
            }
        </div>
    </div>
    <div class="col-md-1">
        @if (ViewData["Billed"].ToString() == "0")
        {
            <div class="thumbnail list-group-item list-group-item-success">
                <a style="text-align: center;" asp-controller="Notes" asp-action="BillingWeek" asp-route-id="@ViewData["idWeek"]" asp-route-billed="1" role="button">Switch</a>
                <h4 style="text-align:center; font-weight:bold;">Billed</h4>
            </div>
        }
        else
        {
            <div class="thumbnail list-group-item list-group-item-danger">
                <a style="text-align: center;" asp-controller="Notes" asp-action="BillingWeek" asp-route-id="@ViewData["idWeek"]" asp-route-billed="0" role="button">Switch</a>
                <h4 style="text-align:center; font-weight:bold;">Unbilled</h4>
            </div>
        }
    </div>
    <div class="col-md-3">
        &nbsp;
    </div>
    <div class="col-md-12">
        @*<h4 style="font-weight:bold;"><span class="label label-default">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Week&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></h4>*@
        @*<h5>&nbsp;<b>Init Date:</b> @Model.First().Workdays_Clients.First().Workday.Week.InitDate.ToShortDateString()&nbsp;&nbsp;<b>Final Date:</b> @Model.First().Workdays_Clients.First().Workday.Week.FinalDate.ToShortDateString()</h5>*@
        <hr />
    </div>
    <div id="view-templates">
        @await Html.PartialAsync("_BillingWeek", Model)
    </div>
</div>

<partial name="_ModalPopup" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                "order": [[0, "asc"]],
                "lengthMenu": [[100, 200, 400, -1], [100, 200, 400, "All"]],
                "pageLength": 400
            });        
        });
        $(function () {

            //Assign Click event to Plus Image.
            $("body").on("click", "a[class*='icon-plus-sign-alt']", function () {
                $(this).closest("tr").after("<tr><td></td><td colspan = '999'>" + $(this).next().html() + "</td></tr>");
                $(this).attr("class", "icon-minus-sign-alt");
            });
            //Assign Click event to Minus Image.
            $("body").on("click", "a[class*='icon-minus-sign-alt']", function () {
                $(this).attr("class", "icon-plus-sign-alt");
                $(this).closest("tr").next().remove();
            });
        });
    </script>
}
