@model KyoS.Web.Models.NotePViewModel
@{
    ViewData["Title"] = "PSR note management";
}

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("PSR Notes", "Index", "Notes")
        </li>
        <li class="active">PSR Note</li>
    </ul>
</div>

<h4>PSR Note Management</h4>

<div class="row">
    <div>
        <div class="col-md-12">
            @if (ViewBag.Error == "0")
            {
                <div class="alert alert-block alert-danger">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="icon-remove"></i>
                    </button>
                    <i class="icon-ok red"></i>
                    <strong class="red">
                        Error. The note must have at least one related goal.
                    </strong>
                </div>
            }
            @if (ViewBag.Error == "1")
            {
                <div class="alert alert-block alert-danger">
                    <i class="icon-ok red"></i>
                    <strong class="red">
                        Error. There are no activities for this date. Please must create them.
                    </strong>
                    <a asp-action="CreateActivitiesWeek" asp-controller="Activities" asp-route-id="@Model.Id">Activities per day</a>
                </div>
            }
            @if (ViewBag.Error == "2")
            {
                <div class="alert alert-block alert-danger">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="icon-remove"></i>
                    </button>
                    <i class="icon-ok red"></i>
                    <strong class="red">
                        Error. The note has fields mandatory.
                    </strong>
                </div>
            }
            @if (ViewBag.Error == "3")
            {
                <div class="alert alert-block alert-danger">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="icon-remove"></i>
                    </button>
                    <i class="icon-ok red"></i>
                    <strong class="red">
                        Error. The client have not active MTP.
                    </strong>
                </div>
            }
            @if (ViewBag.Error == "4")
            {
                <div class="alert alert-block alert-danger">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="icon-remove"></i>
                    </button>
                    <i class="icon-ok red"></i>
                    <strong class="red">
                        Error. There are gender issues in: @ViewBag.errorText
                    </strong>
                </div>
            }
            @if (ViewBag.Error == "5")
            {
                <div class="alert alert-block alert-danger">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="icon-remove"></i>
                    </button>
                    <i class="icon-ok red"></i>
                    <strong class="red">
                        Error. The selected client has a created note from another service at that time.
                    </strong>
                </div>
            }
            @if (ViewBag.Error == "6")
            {
                <div class="alert alert-block alert-danger">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="icon-remove"></i>
                    </button>
                    <i class="icon-ok red"></i>
                    <strong class="red">
                        Error. You must select at least one client's response per theme.
                    </strong>
                </div>
            }
        </div>
        @if ((ViewBag.Error != "1") && (ViewBag.Error != "3"))  //se puede crear o editar la nota
        {
        <form asp-action="EditNoteP" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IdActivity1" />
            <input type="hidden" asp-for="IdActivity2" />
            <input type="hidden" asp-for="IdActivity3" />
            <input type="hidden" asp-for="IdActivity4" />
            <input type="hidden" asp-for="Origin" />
            <input type="hidden" asp-for="Schema" />
            <partial name="_MCSP" />
            <partial name="_NotesP" />
            <div class="form-group col-md-12">
                <input type="submit" value="Save All" class="btn btn-primary" />
                @if (Model.Origin == 0) //viene de la pagina Index de las notas
                {
                    <a asp-action="Index" class="btn btn-success">Back</a>
                }
                @if (Model.Origin == 1) //viene de la pagina NotStartedNotes de las notas
                {
                    <a asp-action="NotStartedNotes" class="btn btn-success">Back</a>
                }
                @if (Model.Origin == 2) //viene de la pagina NotesInEdit de las notas
                {
                    <a asp-action="NotesInEdit" class="btn btn-success">Back</a>
                }
                @if (Model.Origin == 3) //viene de la pagina PendingNotes de las notas
                {
                    <a asp-action="PendingNotes" class="btn btn-success">Back</a>
                }
                @if (Model.Origin == 4) //viene de la pagina NotesWithReview de las notas
                {
                    <a asp-action="NotesWithReview" class="btn btn-success">Back</a>
                }

                @if (Model.Status.ToString() == "Edition")
                {
                    @if (Model.Origin == 0) //viene de la pagina Index de las notas
                    {
                        <a asp-action="FinishEditingP" class="btn btn-warning" asp-route-id="@Model.Id" asp-route-origin="0" title="Finish edition of note">Finish Editing</a>
                    }
                    @if (Model.Origin == 2) //viene de la pagina NotesInEdit de las notas
                    {
                        <a asp-action="FinishEditingP" class="btn btn-warning" asp-route-id="@Model.Id" asp-route-origin="2" title="Finish edition of note">Finish Editing</a>
                    }
                }
            </div>
        </form>
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#cbGoal1").change(function () {
                var url = "@Url.Action("GetObjetiveList", "Notes")";
                $.get(url, { idGoal: $("#cbGoal1").val() }, function (data) {
                    $("#cbObjetive1").empty();
                    $.each(data, function (index, row) {
                        $("#cbObjetive1").append("<option value='" + row.value + "'>" + row.text + "</option>")
                    });

                    //actualizo el label con la intervention que corresponde al obj seleccionado
                    url = "@Url.Action("GetIntervention", "Notes")";
                    $.get(url, { idObjetive: $("#cbObjetive1").val() }, function (data) {
                        $("#lbIntervention1").text(data);
                    });
                });
            })
            $("#cbGoal2").change(function () {
                var url = "@Url.Action("GetObjetiveList", "Notes")";
                $.get(url, { idGoal: $("#cbGoal2").val() }, function (data) {
                    $("#cbObjetive2").empty();
                    $.each(data, function (index, row) {
                        $("#cbObjetive2").append("<option value='" + row.value + "'>" + row.text + "</option>")
                    });

                    //actualizo el label con la intervention que corresponde al obj seleccionado
                    url = "@Url.Action("GetIntervention", "Notes")";
                    $.get(url, { idObjetive: $("#cbObjetive2").val() }, function (data) {
                        $("#lbIntervention2").text(data);
                    });
                });
            })
            $("#cbGoal3").change(function () {
                var url = "@Url.Action("GetObjetiveList", "Notes")";
                $.get(url, { idGoal: $("#cbGoal3").val() }, function (data) {
                    $("#cbObjetive3").empty();
                    $.each(data, function (index, row) {
                        $("#cbObjetive3").append("<option value='" + row.value + "'>" + row.text + "</option>")
                    });

                    //actualizo el label con la intervention que corresponde al obj seleccionado
                    url = "@Url.Action("GetIntervention", "Notes")";
                    $.get(url, { idObjetive: $("#cbObjetive3").val() }, function (data) {
                        $("#lbIntervention3").text(data);
                    });
                });
            })
            $("#cbGoal4").change(function () {
                var url = "@Url.Action("GetObjetiveList", "Notes")";
                $.get(url, { idGoal: $("#cbGoal4").val() }, function (data) {
                    $("#cbObjetive4").empty();
                    $.each(data, function (index, row) {
                        $("#cbObjetive4").append("<option value='" + row.value + "'>" + row.text + "</option>")
                    });

                    //actualizo el label con la intervention que corresponde al obj seleccionado
                    url = "@Url.Action("GetIntervention", "Notes")";
                    $.get(url, { idObjetive: $("#cbObjetive4").val() }, function (data) {
                        $("#lbIntervention4").text(data);
                    });
                });
            })
            $("#cbObjetive1").change(function () {
                var url = "@Url.Action("GetIntervention", "Notes")";
                $.get(url, { idObjetive: $("#cbObjetive1").val() }, function (data) {
                    $("#lbIntervention1").text(data);
                });
            })
            $("#cbObjetive2").change(function () {
                var url = "@Url.Action("GetIntervention", "Notes")";
                $.get(url, { idObjetive: $("#cbObjetive2").val() }, function (data) {
                    $("#lbIntervention2").text(data);
                });
            })
            $("#cbObjetive3").change(function () {
                var url = "@Url.Action("GetIntervention", "Notes")";
                $.get(url, { idObjetive: $("#cbObjetive3").val() }, function (data) {
                    $("#lbIntervention3").text(data);
                });
            })
            $("#cbObjetive4").change(function () {
                var url = "@Url.Action("GetIntervention", "Notes")";
                $.get(url, { idObjetive: $("#cbObjetive4").val() }, function (data) {
                    $("#lbIntervention4").text(data);
                });
            })
            
            $("#EnglishPlanNote").click(function () {
                var url = "@Url.Action("Translate", "Notes")";
                $.get(url, { text: $("#PlanNote").val() }, function (data) {
                    $("#PlanNote").val(data);
                });
            })
        });
    </script>
}



