@model KyoS.Web.Models.NoteViewModel
@{
    ViewData["Title"] = "Note management";
}

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Notes", "Index", "Notes")
        </li>
        <li class="active">Note</li>
    </ul>
</div>

<h4>Note Management</h4>

<div class="row">
    <div>
        <div class="col-md-12">
            @if (ViewBag.Error == "O")
            {
            <div class="alert alert-block alert-warning">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>
                <i class="icon-ok red"></i>
                <strong class="red">
                    Error. The note must have at least one related goal.
                </strong>
            </div>
            }            
        </div>
        <form asp-action="EditNote" enctype="multipart/form-data">
            <div class="form-group col-md-12">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#note" aria-controls="note" role="tab" data-toggle="tab">Note</a></li>
                    <li role="presentation"><a href="#cms" aria-controls="cms" role="tab" data-toggle="tab">Client's Mental Status</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="note">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="Origin" />
                        <partial name="_Notes" />
                        <div class="form-group col-md-12">
                            <input type="submit" value="Save All" class="btn btn-primary" />
                            @if (Model.Origin == 0) //viene de la pagina Index de las notas
                            {
                                <a asp-action="Index" class="btn btn-success">Back</a>
                            }
                            @if (Model.Origin == 1) //viene de la pagina NotStartedNotes de las notas
                            {
                                <a asp-action="NotStartedNotes" class="btn btn-success">Back</a>
                            }
                            @if (Model.Origin == 2) //viene de la pagina NotesInEdit de las notas
                            {
                                <a asp-action="NotesInEdit" class="btn btn-success">Back</a>
                            }
                            @if (Model.Origin == 3) //viene de la pagina PendingNotes de las notas
                            {
                                <a asp-action="PendingNotes" class="btn btn-success">Back</a>
                            }
                            @if (Model.Origin == 4) //viene de la pagina NotesWithReview de las notas
                            {
                                <a asp-action="NotesWithReview" class="btn btn-success">Back</a>
                            }

                            @if (Model.Status.ToString() == "Edition")
                            {
                                @if (Model.Origin == 0) //viene de la pagina Index de las notas
                                {
                                    <a asp-action="FinishEditing" class="btn btn-warning" asp-route-id="@Model.Id" asp-route-origin="0" title="Finish edition of note">Finish Editing</a>
                                }
                                @if (Model.Origin == 2) //viene de la pagina NotesInEdit de las notas
                                {
                                    <a asp-action="FinishEditing" class="btn btn-warning" asp-route-id="@Model.Id" asp-route-origin="2" title="Finish edition of note">Finish Editing</a>
                                }
                            }
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="cms">
                        <br />
                        <partial name="_MCS" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>      

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#cbTopic1").change(function () {
                var url = "@Url.Action("GetActivityList", "Notes")";
                $.get(url, { idTheme: $("#cbTopic1").val() }, function (data) {
                    $("#cbActivity1").empty();
                    $.each(data, function (index, row) {
                        $("#cbActivity1").append("<option value='" + row.value + "'>" + row.value + " - " + row.text + "</option>")
                    });
                });
            })
            $("#cbTopic2").change(function () {
                var url = "@Url.Action("GetActivityList", "Notes")";
                $.get(url, { idTheme: $("#cbTopic2").val() }, function (data) {
                    $("#cbActivity2").empty();
                    $.each(data, function (index, row) {
                        $("#cbActivity2").append("<option value='" + row.value + "'>" + row.value + " - " + row.text + "</option>")
                    });
                });
            })
            $("#cbTopic3").change(function () {
                var url = "@Url.Action("GetActivityList", "Notes")";
                $.get(url, { idTheme: $("#cbTopic3").val() }, function (data) {
                    $("#cbActivity3").empty();
                    $.each(data, function (index, row) {
                        $("#cbActivity3").append("<option value='" + row.value + "'>" + row.value + " - " + row.text + "</option>")
                    });
                });
            })
            $("#cbTopic4").change(function () {
                var url = "@Url.Action("GetActivityList", "Notes")";
                $.get(url, { idTheme: $("#cbTopic4").val() }, function (data) {
                    $("#cbActivity4").empty();
                    $.each(data, function (index, row) {
                        $("#cbActivity4").append("<option value='" + row.value + "'>" + row.value + " - " + row.text + "</option>")
                    });
                });
            })
            $("#cbGoal1").change(function () {
                var url = "@Url.Action("GetObjetiveList", "Notes")";
                $.get(url, { idGoal: $("#cbGoal1").val() }, function (data) {
                    $("#cbObjetive1").empty();
                    $.each(data, function (index, row) {
                        $("#cbObjetive1").append("<option value='" + row.value + "'>" + row.text + "</option>")
                    });
                });
            })
            $("#cbGoal2").change(function () {
                var url = "@Url.Action("GetObjetiveList", "Notes")";
                $.get(url, { idGoal: $("#cbGoal2").val() }, function (data) {
                    $("#cbObjetive2").empty();
                    $.each(data, function (index, row) {
                        $("#cbObjetive2").append("<option value='" + row.value + "'>" + row.text + "</option>")
                    });
                });
            })
            $("#cbGoal3").change(function () {
                var url = "@Url.Action("GetObjetiveList", "Notes")";
                $.get(url, { idGoal: $("#cbGoal3").val() }, function (data) {
                    $("#cbObjetive3").empty();
                    $.each(data, function (index, row) {
                        $("#cbObjetive3").append("<option value='" + row.value + "'>" + row.text + "</option>")
                    });
                });
            })
            $("#cbGoal4").change(function () {
                var url = "@Url.Action("GetObjetiveList", "Notes")";
                $.get(url, { idGoal: $("#cbGoal4").val() }, function (data) {
                    $("#cbObjetive4").empty();
                    $.each(data, function (index, row) {
                        $("#cbObjetive4").append("<option value='" + row.value + "'>" + row.text + "</option>")
                    });
                });
            })
            $("#EnglishAnswerClient1").click(function () {
                var url = "@Url.Action("Translate", "Notes")";
                $.get(url, { text: $("#AnswerClient1").val() }, function (data) {
                    $("#AnswerClient1").val(data);                    
                });
            })
            $("#EnglishAnswerFacilitator1").click(function () {
                var url = "@Url.Action("Translate", "Notes")";
                $.get(url, { text: $("#AnswerFacilitator1").val() }, function (data) {
                    $("#AnswerFacilitator1").val(data);                    
                });
            })
            $("#EnglishAnswerClient2").click(function () {
                var url = "@Url.Action("Translate", "Notes")";
                $.get(url, { text: $("#AnswerClient2").val() }, function (data) {
                    $("#AnswerClient2").val(data);                    
                });
            })
            $("#EnglishAnswerFacilitator2").click(function () {
                var url = "@Url.Action("Translate", "Notes")";
                $.get(url, { text: $("#AnswerFacilitator2").val() }, function (data) {
                    $("#AnswerFacilitator2").val(data);                    
                });
            })
            $("#EnglishAnswerClient3").click(function () {
                var url = "@Url.Action("Translate", "Notes")";
                $.get(url, { text: $("#AnswerClient3").val() }, function (data) {
                    $("#AnswerClient3").val(data);                    
                });
            })
            $("#EnglishAnswerFacilitator3").click(function () {
                var url = "@Url.Action("Translate", "Notes")";
                $.get(url, { text: $("#AnswerFacilitator3").val() }, function (data) {
                    $("#AnswerFacilitator3").val(data);                    
                });
            })
            $("#EnglishAnswerClient4").click(function () {
                var url = "@Url.Action("Translate", "Notes")";
                $.get(url, { text: $("#AnswerClient4").val() }, function (data) {
                    $("#AnswerClient4").val(data);                    
                });
            })
            $("#EnglishAnswerFacilitator4").click(function () {
                var url = "@Url.Action("Translate", "Notes")";
                $.get(url, { text: $("#AnswerFacilitator4").val() }, function (data) {
                    $("#AnswerFacilitator4").val(data);                    
                });
            })
            $("#EnglishPlanNote").click(function () {
                var url = "@Url.Action("Translate", "Notes")";
                $.get(url, { text: $("#PlanNote").val() }, function (data) {
                    $("#PlanNote").val(data);                    
                });
            })
        });
    </script>
}



