@model IEnumerable<KyoS.Web.Data.Entities.NoteEntity>
@{
    ViewData["Title"] = "Notes";
}

<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Desktop", "Index", "Desktop")
        </li>
        <li class="active">Notes</li>
    </ul><!--.breadcrumb-->
</div>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Create Note Prototype</a> |
    <a asp-action="GenerateNotes" class="btn btn-warning"><i class="glyphicon glyphicon-align-justify"></i> Auto. generate</a> |
    @*<a asp-action="Index" class="btn btn-success"><i class="glyphicon glyphicon-book"></i> Notes used</a>*@
</p>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Notes prototype</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-1">
                                @Html.DisplayNameFor(model => model.Activity.Theme.Name)
                            </th>
                            <th class="col-md-4">
                                @Html.DisplayNameFor(model => model.Activity.Name)
                            </th>
                            <th class="col-md-4">
                                @Html.DisplayNameFor(model => model.AnswerClient)
                            </th>
                            <th class="col-md-1">
                                @*@Html.DisplayNameFor(model => model.Clasificacion)*@
                            </th>
                            <th class="col-md-2">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Activity.Theme.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Activity.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AnswerClient)
                            </td>
                            <td>
                                @*@Html.DisplayFor(modelItem => item.Clasificacion)*@
                            </td>
                            <td align="right">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></a>
                                <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#MyTable').DataTable();

                            // Delete item
                            var item_to_delete;

                            $('.deleteItem').click((e) => {
                                item_to_delete = e.currentTarget.dataset.id;
                            });

                            $("#btnYesDelete").click(function () {
                                window.location.href = '/Notes/Delete/' + item_to_delete;
                            });
                        });
    </script>
}
