@model IEnumerable<KyoS.Web.Data.Entities.WeekEntity>
@{
    ViewData["Title"] = "PSR notes summary";
}

<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Dashboard", "Index", "Desktop")
        </li>
        <li class="active">PSR notes summary</li>
    </ul><!--.breadcrumb-->
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">PSR notes summary by facilitator</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-1">

                            </th>
                            <th class="col-md-2">

                            </th>
                            <th class="col-md-3">

                            </th>
                            <th class="col-md-2" style="text-align:center;">
                                Init Date
                            </th>
                            <th class="col-md-2" style="text-align:center;">
                                Final Date
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderBy(w => w.WeekOfYear))
                        {
                        <tr>
                            <td align="center">
                                @if (item.Clinic.Facilitators.Where(f => f.Workdays_Clients.Where(wc => (wc.Present == true && wc.Workday.Week.Id == item.Id)).Count() != 0).Count() != 0)
                                {
                                    <a class="icon-plus-sign-alt"></a>
                                }
                                <div style="display:none">
                                    <table class="table table-striped">
                                        <tr>
                                            <th class="col-md-3">Name</th>
                                            <th class="col-md-2" style="text-align:center;">Not Started</th>
                                            <th class="col-md-2" style="text-align:center;">Editing</th>
                                            <th class="col-md-2" style="text-align:center;">Pending</th>
                                            <th class="col-md-2" style="text-align:center;">Approved</th>
                                            <th class="col-md-1" style="text-align:center;">Absent</th>
                                        </tr>
                                        @foreach (var facilitator in item.Clinic.Facilitators.OrderByDescending(f => f.Workdays_Clients.Where(wc => (wc.Present == true && wc.Workday.Week.Id == item.Id)).Count()))
                                        {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => facilitator.Name)
                                            </td>
                                            <td align="center">
                                                @facilitator.Workdays_Clients.Where(wc => (wc.Present == true && wc.Workday.Week.Id == item.Id && wc.Note == null && wc.Workday.Service == KyoS.Common.Enums.ServiceType.PSR)).Count()
                                            </td>
                                            <td align="center">
                                                @facilitator.Workdays_Clients.Where(wc => (wc.Present == true && wc.Workday.Week.Id == item.Id && wc.Note != null && wc.Note.Status == KyoS.Common.Enums.NoteStatus.Edition && wc.Workday.Service == KyoS.Common.Enums.ServiceType.PSR)).Count()
                                            </td>
                                            <td align="center">
                                                @facilitator.Workdays_Clients.Where(wc => (wc.Present == true && wc.Workday.Week.Id == item.Id && wc.Note != null && wc.Note.Status == KyoS.Common.Enums.NoteStatus.Pending && wc.Workday.Service == KyoS.Common.Enums.ServiceType.PSR)).Count()
                                            </td>
                                            <td align="center">
                                                @facilitator.Workdays_Clients.Where(wc => (wc.Present == true && wc.Workday.Week.Id == item.Id && wc.Note != null && wc.Note.Status == KyoS.Common.Enums.NoteStatus.Approved && wc.Workday.Service == KyoS.Common.Enums.ServiceType.PSR)).Count()
                                            </td>
                                            <td align="center">
                                                @facilitator.Workdays_Clients.Where(wc => (wc.Present == false && wc.Workday.Week.Id == item.Id && wc.Workday.Service == KyoS.Common.Enums.ServiceType.PSR)).Count()
                                            </td>
                                        </tr>
                                        }
                                    </table>
                                </div>
                            </td>
                            <td>
                                @if (item.MonthYear.Contains("January"))
                                {
                                    <span class="label label-default">
                                        @Html.DisplayFor(modelItem => item.MonthYear)
                                    </span>
                                }
                                @if (item.MonthYear.Contains("February"))
                                {
                                    <span class="label label-info">
                                        @Html.DisplayFor(modelItem => item.MonthYear)
                                    </span>
                                }
                                @if (item.MonthYear.Contains("March"))
                                {
                                    <span class="label label-primary">
                                        @Html.DisplayFor(modelItem => item.MonthYear)
                                    </span>
                                }
                                @if (item.MonthYear.Contains("April"))
                                {
                                    <span class="label label-warning">
                                        @Html.DisplayFor(modelItem => item.MonthYear)
                                    </span>
                                }
                                @if (item.MonthYear.Contains("May"))
                                {
                                    <span class="label label-success">
                                        @Html.DisplayFor(modelItem => item.MonthYear)
                                    </span>
                                }
                                @if (item.MonthYear.Contains("June"))
                                {
                                    <span class="label label-default">
                                        @Html.DisplayFor(modelItem => item.MonthYear)
                                    </span>
                                }
                                @if (item.MonthYear.Contains("July"))
                                {
                                    <span class="label label-info">
                                        @Html.DisplayFor(modelItem => item.MonthYear)
                                    </span>
                                }
                                @if (item.MonthYear.Contains("August"))
                                {
                                    <span class="label label-primary">
                                        @Html.DisplayFor(modelItem => item.MonthYear)
                                    </span>
                                }
                                @if (item.MonthYear.Contains("September"))
                                {
                                    <span class="label label-warning">
                                        @Html.DisplayFor(modelItem => item.MonthYear)
                                    </span>
                                }
                                @if (item.MonthYear.Contains("October"))
                                {
                                    <span class="label label-success">
                                        @Html.DisplayFor(modelItem => item.MonthYear)
                                    </span>
                                }
                                @if (item.MonthYear.Contains("November"))
                                {
                                    <span class="label label-default">
                                        @Html.DisplayFor(modelItem => item.MonthYear)
                                    </span>
                                }
                                @if (item.MonthYear.Contains("December"))
                                {
                                    <span class="label label-info">
                                        @Html.DisplayFor(modelItem => item.MonthYear)
                                    </span>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Alias)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.InitDate)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.FinalDate)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                "order": [[2, "asc"]],
                "pageLength": 100
            });
            // Delete item
            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                var url = "@Url.Action("Delete", "WorkDays")";
                window.location.href = url + '/' + item_to_delete;
            });
        });
        $(function () {

            //Assign Click event to Plus Image.
            $("body").on("click", "a[class*='icon-plus-sign-alt']", function () {
                $(this).closest("tr").after("<tr><td></td><td colspan = '999'>" + $(this).next().html() + "</td></tr>");
                $(this).attr("class", "icon-minus-sign-alt");
            });
            //Assign Click event to Minus Image.
            $("body").on("click", "a[class*='icon-minus-sign-alt']", function () {
                $(this).attr("class", "icon-plus-sign-alt");
                $(this).closest("tr").next().remove();
            });
        });

    </script>
}
