@model KyoS.Web.Models.NotPresentNotesClinicViewModel
@{
    ViewData["Title"] = "Absence Notes";
}

<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Dashboard", "Index", "Desktop")
        </li>
        <li class="active">Absence Notes</li>
    </ul><!--.breadcrumb-->
</div>

<div class="row">
    <form asp-action="NotPresentNotesClinic" enctype="multipart/form-data">
        <div class="form-group col-md-3">
            <label class="control-label">Select date interval</label><br />
            <input type="text"
                   asp-for="DateIterval"
                   data-range="true"
                   data-multiple-dates-separator=" - "
                   data-language="en"
                   class="form-control datepicker-here"
                   id="datepicker" />
        </div>
        <div class="form-group col-md-3">
            <label asp-for="IdFacilitator" class="control-label">Select Facilitator</label>
            <select asp-for="IdFacilitator" asp-items="Model.Facilitators" class="form-control"></select>
            <span asp-validation-for="IdFacilitator" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="IdClient" class="control-label">Select client</label>
            <select asp-for="IdClient" asp-items="Model.Clients" class="form-control"></select>
            <span asp-validation-for="IdClient" class="text-danger"></span>
        </div>
        <div class="container-fluid">
            &nbsp;
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-filter"></i> Filter</button>
        </div>
    </form>
    <div class="col-md-12">
        <hr />
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Absence notes</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-1" style="text-align:center;">Date</th>
                            <th class="col-md-1" style="text-align:center;">Service</th>
                            <th class="col-md-3">Name</th>
                            <th class="col-md-1" style="text-align:center;"></th>
                            <th class="col-md-3" style="text-align:center;">Cause</th>
                            <th class="col-md-2">Facilitator</th>
                            <th class="col-md-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var day_client in Model.WorkDaysClients.OrderBy(dc => dc.Workday.Date).OrderBy(dc => dc.Session))
                        {
                            <tr style="color:darkgrey">
                                <td align="center">
                                    @Html.DisplayFor(modelItem => day_client.Workday.Date)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => day_client.Workday.Service)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => day_client.Client.Name)
                                </td>
                                <td align="center">
                                    <span class="label label-default">
                                        Absence
                                    </span>
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(modelItem => day_client.CauseOfNotPresent)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => day_client.Facilitator.Name)
                                </td>
                                <td align="right">
                                    @if (day_client.Workday.Service == KyoS.Common.Enums.ServiceType.PSR)
                                    {
                                        <a asp-action="PrintAbsenceNote" asp-route-id="@day_client.Id" class="btn btn-success" title="Print absence PSR note" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                    }
                                    @if (day_client.Workday.Service == KyoS.Common.Enums.ServiceType.Individual)
                                    {
                                        <a asp-action="PrintAbsenceIndNote" asp-route-id="@day_client.Id" class="btn btn-success" title="Print absence individual note" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                    }
                                    @if (day_client.Workday.Service == KyoS.Common.Enums.ServiceType.Group)
                                    {
                                        <a asp-action="PrintAbsenceGroupNote" asp-route-id="@day_client.Id" class="btn btn-success" title="Print absence group note" target="_blank"><i class="glyphicon glyphicon-print"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#MyTable').DataTable({
               "pageLength": 100
            });
            
        });
    </script>
}

