@model IList<KyoS.Web.Models.NotesSummary>
@{
    ViewData["Title"] = "Summary";
}

<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Dashboard", "Index", "Desktop")
        </li>
        <li class="active">Summary of pending notes</li>
    </ul><!--.breadcrumb-->
</div>

<p>
    <a asp-action="NotesSummaryDetails" class="btn btn-primary" title="Details of PSR notes"><i class="glyphicon glyphicon-align-justify"></i> PSR Details</a>
    <a asp-action="IndNotesSummaryDetails" class="btn btn-info" title="Details of individual notes"><i class="glyphicon glyphicon-align-justify"></i> Ind. Details</a>
    <a asp-action="GroupNotesSummaryDetails" class="btn btn-default" title="Details of group notes"><i class="glyphicon glyphicon-align-justify"></i> Group Details</a>
</p>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Summary of pending notes</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-4">Facilitator</th>
                            <th class="col-md-2" style="text-align:center;">PSR Notes</th>
                            <th class="col-md-2" style="text-align:center;">Ind. Notes</th>
                            <th class="col-md-2" style="text-align:center;">Group Notes</th>
                            <th class="col-md-2" style="text-align:center;">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FacilitatorName)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.PSRPending)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.IndPending)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.GroupPending)
                                </td>
                                <td align="center">
                                    @(item.PSRPending + item.IndPending + item.GroupPending)
                                </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#MyTable').DataTable({
                "order": [[1, "desc"]],
                "pageLength": 25
            });
            
        });
    </script>
}

