@model KyoS.Web.Models.Workday_ClientViewModel

@{
    ViewData["Title"] = "Client attendance";
}

<h4>Client attendance </h4>
<hr />
<div class="row">
    <div class="col-md-12">
        @if (ViewBag.Error == "1")
        {
            <div class="alert alert-block alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>
                <i class="icon-ok red"></i>
                <strong class="red">
                    @ViewBag.errorText
                </strong>
            </div>
        }
    </div>
    <form asp-action="Present">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Origin" />
        <div>
            <div class="col-md-12">
                @if (Model.Client == null)
                {
                    <h4 style="font-weight:bold;"><span class="label label-info">Individual Note</span></h4>
                }
                else
                {
                    <h4 style="font-weight:bold;"><span class="label label-info">@Model.Client.Name</span></h4>
                }
                <h5 style="font-weight:bold;">Facilitator: @Model.Facilitator.Name</h5>
                <h5 style="font-weight:bold;">Date: @Model.Workday.Date.ToShortDateString()</h5>
                <h5 style="font-weight:bold;">Session: @Model.Session</h5>
                <hr />
            </div>
        </div>
        <div class="col-md-12">
            @if (Model.Present)
            {
                <input type="radio" name="Present" value="present" id="rPresent" checked="checked" />
            }
            else
            {
                <input type="radio" name="Present" id="rPresent" value="present" />
            }
            <label style="font-weight: bold;"> Present</label>
        </div>
        <div class="col-md-12">
            @if (Model.Present)
            {
                <input type="radio" name="Present" value="nopresent" id="rNoPresent" />
            }
            else
            {
                <input type="radio" name="Present" value="nopresent" id="rNoPresent" checked="checked" />
            }
            <label style="font-weight: bold;"> Not Present</label>
        </div>
        <div class="col-md-12">
            &nbsp;
        </div>
        <div class="col-md-6">
            <label class="control-label" id="lbCause"> Cause of absence</label>
            @if (Model.Present)
            {
                <textarea asp-for="CauseOfNotPresent" class="form-control" rows="4" id="txtCause" disabled></textarea>
            }
            else
            {
                <textarea asp-for="CauseOfNotPresent" class="form-control" rows="4" id="txtCause"></textarea>
            }
        </div>
        <div class="form-group col-md-12"></div>
        <div class="form-group col-md-12">
            <input type="submit" value="Save" class="btn btn-primary" />
            @if (Model.Origin == 0) //viene de la pagina Index de las notas
            {
                <a asp-action="Index" class="btn btn-success">Back</a>
            }
            @if (Model.Origin == 1) //viene de la pagina NotStartedNotes de las notas
            {
                <a asp-action="NotStartedNotes" class="btn btn-success">Back</a>
            }
            @if (Model.Origin == 2) //viene de la pagina NotesInEdit de las notas
            {
                <a asp-action="NotesInEdit" class="btn btn-success">Back</a>
            }
            @if (Model.Origin == 3) //viene de la pagina NotStartedIndNotes de las notas individuales
            {
                <a asp-action="NotStartedIndNotes" class="btn btn-success">Back</a>
            }
            @if (Model.Origin == 4) //viene de la pagina IndividualNotes de las notas individuales
            {
                <a asp-action="IndividualNotes" class="btn btn-success">Back</a>
            }
            @if (Model.Origin == 5) //viene de la pagina IndNotesInEdit de las notas individuales
            {
                <a asp-action="IndNotesInEdit" class="btn btn-success">Back</a>
            }
            @if (Model.Origin == 6) //viene de la pagina GroupNotes de las notas de grupo
            {
                <a asp-action="GroupNotes" class="btn btn-success">Back</a>
            }
            @if (Model.Origin == 7) //viene de la pagina NotStartedGroupNotes de las notas de grupo
            {
                <a asp-action="NotStartedGroupNotes" class="btn btn-success">Back</a>
            }
            @if (Model.Origin == 8) //viene de la pagina GroupNotesInEdit de las notas de grupo
            {
                <a asp-action="GroupNotesInEdit" class="btn btn-success">Back</a>
            }
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#rPresent").click(function () {                
                $("#txtCause").prop('disabled', true);
            })
            $("#rNoPresent").click(function () {                
                $("#txtCause").prop('disabled', false);
            })  
        });
    </script>   
}


