@model IEnumerable<KyoS.Common.Helpers.AllGoals>
@{
    ViewData["Title"] = "Goals Details";
}

<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("MTPs", "Index", "MTPs")
        </li>
        <li class="active">All Goals</li>
    </ul><!--.breadcrumb-->
</div>

<h4>All Goals</h4>

<div>
    @*<h4>Details</h4>*@
    <hr />
   
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 style="font-weight:bold;">Client's Goals</h5>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-1" style="text-align:center;">

                            </th>
                            <th class="col-md-1">
                                Goal
                            </th>
                            <th class="col-md-4">
                                Name
                            </th>
                            <th class="col-md-5">
                                Area of Focus
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Service
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td align="center">
                                    @if (item.AllObjectives.Count() != 0)
                                    {
                                        <a class="icon-plus-sign-alt"></a>
                                    }
                                    <div style="display:none">
                                        <table class="table table-striped">
                                            <tr>
                                                <th class="col-md-1">Objective</th>
                                                <th class="col-md-5">Description</th>
                                                <th class="col-md-5">Intervention</th>
                                                <th class="col-md-1">Target</th>
                                            </tr>
                                            @foreach (var objective in item.AllObjectives)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => objective.NumberObjective)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => objective.Description)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => objective.Intervention)
                                                    </td>
                                                    <td >
                                                        @Html.DisplayFor(modelItem => objective.DateTarget)
                                                    </td>
                                                </tr>
                                            }

                                        </table>
                                    </div>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumberGoal)
                                </td>
                                <td >
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AreaFocus)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.Service)
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {

            //Assign Click event to Plus Image.
            $("body").on("click", "a[class*='icon-plus-sign-alt']", function () {
                $(this).closest("tr").after("<tr><td></td><td colspan = '999'>" + $(this).next().html() + "</td></tr>");
                $(this).attr("class", "icon-minus-sign-alt");
            });
            //Assign Click event to Minus Image.
            $("body").on("click", "a[class*='icon-minus-sign-alt']", function () {
                $(this).attr("class", "icon-plus-sign-alt");
                $(this).closest("tr").next().remove();
            });
        });

    </script>
}

