@model KyoS.Web.Models.BillDmsViewModel
@{
    ViewData["Title"] = "Bill DMS";
}

<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("DMS Bills", "Index", "BillDms")
        </li>
        <li class="active">DMS Bill Details</li>
    </ul><!--.breadcrumb-->
</div>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-3 form-group">
            &nbsp;
        </div>
        <div class="col-md-6 form-group" align="center">
            @if (Model.FinishEdition == false)
            {
                <br />
                @if (Model.BillDmsDetails.Where(n => n.MedicaidBill == false).Count() > 0)
                {
                    <a asp-action="UnbilledNotesToPendingPayments" asp-route-id="@Model.Id" class="btn btn-info">Unbilled Notes to Pending Payments</a>
                }
                else
                {
                    <a asp-action="UnbilledNotesToPendingPayments" asp-route-id="@Model.Id" class="btn btn-info disabled">Unbilled Notes to Pending Payments</a>
                }
                <a asp-action="FinishEdition" asp-route-idBill="@Model.Id" class="btn btn-default">Finish editing billing for this period</a>

            }
            else
            {
                <br />
                <a asp-action="UnbilledNotesToPendingPayments" asp-route-id="@Model.Id" class="btn btn-info disabled">Unbilled Notes to Pending Payments</a>
                <a asp-action="FinishEdition" asp-route-idBill="@Model.Id" class="btn btn-default disabled">Finish editing billing for this period</a>
            }
            @*<a asp-action="Create" asp-route-dateBillclose="@DateTime.Today" class="btn btn-success"><i class="icon-dollar"></i> Generate Next Bill for this period</a>*@
        </div>
        <div class="col-md-5 form-group">
            &nbsp;
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-1">
            <div class="thumbnail list-group-item list-group-item-warning">
                <p style="text-align:center">Clients</p>
                <h4 style="text-align:center; font-weight:bold;">@Model.BillDmsDetails.GroupBy(n => n.NameClient).Count()</h4>
            </div>
        </div>
        <div class="col-md-1">
            <div class="thumbnail list-group-item list-group-item-warning">
                <p style="text-align:center">Notes CMH</p>
                <h4 style="text-align:center; font-weight:bold;">@Model.AmountCMHNotes</h4>
            </div>
        </div>
        <div class="col-md-1">
            <div class="thumbnail list-group-item list-group-item-warning">
                <p style="text-align:center">Notes TCM</p>
                <h4 style="text-align:center; font-weight:bold;">@Model.AmountTCMNotes</h4>
            </div>
        </div>
        <div class="col-md-1">
            <div class="thumbnail list-group-item list-group-item-warning">
                <p style="text-align:center">Units</p>
                <h4 style="text-align:center; font-weight:bold;">@Model.Units</h4>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail list-group-item list-group-item-success">
                <p style="text-align:center">Estimated Income</p>
                <h4 style="text-align:center; font-weight:bold;">$ @Model.Amount</h4>
            </div>
        </div>
        <div class="col-md-1">
            <div class="thumbnail list-group-item list-group-item-danger">
                <p style="text-align:center">Pending</p>
                <h4 style="text-align:center; font-weight:bold;">$ @Model.Different</h4>
            </div>
        </div>
        <div class="col-md-3">
            &nbsp;
        </div>
    </div>
    <div class="col-md-12">
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">DMS Bill Details </h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-2">
                                Client Name
                            </th>
                            <th class="col-md-2" style="text-align:center;">
                                Date Service
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Services
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Units
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Amount
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Billed
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                DMS Paid
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Paid Date
                            </th>
                            <th class="col-md-2">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.BillDmsDetails.OrderBy(n => n.NameClient).ThenBy(m => m.DateService))
                        {
                            <tr style="color: darkgrey;">
                                <td>
                                    @item.NameClient
                                </td>
                                <td align="center">
                                    @item.DateService.ToShortDateString()
                                </td>
                                <td align="center">
                                    @item.ServiceAgency
                                </td>
                                <td align="center">
                                    @item.Unit
                                </td>
                                <td align="center">
                                    @item.Amount
                                </td>
                                <td align="center">
                                    @if (item.MedicaidBill == false)
                                    {
                                        <span class="label label-danger">
                                            Not Billed
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="label label-success">
                                            Billed
                                        </span>
                                    }
                                </td>
                                <td align="center">
                                    @item.StatusBill
                                </td>
                                <td align="center">
                                    @if (item.PaidDate.ToShortDateString() == "01/01/0001")
                                    {
                                        <a> - </a>
                                    }
                                    else
                                    {
                                        @item.PaidDate.ToShortDateString()
                                    }
                                </td>
                                <td align="right">
                                    @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                                    {
                                        @if (Model.FinishEdition == false)
                                        {
                                            @if (item.StatusBill == KyoS.Common.Enums.StatusBill.Billed)
                                            {
                                                <a asp-action="ToPending" asp-route-id="@item.Id" class="btn btn-warning"><i class="glyphicon glyphicon-pause"></i></a>
                                            }
                                            else
                                            {
                                                @if (item.StatusBill == KyoS.Common.Enums.StatusBill.Pending)
                                                {
                                                    <a asp-action="ToBill" asp-route-id="@item.Id" class="btn btn-info"><i class="glyphicon glyphicon-play"></i></a>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            @if (item.StatusBill == KyoS.Common.Enums.StatusBill.Billed)
                                            {
                                                <a asp-action="ToPending" asp-route-id="@item.Id" class="btn btn-warning disabled"><i class="glyphicon glyphicon-pause"></i></a>
                                            }
                                            else
                                            {
                                                @if (item.StatusBill == KyoS.Common.Enums.StatusBill.Pending)
                                                {
                                                    <a asp-action="ToBill" asp-route-id="@item.Id" class="btn btn-info disabled"><i class="glyphicon glyphicon-play"></i></a>
                                                }
                                            }
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/datetime-moment.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $.fn.dataTable.moment('MM/DD/YYYY');

            $('#MyTable').DataTable({
                "order": [[3, "asc"]],
                "pageLength": 100
            });

          
        })
    </script>
}

