@model IEnumerable<KyoS.Web.Data.Entities.TCMServicePlanReviewEntity>

@if (Model != null)
{
    <div class="col-md-12">
        @if (ViewBag.Delete == "N")
        {
            <div class="alert alert-block alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>
                <strong class="red">
                    Error. It is not posible delete the TCM Services PLan Review
                </strong>
            </div>
        }
    </div>

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">TCM Services Plan Review</h3>
            </div>
            <div class="panel-body" id="view-tcmServicePlanReview">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-2" align="center">
                                TCM Cases
                            </th>
                            <th class="col-md-3" align="center">
                                Client Name
                            </th>
                            <th class="col-md-2" align="center">
                                Date Close
                            </th>
                            <th class="col-md-2" align="center">
                                CaseManager
                            </th>
                            <th class="col-md-1" align="center">
                                Status
                            </th>
                            <th class="col-md-2" align="center">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TcmServicePlan.TcmClient.CaseNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TcmServicePlan.TcmClient.Client.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TcmServicePlan.TcmClient.DataClose)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TcmServicePlan.TcmClient.Casemanager.Name)
                                </td>
                                <td>
                                    @if (item.TcmServicePlan.TCMServicePlanReview.Approved == 0)
                                    {
                                        <span class="label label-warning">
                                            Edition
                                        </span>
                                    }
                                    @if (item.TcmServicePlan.TCMServicePlanReview.Approved == 1)
                                    {
                                        <span class="label label-info">
                                            Pending
                                        </span>
                                    }
                                    @if (item.TcmServicePlan.TCMServicePlanReview.Approved == 2)
                                    {
                                        <span class="label label-info">
                                            Approved
                                        </span>
                                    }
                                </td>
                                <td align="right">
                                    @if (item.Approved == 0)
                                    {
                                        <a asp-action="Edit" asp-controller="TCMServicePlanReviews" asp-route-Id="@item.Id" asp-route-origin="1" asp-route-IdServicePlan="@item.TcmServicePlan.Id" class="btn btn-warning" title="Edit TCM Service PLan Review"><i class="glyphicon glyphicon-pencil"></i></a>
                                        <a asp-action="FinishEditing" asp-route-id="@item.Id" asp-route-origin="1" class="btn btn-success" title="Finish Editing TCM Service Plan Review"><i class="glyphicon glyphicon-ok"></i></a>
                                        @*<button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog" title="Delete TCM Service PLan Review"><i class="glyphicon glyphicon-trash"></i></button>*@
                                        <i class="btn btn-success disabled glyphicon glyphicon-print"></i>
                                    }
                                    @if (item.Approved == 1)
                                    {
                                        <a asp-action="Edit" asp-controller="TCMServicePlanReviews" asp-route-Id="@item.Id" asp-route-origin="2" asp-route-IdServicePlan="@item.TcmServicePlan.Id" class="btn btn-warning" title="Edit TCM Service PLan Review"><i class="glyphicon glyphicon-pencil"></i></a>
                                        <i class="btn btn-success disabled glyphicon glyphicon-ok"></i>
                                        <i class="btn btn-success disabled glyphicon glyphicon-print"></i>
                                    }
                                    @if (item.Approved == 2)
                                    {
                                        <i class="btn btn-success disabled glyphicon glyphicon-flag"></i>
                                        <a asp-action="FinishEditing" asp-route-id="@item.Id" class="btn btn-success" title="Print TCM Service Plan Review"><i class="glyphicon glyphicon-print"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

}





