@model IEnumerable<KyoS.Web.Data.Entities.TCMServicePlanReviewEntity>

@if (Model != null)
{
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @{
                    if (Model.Count() != 0)
                    {
                        if (Model.FirstOrDefault().Approved == 2)
                        {
                            <h3 class="panel-title">Approved Services Plans Reviews</h3>
                        }
                        if (Model.FirstOrDefault().Approved == 1)
                        {
                            <h3 class="panel-title">Pending Services Plans Reviews</h3>
                        }
                        if (Model.FirstOrDefault().Approved == 0)
                        {
                            <h3 class="panel-title">Services Plans Reviews in Edition</h3>
                        }
                    }
                    else
                    {                        
                        <h3 class="panel-title">Services Plans Reviews</h3>
                    }
                }                
            </div>
            <div class="panel-body" id="view-tcmServicePlanReview">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-1" >

                            </th>
                            <th class="col-md-3" style="text-align:left;">
                                Case Manager
                            </th>
                            <th class="col-md-3" >
                                Client Name
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Date
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Review
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Status
                            </th>
                            <th class="col-md-2" style="text-align:center;">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td align="center">
                                    @if (item.TCMMessages.Count() != 0)
                                    {
                                        <a class="icon-plus-sign-alt"></a>
                                    }
                                    <div style="display:none">
                                        <table class="table table-striped">
                                            <tr>
                                                <th class="col-md-2"></th>
                                                <th class="col-md-3">Title</th>
                                                <th class="col-md-7" style="text-align:center;">Text</th>
                                                @*<th class="col-md-1"></th>*@
                                                <th></th>
                                            </tr>
                                            @foreach (var message in item.TCMMessages.OrderBy(m => m.DateCreated))
                                            {

                                                @if (message.Status.ToString() == "NotRead")
                                                {
                                                    <tr style="color:mediumblue;">
                                                        <td>
                                                            <i class="glyphicon glyphicon-thumbs-down"></i> Not processed
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => message.Title)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => message.Text)
                                                        </td>
                                                    </tr>
                                                }
                                                @if (message.Status.ToString() == "Read")
                                                {
                                                    <tr>
                                                        <td>
                                                            <i class="glyphicon glyphicon-thumbs-up"></i> Processed
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => message.Title)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => message.Text)
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </table>
                                    </div>
                                </td>
                                <td align="left">
                                    @Html.DisplayFor(modelItem => item.TcmServicePlan.TcmClient.Casemanager.Name)
                                </td>
                                <td>
                                    @if (item.TcmServicePlan.TcmClient.Client.Gender == KyoS.Common.Enums.GenderType.Female)
                                    {
                                        <i class="glyphicon glyphicon-user btn-danger"></i>
                                    }
                                    @if (item.TcmServicePlan.TcmClient.Client.Gender == KyoS.Common.Enums.GenderType.Male)
                                    {
                                        <i class="glyphicon glyphicon-user btn-primary"></i>
                                    }
                                    &nbsp;
                                    @Html.DisplayFor(modelItem => item.TcmServicePlan.TcmClient.Client.Name)
                                    |
                                    @Html.DisplayFor(modelItem => item.TcmServicePlan.TcmClient.CaseNumber)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.DateServicePlanReview)
                                </td>
                                <td align="center">
                                        @if (item.TCMMessages.Count() == 0)
                                        {
                                            <span>
                                                -
                                            </span>
                                        }
                                        else
                                        {
                                            bool read = false;
                                            @foreach (var message in item.TCMMessages.OrderBy(m => m.DateCreated))
                                            {
                                                @if (message.Status.ToString() == "NotRead")
                                                {
                                                    read = false;
                                                    break;
                                                }
                                                @if (message.Status.ToString() == "Read")
                                                {
                                                    read = true;
                                                }
                                            }
                                            if (read)
                                            {
                                                <i class="glyphicon glyphicon-thumbs-up"></i>
                                            }
                                            else
                                            {
                                                <i class="glyphicon glyphicon-thumbs-down"></i>
                                            }
                                        }
                                    </td>
                                <td align="center">
                                    @if (item.TcmServicePlan.TCMServicePlanReview.Approved == 0)
                                    {
                                        <span class="label label-warning">
                                            Edition
                                        </span>
                                    }
                                    @if (item.TcmServicePlan.TCMServicePlanReview.Approved == 1)
                                    {
                                        <span class="label label-info">
                                            Pending
                                        </span>
                                    }
                                    @if (item.TcmServicePlan.TCMServicePlanReview.Approved == 2)
                                    {
                                        <span class="label label-success">
                                            Approved
                                        </span>
                                    }
                                </td>
                                <td align="right">
                                    @if (User.IsInRole("CaseManager"))
                                    {
                                        @if (item.Approved == 0)
                                        {
                                            <a asp-action="Edit" asp-controller="TCMServicePlanReviews" asp-route-Id="@item.Id" asp-route-origin="1" asp-route-IdServicePlan="@item.TcmServicePlan.Id" class="btn btn-warning" title="Edit TCM Service Plan Review"><i class="glyphicon glyphicon-pencil"></i></a>
                                            <a asp-action="FinishEditing" asp-route-id="@item.Id" asp-route-origin="1" class="btn btn-success" title="Finish Editing TCM Service Plan Review"><i class="glyphicon glyphicon-ok"></i></a>
                                            @*<button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog" title="Delete TCM Service PLan Review"><i class="glyphicon glyphicon-trash"></i></button>*@
                                            <i class="btn btn-success disabled glyphicon glyphicon-print"></i>
                                        }
                                        @if (item.Approved == 1)
                                        {
                                            <a asp-action="Edit" asp-controller="TCMServicePlanReviews" asp-route-Id="@item.Id" asp-route-origin="2" asp-route-IdServicePlan="@item.TcmServicePlan.Id" class="btn btn-warning" title="Edit TCM Service Plan Review"><i class="glyphicon glyphicon-pencil"></i></a>
                                            <i class="btn btn-success disabled glyphicon glyphicon-ok"></i>
                                            <i class="btn btn-success disabled glyphicon glyphicon-print"></i>
                                        }
                                        @if (item.Approved == 2)
                                        {
                                            <i class="btn btn-warning disabled glyphicon glyphicon-pencil"></i>
                                            <i class="btn btn-success disabled glyphicon glyphicon-ok"></i>
                                            <a asp-action="Print" asp-route-id="@item.Id" class="btn btn-success" title="Print TCM Service Plan Review"><i class="glyphicon glyphicon-print"></i></a>
                                        }
                                    }
                                    @if (User.IsInRole("Manager") || User.IsInRole("TCMSupervisor"))
                                    {
                                        @if (item.Approved == 0)
                                        {
                                            <i class="btn btn-warning disabled glyphicon glyphicon-pencil"></i>
                                            <i class="btn btn-success disabled glyphicon glyphicon-ok"></i>
                                            <i class="btn btn-success disabled glyphicon glyphicon-print"></i>
                                        }
                                        @if (item.Approved == 1)
                                        {
                                            <i class="btn btn-warning disabled glyphicon glyphicon-pencil"></i>
                                            <a asp-action="EditReadOnly" asp-route-id="@item.Id"  asp-route-IdServicePlan="@item.TcmServicePlan.Id" class="btn btn-success" title="Approve TCM Service Plan Review"><i class="glyphicon glyphicon-ok"></i></a>
                                            <i class="btn btn-success disabled glyphicon glyphicon-print"></i>
                                        }
                                        @if (item.Approved == 2)
                                        {
                                            <i class="btn btn-warning disabled glyphicon glyphicon-pencil"></i>
                                            <i class="btn btn-success disabled glyphicon glyphicon-ok"></i>
                                            <a asp-action="Print" asp-route-id="@item.Id" class="btn btn-success" title="Print TCM Service Plan Review"><i class="glyphicon glyphicon-print"></i></a>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

}





