@model KyoS.Web.Models.TCMServicePlanReviewViewModel
@{
    ViewData["Title"] = "Approve SPR";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
</head>
<body>
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                @if (ViewData["origi"].ToString() == "0")
                {
                    @Html.ActionLink("TCM Service Plan Review", "ServicePlanReviewApproved", "TCMServicePlanReviews", new { approved = 1 })
                }
                @if (ViewData["origi"].ToString() == "1")
                {
                    @Html.ActionLink("TCM Service Plan Review Notifications", "Notifications", "TCMMessages")
                }
                @if (ViewData["origi"].ToString() == "5")
                {
                    @Html.ActionLink("TCM Client History", "TCMCaseHistory", "TCMClients", new { id = @Model.TcmServicePlan.TcmClient_FK })
                }
            </li>
            <li class="active">Approve Service Plan Review</li>
        </ul><!--.breadcrumb-->
    </div>

    <h4>Approve Service Plan Review</h4>
    <hr />

    <div class="row">

        <form asp-action="ApproveTCMServicePlanReview" asp-route-id="@Model.Id" asp-route-origi="@ViewData["origi"]" enctype="multipart/form-data">
            <div class="col-md-push-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="IdServicePlan" />
                <input type="hidden" asp-for="Approved" />
                <partial name="_TCMServicePlanReview" />
                <div class="col-md-push-12">
                    <div class="col-md-12">
                        <div id="view-tcmServicePlanReview">
                            @await Html.PartialAsync("_ViewDomainServicePlanReview", Model.TCMServicePlanRevDomain.ToList())
                        </div>
                    </div>
                    <div class="col-md-12">
                        @if (User.IsInRole("CaseManager"))
                        {
                            <div class="col-md-push-12">
                                <pre>
                            @if (Model.Approved < 1)
                            {
        <input type="checkbox" class="form-check-input" disabled> <i>Signed</i>
                            }
                            else
                            {            
        <input type="checkbox" class="form-check-input" checked disabled> <i>Signed</i>
                            }
        <strong>Employee signature date</strong>        <input asp-for="DateTCMCaseManagerSignature">   
        <strong>(@Html.DisplayFor(modelItem => Model.TcmServicePlan.TcmClient.Casemanager.Name))</strong>  <br />  
        <input type="checkbox" class="form-check-input" disabled> <i>Signed</i>
        <strong>(@Html.DisplayFor(modelItem => Model.TcmServicePlan.TcmClient.Casemanager.TCMSupervisor.Name))</strong>
                        </pre>
                            </div>
                            <div class="col-md-push-12">
                                <hr />
                            </div>
                        }
                        @if (User.IsInRole("TCMSupervisor"))
                        {
                            <div class="col-md-push-12">
                                <pre>
                            @if (Model.Approved < 1)
                            {
        <input type="checkbox" class="form-check-input" disabled> <i>Signed</i>
                            }
                            else
                            { 
        <input type="checkbox" class="form-check-input" checked disabled> <i>Signed</i>
                            }
                            @if (Model.TcmServicePlan.TcmClient.Client.Clinic.Setting.TCMSupervisorEdit == true && ViewData["origi"].ToString() != "5")
                            {
        <strong>Employee signature date</strong>      <input asp-for="DateTCMCaseManagerSignature">   
        <strong>(@Html.DisplayFor(modelItem => Model.TcmServicePlan.TcmClient.Casemanager.Name))</strong>  <br /> 
                            }
                            else
                            { 
        <strong>Employee signature date</strong>      <input asp-for="DateTCMCaseManagerSignature" disabled>   
        <strong>(@Html.DisplayFor(modelItem => Model.TcmServicePlan.TcmClient.Casemanager.Name))</strong>  <br /> 
        
                            }
                            @if (Model.Approved < 2)
                            {
        <input type="checkbox" class="form-check-input" disabled> <i>Signed</i>
                            }
                            else
                            { 
        <input type="checkbox" class="form-check-input" checked disabled> <i>Signed</i>
                            } 
                            @if (ViewData["origi"].ToString() != "5")
                            {
        <strong>Supervisor signature date</strong>    <input asp-for="DateTCMSupervisorSignature">
        <strong>(@Html.DisplayFor(modelItem => Model.TcmServicePlan.TcmClient.Casemanager.TCMSupervisor.Name))</strong>                    
                            }
                            else
                            { 
        <strong>Supervisor signature date</strong>    <input asp-for="DateTCMSupervisorSignature" disabled>
        <strong>(@Html.DisplayFor(modelItem => Model.TcmServicePlan.TcmClient.Casemanager.TCMSupervisor.Name))</strong>
                            }

                            </pre>
                            </div>
                            <div class="col-md-push-12">
                                <hr />
                            </div>
                        }
                         @if (User.IsInRole("Manager"))
                        {
                            <div class="col-md-push-12">
                                <pre>
                            @if (Model.Approved < 1)
                            {
        <input type="checkbox" class="form-check-input" disabled> <i>Signed</i>
                            }
                            else
                            { 
        <input type="checkbox" class="form-check-input" checked disabled> <i>Signed</i>
                            }
                            
        <strong>Employee signature date</strong>      <input asp-for="DateTCMCaseManagerSignature" disabled>   
        <strong>(@Html.DisplayFor(modelItem => Model.TcmServicePlan.TcmClient.Casemanager.Name))</strong>  <br /> 
                            @if (Model.Approved < 2)
                            {
        <input type="checkbox" class="form-check-input" disabled> <i>Signed</i>
                            }
                            else
                            { 
        <input type="checkbox" class="form-check-input" checked disabled> <i>Signed</i>
                            } 
        <strong>Supervisor signature date</strong>    <input asp-for="DateTCMSupervisorSignature" disabled>
        <strong>(@Html.DisplayFor(modelItem => Model.TcmServicePlan.TcmClient.Casemanager.TCMSupervisor.Name))</strong>
                            </pre>
                            </div>
                            <div class="col-md-push-12">
                                <hr />
                            </div>
                        }
                    </div>
                </div>
                <br />
                <div class="form-group col-md-12">

                    @if (User.IsInRole("TCMSupervisor") && ViewData["origi"].ToString() != "5")
                    {
                        <input type="submit" value="Approve" class="btn btn-primary" />
                        <a class="btn btn-warning" onclick="showInPopup('@Url.Action("AddMessageEntity", "TCMServicePlanReviews", new { id = Model.Id, origi = 1 }, Context.Request.Scheme)','Add message to casemanager')" title="Not approved tcm Fars due to problems">Review</a>
                    }
                    @if (ViewData["origi"].ToString() == "0")
                    {
                        <a asp-action="ServicePlanReviewApproved" asp-route-approved="1" class="btn btn-success">Back</a>
                    }
                    @if (ViewData["origi"].ToString() == "1")
                    {
                        <a asp-action="Notifications" asp-controller="TCMMessages" class="btn btn-success">Back</a>
                    }
                    @if (ViewData["origi"].ToString() == "5")
                    {
                        <a asp-action="TCMCaseHistory" asp-controller="TCMClients" asp-route-id="@Model.TcmServicePlan.TcmClient_FK" class="btn btn-success">Back</a>
                    }
                </div>
            </div>
        </form>

    </div>

</body>
</html>

<partial name="_ModalPopup" />
<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                                "order": [[1, "asc"]],
                                "pageLength": 100
                            });

            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                var url = "@Url.Action("DeleteDomain", "TCMServicePlanReviews")";
                window.location.href = url + '/' + item_to_delete;
            });
        });
        $(function () {
            //Assign Click event to Plus Image.
            $("body").on("click", "a[class*='icon-plus-sign-alt']", function () {
                $(this).closest("tr").after("<tr><td></td><td colspan = '999'>" + $(this).next().html() + "</td></tr>");
                $(this).attr("class", "icon-minus-sign-alt");
            });
            //Assign Click event to Minus Image.
            $("body").on("click", "a[class*='icon-minus-sign-alt']", function () {
                $(this).attr("class", "icon-plus-sign-alt");
                $(this).closest("tr").next().remove();
            });
        });
    </script>
}


