@model IEnumerable<KyoS.Web.Data.Entities.DoctorEntity>

@if (Model != null)
{
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Doctors</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-2">
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th class="col-md-2">
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                @Html.DisplayNameFor(model => model.Telephone)
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                @Html.DisplayNameFor(model => model.FaxNumber)
                            </th>
                            <th class="col-md-2" style="text-align:center;">
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Open
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Close
                            </th>
                            <th class="col-md-2">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.Telephone)
                                </td>
                                 <td align="center">
                                    @Html.DisplayFor(modelItem => item.FaxNumber)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td align="center">
                                    @if (@item.Clients.Where(n => n.Status == KyoS.Common.Enums.StatusType.Open).Count() > 0)
                                    {
                                        <a onclick="showInPopupLg('@Url.Action("ViewDetails","Doctors",new {id = @item.Id, status = KyoS.Common.Enums.StatusType.Open },Context.Request.Scheme)','View Details')" class="btn btn-info" title="View Details">
                                            @item.Clients.Where(n => n.Status == KyoS.Common.Enums.StatusType.Open).Count()
                                        </a>
                                    }
                                    else
                                    {
                                        <a onclick="showInPopupLg('@Url.Action("ViewDetails","Doctors",new {id = @item.Id, status = KyoS.Common.Enums.StatusType.Open},Context.Request.Scheme)','View Details')" class="btn btn-default disabled" title="View Details">
                                            0
                                        </a>
                                    }
                                </td>
                                <td align="center">
                                    @if (@item.Clients.Where(n => n.Status == KyoS.Common.Enums.StatusType.Close).Count() > 0)
                                    {
                                        <a onclick="showInPopupLg('@Url.Action("ViewDetails","Doctors",new {id = @item.Id, status = KyoS.Common.Enums.StatusType.Close },Context.Request.Scheme)','View Details')" class="btn btn-info" title="View Details">
                                            @item.Clients.Where(n => n.Status == KyoS.Common.Enums.StatusType.Close).Count()
                                        </a>
                                    }
                                    else
                                    {
                                        <a onclick="showInPopupLg('@Url.Action("ViewDetails","Doctors",new {id = @item.Id, status = KyoS.Common.Enums.StatusType.Close},Context.Request.Scheme)','View Details')" class="btn btn-default disabled" title="View Details">
                                            0
                                        </a>
                                    }
                                </td>
                                <td align="right">
                                    @*<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning" title="Edit doctor"><i class="glyphicon glyphicon-pencil"></i></a>*@
                                    <a onclick="showInPopup('@Url.Action("EditModal","Doctors",new {id = @item.Id},Context.Request.Scheme)','Edit Doctor')" class="btn btn-warning" title="Edit doctor"><i class="glyphicon glyphicon-pencil"></i></a>
                                    <button onclick="ConfirmDelete(@item.Id)" class="btn btn-danger deleteItem" title="Delete doctor"><i class="glyphicon glyphicon-trash"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}



