@model IEnumerable<KyoS.Web.Data.Entities.DischargeEntity>
@{
    ViewData["Title"] = "DischargeForClient";
}
<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("All Documents", "Alldocuments", "Clients")
        </li>
        <li class="active">Discharge</li>
    </ul><!--.breadcrumb-->
</div>
<div class="row">

    <div class="col-md-12">
        &nbsp;
    </div>

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Discharge for client</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-2">
                                @Html.DisplayNameFor(model => model.Client.Name)
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                @Html.DisplayNameFor(model => model.Client.Code)
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Status
                            </th>
                            <th class="col-md-2" style="text-align:center;">
                                @Html.DisplayNameFor(model => model.Client.AdmisionDate)
                            </th>
                            <th class="col-md-2" style="text-align:center;">
                                Admissioned for
                            </th>
                            <th class="col-md-2" style="text-align:center;">
                                Type service
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Approved
                            </th>
                            <th class="col-md-1" align="right">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @if (item.Client.Gender == KyoS.Common.Enums.GenderType.Female)
                                    {
                                        <i class="glyphicon glyphicon-user btn-danger"></i>
                                    }
                                    @if (item.Client.Gender == KyoS.Common.Enums.GenderType.Male)
                                    {
                                        <i class="glyphicon glyphicon-user btn-primary"></i>
                                    }
                                    &nbsp;
                                    @Html.DisplayFor(modelItem => item.Client.Name)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.Client.Code)
                                </td>
                                <td align="center">
                                    @if (item.Client.Status == KyoS.Common.Enums.StatusType.Close)
                                    {
                                        <span class="label label-default">
                                            Close
                                        </span>
                                    }
                                    @if (item.Client.Status == KyoS.Common.Enums.StatusType.Open)
                                    {
                                        <span class="label label-success">
                                            Open
                                        </span>
                                    }
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.Client.AdmisionDate)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.AdmissionedFor)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.TypeService)
                                </td>
                                <td align="center">
                                    @if (item.Status == KyoS.Common.Enums.DischargeStatus.Edition)
                                    {
                                        <span class="label label-warning">
                                            Edition
                                        </span>
                                    }
                                    @if (item.Status == KyoS.Common.Enums.DischargeStatus.Approved)
                                    {
                                        <span class="label label-success">
                                            Approved
                                        </span>
                                    }
                                    @if (item.Status == KyoS.Common.Enums.DischargeStatus.Pending)
                                    {
                                        <span class="label label-info">
                                            Pending
                                        </span>
                                    }
                                </td>
                                <td align="right">
                                    @if (item.Status == KyoS.Common.Enums.DischargeStatus.Approved)
                                    {
                                        <a asp-action="PrintFarsForm" asp-route-id="@item.Id" class="btn btn-success" title="Print Fars Form"><i class="glyphicon glyphicon-print"></i></a>
                                    }
                                    else
                                    {
                                        <a asp-action="PrintFarsForm" asp-route-id="@item.Id" class="btn btn-success disabled" title="Print Fars Form"><i class="glyphicon glyphicon-print"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#MyTable').DataTable({
               "pageLength": 100
            });

            // Delete item
            //var item_to_delete;

            @*$('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                var url = "@Url.Action("Delete", "WorkDays")";
                window.location.href = url + '/' + item_to_delete;
            });*@
        });
    </script>
}



