@model IEnumerable<KyoS.Web.Data.Entities.GroupEntity>
@{
    ViewData["Title"] = "Group-Therapy Groups";
}

<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Dashboard", "Index", "Desktop")
        </li>
        <li class="active">Group-Therapy Groups</li>
    </ul><!--.breadcrumb-->
</div>

<p>
    @if (User.IsInRole("Manager"))
    {
        <a asp-action="CreateGT" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Create GT Group</a>
    }
    @if (ViewData["all"].ToString() == "0")
    {
        <a asp-action="Group" asp-route-all="1" class="btn btn-info"><i class="glyphicon glyphicon-list"></i> Only Group with clients</a>
    }
    @if (ViewData["all"].ToString() == "1")
    {
        <a asp-action="Group" asp-route-all="0" class="btn btn-info"><i class="glyphicon glyphicon-list"></i> All Groups</a>
    }
</p>

<div class="row">
    @if (ViewBag.Message == "1")
    {
        <div class="col-md-12">
            <p class="alert alert-block alert-danger">
                <strong class="red"> Note: </strong> There are group therapy active clients that are not in any group (<a asp-action="ListClientWithoutGroup" asp-route-serviceType="@KyoS.Common.Enums.ServiceType.Group">@ViewData["count"]</a>).
            </p>
        </div>
    }
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Group - Therapy Groups</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-1">

                            </th>
                            <th class="col-md-3">
                                Facilitator
                            </th>
                            <th class="col-md-2" style="text-align:center;">
                                Therapy
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Clients
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                AM
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                PM
                            </th>
                            <th class="col-md-2" style="text-align:center;">
                                Schedule
                            </th>
                            <th class="col-md-1">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td align="center">
                                    @if (item.Clients.Count() != 0)
                                    {
                                        <a class="icon-plus-sign-alt"></a>
                                    }
                                    else
                                    {

                                    }
                                    <div style="display:none">
                                        <table class="table table-striped table-bordered">
                                            <tr>
                                                <th class="col-md-6">Client Name</th>
                                                <th class="col-md-3" style="text-align:center;">Date of birth</th>
                                                <th class="col-md-3" style="text-align:center;">Medical ID</th>
                                            </tr>
                                            @foreach (var client in item.Clients)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(modelItem => client.Name)</td>
                                                    <td align="center">@Html.DisplayFor(modelItem => client.DateOfBirth)</td>
                                                    <td align="center">@Html.DisplayFor(modelItem => client.MedicaidID)</td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Facilitator.Name)
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.Service)
                                </td>
                                <td align="center">
                                    @item.Clients.Count()
                                </td>
                                <td align="center">
                                    @if (item.Am)
                                    {
                                        <i class="icon-ok green"></i>
                                    }
                                </td>
                                <td align="center">
                                    @if (item.Pm)
                                    {
                                        <i class="icon-ok green"></i>
                                    }
                                </td>
                                <td align="center">
                                    @if (item.Schedule != null)
                                    {
                                        <label> @item.Schedule.InitialTime.ToShortTimeString() to @item.Schedule.EndTime.ToShortTimeString()</label>
                                    }
                                </td>
                                <td align="right">
                                    @if (User.IsInRole("Manager"))
                                    {
                                        <a asp-action="EditGT" asp-route-id="@item.Id" asp-route-all="@ViewData["all"]" class="btn btn-warning" title="Edit GT group"><i class="glyphicon glyphicon-pencil"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                "order": [[1, "asc"]],
                "pageLength": 25
            });

            // Delete item
            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                var url = "@Url.Action("Delete", "Groups")";
                window.location.href = url + '/' + item_to_delete;
            });
        });
        $(function () {

            //Assign Click event to Plus Image.
            $("body").on("click", "a[class*='icon-plus-sign-alt']", function () {
                $(this).closest("tr").after("<tr><td></td><td colspan = '999'>" + $(this).next().html() + "</td></tr>");
                $(this).attr("class", "icon-minus-sign-alt");
            });
            //Assign Click event to Minus Image.
            $("body").on("click", "a[class*='icon-minus-sign-alt']", function () {
                $(this).attr("class", "icon-plus-sign-alt");
                $(this).closest("tr").next().remove();
            });
        });

    </script>
}


