@model KyoS.Web.Models.AddProgressNoteViewModel
@{
    Layout = null;
}

@if (ViewData["permit"].ToString() == "0")
{
    <div class="row">
        <div class="col-md-12">
            @*<form asp-action="AddProgressNote" asp-route-date="@Model.Date" onsubmit="return jQueryAjaxPostTCMAddProgressNote(this);">*@
            <form asp-action="AddProgressNote" asp-route-date="@Model.Date.Date">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Date" />
                <div class="col-md-12">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-3">
                        <input type="checkbox" asp-for="Billable" class="form-check-input" readonly id="check1"> Billable
                    </div>
                    <div class="col-md-3">
                        <input type="checkbox" class="form-check-input" id="check101"> Non-Billable
                    </div>
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                </div>
                <div class="col-md-12">
                    &nbsp;
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="IdClient" class="control-label"></label>&nbsp;*
                        <select asp-for="IdClient" asp-items="Model.Clients" class="form-control"></select>
                        <span asp-validation-for="IdClient" class="text-danger"></span>
                    </div>
                </div>
                @*<div class="col-md-12">
            &nbsp;
            </div>*@
                <div>
                    <div class="col-md-offset-7">
                        <input type="submit" value="Add Progress Note" class="btn btn-primary" /> &nbsp;&nbsp;
                        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

}
else
{
    <div class="row">
        <div class="col-md-12">
            @*<form asp-action="AddProgressNote" asp-route-date="@Model.Date" onsubmit="return jQueryAjaxPostTCMAddProgressNote(this);">*@
            <form asp-action="AddProgressNote" asp-route-date="@Model.Date">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Date" />
                <div class="col-md-12">
                    Note: It's possible to create notes since <strong>@ViewData["date"].ToString().Remove(10)</strong>
                </div>
                <div class="col-md-12">
                   <hr />
                </div>
                <div class="col-md-12">
                    <strong> <i > Please contact the Manager for any questions.</i > </strong >
                </div>
                <div class="col-md-12">
                    &nbsp;
                </div>
                <div>
                    <div class="col-md-offset-10">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
<script>

    check1.addEventListener('change', (e) => {
        if (check1.checked == true) {
            check101.checked = false;
        } else {
            check101.checked = true;
        }

    })
    check101.addEventListener('change', (e) => {
        if (check101.checked == true) {
            check1.checked = false;
        } else {
            check1.checked = true;
        }

    })
    if (check1.checked == true) {
        check101.checked = false;
    } else {
        check101.checked = true;
    }
</script>