@model KyoS.Web.Models.TCMBillingReportViewModel
@{
    ViewData["Title"] = "TCM Billing Report";
}

<link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="~/css/datepicker.min.css">

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Dashboard", "Index", "Desktop")
        </li>
        <li class="active">TCM Billing Report</li>
    </ul><!--.breadcrumb-->
</div>
<div class="row">
    <form asp-action="BillingForWeek" enctype="multipart/form-data">
        <div class="form-group col-md-3">
            <label class="control-label">Select date interval</label>&nbsp;*<br />
            <input type="text"
                   asp-for="DateIterval"
                   data-range="true"
                   data-multiple-dates-separator=" - "
                   data-language="en"
                   class="form-control datepicker-here" />
        </div>
        @if (User.IsInRole("Manager") || User.IsInRole("TCMSupervisor"))
        {
            <div class="form-group col-md-3">
                <label asp-for="IdCaseManager" class="control-label">Select case manager</label>
                <select asp-for="IdCaseManager" asp-items="Model.CaseManagers" class="form-control"></select>
                <span asp-validation-for="IdCaseManager" class="text-danger"></span>
            </div>
        }
        <div class="form-group col-md-3">
            <label asp-for="IdClient" class="control-label">Select client</label>
            <select asp-for="IdClient" asp-items="Model.Clients" class="form-control"></select>
            <span asp-validation-for="IdClient" class="text-danger"></span>
        </div>
        <div class="container-fluid">
            &nbsp;
        </div>
        <div class="col-md-12">
            @*<button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-filter"></i> Filter</button>
            <button type="submit" asp-route-billed="0" class="btn btn-success"><i class="icon-usd"></i> Bill</button>*@
            <button type="submit" asp-route-billed="2" class="btn btn-success"><i class="icon-usd"></i> Billed</button>
            <button type="submit" asp-route-billed="1" class="btn btn-danger"><i class="icon-usd "></i> No Billed</button>
            <button type="submit" asp-route-billed="3" class="btn btn-info"><i class="icon-usd "></i> Payment Pending</button>
        </div>
    </form>
    <div class="col-md-12">
        </br>
    </div>
    @if (User.IsInRole("Manager"))
    { 
        <div class="col-md-12">
            <div class="col-md-3">
                &nbsp;
            </div>
            <div class="col-md-5">
                <center>
                    <a asp-action="UpdateBill" asp-route-billed="1" class="btn btn-warning" title="Update Bill"><i class="glyphicon glyphicon-refresh"></i> Update services pending billing</a>
                    <a asp-action="EXCEL" asp-route-dateInterval="@Model.DateIterval" asp-route-all=0 class="btn btn-success"><i class="glyphicon glyphicon-download-alt"></i> Export Unbilled Report</a>
                    <a asp-action="EXCEL" asp-route-dateInterval="@Model.DateIterval" asp-route-all=1 class="btn btn-success"><i class="glyphicon glyphicon-download-alt"></i> Export All Report</a>
                    <hr />
                </center>
            </div>
            <div class="col-md-4">
                &nbsp;
            </div>
        </div>
    }
    <div class="col-md-12">
        <div class="col-md-3">
            &nbsp;
        </div>
        @if (ViewData["billed"].ToString() == "1")
        {
            <div class="col-md-1">
                <div class="thumbnail list-group-item list-group-item-danger">
                    <p style="text-align:center">Clients</p>
                    <h4 style="text-align:center; font-weight:bold;">@ViewBag.Clients</h4>
                </div>
            </div>
            <div class="col-md-1">
                <div class="thumbnail list-group-item list-group-item-danger">
                    <p style="text-align:center">Notes</p>
                    <h4 style="text-align:center; font-weight:bold;">@ViewBag.Notes</h4>
                </div>
            </div>
            <div class="col-md-1">
                <div class="thumbnail list-group-item list-group-item-danger">
                    <p style="text-align:center">Services</p>
                    <h4 style="text-align:center; font-weight:bold;">@ViewBag.Services</h4>
                </div>
            </div>
            <div class="col-md-1">
                <div class="thumbnail list-group-item list-group-item-danger">
                    <p style="text-align:center">Units</p>
                    <h4 style="text-align:center; font-weight:bold;">@ViewBag.Units</h4>
                </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail list-group-item list-group-item-warning">
                    <p style="text-align:center">Estimated Income</p>
                    @if (ViewBag.Money == "0")
                    {
                        <h4 style="text-align:center; font-weight:bold;">$0.00</h4>
                    }
                    else
                    {
                        <h4 style="text-align:center; font-weight:bold;"> $@string.Concat(ViewBag.Money, ".00")</h4>
                    }
                </div>
            </div>
        }
        else
        {
            @if (ViewData["billed"].ToString() == "2")
            {
                <div class="col-md-1">
                    <div class="thumbnail list-group-item list-group-item-success">
                        <p style="text-align:center">Clients</p>
                        <h4 style="text-align:center; font-weight:bold;">@ViewBag.Clients</h4>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="thumbnail list-group-item list-group-item-success">
                        <p style="text-align:center">Notes</p>
                        <h4 style="text-align:center; font-weight:bold;">@ViewBag.Notes</h4>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="thumbnail list-group-item list-group-item-success">
                        <p style="text-align:center">Services</p>
                        <h4 style="text-align:center; font-weight:bold;">@ViewBag.Services</h4>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="thumbnail list-group-item list-group-item-success">
                        <p style="text-align:center">Units</p>
                        <h4 style="text-align:center; font-weight:bold;">@ViewBag.Units</h4>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="thumbnail list-group-item list-group-item-warning">
                        <p style="text-align:center">Estimated Income</p>
                        @if (ViewBag.Money == "0")
                        {
                            <h4 style="text-align:center; font-weight:bold;">$0.00</h4>
                        }
                        else
                        {
                            <h4 style="text-align:center; font-weight:bold;"> $@string.Concat(ViewBag.Money, ".00")</h4>
                        }
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-1">
                    <div class="thumbnail list-group-item list-group-item-info">
                        <p style="text-align:center">Clients</p>
                        <h4 style="text-align:center; font-weight:bold;">@ViewBag.Clients</h4>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="thumbnail list-group-item list-group-item-info">
                        <p style="text-align:center">Notes</p>
                        <h4 style="text-align:center; font-weight:bold;">@ViewBag.Notes</h4>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="thumbnail list-group-item list-group-item-info">
                        <p style="text-align:center">Services</p>
                        <h4 style="text-align:center; font-weight:bold;">@ViewBag.Services</h4>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="thumbnail list-group-item list-group-item-info">
                        <p style="text-align:center">Units</p>
                        <h4 style="text-align:center; font-weight:bold;">@ViewBag.Units</h4>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="thumbnail list-group-item list-group-item-warning">
                        <p style="text-align:center">Estimated Income</p>
                        @if (ViewBag.Money == "0")
                        {
                            <h4 style="text-align:center; font-weight:bold;">$0.00</h4>
                        }
                        else
                        {
                            <h4 style="text-align:center; font-weight:bold;"> $@string.Concat(ViewBag.Money, ".00")</h4>
                        }
                    </div>
                </div>
            }

        }
        <div class="col-md-3">
            &nbsp;
        </div>
    </div>
    <div class="col-md-12">
        &nbsp;
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">TCM Billing Report</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-md-2">
                                Case Manager
                            </th>
                            <th class="col-md-3">
                                TCM Client
                            </th>
                            <th class="col-md-2" style="text-align:center">
                                Health Insurance
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Diagnostic
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Service
                            </th>

                            <th class="col-md-1" style="text-align:center;">
                                Units
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Amount
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Billed
                            </th>
                            <th class="col-md-1" style="text-align:center;">
                                Paid
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TCMNotes.OrderBy(t => t.DateOfService))
                        {
                            var @valor = (@item.TCMNoteActivity.ToList().Sum(n => n.Minutes) / 15);
                            var @residuo = (@item.TCMNoteActivity.ToList().Sum(n => n.Minutes) % 15);
                            var @valorAumentado = valor + 1;
                            var @unit = 0;
                            foreach (var activity in item.TCMNoteActivity)
                            {
                                valor = (activity.Minutes) / 15;
                                residuo = (activity.Minutes) % 15;
                                valorAumentado = valor + 1;
                                @if (@residuo > 7)
                                {
                                    unit = unit + valorAumentado;
                                }
                                else
                                {
                                    unit = unit + valor;
                                }
                            }
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TCMClient.Casemanager.Name)
                                </td>
                                <td>
                                    @if (item.TCMClient.Client.Gender == KyoS.Common.Enums.GenderType.Female)
                                    {
                                        <i class="glyphicon glyphicon-user btn-danger"></i>
                                    }
                                    @if (item.TCMClient.Client.Gender == KyoS.Common.Enums.GenderType.Male)
                                    {
                                        <i class="glyphicon glyphicon-user btn-primary"></i>
                                    }
                                    &nbsp;
                                    @Html.DisplayFor(modelItem => item.TCMClient.Client.Name)
                                    |
                                    @Html.DisplayFor(modelItem => item.TCMClient.CaseNumber)
                                </td>
                                <td align="center">
                                    @if (item.TCMClient.Client.Clients_HealthInsurances.Where(n => n.Active == true).Count() > 0)
                                    {
                                        @Html.DisplayFor(modelItem => item.TCMClient.Client.Clients_HealthInsurances.First(n => n.Active == true).AuthorizationNumber)
                                    }
                                </td>
                                <td align="center">
                                    @if (item.TCMClient.Client.Clients_Diagnostics.Count() > 0)
                                    {
                                        @Html.DisplayFor(modelItem => item.TCMClient.Client.Clients_Diagnostics.ElementAtOrDefault(0).Diagnostic.Code)
                                    }
                                </td>
                                <td align="center">
                                    @Html.DisplayFor(modelItem => item.DateOfService)
                                </td>
                                <td align="center">
                                    @unit
                                </td>
                                <td align="center">
                                    @(unit * 12)
                                </td>
                                <td align="center">
                                    @if (item.BilledDate == null)
                                    {
                                        <span class="label label-danger">No</span>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.BilledDate)
                                    }
                                </td>
                                <td align="center">
                                    @if (item.BilledDate == null)
                                    {
                                        @if (item.PaymentDate == null)
                                        {
                                            <span class="label label-danger">No</span>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.PaymentDate)
                                        }
                                    }
                                    else
                                    {
                                        @if (item.PaymentDate == null)
                                        {
                                            <span class="label label-info">No</span>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.PaymentDate)
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/datepicker.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/js/datepicker.en.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                "order": [[0, "asc"]],
                "pageLength": 100,
                "footerCallback": function ( row, data, start, end, display ) {        
                    
                }
            });
        });
    </script>

}

