@model KyoS.Web.Models.TCMBillingViewModel
@{
    ViewData["Title"] = "Billing";
}
<link rel="stylesheet" href="~/lib/fullcalendar/lib/main.css" />

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            @Html.ActionLink("Dashboard", "Index", "Desktop")
        </li>
        <li class="active">Billing</li>
    </ul><!--.breadcrumb-->
</div>

<div class="row">
    <div class="col-md-3">
        <label asp-for="IdCaseManager" class="control-label"></label>
        <select asp-for="IdCaseManager" asp-items="Model.CaseManagers" class="form-control" id="cbCaseManager"></select>
        <span asp-validation-for="IdCaseManager" class="text-danger"></span>
    </div>
    <div class="col-md-1">
        &nbsp;
    </div>
    <div class="col-md-1">
        <div class="thumbnail list-group-item list-group-item-success">
            <p style="text-align:center">Notes</p>
            <h4 style="text-align:center; font-weight:bold;"><label id="lbNotes"></label></h4>
        </div>
    </div>
    <div class="col-md-1">
        <div class="thumbnail list-group-item list-group-item-success">
            <p style="text-align:center">Units</p>
            <h4 style="text-align:center; font-weight:bold;"><label id="lbUnits"></label></h4>
        </div>
    </div>
    <div class="col-md-1">
        <div class="thumbnail list-group-item list-group-item-success">
            <p style="text-align:center">Minutes</p>
            <h4 style="text-align:center; font-weight:bold;"><label id="lbMinutes"></label></h4>
        </div>
    </div>
    <div class="col-md-2">
        <div class="thumbnail list-group-item list-group-item-warning">
            <p style="text-align:center">Estimated Income</p>
            <h4 style="text-align:center; font-weight:bold;">$<label id="lbMoney"></label></h4>
        </div>
    </div>
    <div class="col-md-3">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class = "col-md-12">
        <hr />
    </div>
    
</div>

<div class="row">
    <div class="col-md-12">
        <div id='calendar'></div>
    </div>
</div>

<partial name="_ModalPopup" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/fullcalendar/lib/main.js"></script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: {
                  start: 'timeGridWeek,timeGridDay',
                  center: 'title',
                  end: 'today prev,next'
                },
                initialView: 'timeGridWeek',
                allDaySlot: false,
                slotDuration: '00:15:00',
                slotLabelFormat: {
                      hour: 'numeric',
                      minute: '2-digit',
                      omitZeroMinute: false,
                      meridiem: 'large'
                },
                slotLabelInterval: '00:15:00',
                slotMinTime: '06:00:00',
                slotMaxTime: '20:00:00',
                navLinks: true,
                firstDay: 1,
                hiddenDays: [0],
                dateClick: function(info) {
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("AddProgressNote","TCMBilling", null, Context.Request.Scheme)' + '?date=' + info.dateStr,
                        success: function (res) {
                            $('#form-modal .modal-body').html(res);
                            $('#form-modal .modal-title').html('Add Progress Note');
                            $('#form-modal').modal('show');
                            // to make popup draggable
                            $('.modal-dialog').draggable({
                                handle: ".modal-header"
                            });
                        }
                    })
                },
                eventTimeFormat: { // like '14:30:00'
                    hour: 'numeric',
                    minute: '2-digit',
                    meridiem: true
                },
                events: {
                            url: '@Url.Action("EventsTCM", "TCMBilling")',
                            method: 'POST',
                            extraParams: function() {
                                return {
                                    idCaseManager: $("#cbCaseManager").val()
                                };
                            },
                            success: function() {
                                url = "@Url.Action("GetTotalNotesSupervisor", "TCMBilling")";
                                $.get(url, { }, function (data) {
                                    $("#lbNotes").text(data);
                                });

                                url = "@Url.Action("GetTotalUnitsSupervisor", "TCMBilling")";
                                $.get(url, { }, function (data) {
                                    $("#lbUnits").text(data);
                                });

                                 url = "@Url.Action("GetTotalMoneySupervisor", "TCMBilling")";
                                $.get(url, { }, function (data) {
                                    $("#lbMoney").text(data);
                                });

                                 url = "@Url.Action("GetTotalMinutesSupervisor", "TCMBilling")";
                                $.get(url, { }, function (data) {
                                    $("#lbMinutes").text(data);
                                });
                            }
                }
            });
            calendar.render();

            $("#cbCaseManager").change(function () {
                calendar.refetchEvents();
            })
        });
    </script>
}


